[2015-01-16 18:18] mckaygerhard commented on #1683
same ocurrs to me but using firefox 7 and opera .. i prefer to work only in firefox 17 that are supported in enterprise environments and not lasted that are used only in guindows desktop at home's

[2015-01-16 18:21] mckaygerhard opened #1685 "feature req: (ot bug) include custom list in the reports dashboard"
i create some custom list and made required in the forms of new ticket..

but i must made custon reports due those flags are not show in the embebed reports dashboars.. (only with states, priority, agents, etc but not with those custom list)

[2015-01-16 20:55] mfelber commented on #1684
I think this is the normal (wanted) behavior of this overdue mechanism. You must solve a ticket to avoid that it will be marked as overdue. It is explained in the wiki: https://github.com/osTicket/osTicket-1.8/wiki/Ticket-Lifecycle.

[2015-01-16 21:49] andreaplanet commented on #1684
What to do if the user doesn't answer?
It is neither solved nor overdue (because I answered).

[2015-01-17 16:29] mckaygerhard opened #1686 "error: broken link on help tips to scp panel, asuming windoze/wamp server"
the help tips when the muse are over the "?" icon on inputs (in admin panel), the links to each different management settings are broken in some internationalization files, specially spanish and russian.

by example, in file manage.helptopic.yaml in line 63 the autoresponse link points to "/SCP/Settings.php?t=autoresp" and must be "/scp/Settings.php?t=autoresp" in lowercase for POSIX.

of course,

[2015-01-17 16:35] mckaygerhard commented on #1347
ping...

still this critical issue are unconfirmed!!!! the russian, spanish and greek lang packs are confirmed that have many wrong strings and formats.

i can help to solve that but i dont find here in github wiki rules to doit, also the lables are still "unconfirmed"

[2015-01-18 04:13] ntozier commented on #1684
It is over due if the ticket is open (regardless as to if you answered) after the SLA timer expires.

[2015-01-18 04:15] ntozier commented on #1347
http://i18n.osticket.com/

[2015-01-18 10:09] andreaplanet commented on #1684
I know how it works. I have difficuties to find it useful when the user doesn't answer. In that case it will always go overdue unless I close it. When should I close it then? My best use is to close it always after each answer, it's not the ideal situation.
An ideal solution would be to send the user an email reminding him to answer, and after some time close it automatically because the user does

[2015-01-18 10:30] lewiscawte commented on #1684
Can a different SLA be set for tickets that are in an answered state? Because I understand why answered tickets go overdue, but if I'm waiting on a user reply then I'm happy to leave it sit there a bit longer but I don't want my staff to have that extended period to reply back...

[2015-01-18 10:56] andreaplanet commented on #1684
Same here. A SLA for answering the user gives a degree of the quality of service. I like to have it relatively short, 8 hours. Then it's common for the user to reply after some days (or worse to not reply at all). In both case conceptually the 8 hours SLA for answering wasn't violated.

I think I am understanding now. The actual SLA is intended as a SLA for solving the ticket, which should be quit

[2015-01-18 10:59] andreaplanet commented on #1684
I think then feature request would be to have an additional SLA time, for answering to each message (plus the actual SLA for solving the problem).

[2015-01-18 13:05] Chefkeks commented on #1684
As mentioned many times in the forum, the SLA feature needs to be revamped and is currently limited to mark open tickets (regardless of the fact that they are answered or unanswered) as overdue after passing by the SLA time. But the developers are already aware of that and will rework the SLA feature for future versions of osTicket. That said, please don't ask me when this will happen - I am not o

[2015-01-19 11:43] jhonny9696 opened #1687 "How to use Custom Form in Advance Search for Tickets"
How can i use custom form fields in Advance search for Tickets

[2015-01-19 12:31] gtulga commented on #1215
how to fix this bug? I received hundred emails everyday only for this

[2015-01-19 15:35] mckaygerhard commented on #1347
i try to find, but only find one string related, and its not the right to update... that cumbersome web interface does not allow me to find (actually not let me whatsoever) the string, it's not possible using thats web tool, in conclusion it is impossible to arrange those invalid strings without wasting time ..

confirmed invalid string langs are in russian, greek and spanihs languajes, make unnav

[2015-01-19 16:38] billmn opened #1688 "Mail fetcher doesn't delete email"
Hi all,
I'm using osTicket v1.9.5.1 (1faad22) but I have problems with the email fetcher.

With this configuration, it download email correctly but it doesn't delete email on my mailbox:
![schermata 2015-01-19 alle 17 31 57](https://cloud.githubusercontent.com/assets/779534/5803807/5a52ca2e-a001-11e4-8174-f26a52f208c7.png)

I think the problem is related to POP + SSL protocol ... using standard PO

[2015-01-20 10:04] supportreq opened #1689 "Feature Request : Auto Close Ticket in case of no reply for x days"
This feature is very common for any ticket management system, where a ticket can be auto closed in case there is no reply from the client for x days.. the days can be defined based on the department or help topic..

[2015-01-20 12:56] simonnzg commented on #1502
That sounds like a good idea!

[2015-01-20 12:58] simonnzg commented on #1243
Done. All working. Never thought of that. Blinded by the "www-data"... ;-)

[2015-01-20 15:32] TraceElements opened #1690 "1.9.5.1 - Admin -> Settings -> Tickets -> 'Exclude assigned tickets from open queue' option does not work"
Using v1.9.5.1 , in Admin Panel -> Settings -> Tickets menu there is an option called 'Exclude assigned tickets from open queue'.

When I check this box, tickets that are assigned to both individuals and teams still appear in the open queue. My understanding is that only tickets with a blank 'Assigned To' field should appear.

While #901 covers a bit about advanced search not working, and #1573 sp

[2015-01-20 16:49] jochenwezel commented on #1516
@greezybacon YEEEESSS! :-) This is the missing link! Thank you very much!

[2015-01-20 16:49] #1516 closed

[2015-01-20 16:58] jochenwezel opened #1691 "E-Mail templates & recipient.ticket_link: auto logon not working every 2nd access"
After using %{recipient.ticket_link} in our e-mail templates, I've got following situation:

My e-mails contain a link like
http://mydomain/osticket/view.php?auth=abcdefghijklmnopqRstABCDEFGHIJve2xA%3D%3D.

1st access to ticket using the created recipient.ticket_link seems to work
2nd access to the ticket a few seconds later DOESN'T work (independet from browser type MS IE, Firefox, independent of

[2015-01-20 17:29] greezybacon commented on #1691
I've heard of this issue, but haven't been able to reproduce it. Thanks for the test data.

[2015-01-21 19:14] mckaygerhard commented on #1686
pings?

[2015-01-21 19:44] ntozier commented on #1686
The "manage.helptopic.yaml" in this repo does not exhibit the case that you have mentioned.
https://github.com/osTicket/osTicket-1.8/blob/24dbf6e571312a5098a981e5c05db55123eea991/include/i18n/en_US/help/tips/manage.helptopic.yaml

I would think that you would want to note this at the translation effort page for the lang that its borked in as it's not borked in the default language file.
http://i18

[2015-01-22 13:47] mckaygerhard commented on #1686
so u have right, all the lang files have broken links.. so then what should be do?.. i'm still must tune all files (russian, greek and spanish) on every update!!!!

[2015-01-22 14:59] greezybacon commented on #1686
Those lines should not be translated by the translators. Perhaps they should be hidden and reset on Crowdin

[2015-01-22 15:38] mckaygerhard commented on #1686
ah, eh ug, ok right but the case its not that. i'll try to colaborate and i joined to the i18n project and try to made some fixeds in the files. but that web system doest not work for that settings or those changes.. i can see those lines.. only translated lines

[2015-01-22 16:51] fictionedge opened #1694 "New feature request: disable ticket creation by email"
Can you make it possible to disable ticket creation (but not response) by email?
We get allot of emails from users that are not ticket related.
Also the use of ticket creation by email makes impossible to force them to fill required fields.

Cheers

[2015-01-23 01:18] sycophantic commented on #1663
This should also allow for month, day, etc as well.

[2015-01-23 03:59] msars opened #1695 "Duplication of internal notes in the ticket"
Hi All,

When adding internal notes, we noticed a very strange thing. Occurs duplication of the internal notes.
To reproduce the problem it is necessary to take the next steps:
1. Add a internal note in the ticket.
2. After you see that note has been added successfully, after that, do the refresh on the page browser (F5).
3. After refreshing the page, you should see duplicating note.

osTicket v1.

[2015-01-23 07:17] Chefkeks commented on #1470
Hanging in on this here...

Wasn't aware of that "issue" until yesterday... Told a user to forward an email with 7 or 8 .msg attached (who got pdf, png etc. attachments itself inside the .msg) and so all I got, was a really long ticket thread with a lot of "unable to import errors" and thought to hopefully not be the first who run into that. Looks like I am not, so hoping for a plugin/option in a

[2015-01-23 11:58] cervedgroup opened #1696 "Upgrade from 1.9.2 to 1.9.5.1"
Just upgraded, cannot see anymore the "priority" in tickets list
![noprior](https://cloud.githubusercontent.com/assets/6535381/5874245/9098752e-a2ff-11e4-818d-1f76a8e18cb7.JPG)

[2015-01-23 14:45] ntozier commented on #1695
duplicate thread.
see: https://github.com/osTicket/osTicket-1.8/issues/1577

[2015-01-23 14:46] ntozier commented on #1696
Works fine in my installations.  Please check your error logs.

[2015-01-23 15:01] cervedgroup commented on #1696
found some 1062 errors :

DB Error #1062
[INSERT INTO ost_ticket_status SET id = 1, name = 'Open', state = 'open', mode = 3, sort = 1, properties = '{\"description\":\"Open tickets.\"}', created = NOW()] Duplicate entry '1' for key 'PRIMARY'

 ---- Backtrace ----
 #0 C:\Osticket\upload\include\mysqli.php(177): osTicket->logDBError('DB Error #1062', '[INSERT INTO os...')
 #1 C:\Osticket\upload\incl

[2015-01-23 15:38] mckaygerhard commented on #1663
yeah, good suggestion, maybe its better that admin can format the date appended to the format number generated. but not as complicated in custom format, as simples like "YYMMDD######" for generate "20150123109741" (20150123 + 109741)

[2015-01-23 18:39] greezybacon commented on #1696
@cervedgroup both of those tables were new in v1.9.4. Did you have to run the upgrade twice?

[2015-01-23 18:39] greezybacon commented on #1696
@cervedgroup try dropping the %ticket__cdata table and refresh the ticket queue to see if the priorities magically reappear

[2015-01-23 18:42] greezybacon commented on #1694
Yes. Add a ticket filter to match a target of "Emails" and check the box to reject the ticket. Ticket filters are only applied to new tickets — not to email continuing an existing ticket.

[2015-01-23 18:57] greezybacon commented on #1687
This is implemented with the new advanced search feature in the `develop-next` branch

[2015-01-24 08:26] hmert commented on #382
This works for me now.

https://github.com/osTicket/osTicket-1.8/issues/844#issuecomment-42192709

[2015-01-24 22:01] mckaygerhard opened #1699 "error: (grave) reports are not updated when topics helps was changed/modifed/deleted"
i made 3 tickets with the folowing topic helps( 1 for infor of an error, 2 of report a problem)

so when user ganets goes to the dashboard, show in topic tab of reports :

1 opened for  "infor of an error" and 2 for report a problem.

then now goes to create two new topics, "erro1" and "problem1"

then now goes to the 3 tickets recently created and change the 1 to "problem1" and the 2 and 3 to "er

[2015-01-24 22:02] mckaygerhard commented on #1699
and for more combinatios problems goes more more complicated, and reports will inform erroneous and more thant created tickets..

[2015-01-24 22:04] mckaygerhard commented on #1689
this are the stack fature of the remedy software, this enhancement are one of the most wanted!!!

i hope will not be implemented with cron setup, or os touch... (sure not, due osticket seems run in mocosoft guindows)

[2015-01-24 22:09] mckaygerhard commented on #1688
i setup the oppossite and does the oppossite, setup to do nothing and deleted all emails..
but i not used pop, i used imap, with courier..

also i wish to know how to setup to move to folder, which are to set in the folder name prefix must be included? (in courier prefix are INBOX but with the dot or without?)

[2015-01-25 00:17] ircer commented on #1647
Yeah, "within reason". Generally MySQL to SQLite just works.

[2015-01-25 04:40] webbe commented on #736
I know this post is over a year old, but popped up several times while trying to setup my reverse proxy with osTicket. I'm using NginX as my reverse proxy (I know, not supported, etc etc) with a few tweaks I was able to get passed the "Invalid CSRF Token" error.

in my location block I needed to add a few header settings:
[code]
The pass_header was what seemed to make it work, but the other settin

[2015-01-26 08:34] fictionedge commented on #1694
I still have to add a filter rule, what is the best choice for this one?

[2015-01-26 09:25] TheSMa opened #1700 "SMTP: Some mails are not sent"
in very rare cases, we have the problem, that outgoing SMTP messages are not sent to a recipient. I can't find the message in our outbox in GMail (we use SMTP/IMAP via Google Apps for Work). In osTicket the message is saved without any note of a problem.
i can't find any reason for the problem.

We use osTicket in version 1.9.5 (RC5).

[2015-01-26 12:05] szemy commented on #1068
+1 on virtual ticket. That looks like the best option as there are many issues with just merging (ticket properties, timeline ...)

[2015-01-26 12:41] simonnzg commented on #1068
I note this subject has been closed. However, the duplicate issue that prompted the closure has also been closed!!!

[2015-01-26 12:47] szemy commented on #1068
This one is still open: https://github.com/osTicket/osTicket-1.8/issues/1225

[2015-01-26 13:52] simonnzg commented on #1068
On 26/01/2015 12:47, szemy wrote:

That's OK then!  ;-)

Simon

[2015-01-26 14:56] greezybacon commented on #1683
As a general rule to all GitHub users, please, please, please, please submit a complete and total description of the problem that would help the developers who might fix the issue actually find it!

@send2nirwana where is this happening? osTicket is a large product.

[2015-01-26 15:00] greezybacon commented on #736
@webbe we don't officially support nginx as the server for osTicket. You can use whatever you want for the reverse proxy. Personally, I prefer HAProxy. Thanks for posting your configuration info.

[2015-01-27 03:01] iquidus opened #1701 "Help popup (?) and configure links"
The current UI design, having many of the 'edit/configure' links inside the help popup is a little confusing.  It took me far too long to figure out how to configure email properly for example. Although now I know where to look it's no longer a problem, I feel an edit button/icon next to the help icon (?) would be a better/less confusing approach and makes more sense as currently edit appears to b

[2015-01-27 05:26] ntozier commented on #1701
This links are new... and not required to configure anything.

[2015-01-27 15:50] send2nirwana commented on #1683
Problem while composing a new response:
- Sometimes the cursor isn't visible
- Sometimes the cursor-keys will stop working (cursor not moving when pressing the cursor-arrow-keys left/right/up/down while composing new message). Marking text (Ctrl+Shift+Cursor) will mark text in color, but no cursor is visible. In short words: the cursor are sometime unvisible, so have no idea where you are in the t

[2015-01-27 16:36] ntozier commented on #1683
I think that maybe you would want to actually read and reply to @greezybacon when he asks you a question.  You have told him:
* which version of Firefox your running
* which version of osTicket your running
* if this is agent or user side

[2015-01-27 16:59] send2nirwana commented on #1683
Version of osTicket: 1.9.4
Version of Firefox: 34.0.5
While composing new responses on agent side!

[2015-01-27 21:10] kevmimcc commented on #1694
I might recommend a filter on your email system and have emails to be tickets forwarded to a dedicated email address for creating tickets.  That process could be automatic by a filter or manual as someone goes through the inbox and forwards all emails that need to be tickets to the dedicated email address.  I believe you could still set the email sending credentials to use your original email addr

[2015-01-28 03:44] enividlived opened #1702 "missing"
missing Sorry

[2015-01-28 03:45] #1702 closed

[2015-01-28 10:42] snizzleorg commented on #1679
Is there anything I can do to help answer this question? I am debating whether to integrate the ticket submission in our web interface via the API. Right now I'm using a modified version of the Ticket submission form of osTicket... which is not ideal as upgrades seem to change the forms as well and then I have to redo the modifications....

[2015-01-28 14:00] fabiorauber opened #1703 "User in multiple organizations"
Adding an issue already discussed in http://osticket.com/forum/discussion/78750/user-in-multiple-organizations:

"I have users that are in multiple organizations.  I would love to see it so that the users can be assigned to multiple organizations and allow them to choose which organization they would like to submit the ticket under."

[2015-01-28 16:57] ntozier commented on #1679
I'd recommend trying it and see what happens.
I would presume that it would check the data to make sure it was valid, and error otherwise.

[2015-01-28 18:58] wingnut2dot0 commented on #1532
I am experiencing the same issue running v1.9.5.1 with
MySQL Version	5.5.40
PHP Version	5.4.34
Is the only solution to change DB's?

[2015-01-28 19:00] jayvines commented on #1532
i don't have the skills in my team to change DB.  we haven't seen any other option with OSTicket so we're moving the to free, hosted: http://ondemand.manageengine.com/service-desk/index.html

[2015-01-28 19:08] praveen-l commented on #1532
Even I'm not able to set up...
Www.new.askspider.com

But when i updated from old version it worked...
Www.Askspider.Com

On Thursday, January 29, 2015, jayvines <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-01-29 07:41] Mijsons opened #1704 "New to osticket"
Hi! I am new one kindly help me by providing any helpful link through which I install & configure osticket easily....

[2015-01-29 07:55] lilethlachica commented on #1225
hi! im wondering if there are any updates to this enhancement? badly needed. thanks!

[2015-01-29 10:27] praveen-l commented on #1704
Hi

Osticket is very easy to install...
Give me your number I'll help you...
Www.osticket.com

On Thursday, January 29, 2015, Mijsons <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-01-29 10:46] Mijsons commented on #1704
Thanx for your reply. I configured the osticket correctly  but now I am facing a little bit problem regarding email. When new ticket will create, email sent to the user but I also want that email will sent to support & admin on the creation of new ticket

[2015-01-29 10:49] praveen-l commented on #1704
Hi,

Go to admin panel -> settings -> alerts and notice -> here you can set
it...

On Thursday, January 29, 2015, Mujtaba <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-01-29 10:51] Mijsons commented on #1704
I already set these things but now the new ticket email alert is send only to user not to admin/support...

[2015-01-29 10:54] praveen-l commented on #1704
Check your outbox logging into your mail account and try checking spam from
your admin mail id...

On Thursday, January 29, 2015, Mujtaba <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-01-29 10:57] Mijsons commented on #1704
Nothing found in spam . Kindly check this screenshot & tell me if I did anything wrong....
![os ticket](https://cloud.githubusercontent.com/assets/10754035/5956410/73c1663e-a7cf-11e4-930c-5e309694d7f3.png)

[2015-01-29 10:59] praveen-l commented on #1704
Settings seams to be perfect...
Check your mail settings once...  If you're on whatsapp ping me
+919731800800

On Thursday, January 29, 2015, Mujtaba <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2015-01-29 12:24] Mijsons opened #1705 "New token alert not sent to support/admin"
I am facing a little bit problem regarding email. When new ticket will create, email sent to the user but I also want that email will sent to support & admin on the creation of new ticket

[2015-01-29 13:35] protich commented on #1704
This is a discussion for [osTicket forum] (http://osticket.com/forum).

[2015-01-29 13:35] #1704 closed

[2015-01-29 14:24] ntozier commented on #1705
This does not appear to be a bug report and generally you would want to post this type of thing to the forums.  However:

Admin panel -> Settings -> Alerts And Notices -> New Ticket Alert.
tick the recipients that you want to receive the alert.

Make sure that your Department settings do not suppress it.
Admin panel -> Agents -> Departments -> your departments -> See Autoresponder Settings section

[2015-01-29 17:49] mfelber commented on #1532
Sometimes it isn’t in your hand to decide changing the environment (hoster/hosting package/database).

So the solution „to change“ is not ever a solution for this kind of issue..

But maybe this help the helpless:

-> modify the file /include/class.search.php

insert the bold code after line 417 (osticket v 1.9.5.1)

// Create the search table automatically
            $class::createSearchTable();

[2015-01-29 18:01] jayvines commented on #1532
i was so excited when this update from github showed up in my email.

thank you for trying @mfelber , but unfortunately, i am still helpless :(

[SELECT DISTINCT COALESCE(B1.ticket_id, B2.ticket_id, B3.ticket_id, B4.ticket_id) FROM (
                SELECT object_type, object_id, MATCH (search.title, search.content) AGAINST ('internet' IN BOOLEAN MODE) AS `relevance`
                FROM `cmg__sea

[2015-01-29 18:05] jayvines commented on #1532
thanks @mfelber ! it works!!!

[2015-01-29 18:37] wingnut2dot0 commented on #1532
Same here. Thank you.

[2015-01-29 19:59] mfelber commented on #1532
nice to hear that it helps you :-)

greetings from cologne

[2015-01-29 20:08] jayvines commented on #1532
gracias from Argentina!

[2015-01-29 20:13] ntozier commented on #1532
I don't think that I would close this.  While the fix in the thread appears to fix your problem, it should really be addressed in the code by the devs.

[2015-01-29 20:19] mfelber commented on #1532
This would be the ideal solution. But will this really happen or will the rewritten advanced search 2.0 already solve this issue when it is out?

[2015-01-29 22:03] jayvines commented on #1532
surely they'll put this in the code now that they've seen our comments here! :D

[2015-01-29 22:05] PrinceNG commented on #1532
BIG BIG thanx from Germany @mfelber ! it works 4 me 2!!! :-D

[2015-01-30 06:25] mfelber commented on #1532
Freut mich, dass es Dir auch geholfen hat @PrinceNG . Schöne Grüße an die Alster..

[2015-01-30 09:30] infectormp opened #1707 "PHP Memory Error in class.dynamic_forms.php"
on nginx with installed osTicket v1.9.5.1 and get this error when try open ticket:

FastCGI sent in stderr: "PHP message: PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted (tried to allocate 130968 bytes) in ..../include/class.dynamic_forms.php on line 1137

i set memmory limit to 512MB and get
FastCGI sent in stderr: "PHP message: PHP Fatal error:  Allowed memory size of 53687091

[2015-01-30 14:12] Hamsteren commented on #1707
nginx isnt officially supported, you might be better off asking for help on the forum.

[2015-01-30 14:32] ntozier commented on #1707
He did ask on the forums.  I sent him here.

http://osticket.com/forum/discussion/84739/php-memory-error-in-class-dynamic-forms-php#latest

[2015-01-30 16:46] Hamsteren commented on #1707
Sorry didn't know that.

[2015-01-30 16:50] ntozier commented on #1707
No worries. :)

[2015-01-30 18:14] infectormp commented on #1707
problem in PHP-FPM not in nginx.

[2015-01-30 20:43] greezybacon commented on #1700
You're not crazy. We have observed the same issue in our own osTicket help desk. I can't explain what's going on yet.

[2015-01-30 20:58] greezybacon commented on #1700
Do the ones that are not going out happen to have attachments?

[2015-01-31 08:01] praveen-l opened #1710 "i have some info to be updated let me know if you can help me"
I need an api to be built..
I have some basic info to be updated if you can help me to do it let me know.. I need a good developer who can help me do that for me..

[2015-01-31 16:39] ntozier commented on #1710
This does not appear to be an issue report.
I refer you to: http://osticket.com/customization

[2015-02-02 10:24] fictionedge commented on #1225
+1

[2015-02-02 10:50] TheSMa commented on #1700
No, the most affected mails have no attachments.

[2015-02-02 11:31] Hamsteren opened #1711 "Text in <font> tags are stripped on import"
Installation
Server Information
osTicket Version    v1.9.5.1 (1faad22)
Web Server Software Apache/2.4.7 (Ubuntu) PHP/5.5.9-1ubuntu4.5
MySQL Version   5.6.13
PHP Version 5.5.9-1ubuntu4.5

Im sending of an email like this:
![2015-02-02 11_42_51-mail - sent - ibm notes](https://cloud.githubusercontent.com/assets/2776749/5999868/e299434c-aad6-11e4-903e-8d5b591438ae.jpg)
But what gets imported into ost

[2015-02-02 18:20] greezybacon commented on #1700
I think #1712 fixes this. I bet if you look, you have new ticket auto responses disabled for some departments

[2015-02-02 18:22] theblackdie opened #1713 "osticket does not read the email in admin panel but it exists in email inbox"
I have the following problem, this email for example cannot be fetched through POP and I checked MySQL to see that the cell contains only: "<!"

Following is the email:

[code]

[2015-02-03 08:22] TheSMa commented on #1700
ok but we have auto responses disabled in a filter for some Mailsenders, not in departments. Means that the same?

[2015-02-03 09:38] fictionedge commented on #1387
Please yes +1

[2015-02-03 10:51] szokimoki commented on #1713
I've also find this bug, but with only emails sent with Outlook.
Here's a screenshot:
![osticket_bug](https://cloud.githubusercontent.com/assets/10828794/6018866/86334124-ab9a-11e4-929e-137d3c1f79a1.jpg)

And the source one of the emails from Outlook:

<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xml

[2015-02-03 16:38] bcowman opened #1714 "Password Complexity"
I'd like to request addition of some password complexity controls (minimum password length etc).

[2015-02-03 23:06] greezybacon commented on #1700
Yeah, the filter applies as well. The patch reverts that functionality

[2015-02-04 07:31] TheSMa commented on #1700
ok thx

[2015-02-04 08:27] TheSMa opened #1715 "Mail with embedded table is not displayed"
We receive a lot of autogenerated (HTML-) mails with an embedded table, but in osTicket the table and data is not displayed.

We use osTicket in version 1.9.5 (RC5).

<b>Here the original mail, how it looks:</b>
![osticket_emptymail2](https://cloud.githubusercontent.com/assets/6357571/6036884/8c3a35ca-ac4c-11e4-9719-28da3937ab9b.jpg)

<b>And this is what osticket do:</b>
![osticket_emptymail](http

[2015-02-04 09:01] jochenwezel opened #1716 "Customer users can't post screenshots into their tickets via web UI"
If a customer creates a ticket / replies to an existing ticket via E-Mail, embedded screenshots in the e-mail will be integrated into the ticket: this is fine and OKAY

If a customer creates a ticket via http://www.ostickethacks.com/demo/open.php or replies to a ticket after login to the web UI of osTicket, there is just a simple text input box. The text input box doesn't accept screenshots from c

[2015-02-04 09:15] Hamsteren commented on #1715
I think it might be the same issue as i'm facing #1711

[2015-02-04 11:07] amsut commented on #1454
@greezybacon just wondering whether this issue will be fixed anytime soon? Thank you :)

[2015-02-04 13:42] Chefkeks commented on #1018
@greezybacon
Any news on this here?

That was the issue I mentioned recently here at the pull request https://github.com/osTicket/osTicket-1.8/pulls/1709 and it's also related to this here https://github.com/osTicket/osTicket-1.8/issues/995

Just tested it with a freshly installed 1.9.5.1 and still does not work. Here's what I did:
1. Created a list with one item (list_id = 2)
2. Created a form (f

[2015-02-04 14:44] ntozier commented on #1716
My understanding is that not allowing inline images on ticket open is actually the designed behavior.  It's been like that for quite some time.

[2015-02-04 15:04] jochenwezel commented on #1716
I fear it is...that's why it might be time to re-design this behaviour ;-)
Or at least: make it configurable

[2015-02-04 15:15] kaniket commented on #1095
It has to do with "eol" , if this global(?) is not defined, Mime is going to assume it is running on a windows os and define it as "\r\n", which on unix systems will create the double line breaks in the header. Just went through the mime.php file and took out all the \r's from the defining of $eol vars and it worked fine.

FYI
windows uses "\r\n"
mac uses "\r"
linux uses "\n"

[2015-02-04 15:40] ntozier commented on #1095
@kaniket any reason why you wouldn't just alter your /include/ost-config.php and set:
define(MAIL_EOL, "\n");?

[2015-02-04 15:48] kaniket commented on #1095
that should work too. And maybe it is hassle free to just add it there rather than at mime.php. Thanks

[2015-02-04 16:10] GeekSage commented on #1716
Interesting... We don't see that behavior.  See screenshots below:

User creating new ticket from web interface:
![image](https://cloud.githubusercontent.com/assets/3441198/6043961/2985c126-ac5e-11e4-9c20-df41f02b5ef5.png)

A user reply to a ticket from web interface:
![image](https://cloud.githubusercontent.com/assets/3441198/6043903/cbd457a4-ac5d-11e4-839c-8d82956a6df8.png)

We have ours set so

[2015-02-04 16:27] jochenwezel commented on #1716
@GeekSage your screenshots look like they were created from the internal web UI - not from the external customer portal of osticket (external web UI usually at /osticket/ vs. internal web UI usually at /osticket/scp/)

[2015-02-04 17:27] ntozier commented on #1716
Actually I just went and checked my installation and I have the ability to post inline images. (as guest not signed in user, as well as signed in as a user).

[2015-02-04 17:41] GeekSage commented on #1716
@jochenwezel Nope, those were from the user side... Not the scp.

[2015-02-04 17:46] jochenwezel commented on #1716
well, I use osTicket v1.9.3 and MS IE 11 as well as Google Chrome v40

The official osTicket DEMO portal at http://www.ostickethacks.com/demo/open.php hasn't got the insert-screenshot-feature. I used this to double-check if the feature is really missing in the most current osTicket version. Maybe http://www.ostickethacks.com/demo/open.php is not the latest version?

Or can you use the inser-screen

[2015-02-04 17:54] gmt-it commented on #1716
Hello Jochen, do you activate the upload at issue-detail form?
![issue_details](https://cloud.githubusercontent.com/assets/10116166/6046065/2249e568-ac9f-11e4-86ba-904eafbda5f3.JPG)

[2015-02-04 18:05] mfelber commented on #1716
@jochenwezel Why should http://www.ostickethacks.com/demo/open.php be a official portal? When you are in the scp, you see under "system preferences" that this is version 1.7.0.

[2015-02-04 18:08] gmt-it commented on #1716
At http://www.ostickethacks.com/demo/open.php its disabled:
![issue_details](https://cloud.githubusercontent.com/assets/10116166/6046317/41d7c02e-aca1-11e4-87c9-09e5e824fda5.JPG)

[2015-02-04 18:13] ntozier commented on #1716
"official osTicket DEMO"
There is no Offical osTicket Demo.

On Wed, Feb 4, 2015 at 1:09 PM, gmt-it <notifications@github.com> wrote:

[2015-02-04 18:37] GeekSage commented on #1716
Yea, I was thinking the same thing... How could it be official if it's not actually from the OS Ticket website?  :)

[2015-02-04 18:39] GeekSage commented on #1716
Also, @mfelber is right... It's an old version (1.7.0) of OS Ticket anyway.  Was that feature even around when that version came out?

[2015-02-04 22:30] kwamtum2 opened #1717 "Feature request: Organizing Canned Response (Categorize)"
It would be a good idea to Categorize the Cannend Response for the support members. If there many Canned Responses it should be much quicker to find the one you need. Ofcourse they then need to be in a tree list as shown here: (ow yes searching your cannend then might help as well.. much faster)

![](http://zen-marketing-documentation.s3.amazonaws.com/docs/en/macro_categories_new.png)

[2015-02-04 22:54] jochenwezel commented on #1716
Sorry for the confusion - I thought the demo is official but you're right: it's not an official part

Thank you all for the hints. This is my configuration, now:
![image](https://cloud.githubusercontent.com/assets/3033827/6051294/22153084-acc7-11e4-9ed3-efa0f4718fa7.png)

Everything is fine, works with MS IE 11 and Chrome :-)

[2015-02-04 22:54] #1716 closed

[2015-02-04 23:23] protich commented on #1716
osTickethacks is not an official osTicket site. The fact that they have ads has caused users to think osTicket comes with ads :-1:

[2015-02-05 15:29] GeekSage commented on #1716
@protich  Yea, that's pretty sleazy of them

@jochenwezel Glad you have it working now.  The majority of our users are unable to use that feature because they are being held back on an older version of IE.  We are hoping that the powers that be will finally allow the upgrade to a newer version of IE at some point soon so they can paste images into the editor.

[2015-02-05 15:58] szemy commented on #1225
@greezybacon Good to hear!

[2015-02-05 17:03] TraceElements commented on #1690
I found what caused the behaviour - there's a setting in the individual user preferences called 'Show Assigned Tickets' which defaults to checked and overrides the 'Exclude assigned tickets from open queue' setting in the Admin panel menu.

Since the user setting defaults to checked, the setting in the admin panel does nothing unless users uncheck 'show assigned tickets'.

The reason for this beha

[2015-02-06 02:44] greezybacon commented on #1715
Your table is terribly incorrectly written. The only thing allowed in a <tr> is a <td> (not text), and <td> elements must be inside <tr> elements (not <table>). The HTML scrubber is dropping the tags when trying to balance the HTML elements

[2015-02-06 02:59] greezybacon commented on #1711
Could you send the entire HTML text, so I could test it independently with the HTML scrubbing system?

[2015-02-06 03:02] greezybacon commented on #1707
I'd love to get to the bottom of this. I have observed the issue consistently using PHP-FPM — at a different location in the codebase, but haven't stumbled across a solution yet.

[2015-02-06 03:06] greezybacon commented on #1679
Upgrading would allow you to define the forms in the admin panel and would relinquish your requirement for modifications.

[2015-02-06 03:07] greezybacon commented on #1662
That isn't true. The advanced search does not work when searching for "Assigned Agent". Other criteria work correctly.

[2015-02-06 03:08] greezybacon commented on #1701
The links help point you to other locations you might be interested in. They are not intended for primary navigation.

[2015-02-06 03:10] greezybacon commented on #1296
@mckaygerhard the code uses ROOT_DIR for file inclusions and ROOT_PATH for url paths and redirects. Where is ROOT_DIR used for a URL string?

[2015-02-06 03:10] greezybacon commented on #1659
Is this fixed now? Peter set me straight

[2015-02-06 03:12] greezybacon commented on #1266
@vicendominguez looks like a failed upgrade. Can you recover your data from before the upgrade and try again with an updated language pack?

[2015-02-06 03:17] greezybacon commented on #1189
@cgubi the draft system was completely rewritten in `develop-next`. I truly hope this issue will die

[2015-02-06 03:19] greezybacon commented on #1674
@gniusj, yeah, I agree, it looks backwards in osTicket.

[2015-02-06 03:21] greezybacon commented on #1683
Firefox seems to be quickly replacing Internet Explorer as "that browser that is quirky and doesn't work right". I'll check it out.

[2015-02-06 07:50] Hamsteren commented on #1711
Sure, or i could send you the eml file if needed.
Here is the undecoded quoted-printable:
[code]

[2015-02-06 09:10] snizzleorg commented on #1679
kind-of The forms yes can be prepared but still they do not match with the CI etc. for reference:

https://support.picoquant.com is the current form (adapted osticket form) This kind of form would be difficult to achieve with the included submission form.

[2015-02-06 13:27] bcamp commented on #1205
@greezybacon I'm very sorry for the delay.  December and January always have me running in a million different directions at one.  I had forgotten your reply was posted, I found it while clearing out some old email last week.

After seeing your reply, I cloned our production server into a vm for testing.  After creating a snapshot, the first thing I wanted to try was to update to 1.9.5.1, just to

[2015-02-06 13:27] #1205 closed

[2015-02-06 13:42] mckaygerhard commented on #1683
err what paint internet winxplorer here? we are taking about firefox and internet browsers, not errors made by a megacompany..

[2015-02-06 13:47] mckaygerhard commented on #1296
look at the bootstrap.php:  see  Http::redirect(ROOT_PATH.'setup/');  do u read the previously messages? here root_path its a standar path that depends of filesystem.. ROOT_DIR that i mentioned in the lasted message are a example for ilustrate to u that are nonsense about avanced situations in large implementations

[2015-02-06 14:00] novat0 commented on #1296
hello, i have the same problem, of course easyle workaround its input manually the path in browser, but mckaygerhard have right! seem developers assumed that the root path of the webserver are always so simple as apache its configured.

[2015-02-06 14:49] greezybacon commented on #1296
Could you post your apache configuration so I could attempt to reproduce the issue?

[2015-02-06 14:58] bcamp commented on #1304
Just posting an update here to confirm this still works with 1.9.5.1.

[2015-02-06 16:17] greezybacon commented on #1711
This text has a `<ul>` with a `<font>` and `<b>` tags inside. This is not legal HTML. We are dropping the invalid content, as `<ul>` elements are only allowed to have `<li>` and `<script>` tags as per the HTML spec.

[2015-02-06 16:40] Dusza commented on #135
nice job.  this helped me out and i wasn't able to find anything in the forums. @greezybacon if i have my install of osticket non-public than i don't really need to worry about the spammers, correct?

[2015-02-06 16:54] gmt-it opened #1719 "develeop-next - Helptopic Forms"
Hello,
I'm testing the latest develop next at the moment. After adding a custom form I can select it under Helptopic Forms.
![ht_001](https://cloud.githubusercontent.com/assets/10116166/6083383/6de468ba-ae28-11e4-8810-90b6b1fc74be.jpg)

After saving:
It is not seen anymore.
![ht_002](https://cloud.githubusercontent.com/assets/10116166/6083396/88e7b0a4-ae28-11e4-9307-642228ab64fd.jpg)

In Webinterf

[2015-02-06 16:59] #1660 closed

[2015-02-06 17:06] gmt-it commented on #1659
No. No chance to make a clean install. Error is the same.

[2015-02-06 20:37] Hamsteren commented on #1711
Might be its not legal but its what notes and excel produces when you copy a table from excel.

[2015-02-06 20:44] novat0 commented on #1296
i setup normal apache, but for osticket support mount a network SAN in /media/webdata, and then configure a virtual path alias with this:

Alias /support /media/webdata/osticket-1.9
<Directory /media/webdata/osticket-1.9>
	Options FollowSymLinks
	DirectoryIndex index.php
</Directory>

i have apache2  2.2.16 with php 5.3.8 using suhoshin enabled with debian stable squeeze LTS support in a DELL t110

[2015-02-06 20:46] novat0 commented on #1296
previus messgae dont parse the configuration setting.. here the files i put in /etc/apache2/conf.d:

toch osticket.conf

content of file:

[code]

[2015-02-07 09:09] markus4000 opened #1720 "Feature Request - HelpTopic Multilanguage"
It would be great to be able to translate the help topics as well.
For example , for each language a checkbox in the Helptopic.
So the admin can choose, in what language this helptopic will be shown:
eg. : show in languag: English (x) German ( ), French ( ), always ( )
in that way even it would be possible to have its own workflow for each form and language.
What do you think? or how do you solve

[2015-02-08 13:26] AZimmerhofer opened #1721 "See closed tickets using "Limit ticket access to ONLY assigned tickets""
Hello!

The feature ""Limit ticket access to ONLY assigned tickets" is very, very good. Using this, team members cannot access to closed tickets.

See discussion here:
http://osticket.com/forum/discussion/78517/wrong-behavior-if-limit-ticket-access-to-only-assigned-tickets-enabled

I think it would be very good to introduce a possibility to change this behavior.

[2015-02-09 09:39] TheSMa commented on #1715
Thank you @greezybacon.
I will contact our provider to fix this :-)

[2015-02-09 09:39] #1715 closed

[2015-02-09 09:43] #1700 closed

[2015-02-10 06:13] mangocheeseshake commented on #62
Hi,

I'm not really a technical person but I have been playing with the osTicket and trying resolve the issue related to this thread.

I'm aware that AlertsandNotices are not working for tickets filtered by help topic and Ticket filter rules.  I have not setup any ticket filter for Department ABC i  created and and i sent a test email using may personal email (which means that no help topic will b

[2015-02-10 10:12] dwitgsi commented on #834
Have you got any solution ?

[2015-02-10 14:23] ntozier commented on #62
@mangocheeseshake this thread is from Oct 31, 2013.  I would invite you to read www.osticket.com/forum/discussion/77765/please-read-before-requesting-assistance
and post on the forums about your issue.  Please include information about your setup as described in that thread, how you have email configured, how you have alerts configured, how you have the department configured, also if your running

[2015-02-10 19:04] AZimmerhofer opened #1724 "Tab "My tickets" for all assigned tickets to person AND team"
Hello!

Today tickets assigned to a team (where the agent is member of) are NOT shown under "My tickets". This seems to be weird for me.

It would be better to adjust this behavior: All tickets (assigned to person or team) should be shown...

[2015-02-10 20:24] protich commented on #1724
We've discussed the possibly making such change --- but I think we shouldn't show tickets assigned to your team as well someone else (an individual agent) in "My Tickets".

[2015-02-10 21:23] Chefkeks commented on #1724
@protich
Can understand your point, but also the point from AZimmerhofer.

So how about a tab like e.g. "My team tickets" appearing when a ticket is assigned to a team of which the agent is a member of?

Or will this become irrelevant with custom queues feature in the future, so that it's not necessary to change it?

[2015-02-10 21:46] Ali-Se opened #1725 "Error sorting banned emails"
When I tried to sort banned email list according to any column (by clicking on the header of the list), It actually displays the staff list instead of banned email list.
The link of the column headers are referring to staff.php instead of banlist.php

[2015-02-10 23:15] protich commented on #1724
The primary motivation of doing the custom queues is so people can add whatever search criterion they want to the queues.

[2015-02-11 07:13] AZimmerhofer commented on #1724
@protich @Chefkeks
It would be great to configure this by the admin. custom queries would be nice if the admin is able to arrange this query for the whole os ticket installation.

Our problem is: Every team member must have the opportunity to see closed tickets. So we cant use "Limit ticket access to ONLY assigned tickets". Therefore it would be very good to use the my ticket tab to seperate own t

[2015-02-11 07:21] AZimmerhofer commented on #1724
#1304

[2015-02-11 07:22] Chefkeks commented on #1724
Definitely like this suggestion (see below) from a admin point of view, but would limit it to a max of 3 queues or so, so that the agent can still easily see his/her own custom queues.

"custom queries would be nice if the admin is able to arrange this query for the whole os ticket installation"

[2015-02-11 12:58] LucasBurg commented on #1659
I is also with this error

[2015-02-11 14:37] gmt-it opened #1726 "develop / develop-next schema signature"
No chance to install develop-next or develop. (clean install)

Develop-next:
core: Unbekannte oder ungültige Schema-Signatur (2d590ffab4a6a928f08cc97aace1399e .. d89d2bb9a52d1b9037f7815806cb7ba3)

Develop:
core: Unbekannte oder ungültige Schema-Signatur (b26f29a6bb5dbb3510b057632182d138 .. 493e6c902e76a8130d4a422f7880ddbc)

[2015-02-11 14:55] aravind089 commented on #771
I have found a way for this.
Just add the email ids separated by comma in the new ticket creation form.
It works!

[2015-02-11 15:21] ntozier commented on #1726
I'm not sure what you're trying to tell us.

[2015-02-11 15:23] gmt-it commented on #1726
You can not make a clean install of develop because you got this signature error.

[2015-02-11 15:29] ntozier commented on #1726
So this is essentially the same as when you opened this:
https://github.com/osTicket/osTicket-1.8/issues/1659

but with a different schema number.

[2015-02-11 15:45] gmt-it commented on #1726
Yes, this is the same error after yesterdays update.

[2015-02-12 01:16] qikehu opened #1729 "file upload via phone doesn't work"
Hi I met three problems on 1.9.5.1,
1. file upload via phone doesn't work. I add a new field for upload files, it doesn't work on mobile devices.
2. Ticket search function doesn't work well on client side, barely find results.
3. Print function doesn't work well, it shows messy code.

For 2&3 issue, I think it might be the language issue, client side is using Chinese language, but I have no idea t

[2015-02-12 16:51] greezybacon commented on #1726
I cannot confirm the issue on the `develop` branch

[2015-02-12 16:53] greezybacon commented on #1729
@qikehu could you submit some screenshots or some of the text that does not render well in the PDF? I'd like to see how I could replicate it.

[2015-02-12 16:54] greezybacon commented on #1720
This is implemented in the `develop-next` branch as part of our multilingual project, phase III

[2015-02-12 16:57] greezybacon commented on #1720
See #1410

[2015-02-12 16:59] ntozier commented on #1720
As a side note I would like to remind everyone that the Multi-language Feature is not complete at this time, and is in Phase III [of IV].

[2015-02-12 17:04] gmt-it commented on #1726
This is my config:
![develop_001](https://cloud.githubusercontent.com/assets/10116166/6172469/4ab970c0-b2e1-11e4-8f19-28e5ecabf12e.jpg)
That is the error with the latest develop vrom GitHub:
![develop_002](https://cloud.githubusercontent.com/assets/10116166/6172492/79e53f6e-b2e1-11e4-8a68-68ba2d664aea.jpg)

[2015-02-12 19:24] LucasBurg commented on #1726
I also did the installing today, is show this error.

[2015-02-13 02:11] qikehu commented on #1729
update:

1. I tried file upload with other cell phones and file upload works on most of them.
2. Does the search function support custom field?
3. Screenshot here
![Uploading 20150213101212.png . . .]()

[2015-02-13 14:28] TheSMa opened #1731 "Feature Request: Fix the upper ticket-view (menubar)"
Is it possible to create an option, that agents/admins can fix the upper ticket-view? (see my screenshots)
In many cases (eg. long ticket conversations) it's nice to have a feature like that. You don't need to scroll up to get access to the menubar.

![ticket1](https://cloud.githubusercontent.com/assets/6357571/6188682/1ebe4992-b394-11e4-8dfb-7936bb02b1c2.jpg)
![ticket2](https://cloud.githubuserco

[2015-02-13 16:31] ntozier commented on #1731
I'm not sure what you mean.

[2015-02-13 18:57] greezybacon commented on #1731
@ntozier I think the suggestion is for a static navigation bar or sidebar, which stays put as the page is scrolled.

[2015-02-13 19:00] TheSMa commented on #1731
@greezybacon yes, that is what i mean.

[2015-02-13 19:02] greezybacon commented on #1729
The PDF export assumes that you have fonts for these characters installed on your local system. Adobe has some of them. The problem for us is that the font packs are like 60MiB for the CJK fonts and it isn't worthwhile to make the osTicket download that large just to include extra PDF fonts. I also considered placing them in the CJK language pack phar files; however, there is a performance penalty

[2015-02-13 19:10] greezybacon commented on #1726
@LucasBurg @gmt-it where are you getting your files for installation? I did

[code]

and the installation went without a hitch.

[2015-02-13 19:15] greezybacon commented on #1724
The next major version of osTicket (currently `develop-next` supports saved searches, so that all agents can create and reuse searches like this

![screen shot 2015-02-13 at 1 15 07 pm](https://cloud.githubusercontent.com/assets/672074/6193583/5b129c2a-b382-11e4-8911-bd1a1af2c269.png)

[2015-02-13 19:20] greezybacon commented on #1711
@Hamsteren I agree with what you're saying. It's incorrect, but we shouldn't be dropping content because of it's lack of HTML conformity. Defensively, the intention is to accept and format HTML so that it is written according to a standard in hopes of consistent rendering among web browsers and email clients (since we send HTML email too).

[2015-02-13 19:29] gmt-it commented on #1726
@greezybacon
I use GitHub for windows and clone from here:
![clone](https://cloud.githubusercontent.com/assets/10116166/6193786/e6ad426c-b3be-11e4-8b10-be5021f97346.jpg)

[2015-02-13 19:39] gmt-it commented on #1726
Git Shell:
H:\Daten Privat\Projektdaten\osTicket\osTicket-1.8 [develop +1 ~656 -0 !]> git checkout develop
M       .gitignore
M       LICENSE.txt
M       README.md
........
M       setup/tips.php
M       setup/upgrade.php
M       view.php
M       web.config
Already on 'develop'
Your branch is up-to-date with 'origin/develop'.
H:\Daten Privat\Projektdaten\osTicket\osTicket-1.8 [develop +1 ~656 -0 !

[2015-02-14 07:04] AZimmerhofer commented on #1724
@greezybacon

Thanks! Very good!

It would be great if the administrator can prearrange this settings. We would like to change the my tickets tab for every user. Would this be possible?

[2015-02-15 12:34] Deepcuts commented on #534
Same problem here.
Standard install without the bootstrap theme.

[2015-02-15 22:41] A-Lawrence opened #1733 "Feature Request: Custom status filters/workflow"
Hello,

Would it be possible to allow the status links at the top of the SCP (i.e. Open, Answered, Overdue, etc) to be customised, or allow the workflow of tickets to be customised?

For example, our workflow would be improved by being able to arrange tickets like so:

* New (a brand new ticket which hasn't been replied to). All tickets default to this when opened.
* Responded (client has posted a

[2015-02-16 08:25] lvanjaarsveld opened #1734 "Email topic mismatch"
Branche 1.9.5.1, email parsing issues. osTicket has a problem importing a few emails. I tought the bug was somehere in the subject, becouse it contained a number. But after running the subject trough the class.thread algorithme this doesn't seem to be the case.
1. Have osTicket fetch emails.
2. Send a message to this email with the following subject, "RE: Eerste aanmaning, klantnummer 3048".
3. Wa

[2015-02-16 13:40] Chefkeks commented on #1726
Can't confirm this either. Set up develop-next right now and everything went smooth.

I used the "Download ZIP" button which is under the "Clone in Desktop" and everything went fine. (https://github.com/osTicket/osTicket-1.8/archive/develop-next.zip)

[2015-02-16 14:06] gmt-it commented on #1726
@Chefkeks
Seems like there are some files missing in the zip file:
This files are in /upgrader/streams/core when I update via GitHub but not in the zip file.
dad45ca2-61c9d5d7.task.php
b26f29a6-1ee831c8.task.php
d51f303a-dad45ca2.task.php
b26f29a6-1ee831c8.patch.sql
934954de-f1ccd3bb.task.php
b26f29a6-1ee831c8.cleanup.sql
8f99b8bf-03ff59bf.task.php
5cd0a25a-2d590ffa.patch.sql
5cd0a25a-2d590ffa.tas

[2015-02-16 16:13] blueyeguy opened #1736 "Closing overdue tickets does not remove the overdue flag"
Prior to upgrading to version 1.9.4, when an overdue ticket was closed, if it was flagged as overdue, the flag was removed. I have noticed since the latest upgrade that they still appear overdue even in the closed ticket list. We have since upgraded to 1.9.5.1 and have noticed this is still the case.

This doesn't affect functionality, but wondered if I should report it as a bug?

Thanks for all t

[2015-02-16 16:14] LucasBurg commented on #1726
I did the dowload by sotfware of github, I will test "clone in desktop".

[2015-02-16 20:58] blueyeguy commented on #1736
P.S. I also miss that my ticket queue doesn't tell me I can leave early when I have no more open tickets :-)

[2015-02-17 07:11] vikipatil7233 commented on #977
Default domain name: servername.domain.local (FQDN)
DNS server : IP of DNS server
LDAP servers: same as default domain name..
TLS : not required
search user: anyuser in AD(domain\anyuser)
password : password of the AD user mentioned above
Search Base: DC=domain,DC=local (based on your domain setup)
LDAP Schema: choose "Microsoft Active Directory"

its work on testing Lab

[2015-02-17 11:14] LucasBurg commented on #1726
List of archives this directory include/upgrader/streams/core.

dad45ca2-61c9d5d7.task.php    true
b26f29a6-1ee831c8.task.php    false
d51f303a-dad45ca2.task.php    true
b26f29a6-1ee831c8.patch.sql   false
934954de-f1ccd3bb.task.php    false
b26f29a6-1ee831c8.cleanup.sql false
8f99b8bf-03ff59bf.task.php    true
5cd0a25a-2d590ffa.patch.sql   false
5cd0a25a-2d590ffa.task.php    false
36f6b328-5cd0a2

[2015-02-17 11:16] infectormp commented on #1707
look like problem in database. i drop osticket database and install it again. with clean database all work fine.

then i drop clear db and restore "broken" and get same error.

[2015-02-17 14:29] ntozier commented on #977
It stands to reason that if this works on one server, but not on your production server that you have a configuration difference between the two. It could be as simple as your production server isn't allowed to talk to your AD server, or a firewall.

[2015-02-17 16:42] grintor commented on #1355
I have confirmed this issue is from their mod_security config. I contacted their support for our account with the same problem. Their support is *almost* useless.

I found that when I responded to a ticket with the text "​We can add or delete users from the group if you would like." I got that error Upon further investigation I found that the text "delete users from any_word" is the magic phrase i

[2015-02-17 20:20] infectormp opened #1740 "Feature request: answer indicator"
Would it be possible to add special indicator for ticket that will indicate who is write last answer to ticket user or agent. This feature have nice implementation in Manageengine ServiceDesk Plus and it's very helpful.

Green icon - last respons from agent
Reg icon - last respons from user
![spd](https://cloud.githubusercontent.com/assets/9958813/6236380/657a31ba-b6fb-11e4-9a61-eae3e9804d8f.png)

[2015-02-17 22:44] gmt-it commented on #1726
After todays updates I got this error when I install from tip file:

[CREATE TABLE `ost_lock` ( `lock_id` int(11) unsigned NOT NULL auto_increment, `staff_id` int(10) unsigned NOT NULL default '0', `expire` datetime default NULL, `code` varchar(20), `created` datetime NOT NULL, PRIMARY KEY (`lock_id`), UNIQUE KEY `ticket_id` (`ticket_id`), KEY `staff_id` (`staff_id`) ) DEFAULT CHARSET=utf8] Key co

[2015-02-17 23:26] greezybacon commented on #1726
@gmt-it thanks for the heads up. I fixed this in 7449461

[2015-02-17 23:44] gmt-it commented on #1726
@greezybacon
Thanks! Installation runs now but there is a problem with Help topics -> Forms. Standard forms are not shown and after selecting a helptopic in frontend there is no issue detail form.
![unbenannt1](https://cloud.githubusercontent.com/assets/10116166/6239753/29cfdcc6-b707-11e4-9da4-1d9dbda8e5d0.JPG)
![unbenannt](https://cloud.githubusercontent.com/assets/10116166/6239754/29d01d9e-b707-

[2015-02-18 04:23] protich opened #1742 "Admin Panel > Settings > Alerts"
Assignment alert cannot be disabled.

[2015-02-18 05:04] kmoksha opened #1743 "Tickets are having duplicate attachments in versions 1.8 and above when sending emails using Gmail"
I have installed new Osticket 1.9.5.1 on my site and have linked a support email with Osticket via piping for tickets to be generated.

But when user emails with attachments are received from Gmail, duplicate attachments are seen in the generated ticket. ( Noticed that 2 keys are generated for the same attachment ; see screenshots at the end) Why is it ?

Where are the attached files sent by the u

[2015-02-18 09:16] Chefkeks commented on #1726
@greezybacon
Regarding the issue @gmt-it reported within the last comment, I'd like to know if such error shall be reported here (or anywhere else) for the a work-in-progress branch like develop-next and if yes, where such issues shall be reported - asking since I also noticed the issue above and also some issues with the new ticket filter settings.

[2015-02-18 13:34] jochenwezel opened #1744 "Out of office reply re-opens a ticket accidently"
Out of office replies are fine to be visible to the ticket for review purposes, but it's not required to "re-open" an already closed ticket

We could also say: re-opening a closed ticket just because of the out-of-office-reply usually means
1. additional time/costs for re-closing the ticket
2. statistics on re-opened tickets in osticket systems are useless

[2015-02-18 13:59] kwamtum2 opened #1745 "Different login for Ingoing and Outgoing email?"
I notice it's not possible to have different "login" details for sending. We use mailjet or/and mandrill to send emails.

![image](https://cloud.githubusercontent.com/assets/1745506/6248305/a6766f2a-b77e-11e4-9083-0871e608501c.png)

Only it's not possible to use a third party SMTP server? I guess it's a small adjustment, but it would be a very nice feature!

[2015-02-18 14:26] ntozier commented on #1744
Go to:
Admin panel -> Manage -> Ticket Filters

Make a filter like this:
Filter Name: Out of Office
Execution Order: 1
Filter Status: Active
Target Channel: Emails
Ticket\Issue Summary | Starts with | Out of Office:
Reject Ticket

No more "out of office" responses in your tickets.

[2015-02-18 15:04] LucasBurg commented on #1726
the error cotinue with my clone.

[2015-02-18 15:53] gmt-it commented on #1726
@LucasBurg: You have to download the zip file. With GitHub for Windows (GUI Version) you allways get this schema error if you try to install the Clone from your Windows folder. Don't know why...

[2015-02-18 16:41] gohanman opened #1746 "Odd failure attaching file in old browser"
This is rather minor, but since there is an error code for unsupported browsers:

Attaching a file to a ticket thread entry in a browser that doesn't have a "Blob" constructor function fails in a very unintuitive way. The upload process crashes with a javascript error but the file is still displayed on screen below the comment box.

When the comment actually posts, ThreadEntry::create() ends up wi

[2015-02-18 17:10] jochenwezel commented on #1744
The string "out of office" may differ between the many languages of the world.
Is there an alternative focussing on the e-mail header information? (AFAIK there is some hidden markup for those out-of-office-e-mails)

[2015-02-19 11:19] fictionedge opened #1747 "1.9.5 Feature Request: Custom View Ticket Filters and Persistent Filters"
1. When you create a filter, enter a ticket and leave the ticket the filter is reset. If you ,for instance, view a list of tickets with a certain status and have a few pages of those tickets, you loose track where you where. It would be nice the filter stays active until you reset it
2. Have custom ticket templates and choose a default one, would be a nice way to enter the ticket list and only see

[2015-02-19 15:47] ntozier opened #1749 "Feature Request: Allow Canned Responses to trigger status change (Optional)"
I was thinking this morning that it would be a real time saver if canned responses had the ability to have the option to change that status of a ticket.

My recommendation would be to add "Status Change:" drop down in /scp/canned.php?id=#  (Agent panel -> Knowledgebase -> Canned Responses -> Click any canned response) which allows you to pick:
-- No Change --                      (This would be th

[2015-02-19 15:57] Chefkeks commented on #1749
Really like that idea :+1:

Sometimes also select our "closing this ticket" response and forget to change the status on the reply and like 2 days later I recognize it "wait, why is that ticket still open". So +1 from here.

[2015-02-19 16:14] GeekSage commented on #1749
@ntozier Great idea!  +1 here as well

[2015-02-19 17:00] mfelber commented on #1749
@ntozier Nice idea! I think many people/installations would benefit from this enhancement...

[2015-02-19 23:08] steadhouse commented on #197
We previously had this issue prior to 1.9.4 - but it seems to have been fixed. I believe this can be marked as resolved (unless you're still experiencing the issue)

[2015-02-19 23:13] steadhouse opened #1750 "Feature Request: Send KB to Client"
We would find great value in support agents being able to include links to public FAQ articles in their response. Right now, this can happen in one of two ways:

1 - the agent goes to the public osticket side, finds the FAQ, copies the link, pastes it in ticket response
2 - We make canned responses that include these links (but that seems like a large duplication of effort).

I'm not sure what the

[2015-02-20 02:58] amsut opened #1751 "Searching ticket based on partial keyword"
It looks like with osticket version 1.9.4 above, the partial keyword function has been removed? In osTicket v1.9.3, if I search for "cert", it will come back with both "cert" and "certificate". Right now I have to type "certificate" to get all result with certificate and if I just type "cert", it will only return result with "cert".

Would it possible to bring the partial keyword search feature ba

[2015-02-20 20:04] rp-tech opened #1757 "Login loop on internal network using Firefox / Chrome"
I am having a very strange issue with OSTicket.

When I try to log to the client side using AD authentication and Firefox / Chrome from another host on the SAME network as my OSTicket server, it simply loops back to the login screen.

Using IE works fine.

If I try to log in using a computer OUTSIDE my network, the login works perfectly using any web browser.

I am completely stumped as to what co

[2015-02-21 13:12] Renatfg commented on #1659
Have same error. I cloned directly from the repo to windows.

Then i replace file "setup/inc/streams/core/install-mysql.sql" from zip file, and its worked.

[2015-02-22 06:13] infectormp commented on #1744
then you need create more rules

[2015-02-22 12:12] infectormp commented on #1744
also you can use regexp in filter. out of office|out of office2|out of office3 and so on.

[2015-02-23 13:59] supportreq commented on #1689
@greezybacon any plans to implement this soon

[2015-02-23 14:41] agalloway83 opened #1758 "Attachment problem on Organization creation bug"
Hello!

We’ve noticed that there is a subtle bug when you perform a certain action. We customized the Organization form to include an attachment section at the end to attach documents pertaining to that org. In the normal agent view, when we create a new organization and attach a new file it won’t attach it properly. We have to go back to the already created organization and reattach the document.

[2015-02-24 16:29] rp-tech commented on #1757
Just FYI I tried absolutely everything to resolve this issue.

I had it working using a clean install of Debian inside a VirtualBox guest VM.

Moved the VM to my Hyper-V server and it started doing the same thing!

After re-installing EVERYTHING, I couldn't figure out what was going on - so I tried dumping Apache in favor of NGINX - which works!

So there is some weird issue happening with OsTicke

[2015-02-24 16:47] rp-tech commented on #1707
Mine seems to work fine (so far).

-OSTicket 1.9.5.1
-Debian 7
-Nginx 1.2.1 -> older version, possibly because of Debian 'stable' release cycle (acquired using apt)

What flavor is your linux server? Perhaps the issue is that you are running a newer version of Nginx (more unstable?) I used to run Arch for giggles but never in a production environment!

[2015-02-24 17:30] si458 opened #1762 "Advanced Search Uncaught exception Error"
just updated to latest git pull and I keep getting the following error when I click advanced search

Fatal error: Uncaught exception 'Exception' with message 'hasSpecialSearch: Call to undefined function' in /var/www/vhosts/hestor.com/tickets.hestor.com/include/class.forms.php:454 Stack trace: #0 /var/www/vhosts/hestor.com/tickets.hestor.com/include/staff/tickets.inc.php(661): FormField->__call('h

[2015-02-24 17:32] ntozier commented on #1762
"just updated to latest git pull"

Which branch?

[2015-02-24 17:35] si458 commented on #1762
My bad sorry
Im using the osTicket-1.8 repo and using the Develop branch

[2015-02-24 18:37] gmt-it opened #1763 "develeop-next - Fatal Error after saving Advanced Search"
[24-Feb-2015 18:27:24 UTC] PHP Fatal error:  Uncaught exception 'OrmException' with message 'Model `UserCdata` does not have a relation called `phone`' in /var/www/develop-next/include/class.orm.php:1399
Stack trace:
#0 /var/www/develop-next/include/class.orm.php(1417): SqlCompiler->{closure}('phone', Array, NULL)
#1 /var/www/develop-next/include/class.orm.php(1524): SqlCompiler->getField('user__c

[2015-02-24 21:37] torohill opened #1764 "CCing notifications to collaborators"
Currently when a staff member posts a response to a ticket that has collaborators, the submitter and each collaborator gets an individual email notification (ie. an email 'To' them).

In the case where the collaborators were added via CC on the original ticket email, we have found that this can cause some confusion with the submitter/collaborators, namely:

1. The email notification contains no in

[2015-02-25 08:53] infectormp commented on #1707
osTicket work fine if i make clean install of osTicket 1.9.5.1
-Gentoo x64
-nginx 1.9.8
-mariadb 10.0.16

i get this error after update osticket from 1.8.7 to 1.9.5.1. I reprosuce this error after restore 1.8.7 db to 1.9.5.1 instalation.

[2015-02-25 11:15] wfoster opened #1766 "User log on"
Hi Guys

Could I have the user link straight onto the ticket thread without having to put in any authentication details? i.e. email/ticket number, username/password, etc

We have tons of users connecting and I want them to click a link in the email that takes them straight to the thread.

Thanks

[2015-02-25 12:45] wingnut2dot0 opened #1767 "Editing Ticket - Time zone applied 2nd time on Date/Time Picker"
User submits a ticket that includes a custom form with Date/Time picker as one of the form fields. The properties of this Field are set to include time selection along with Timezone Aware. User sets time value and submits ticket.  Ticket is received and there are no issues until an agent attempts to change the time in the date/time picked while editing the ticket. When this happens the time appear

[2015-02-25 12:51] infectormp opened #1768 "Help Topic unavailable in ticket"
1. add Help Topic 1,
2. add Help Topic 2 set Parent Topic to 1,
3. add Help Topic 3 set Parent Topic to 2,
4. add Help Topic 4 set Parent Topic to 2,
5. add Help Topic 5 set Parent Topic to 2,
   and etc.

disable Help Topic 2. Help Topic 3,4,5 will unavailable in ticket edit form.

OT 1.9.5.1

[2015-02-25 15:00] speedoo commented on #1426
" Checking the message ID in the In-Reply-To field solves this."

How to implement this please? On what level should this be done (rules in outlook 2010, exchange 2010 ?) or somewhere in osTicket settings - looked around, could not find anything that checks message ID (reply to field) and does the work.

[2015-02-25 15:22] MyTinCan commented on #1744
This is the same solution I came to, but then had a though that I should enter "out of office:" (with the colon on the end) Otherwise, if a user is opening a ticket because their actual out of office isn't working it will reject that as well!

[2015-02-25 15:37] mckaygerhard commented on #1296
this issue was reported some time ago also and its still open also:

https://github.com/osTicket/osTicket-1.7/issues/538

[2015-02-25 15:40] mckaygerhard commented on #1686
ping? the lang files still have broken links and translate tool are web based and dont showme the complete file, only strings to translate!

[2015-02-25 15:43] mckaygerhard commented on #1665
hello @protich and @greezybacon ; any progress on that? what brand are using for that feature? can i made tests and to see code review?

[2015-02-25 15:47] ntozier commented on #1768
That is correct, and how it's intended to work.

[2015-02-25 15:58] jochenwezel commented on #1744
I would prefer a general solution like https://www.jitbit.com/maxblog/18-detecting-outlook-autoreplyout-of-office-emails-and-x-auto-response-suppress-header/

[2015-02-25 16:07] infectormp commented on #1768
but if i do like taht

add Help Topic 1,
add Help Topic 2 set Parent Topic to 1,
add Help Topic 3 set Parent Topic to 1,
add Help Topic 4 set Parent Topic to 1,

disable Help Topic 1. Help Topic 2,3,4 will **bold** available in ticket edit form.

[2015-02-25 16:07] speedoo commented on #637
Had the same problem in latest version (feb 2015) but solution is to change permissions for plugins folder, it was 0751, so I changed to 0755 and plugins are now visible.

[2015-02-25 16:22] ntozier commented on #1744
So then does that mean you answered your own question?

[2015-02-25 16:35] rp-tech commented on #1707
Hmm, I'm also running Maria DB 10.0.16 and I updated to NGINX 1.6.2 and it's working as well. On the other hand, I use Debian (not Gentoo).

Coincidentally, I imported my database from 1.9.4 -> 1.9.5 as well but mine works. Possibly database corruption?

[2015-02-25 17:00] infectormp commented on #1707
i can upload db dump to somewhere. this is test db.

[2015-02-25 17:12] jochenwezel commented on #1744
maybe it is one possible answer - but how could you make that possible in osticket? Does it needs development or does it needs some special customization?

[2015-02-25 19:29] infectormp commented on #1768
in my opinion help topic must be available even if parent topic is disabled

[2015-02-26 07:05] infectormp opened #1769 "Custom Field with Checkbox"
I add custom field to form Contact Information with Russian label name
Type - Checkbox
Visibility - Optional

In User forum i set this field and now can see in Contact Information this labels = yes

when i try unset this field nothing happen i still see this labels = yes

with english label name when i unset field i see this labels = no

[2015-02-26 07:38] infectormp opened #1770 "Search existing organizations"
Search existing organizations with russian name not work

[2015-02-26 15:07] ntozier commented on #1769
You may want to include more information such as version of osTicket and a screen shot showing what you are talking about.  You should always include full step by step descriptions of how we can attempt to recreate the problem.

[2015-02-26 15:07] ntozier commented on #1770
You may want to include more information such as version of osTicket and a screen shot showing what you are talking about, and any errors.  You should always include full step by step descriptions of how we can attempt to recreate the problem.

[2015-02-26 17:14] infectormp commented on #1769
you may know i use 1.9.5.1

[2015-02-26 17:18] infectormp commented on #1770
you may know i use 1.9.5.1.

add oraganization with russian name go to csp/Users/Organizations - type oraganization name in search box - press search. Result: Search Results: No organizations found!

[2015-02-26 20:33] protich opened #1772 "Forms API"
- [ ]  Add new form to help topic is broken
- [ ]  Don't show form with no fields

[2015-02-27 08:29] infectormp opened #1774 "Can't save Confirmation Email template"
Confirmation Email template can't be saved if subject contain only variable %{company.name}.

OT 1.9.5.1
![confirmation email template](https://cloud.githubusercontent.com/assets/9958813/6409359/c6ee6982-be73-11e4-8b65-393d99752db4.png)

[2015-02-27 08:41] infectormp commented on #1774
same in Agent Welcome Email

[2015-02-27 08:48] infectormp opened #1775 "Agent Login Banner can't be saved if summary field are empty"
by default Agent Login Banner have empty summary field. If we try change subject field and save we will see Loading... banner without any result.

If we write any text to summary field Agent Login Banner saved successfully

OT 1.9.5.1

[2015-02-27 10:22] Hamsteren commented on #1774
I just tried the same on my 1.9.5.1 install and do not have that problem.
It saves the template without issues. Have you tried checking the error console in your browser to see if there are any javascript errors.
Also try checking your php/apache logfile for any errors.

[2015-02-27 10:55] infectormp commented on #1774
no errors in logs, just get Loading...
if i add some words before variable form save normaly

[2015-02-27 10:55] infectormp commented on #1774
Client Sign-In Page not affected to this problem

[2015-02-27 10:59] infectormp commented on #1774
try chrome and firefox, same result

[2015-02-27 11:40] rabiajavaid commented on #1746
HI gohanman,

Did you find the solution. In firefox version 3.6 when i click 'choose them', it don't response.

[2015-02-27 12:04] Hamsteren commented on #1774
Tried it in Chrome, Firefox and IE11 and all 3 works without and issue here.

[2015-02-27 12:47] gohanman commented on #1746
I'd have to double check but I think this was around Firefox 12. I think there's a stretch of versions where some Blob methods exist but *not* a constructor.

[2015-02-27 13:08] rabiajavaid commented on #1746
Check it on 3.6. Is the same issue. Canned response attachment not working. But rich text box is ok. In faq richtext box is ok. At client and user side both are not working. But test canned attachment is ok.
Leave rich text box but attachment should work at least.

[2015-02-27 14:29] greezybacon commented on #1746
It looks like Firefox 6-12 support the blob under the name `MozBlob`. I've opened #1776 to support it and to offer the meaningful error. Can anyone confirm if the patch addresses the issue?

[2015-02-27 14:33] greezybacon commented on #1774
I think you have two notices with the same subject field. That appears to be a problem

[2015-02-27 14:36] ldrumm opened #1777 "following the /scp link causes a redirect to plain HTTP when using HTTPS"
When visiting an osTicket login page `https://myosticket.example.com/login.php` secured with TLS and clicking on

the user is redirected to a plain HTTP version of the site.

Apparently, the logic that adds a trailing slash to the url is causing the redirect.

output from `curl -i https://myosticket.example.net/scp`
[code]

I had a look through the `.htaccess` files, but my apache foo is pretty li

[2015-02-27 14:50] ntozier commented on #1775
Not to be difficult but what is an "Agent Login Banner"?

[2015-02-27 15:43] greezybacon commented on #1775
Can anyone test the patch in #1778 to see if it address the issue?

[2015-02-27 15:44] greezybacon commented on #1774
I've added #1778, which properly displays the errors on update from the backend. Can anyone test the patch in #1778 to see if it address the issue?

[2015-02-27 15:58] greezybacon commented on #1768
Currently, I see in the code where we cascade the `disabled` flag for help topics. However, I see we fetch the list from the database in the declared sort order, and also assume that parent topics are processed before the child topics. These combined may provide inconsistent handling based on which parent topic is disabled.

[2015-02-27 16:23] greezybacon commented on #1744
@jochenwezel what version is this? #1529 was supposed to address this issue, which was released in 1.9.5

[2015-02-27 16:30] greezybacon commented on #1707
@infectormp hmm. I wonder if this is a recursion loop. We implemented a fix for a such issue on `develop-next`, 4b5b69d2adce10fa9c5ffdb09c3a8b11d74994f7
[code]

[2015-02-27 16:32] greezybacon commented on #1769
@infectormp could you include some screenshots so I can get a clearer picture of the issue?

[2015-02-27 16:33] infectormp commented on #1775
cheked. fixed by patch in #1778

[2015-02-27 16:34] greezybacon commented on #1766
`%{recipient.ticket_link}` for clients and collaborators

[2015-02-27 16:35] infectormp commented on #1774
greezybacon, you right i alredy have notices with the same subject field and in #1778 now give correct error - Name already exists.

fixed.

[2015-02-27 16:36] jochenwezel commented on #1744
oh, I see, we're not up-to-date, we've got osTicket (v1.9.3)
sorry for making noise unnecessarily
I'll close this ticket for now in expectation it will work with 1.9.5 and higher

[2015-02-27 16:36] #1744 closed

[2015-02-27 16:42] infectormp commented on #1769
sure, a bit later

[2015-02-27 16:45] infectormp commented on #1777
you are use nginx server not apache

[2015-02-27 16:45] infectormp commented on #1777
HTTP/1.1 301 Moved Permanently
Server: nginx

[2015-02-27 16:46] infectormp commented on #1777
right config for nginx you can take here http://wiki.nginx.org/OSTicket

[2015-02-27 16:46] ldrumm commented on #1777
nginx is the frontend load-balancer, but it just delegates to Apache

[2015-02-27 16:47] gmt-it opened #1780 "develeop-next - Helptopic Forms"
After todays commits its possible to add custom forms. Standard form are not shown in frontend. Deactivation of form fields (Custom form) gives an SQL Error and deleting custom form from the helptopic is not possible.

Deactivation error:
Warning: array_search() expects parameter 2 to be array, null given in /var/www/develop-next/include/class.topic.php on line 445

Warning: array_search() expects

[2015-02-27 16:47] infectormp commented on #1777
any way you need propper config for nginx and it here http://wiki.nginx.org/OSTicket

[2015-02-27 17:00] greezybacon commented on #1780
So this issue is just about the `array_search` warnings?

[2015-02-27 17:03] greezybacon commented on #1744
Please reopen it if its still broken in v1.9.5

[2015-02-27 17:07] gmt-it commented on #1780
If you deactivate a formfield and you save it, it is still activated after reload. If you delete the hole custom form its still there after reload.

[2015-02-27 17:09] greezybacon commented on #1764
So, in short, neither solution will work. However, I agree that the original point number two is quite valid. The system should not send the notification email if the recipients were in the `Cc:` header. We should fix that.

The recipients cannot appear in the Cc header (and receive a single email sent to all the recipients), because we have the capability to include individual auto-login tokens w

[2015-02-27 17:10] greezybacon commented on #1780
@gmt-it thanks for the clarification

[2015-02-27 17:13] ldrumm commented on #1777
I'm a bit confused as to why I need to manually edit the nginx configuration.  As I said, nginx is just reverse proxying to apache so it has no notion of files, scripts or directories, only requests.  Additionally, I'm on a shared host, so I *can't* edit the nginx config even if this made sense.

I think osTicket will be limited  by requiring manual rewrites at the frontend, if this is really true

[2015-02-27 17:14] gmt-it commented on #1780
If you don't add a custom form the standardform is not shown in frontend. I think the standardform should be active if no custom form is added. Or am I wrong?

[2015-02-27 17:17] ntozier commented on #1777
Personally I would either use the NGINX config or an .htaccess to redirect http to https.

[2015-02-27 17:23] gmt-it commented on #1780
For your info: I use a clean install from GitHub zip file.
My configuration:
![config](https://cloud.githubusercontent.com/assets/10116166/6417420/95a1b700-bead-11e4-9436-2fe9700a207b.jpg)

[2015-02-27 17:40] gmt-it commented on #1763
To get the error:
Open advanced search -> select another field like phone etc. -> input a search term -> input name of search and save it
![error01](https://cloud.githubusercontent.com/assets/10116166/6417692/8fb0b2cc-beaf-11e4-8739-234eea02bb28.jpg)

After saving clich search:
![error02](https://cloud.githubusercontent.com/assets/10116166/6417705/ad465d5a-beaf-11e4-8206-c1f11609c4c8.jpg)

You got

[2015-02-27 17:46] ldrumm commented on #1777
You personal preferences are fine, but the root cause of the issue is still
not fixed.  osTicket is giving the user a non-existent url to click on,
causing whatever server the sysadmin decided to use, to eventually rewrite
`scp` to `scp/` dependent on how it handles non-existent resources.

That apache will automatically attempt to fix trailing slashes does not
change the fact that the link is inv

[2015-02-27 18:07] infectormp commented on #1777
This is not good idea make patch for osTicket when you can proper config nginx. And you must be sure this patch not broke current osTicket installation of other users who use nginx.

i use nginx without apache with this confing http://wiki.nginx.org/OSTicket and not any problem

[2015-02-27 18:41] infectormp commented on #1707
@greezybacon, this is magic! Your fix is work.

I restore old database, check for error and error still here, apply your patch and MAGIC... ticket open correctly. Fix work.

Restore new database and osTicket sill work with this patch :+1:

[2015-02-27 18:45] infectormp commented on #1777
you lucky. this fix not broke my osTicket instalation :)

[2015-02-27 18:49] #1775 closed

[2015-02-27 18:49] #1774 closed

[2015-02-27 18:50] #1525 closed

[2015-02-27 18:50] #1707 closed

[2015-02-27 18:58] ntozier commented on #1777
Also whats your Admin panel -> Settings -> Help Desk URL set to?

[2015-02-27 19:00] infectormp opened #1783 "wrong placement of text format buttons"
chrome and firefox

scp/settings/access - edit any template and you get wrong placement of text format buttons
![clipboard01](https://cloud.githubusercontent.com/assets/9958813/6419131/b7b706b0-becb-11e4-807e-efc247b36890.jpg)

[2015-02-27 19:06] ldrumm commented on #1777
@ntozier My admin panel settings is set to `https`.  This ticket has nothing to do with what's in the database, but canonicalisation by apache on my host that showed that there should be a trailing slash on that URL.

I've spoken to my host to fix their buggy behaviour of canonicalizing to `HTTP` , but the buggy behaviour of referencing a directory without the trailing slash is fixed in #1782

@in

[2015-02-27 19:49] infectormp commented on #1777
@ldrumm

first part, location / matches all locations, unless it's matched by a more specific location, like location /test for example

The second part ( the try_files ) means when you receive a URI that's matched by this block try $uri first, for example http://example.com/csp/image.jpg nginx will try to check if there's a file inside /csp called image.jpg if found it will serve it first.

Secon

[2015-02-27 20:54] krokodylowy commented on #582
Phar isn't necessary. Look at http://osticket.com/forum/discussion/comment/89080 and do point 1 to 4

[2015-02-27 21:24] ntozier commented on #582
What does your statement have to do with a post that's over a year old for a now old version of the software?

[2015-02-28 10:24] mfelber commented on #1764
@greezybacon Thank you so much for the hint with the variable %{ticket.recipients}. This makes many people happy around me :-) I have never seen this variable before (forum, github, supported variables osticket, ntozier's site http://tmib.net), is this a new variable? Maybe you should list it also in the supported variable section in osticket, I think many other people will benefit too from this "

[2015-02-28 11:55] mfelber commented on #1764
Now, because I'm aware that this variable exists, I found one entry in the forum that mentioned this variable before (May 2014, so I think it is not really new) when I search with this term: "ticket.recipients".

[2015-02-28 12:17] gmt-it opened #1787 "develeop-next - Fatal Error open new ticket at Webinterface"
Fatal error: Call to undefined method DynamicFormEntry::hasAnyVisibleFields() in /var/www/develop-next/include/client/open.inc.php on line 85

[2015-02-28 15:55] ntozier commented on #1764
I've added this to my list at:
http://tmib.net/osticket-191-email-template-variables

Sorry I must have missed it.

[2015-02-28 18:51] mfelber commented on #1764
@ntozier No need to say sorry. I think we are all really happy that somebody like you support us/the project so helpful :-) Thank you for adding this to the list!

[2015-03-01 05:58] greezybacon commented on #1783
This should be fixed in the `develop-next` branch as the air mode toolbar was retired in Redactor version 10 (merged in the `develop-next` branch)

[2015-03-02 08:44] infectormp opened #1788 "Future Request: Manage\Help Topics improvements"
- Would be nice implement filter in Manage\Help Topics. Very useful when you need filter Help Topics for specific Department.
- Add export ability to Manage\Help Topics

[2015-03-02 08:48] infectormp commented on #1770
a have same situation when i press New ticket button and try find user by name. If i search user by email osTicket find user immediately.

[2015-03-02 13:14] infectormp commented on #1769
hmm.. look like problem not in label langauge. 1st time i create only one field with checkbox. Now i create 2 field called Test1 and Test2.

1 step:
1.Create 2 custom field (Checkbox) in Manage\Forms\Organization Information - Test1 and Test2
2.Go to Users\Organizations open Organizations form:
check Test1 and Test2, press update organization, open Organizations form again.
**Result:** Test1 and T

[2015-03-02 13:41] infectormp opened #1789 "Wrong Help Topic display in Ticket Filter"
Manage\Help Topics
![topic_2](https://cloud.githubusercontent.com/assets/9958813/6441602/893a0d88-c0fa-11e4-8710-36787deff8ea.png)

Right display in New Ticket
![topic_3](https://cloud.githubusercontent.com/assets/9958813/6441614/a4d7681a-c0fa-11e4-9bc2-f3fdb0851820.png)

Wrong display in Manage\Ticket Filter
![topic_1](https://cloud.githubusercontent.com/assets/9958813/6441646/ef64aa82-c0fa-11e4-

[2015-03-02 13:44] infectormp commented on #1789
Look like i new beta tester :yum:

[2015-03-02 13:54] greezybacon commented on #1788
@infectormp are you describing a UI listing filter by department?

[2015-03-02 13:56] infectormp commented on #1788
@greezybacon yes. When you have more then one department it's very hard manage Help Topics.

[2015-03-02 14:14] greezybacon commented on #1777
As I understand this issue, it is a server configuration issue. Sure, the software could add a slash to the `scp` URL link href; however, it is very likely that your agents will otherwise create a bookmark or just type in the URL without the trailing slash (https://support.me.tld/scp) for instance, in which case the same problem would appear. (We've had a (long-standing case of this issue)[http://

[2015-03-02 14:23] infectormp commented on #1770
Damn, trying reproduce this bug and now all work. Weird.

[2015-03-02 15:45] ldrumm commented on #1777
@greezybacon Thanks for that [SO link](https://stackoverflow.com/questions/17439330/convince-apache-of-the-original-client-protocol) it's a very well put question and makes a lot of sense.

However, it does not solve the general problem:  this is semantically incorrect behavior.

I think I'll have to add a manual rewrite in an `.htaccess` because `ServerName` can only appear in a `VirtualHost` dir

[2015-03-02 16:35] henrycoule commented on #771
@aravind089 Your method did not work for me. New ticket creation form from the admin section or from the user sections

[2015-03-02 17:03] rp-tech commented on #1757
Last follow-up - I migrated to a CentOS LAMP stack and everything works fine.

Upgraded Apache on the Debian box to the same version as on CentOS - fixed the issue in Firefox but not in Chrome. So in the end I ended up switching everything over to CentOS as it seems to be way more stable.

So I don't think this is an OSTicket issue specifically, rather the combination of running Debian Wheezy, Apa

[2015-03-02 20:16] greezybacon opened #1790 "Ability to disable auto responses by user"
It would be beneficial in some work flows to have the ability to disable auto-responses for individual users. For instance, users which have auto responses without any headers to indicate such (including some really bad help desks).

[2015-03-02 20:19] ntozier commented on #1790
This is especially true for emails that result in bounce messages [due to client not updating their email address ].

[2015-03-02 20:20] infectormp commented on #1790
good idea, this will real useful in some situation.

[2015-03-02 20:36] greezybacon opened #1791 "Overdue tickets queue columns should match open tickets queue"
If the _exclude assigned tickets on open queue_ feature is enabled, then the **Assigned** column on the open queue is replaced by the **Department**; however, the column on the _Overdue_ queue remains as the **Assignee**. Therefore, when someone visits the _Overdue_ queue, they would probably find unassigned tickets in the _Overdue_ queue, but not know from the listing to which department they are

[2015-03-02 20:43] greezybacon commented on #977
This should just be `domain.local`, right?

[2015-03-02 20:53] henrycoule opened #1792 "Different threads per email"
I noticed that every email sent out to users from osTicket is another/new thread. This is heavily observed in Gmail. Gmail sees every response from an agent to the same ticket as a new email/thread and it never puts/group them together as it does with other emails. This is creating a confusion where users who respond from their email do not know what we are talking about since the  previous thread

[2015-03-02 20:59] krokodylowy commented on #1762
I can confirm. Fail is on ticket advanced search,

[2015-03-02 21:11] greezybacon commented on #1792
What version are you using? We have implemented a new strategy in the `develop-next` branch in hopes of providing stronger matching of emails to threads in osTicket while also giving better hints to mail clients.

[2015-03-02 21:15] henrycoule commented on #1792
@greezybacon  My version is osTicket (v1.9.5.1)

[2015-03-02 23:21] greezybacon commented on #1762
Whoops. Thanks for the report. I reverted the offending code in 3331b72

[2015-03-02 23:21] #1762 closed

[2015-03-03 00:28] singularitytrav commented on #1225
also looking for an update on this. Merging tickets is essential for our workflow, thanks.

[2015-03-03 07:49] borgdylan opened #1796 "JSON API: osTicket is not recognizing properly encoded Base64 attachments"
I was working on a project for a client which requires that we add image attachments thru the API. When I view the ticket after sending it by means of the JSON API (and adding a BASE64 attachment) I get "Unable to save file" where the attachment should be.

[2015-03-03 08:18] infectormp opened #1797 "inherit departments from parent topic"
1.Add 2 department = testd1 (default) and testd2
2.Create topic topictest1, set department = testd2
3.Create topic topictest2, set parent topic topictest1

in Help Topics view
topictest1 will have department = testd2
topictest2 will have department = testd1

in my opinion when you create subtopic Department must inherit from parent topic.

[2015-03-03 08:31] infectormp opened #1798 "Help Topic from other department in ticket"
1.Add 2 department = testd1 (default) and testd2
2.Add agent to department  testd1
2.Create topic topictest1, set department = testd1
3.Create topic topictest2, set department = testd2

create new ticket, in Help Topic list you will see topictest1 and topictest2

department testd2
user = 0, Departament Mfnager not set, Group Access set only for department testd2.

[2015-03-03 08:33] infectormp commented on #1798
and i create new ticket with topic from other department. after create i not see ticket in my list and that true because ticket have topic from other department.

[2015-03-03 13:51] tosbaha opened #1799 "Turkish Translation"
I have completed Turkish translation on crowdin web site.I have tried to contact authors both on osticket forum, crowdin and my efforts were fruitless. I try to create .phar file to sue with my installation. I tried to create phar file by using https://github.com/koto/phar-util First I tried to create by using the command below

[code]

However it says

[code]

By the way is it message.po or messa

[2015-03-03 14:01] henrycoule commented on #1792
@greezybacon  Is this version 1.9.5.1 supposed to  fixed this issue ?

[2015-03-03 14:04] infectormp commented on #1788
need filter like in Agents view

[2015-03-03 14:05] #1796 closed

[2015-03-03 14:28] ntozier commented on #1797
I think that I see what your saying.
You think that if a parent topic has a department set, if a child department does not have a department set that it should default to the parent.

This is not how it's intended to work at this time.  Each help topic can have its own Department, and unless you explicitly set one, it will default to Admin panel -> Settings -> Default Department.

[2015-03-03 14:35] ntozier commented on #1798
Sorry I'm not sure I follow you.
Given your scenario above If you create a ticket picking topictest2 it has a department of testd2.
The agent in testd1 will not see it, as you assigned them to department testd1.
Unless you give the agent access to department:testd2 (through their group or department setting) they will never see the ticket unless it is explicitly assigned to them.

[2015-03-03 14:38] ntozier commented on #1792
Q:  Is this version 1.9.5.1 supposed to fixed this issue ?
A:  No.  Jared is saying that in a forth coming version (the develop-next branch) has changes in it that you can either look for and apply or wait for the next version which may fix your issues.

[2015-03-03 14:39] greezybacon commented on #1799
This command will effectively delete your `messages.po` file. You will need to do
[code]
I'll see about getting the Turkish language pack posted.

[2015-03-03 14:39] ntozier commented on #1796
Did you close this because you solved your own problem?
If so you may want to post a reply telling any others how you over came the problem.

[2015-03-03 14:42] infectormp commented on #1797
@ntozier right. But it not very strange have parent and child topic assigned to different Department. Better add option to list *Use Parent Department* like it implemented in Custom Form *Use Parent Form*

[2015-03-03 14:43] henrycoule commented on #1792
@ntozier  Thanks, I got it. Can you give any insight on the nature of changes? will the fix use an "in-reply-to" in the headers to make the mail clients thread the emails from the ticket system ?

[2015-03-03 14:48] infectormp commented on #1798
why user from testd1 see topic from testd2?

[2015-03-03 14:51] ntozier commented on #1797
Sounds like a good suggestion to me.

[2015-03-03 14:53] ntozier commented on #1792
Sorry mate, I haven't looked that develop-next branch to see what the changes are.
@greezybacon can you field an answer to this?

[2015-03-03 14:55] tosbaha commented on #1799
My message had a typo sorry about that. Even though I typed php  include/class.translation.php messages.po without anything it gives the previous message.
I am using Mac Yosemite. I unpacked osticket to my desktop downloaded all files from crowdin website. I eventually end up using script file at http://osticket.com/forum/discussion/80444/add-new-language-translate-activate#latest
Btw https://gith

[2015-03-03 14:56] ntozier commented on #1798
I cannot answer your question as you have not provided group configuration or teams they might be on.

[2015-03-03 15:23] borgdylan commented on #1796
Yes I solved my own problem. Ir regarded the proper use of JSON encoding by means of JSON.NET. I do not think it is relevant to osTicket itself. The problem arose from teh fact that all examples gave PHP code rather than a JSON example file which would have helped me a lot since I do not use PHP at all so I did not know the syntax for PHP.

[2015-03-03 15:25] borgdylan commented on #1796
If you would like me to write a small wiki page for .NET people wishing to write JSON acceptable by the API I will do so.

[2015-03-03 15:27] ntozier commented on #1796
I think that would be fantastic!
But please do not feel like you are obligated to do so.

[2015-03-03 15:37] borgdylan commented on #1796
It would be more of a direction/guide i.e I will not give a full code sample not to reproduce work code.

[2015-03-03 15:47] ntozier commented on #1796
Sounds good to me. :)

[2015-03-03 16:27] infectormp commented on #1798
user1 set to testd1 department, groups and teams not set
help topic set to testd2 department

[2015-03-03 16:28] infectormp commented on #1798
under user1 i see help topic where department set to testd2

[2015-03-03 16:37] ntozier commented on #1798
I am unable to replicate what you are reporting (in 1.9.5.1), unless the ticket is also being assigned to user1.

[2015-03-03 18:04] borgdylan commented on #1796
feel free to review and change:
https://github.com/osTicket/osTicket-1.8/wiki/Consuming-the-JSON-API-end-point-using-.NET

[2015-03-03 18:15] infectormp commented on #1798
help topic
![2015-03-03 21_09_51-osticket __ admin control panel](https://cloud.githubusercontent.com/assets/9958813/6468963/e5d908e2-c1e9-11e4-8faf-8dcba830b40b.png)

agent
![2015-03-03 20_21_28-osticket __ admin control panel](https://cloud.githubusercontent.com/assets/9958813/6468847/185bd4a8-c1e9-11e4-90a9-c0cc258effbf.png)

department
![2015-03-03 20_21_50-osticket __ admin control panel](htt

[2015-03-03 18:20] ntozier commented on #1798
So if I understand your images correctly.
You want to make it so that users can only see specific Help Topics.
This is not currently a feature in the ui, and I am not aware of any plans to make it work that way.
Help Topics are about a ticket... and assign tickets departments.
When opening a ticket, users or agents can choose from any Help Topic.  This is by design, and intentional.

[2015-03-03 18:30] richbodo commented on #1225
Hi guys,

I've used a lot of ticketing systems, and they all do merge via the same basic methodology (Ceberus, Zendesk, RT, etc.)

I would love to see merge in osTicket consistent with what most other ticketing systems offer.

1) Allow the Agent to select multiple tickets from any view (search result list, my tickets list, other lists) and to hit a MERGE button.

2) Once the MERGE button is hit
*

[2015-03-03 18:32] richbodo commented on #1068
This should be MERGED with [1225] (https://github.com/osTicket/osTicket-1.8/issues/1225) ;)

[2015-03-03 18:58] lehons commented on #1178
Can anyone provide a little more guidance on using this plugin?
I installed it, got an Incoming WebHook URL in slack, entered it in the plugin configuration (minus https://, because every time I tried with that I got a Forbidden error message).

Was that right?

[2015-03-03 19:05] ntozier commented on #1178
I think that you would want to ask over at: https://github.com/thammanna/osticket-slack.
the plugin author.

[2015-03-03 19:11] infectormp commented on #1798
Strange. Why user by default can't see tickets from other departament but can use help topics from  other departament?

osTicket will have a more users if will support separation by departament not only in tickets queue but in topics and faqs too. With this future osTicket can really compete with most of the expensive (and complex) support ticket systems on the market.

[2015-03-03 19:14] lehons commented on #1178
Thanks.

[2015-03-03 19:15] infectormp commented on #1798
@greezybacon can you say your opinion about this?

[2015-03-03 19:20] ntozier commented on #1798
Work flow is designed to route the ticket utilizing the Help Topic.
If you can't see all the help topics then you wouldn't be able to route the ticket where it needs to go.
It's transparent to the user, who unless they know how osTicket actually works doesn't know that picking a Help Topic could be routing their ticket to a specific department.

[2015-03-03 19:37] infectormp commented on #1798
Simple situation. A have 10 departments, every department have 30 topics. In topic list i will see 300  entry. You really think that will help agents find right topic quick?

For assign tickets to departments better use Ticket Filters.
This can be done by this rule: **IF Ticket ID=XXX then Department=YYY**.

[2015-03-03 19:45] infectormp commented on #1798
You must understand agent from one department 	may not know how to categorize ticket for other department. He know only how to categorize ticket for his department.

[2015-03-03 19:46] ntozier commented on #1798
I don't feel that that solves the real problem.
The real problem is that a large number of Help Topics is unwieldy.

A few solutions to this would be:
* Redesigned the system to have a challenge response type of system where a root Help Topic is picked and then a second box opens that allows the User/Agent to drill down into the sub category that they want.
* Some sort of responsive drill down tha

[2015-03-03 19:55] infectormp commented on #1798
Sorry but i not agree with you. As i say before agent from one department may not know how to categorize ticket for other department. He know only how to categorize ticket for his department and must see topics only for his department.

If emails was to wrong address i can transfer ticket to other department without help topic. And then in other department agent set right topic from list that will

[2015-03-03 20:04] ntozier commented on #1798
I think that we are going to have to agree to disagree then.

The two production instances I run have 3 and 16 Help Topics respectively.  The first one supports the state of NH, and the second the company that I work for (@600 employees).  You obviously have much larger and different use cases that I do.

[2015-03-03 20:17] infectormp commented on #1798
Over the years, I have used in production many different helpdesk and similar systems (hp openview service desk, manageengine servicedesk plus, spiceworks, otrs, redmine, mantis, jira) and all systems is always something missing. osTicket in the current state of its closest to the ideal. One of the functions is missing for the ideal state is that we are discussing here. And of course more agent fr

[2015-03-03 20:31] ntozier commented on #1798
It sounds like it!

As s work around until something else is done... code wise could you simplify the Help Topics to having the same name as the Department?  And then add a custom list to each Help Topic (that's for that department only) which lists out the "help topics" that you want each department to have and sorta cheat the system?

simple example:

Help Topic:
-- one
-- two
-- three

list one

[2015-03-03 20:33] protich commented on #1798
@infectormp -- while I get your use case, it's important to note that osTicket is not developed for a specific workflow. In your case, you assume agents will *only* be opening tickets in their own department -- which is not the case in > 90% of use-cases, especially when tickets are opened on behalf of end users.

We've tried to make the system flexible and adaptable while keeping it simple. Thank

[2015-03-03 20:39] lehons commented on #1178
@thammanna Can you help?

[2015-03-03 20:49] infectormp commented on #1798
@ntozier ss work around is the best solution.

@protich yes this my case. i understand that you want keeping it simple but my suggestion does not make it more difficult. You alway can do option like "Allow choice help topics from other department"

When tickets are opened on behalf of end user, user not need categorize a problem. User have a problem and want get quick solution, end user don't want

[2015-03-03 20:58] infectormp commented on #1798
Implement separation between departments which I described osTicket able to compete with ManageEngine Servicedesk Plus.

And again, assign tickets to departments alredy work in Ticket Filters. That why departments in Help Topics can be used for separation by departament.

[2015-03-03 21:12] henrycoule commented on #869
@greezybacon Do we have any updates to this ?

[2015-03-04 09:12] infectormp opened #1802 "Future request: Ticket Number Format in Ticket Filters"
Would be nice add ability to set Ticket Number Format in Ticket Filters.

[2015-03-04 14:02] greezybacon commented on #869
@henrycoule we've parked this for the time being. After the next major release, we hope to add the concept of audit events, system message, and comments to the ticket thread. Then we'd like to implement the auto messages as audit events, which we feel makes more sense than the internal notes.

[2015-03-04 14:02] greezybacon commented on #1802
I agree, this would be nice with the new filter system in the `develop-next` branch

[2015-03-04 14:36] greezybacon commented on #1792
#1546 was the introduction of this code. We are gearing up to make a v1.9.6 maintenance release which will include this patch. It uses predictable `Message-ID` headers to match messages against the thread system and sends the original Message-ID and References in the `In-Reply-To` and `References` header. This should allow the mail clients to thread the mails significantly better.

[2015-03-04 14:43] fictionedge commented on #1749
@ntozier +1 here

[2015-03-04 14:47] fictionedge opened #1803 "Feature Request: Automatic close ticket after x time"
We have allot of tickets that sometimes pile up because the requesting party just doesn't respond. Could we get a feature to close automatically a ticket if no one replies after x days (for instance a status or a tick in the ticket).

[2015-03-04 14:54] greezybacon opened #1804 "Don't clear due date on close if in the future"
Also, ensure the cron clears past due dates for closed tickets.

[2015-03-04 15:02] ntozier commented on #1803
+1

[2015-03-04 19:34] singularitytrav commented on #1426
We are using auto-cron as well as a 2 minute fetch frequency as set under Emails->Emails and our support email. This seems to be what is generating a cron I'm seeing,

#this is an osticket cron for getting emails in
*/2 * * * * /usr/bin/php -q /var/www/html/support/upload/api/osticketcron.php

So you're suggesting increase this setting to every minute correct?

[2015-03-05 19:33] henrycoule commented on #1792
@greezybacon  so applying this patch #1546 to current installation be a fix ?

[2015-03-05 21:05] #1746 closed

[2015-03-05 21:14] #1777 closed

[2015-03-05 21:15] protich opened #1806 "Dialog popup"
Dialog doesn't appear second time after initial dismissal

[2015-03-05 22:39] greezybacon commented on #1792
@henrycoule #1546 had a number of issues which have since been corrected. I would recommend upgrading to the tip of the `develop` branch and testing from there.

[2015-03-06 07:13] infectormp opened #1809 "Wrong link in Ticket Submitter popup"
Settings\Autoresponder\Ticket Submitter popup link for Set Maximum Open Tickets are wrong

Wrong link https://xxxx/scp/settings?t=tickets
Right link https://xxxx/scp/settings.php?t=tickets

[2015-03-06 14:31] SpudR opened #1810 "Cannot delete organization"
Trying to delete an organization the dialog pops up but then 'loading' appears and goes no further.

[2015-03-06 14:35] ntozier commented on #1810
https://github.com/osTicket/osTicket-1.8/issues/1485#issuecomment-62849687
?

[2015-03-06 15:54] henrycoule commented on #1792
@greezybacon I have tried upgrading from the develop branch and tested out the patch. It appears to work only one way:

If an agent sends a ticket to a user, as long as the user does not respond to the agents email, any further response to that same ticket will be threaded, but as soon as the user responds to the email sent by the agent, the next response from the agent becomes a new email and is

[2015-03-06 19:53] greezybacon commented on #1810
Lemme guess: IIS. If so, you need to enable the DELETE verb for PHP for the website handling osTicket.

[2015-03-06 20:52] TraceElements commented on #1690
Closing this - you folks are busy enough as it is :)

[2015-03-06 20:52] #1690 closed

[2015-03-07 17:31] comxd commented on #737
Hi,
Same issue ini 1.9.5.1. I try with label field, title and variable name but same error.

![image](https://cloud.githubusercontent.com/assets/9022239/6542431/27767ea4-c4f8-11e4-88d7-71cdefa0a978.png)

[2015-03-07 17:48] comxd commented on #737
Update! That working good!

In my case (select list but that not allow multiple values) I need to send an array.

[code]

[2015-03-08 18:22] ssi-anik opened #1811 "dbpass error for empty value on localhost"
whenever I tried to install script, it says dbpass can't be empty. But, my local db username and pass is root and '';
I think, you should have a look at that.

[2015-03-08 18:28] protich commented on #1811
osTicket requires a database user with password -- see #275 for prior discussion.

[2015-03-08 18:33] ssi-anik commented on #1811
ok.

[2015-03-08 18:33] #1811 closed

[2015-03-08 19:57] krokodylowy opened #1812 "Dangerous self populaion of definitions with_loadDefaultForm"
Please remove call to _loadDefaultForm from class.company.php and class.organizatin.php.
Users without privileges can't modify definitions. If admin remove all forms default forms shouldn't be created.
Also so form didn't contains 'lang' column yet an unique index can help
ALTER TABLE `er_form` ADD UNIQUE (`type`) ;

BTW
In old hosting environment I saw thousands of inserts to form and form_entry_

[2015-03-09 00:33] protich commented on #1812
Default/core forms are meant to exist -- and are not deletable. The only way _loadDefaultForm get triggered is during upgrade or if you accidentally deleted the forms from db.

[2015-03-09 06:37] gtulga opened #1813 "UI Bootstrap"
Hi,

Is there any plan to change UI to bootstrap based UI? It will enable lot of great features for customers to use osTicket.

Thanks,
Tulga

[2015-03-09 14:24] JanKraljic commented on #1764
Beside list of %{ticket.recipients} we would like also their email address something like %{ticket.recipients.email}. So that at can all  Collaborators with email can be written in message. Thanks for tip!

[2015-03-09 16:13] greezybacon commented on #1764
@JanKraljic thanks. For now that would be a separate enhancement request

[2015-03-09 16:55] ssi-anik opened #1815 "osTicket Installation"
I've tried to install osTicket.
1. Renamed file osticket-config.php
2. filled out the form.
3. the form is then submitted to setup/install.php
after that, doesn't happen. if I reaload ( not resubmit) the page, then it goes back to installation page again.
What's the error?
Am I doing something wrong?

[2015-03-09 17:55] ntozier commented on #1815
This seems like it might be better suited to the forums.
http://www.osticket.com/forum

You have not told really provided us with much information about your setup, version of osTicket, OS, etc.  Is there an error being displayed?  Have you consulted your web server and/or PHP and/or MySQL error logs?

[2015-03-09 19:55] henrycoule commented on #1792
Anyone wants to take a stab at my question ?

[2015-03-10 04:57] #1815 closed

[2015-03-10 13:10] ag-websolutions opened #1817 "Error using osticket 1.9.5.1 behind a ssl-Proxy"
**My Serverinformationen**

osTicket-Version v1.9.5.1 (1faad22)
Server-Software Apache
MySQL-Version 5.5.40
PHP-Version 5.4.38-nmm1

PHP-Erweiterungen
gdlib  Wird für die Bildmanipulation und PDF-Druck verwendet
imap  Wird für den E-Mail-Abruf verwendet
xml  XML API
xml-dom  Wird für die HTML E-Mail-Verarbeitung verwendet
json  Verbessert die Leistung beim Erzeugen und Verarbeiten von JSON
mb

[2015-03-10 13:49] greezybacon commented on #1817
How are you setting this up? It looks like your proxy is not forwarding cookies and it looks like the HTTP server actually serving the HTTP requests needs to advertise itself as `https://ssl-account.com/...`. In Apache, this is the ServerName variable for a VirtualHost

[2015-03-10 13:52] greezybacon commented on #1792
@henrycoule is there any way you could post email headers of the two emails sent to the client, the first which threaded properly, and the second, which did not?

[2015-03-10 13:56] ag-websolutions commented on #1817
Hi greezybacon,

thank you for your reply!

I only activate the ssl-proxy in the adminstration-panel from my webhoster (All-Inkl).
I can't configure it.

[2015-03-10 14:00] greezybacon commented on #1690
@protich should the preference setting match the *exclude* nature of the global setting?

[2015-03-10 14:02] greezybacon commented on #1817
@ag-websolutions it looks like you should find a new hosting service

[2015-03-10 14:06] #1809 closed

[2015-03-10 14:10] ag-websolutions commented on #1817
smile

all-inkl is here in Germany one of the greatest webhoster.

What surprises me is that the 1.7-version from osticket have no problems with this ssl-proxy. I use this version several years behind the proxy.

[2015-03-10 16:27] henrycoule commented on #1792
@greezybacon So for the purpose of this reply I replicated the issue again, by sending the first email from Gmail to the ticket system. Then I responded as an agent from the ticket system, then I responded as an agent again (for 3x) which created the thread.

Afterwards, I responded to the agent's response (which is threaded in gmail) as a customer/client. When the agent responded, it created a ne

[2015-03-10 18:32] greezybacon commented on #1792
@henrycoule These headers do not look like they were generated with the new code in the `develop` branch. Could you maybe try upgrading to the tip of the `develop` branch again (which is now v1.9.6)?

[2015-03-10 18:38] greezybacon commented on #1817
@ag-websolutions I could troubleshoot it with you as a commercial support case. We host the most recent version of osTicket behind a rather complex SSL proxy (although there is no special configuration for osTicket nor any modifications to the source code) without any troubles, so I'm not sure what is broken in the codebase or misconfigured with the SSL proxy.

[2015-03-10 20:49] ag-websolutions commented on #1817
Thank you for your offer, but i change the system away from ssl-proxy to a full ssl-cert

[2015-03-11 12:14] agalloway83 opened #1819 "Bug in Help Topics - Spelling mistake"
I'm using version 1.8-git (d700d4eb) (Which should be the latest version) and there is a spelling mistake when you delete a help topic. See screen shot.

Thanks!

![osticket bug 1](https://cloud.githubusercontent.com/assets/11160728/6595993/bd890186-c7ce-11e4-8d5c-e30baa519159.jpg)

[2015-03-11 14:00] ntozier commented on #1819
The typo appears to be in /scp/helptopics.php
line 101
                                _N('selected help topic', 'selected elp topics', $count));

[2015-03-12 03:16] aklein-dex commented on #1346
I could notice the same problem in v1.9.5.1. When I was replying using osTicket, the email sent was in a different thread in Gmail.
Applying your patch fix the issue. Thanks!

[2015-03-12 06:10] markus4000 commented on #1662
In 196 it still does not work.
Is there a quickfix so i can search in all "state open" ?
I tried by my self by adding a checkbox to the advanved search, but i couldnt find where to get the post variable and where to implement in tp the sql query.

[2015-03-12 07:39] juraganerka opened #1822 "Make filter rule based on custom form"
i just want to know how to make filter rule based on custom form.
previously i only success how show custom form in filter rule. but when i try to make filter rule from custom form is not working for me. I think the problem is from class.ticket.php file.
please help me.
i create based on this tutorial.
https://github.com/greezybacon/osTicket-1.8/commit/81ab37ca81f6ea1f3ed4822104227317720af4ac

[2015-03-12 08:11] infectormp opened #1823 "Current time not show"
Current time not show in scp\users\manage account form
![no_time](https://cloud.githubusercontent.com/assets/9958813/6614182/dddfce22-c8a7-11e4-9139-78ffa32698c5.png)

same on scp\settings\system
![no_time_2](https://cloud.githubusercontent.com/assets/9958813/6614212/499a804e-c8a8-11e4-9724-2a9b425972be.png)

current time show only at Add New Agent form
![time_show](https://cloud.githubusercontent

[2015-03-12 11:17] krokodylowy commented on #1812
...this is a problem. One more case is : rows exists but engine return nothing.

The point is - calls to _loadDefaultForm are not necessary and can be removed because allows unpriviliged users to create entries in definition.

[2015-03-12 11:19] krokodylowy commented on #1812
...this is a problem. One more case is : rows exists but engine return nothing.

The point is - calls to _loadDefaultForm are not necessary and can be removed because allows unpriviliged users to create entries in definition.

[2015-03-12 11:19] krokodylowy commented on #1812
or if you accidentally delete the forms from db.

...this is a problem. One more case is : rows exists but engine return nothing.
The point is - calls to _loadDefaultForm are not necessary and can be removed because allows unpriviliged users to create entries in definition.

[2015-03-12 12:33] henrycoule commented on #1792
@greezybacon I tried the v1.9.6 which seems to be working well. At least the first email is never threaded but subsequent emails from both agent and client/customer on the same ticket threads as it should.

The first email which doesnt thread is the auto response sent from the ticket when a ticket is created. When an agent responds it creates a new thread and begins to thread from there.

[2015-03-12 12:45] infectormp commented on #1770
I reslove this issue

search user and organasation in russian language don't work if i use Preferred Language: English

if i set Preferred Language: Russian search work perfectly

[2015-03-12 12:59] henrycoule opened #1824 "Vague error messages"
Users are confused when they see the error message

"Unable to update the ticket. Correct the errors below and try again!"

I mostly get the question, "I didn't see any error so what do I correct?"  Is there a way to just mark in red the affected reason for the error so users will clearly see where the error is so they can fix it?

[2015-03-12 13:53] ntozier commented on #1662
This works in 1.9.5.1 for me.
1.9.6 hasn't really been released yet (not on web page, and no announcement).

[2015-03-12 13:55] ntozier commented on #1823
It's my understanding that is a FORMATTING example of what the time will look like, not what it is.

[2015-03-12 14:00] ntozier commented on #1824
So... my installation puts red text after the sections that failed.
(see image)
![capture](https://cloud.githubusercontent.com/assets/1315768/6619133/93793b38-c89e-11e4-9ec1-f9635442bea3.PNG)

[2015-03-12 14:29] protich commented on #1824
@ntozier -- yes, but notice no error on issue details and yet it's required. We have a fix for it and will ship with the next version.

[2015-03-12 14:38] Chefkeks commented on #1824
@protich
Just some thought on this...

Maybe you should put the little red star that indicates a required field before or after the field label instead of behind the field itself to indicate required fields a bit better.
* Issue Details
Issue Details *

Or replace the little red star with the exclamation mark icon when the user hits the "create ticket" button or so - anyway, excited to see with wh

[2015-03-12 15:03] greezybacon opened #1826 "Crash importing users without an email address"
[code]

results in a backtrace

[code]

[2015-03-12 15:39] protich commented on #1824
@Chefkeks - I agree with your suggestion of putting the error near the label especially for a text-area field --- I believe we've made such change in develop-next.

Overall, form rendering and layout could most definitely use some TLC, we're planning on introducing a form designer in the near future -- which will also spot real-time data validation & errors.

[2015-03-12 18:55] henesnarfel commented on #724
I would like to see this as well.  It appears that the only ip that is being tracked is the clients.  We need to track the Staff as well.  We are using some generic helpdesk accounts and would like to know the exact computer some of these actions are coming from as some are doing things they shouldn't be.

I've made this change in the file include/class.ticket.php.  If you look at the function pos

[2015-03-12 21:41] sstillwell opened #1828 "Dashboard graph comes up blank, needs one or more refreshes to display properly."
This occurs pretty much every time I go to the dashboard - I'll have to refresh, leave the page, come back, refresh again, or some dance like that to get the dashboard to display properly.  At some point it will draw parts of the graph like the node labels, but have to do it several times to get the whole thing to show up.

![osticketblankdashboard](https://cloud.githubusercontent.com/assets/79421

[2015-03-12 22:06] torohill opened #1829 "Two notifications for reopened tickets"
When a closed ticket is reopened because of an email response from the client the assigned staff member receives two email notifications. One with the contents of the response from the client and one with the 'Reopened' comment by the system because of the ticket status change.

This change appears to have been introduced in the following revision:
https://github.com/osTicket/osTicket-1.8/commit/8

[2015-03-13 04:27] supportreq opened #1830 "New Feature : Browser Notifications"
Hey @greezybacon we should have a feature like Gmail which pushes notification to the browser screen for the staff area. This will allow the staff to look at the notification even if he is on an another application.. Browser notifications are now standardized and present for all major browsers..

Suggest

[2015-03-13 06:59] mfelber commented on #1828
This seems to be a duplicate issue: https://github.com/osTicket/osTicket-1.8/issues/1353

[2015-03-13 12:51] greezybacon commented on #724
I agree. We have the column for it in the database. The system should always record the remote IP if possible

[2015-03-13 12:52] greezybacon commented on #1792
@henrycoule I'll check out the auto response headers

[2015-03-13 13:08] greezybacon commented on #1824
@henrycoule could you see if the patch in #1821 addresses the issue?

[2015-03-13 14:14] ntozier commented on #1830
This is something that has become predominant in the industry for a lot of server style applications / standalone apps.  And maybe your right it is something that should be considered...

But personally I hate pop up notifications like this.  I've disabled them in most of the apps that I use regularly [if they let me] because I find them distracting to the task that I am currently working on. IF s

[2015-03-13 14:16] ntozier commented on #724
Seconded.

[2015-03-13 15:49] sstillwell commented on #1828
@mfelber I already have that commit since I'm on branch 'develop' at e3e77001.  Verified that footer.inc.php already contains that change.  Ideas?

[2015-03-13 16:11] mfelber commented on #1828
@sstillwell This is still an open issue. The fix in #1353 only addresses correctly displaying the copyright text. I have no coding skills, so I can't tell you why this is happen or how it could be fixed.

[2015-03-13 21:38] markus4000 commented on #1662
Ntozier. I think you have only one status with the state open in your installation. Or all the state open tickets ar in status open.

State is not equal to status.
I need a way to search in all statuses that are of the state open. Else, if there are more than one status in state open, i cannot find out how many tickets team xyz has to work on it, with only one search request. I have to do a search

[2015-03-14 16:33] markus4000 commented on #1662
solved for 1.9.6 with a little mod:
in File: ajax.tickets.php
Line159 (insection "Flags")
i added:

                case 'open':
                    $criteria['state'] = 'open';
                    $where .= ' AND status.state="open" ';
                  break;

and in File ticket.inc.php
around line 602 in the advanced form filed set "Flags"
i added the Line:

<option data-state="open" value="ope

[2015-03-14 17:43] markus4000 opened #1832 "Search "unassigned" doesn't work"
V.1.9.6

If I use "advanced search" and I search vor "unassigned" then i get not the right result.

I corrected the code in ticket.inc.php on line around 618
from;
\<option value="0">&mdash; <?php echo __('Unassigned');?> &mdash;\</option>   to:
\<option value="s0">&mdash; <?php echo __('Unassigned');?> &mdash;\</option>

now it works

[2015-03-14 18:09] markus4000 opened #1833 "Client Ticketview, Fileupload bug"
v1.9.6
After the client made a fileupload, the files are still in the editor as attachment. So if the client sends then a second message, it will upload the files a second time. but it musstn't

[2015-03-15 01:42] C4RLOCO opened #1834 "v1.9.6: User "Organization" Issue after upgrading from v1.9.4"
Upgraded from 1.9.4 to 1.9.6

All the users who were not assigned to any organization started to contain a random 3 digit number as an organization in version 1.9.6.

See attachment
![screen_shot_2015-03-14_at_9_39_57_pm](https://cloud.githubusercontent.com/assets/4073792/6654331/cd1025aa-ca92-11e4-909d-a342c52ea136.png)

The new organization has the following link: #users/0/org

[2015-03-15 02:06] C4RLOCO commented on #1834
Just noticed the Organization name is the same user id. See: /scp/users.php?id=493

[2015-03-15 02:56] C4RLOCO commented on #1834
Here is another screen shot from a different user who had no organization prior upgrading to 1.9.6. This is a blank popup that shows when clicking this random organization number
![screen_shot_2015-03-14_at_10_53_02_pm](https://cloud.githubusercontent.com/assets/4073792/6654469/5d18475e-ca9d-11e4-9afe-b57813e15bfc.png)

[2015-03-15 09:30] PeopleInside commented on #831
Time is wrong also for me and i continue to see this BUG. I had opened this: https://github.com/osTicket/osTicket-1.8/issues/1503 and still be valid also with the last udate 1.9.6

If i go on registration page (user side) the time is wrong. Now is 10.18 AM Paris and OsTicket Show 9.18 AM

Time is wrong also in Admin side in the settings.php

**When this will be fixxed?**
http://postimg.org/image/p

[2015-03-15 09:33] PeopleInside commented on #1503
Greezybacon,
For the botton one is not good time display is only to display he format configured and should be correct from the current .. you say is showed current http time? That is not correct for me, my server time is 10.30 and Osticket show 9.30.
Server time is correct, is only OsTicket who show wrong time.

Also when user register see wrong time. Why this issue still be unconfirmed and still

[2015-03-15 14:07] markus4000 commented on #1834
I have the same issue. I think its a bug.

[2015-03-15 14:17] C4RLOCO commented on #1834
@markus4000 I also noticed there was not a database upgrade per se. Meaning, after installing the new upgrade files, the system did not go under a database upgrade. I wonder if this is expected.

[2015-03-15 21:00] C4RLOCO opened #1835 "v1.9.6: staff.inc.php: passwd_text constant contains a misspelled word"
The file staff.inc.php has a misspelled word in line 20.

The correct word is: authentication. Currently says: authenication.

![screen_shot_2015-03-14_at_9_07_32_pm](https://cloud.githubusercontent.com/assets/4073792/6658104/4135bb46-cb35-11e4-9d33-58672075addd.png)

[2015-03-15 21:46] ebell451 commented on #1835
Sent pull request #1836 to fix typo in include/staff/staff.inc.php

[2015-03-15 23:44] C4RLOCO opened #1837 "v1.9.6: Deleting User along with its Tickets"
When deleting an user and checking the box to delete all its associated tickets, the system fails to also delete the data associated to that ticket in the table ost_ticket__cdata. See screenshots below:

![screen_shot_2015-03-15_at_7_40_05_pm](https://cloud.githubusercontent.com/assets/4073792/6658806/aa71dd4a-cb4b-11e4-82fb-3caa5e5ac712.png)
![screen_shot_2015-03-15_at_7_41_09_pm](https://cloud.g

[2015-03-15 23:57] C4RLOCO commented on #1837
Same thing goes when deleting a ticket directly from the Open view. I'm starting to think this might not be a bug but it could be an expected behavior. If so, isn't this taking database space that it is not longer needed? Why the need to keep this records after the ticket associated is deleted?

[2015-03-16 02:40] ntozier commented on #831
@PeopleInside did you read @greezybacon response?

[2015-03-16 10:42] cervedgroup opened #1838 "v1.9.6 date search still doesn't work"
I've made this search
![search-196](https://cloud.githubusercontent.com/assets/6535381/6664569/48c6276e-cbd1-11e4-8b54-9afb369439e1.JPG)

and the result is all the ticket closed by me since 1 Jannuary 2015
![search-196-results](https://cloud.githubusercontent.com/assets/6535381/6664587/7e1c06ae-cbd1-11e4-99bf-7d36c3d16198.JPG)

[2015-03-16 10:49] cervedgroup commented on #1838
same result if i only choose a time period without selecting "closed by me" , i got all the tickets created since  May 2014 (searching tickets created first 5 days of March 2015)...

[2015-03-16 11:16] PeopleInside commented on #831
Umh yes read but you are right I had not gives a response. Sorry. Yes time is correct when I create a ticket. Is only not correct in the plaice I had tell you.

[2015-03-16 13:24] C4RLOCO commented on #1834
Confirming this bug by creating a brand new database. Once you create the first user the system shows the same results described above.

[2015-03-16 14:05] ntozier commented on #831
@PeopleInside then you know that the times there are not intended to reflect the actual time, and are for intended for displaying the format of the times and dates that are entered in the boxes to the left of them as @greezybacon indicated.

[2015-03-16 17:32] C4RLOCO commented on #1838
same result here..

[2015-03-16 17:41] PeopleInside commented on #831
.. So why the time must be not the rigth time but one hours before the rigth time? Why is not the server time but is the wrong time? I could not understand.

Is not a static example (luckily because no sense) is a wrong time one hours before the exact time.
The issue is not on Admin side but also in user side when user register to the support ticket. User will see wrong time so think server or sys

[2015-03-16 18:23] greezybacon commented on #1837
I agree this is a problem

[2015-03-16 18:29] C4RLOCO commented on #1837
Thanks @greezybacon for chiming in. FYI: This issue also happens in v1.9.4. I wonder if it happens on ANY  version though! Look like an important one to fix

[2015-03-16 18:32] #1834 closed

[2015-03-16 18:32] greezybacon commented on #1834
Thanks for the issue. This was a bad merge from an i18n change

[2015-03-16 18:36] greezybacon commented on #1837
@C4RLOCO I think the extra time is nominal. I do agree the system should do a better job of cleaning it up

[2015-03-16 18:38] ntozier commented on #831
You are correct that the time in the Account Registration screen is not the individual's correct time, my guess is its because the individual doesn't have an account yet to influence the offset.  So it looks like it's defaulting to GMT.

/include/client/register.inc.php
line 64
<strong><?php echo Format::date($cfg->getDateTimeFormat(),Misc::gmtime(),$info['tz_offset'],$info['dst']); ?></strong>)</

[2015-03-16 18:42] greezybacon commented on #1837
@C4RLOCO can you check if the patch in #1840 addresses the issue?

[2015-03-16 18:44] C4RLOCO commented on #1834
No worries. Thank for  for addressing it so quickly!

[2015-03-16 18:55] C4RLOCO commented on #1837
Outstanding! patch addresses the issue! Thank you sir!
I tested both: a) Deleting the ticket from the Opened View and also deleting the User along with its tickets.

Results: cdata table removes the associated information.

[2015-03-16 18:55] #1837 closed

[2015-03-16 19:01] C4RLOCO commented on #1834
@greezybacon it now add a "0" (zero) to users without an organization. However, when clicking the "0" link it opens correctly the dialog box to add an organization for the particular user.

You are going on the right direction but I'm afraid you are not quite there yet.

[2015-03-16 19:04] C4RLOCO commented on #1834
My bad.. I re-did the path and it now shows "Add Organization" correctly... I apologize for the previous message.. Thanks @greezybacon

[2015-03-16 20:05] PeopleInside opened #1842 "account.php wrong time showed to the user"
As suggested in https://github.com/osTicket/osTicket-1.8/issues/831#issuecomment-81859765 i open this because time is not showed in the rigth way in the account registration page for the user.

Also if the user change from Paris ( or other timezone ) to different time zone , the time showed on the rigth is the same.

**ntozier**
In the time in the Account Registration screen is not the individual'

[2015-03-16 20:06] PeopleInside commented on #831
Yes i will do new Thread about client side now. I think also the Admin side should be "fixxed" as for the visditor why in the Admin panel the time can't be correct as for the user?

No problem, Admin issue in this case is less than have wrong time in the user interface.
I see the title of this topic is Time not correct

Also if the user select other time different from Paris the time showed don't

[2015-03-16 21:02] greezybacon commented on #1833
Thanks for the issue. I was able to confirm this

[2015-03-16 21:30] kmmoreau opened #1843 "Chinese Translation Issue"
Open New Ticket is incorrectly translated to say New Real Estate Appraisal

Tix #388099 for picture

[2015-03-16 22:14] greezybacon commented on #802
I'm closing this issue as it was addressed. Please reopen it if the problem persists

[2015-03-16 22:14] #802 closed

[2015-03-16 22:16] greezybacon commented on #1193
This is in the product as of the current version. Thanks for the feature request

[2015-03-16 22:16] #1193 closed

[2015-03-16 22:16] greezybacon commented on #501
This is in the current version of the product. Thanks for the feature request

[2015-03-16 22:16] #501 closed

[2015-03-16 22:21] greezybacon commented on #1823
The new version in the `develop-branch` drops this feature entirely in favor of the olsen database (America/Chicago), and has options for "System Default" and auto detection.

[2015-03-16 22:40] greezybacon commented on #1833
@markus4000 could you maybe retest with the patch in #1845?

[2015-03-16 23:07] greezybacon commented on #724
Can anyone try the patch in pull request #1846?

[2015-03-17 01:22] greezybacon commented on #1726
@Chefkeks, yes, please continue to follow the `develop-next` branch experimentally. This is the place to log issues with all development branches. We'd like to get the software as stable as possible for the first developer preview release

[2015-03-17 01:23] greezybacon commented on #1834
@C4RLOCO no worries. Glad everything is working

[2015-03-17 01:24] greezybacon commented on #1770
That's really strange. But thanks for the additional info. I'll try to replicate it

[2015-03-17 01:25] greezybacon commented on #1822
@juraganerka can you suggest what isn't working or provide a suitable test case so I can find the bug?

[2015-03-17 01:26] greezybacon commented on #1665
@mckaygerhard the new roles feature is in the `develop-next` branch if you wanna check it out

[2015-03-17 05:08] markus4000 commented on #1834
On my Installation it still doesn't work.
I habe the same problem.
Am 17.03.2015 02:23 schrieb "Jared Hancock" <notifications@github.com>:

[2015-03-17 08:49] infectormp opened #1847 "Feature request: %{staff.phone} variable"
Would be nice to implement staff.phone variable for email template.

[2015-03-17 11:42] infectormp commented on #724
Confirm, ip for post and notice loged to database after this patch.

[2015-03-17 11:53] dbinoj commented on #724
working. confirmed.

On Tue, Mar 17, 2015 at 5:13 PM, infectormp <notifications@github.com>
wrote:

--
Binoj D | http://www.dbinoj.com

[2015-03-17 13:17] Chefkeks commented on #1834
@greezybacon
Are there any plans for a bug-fix / hot-fix release of 1.9.6?

[2015-03-17 13:48] mckaygerhard commented on #1665
there's instrucctions details how to upgrade manually (not automatically)?

[2015-03-17 14:58] greezybacon commented on #901
Can anyone try the patch in #1848 to see if it addresses the issue?

[2015-03-17 14:59] greezybacon commented on #690
@saroy can you see if the patch in #1848 addresses the issue?

[2015-03-17 14:59] greezybacon commented on #1499
@ronnykrijt can you see if the patch in #1848 addresses the issue?

[2015-03-17 15:17] fictionedge commented on #1830
+1 this kind of notifications on a software with this importance would be greatly helpful

[2015-03-17 15:45] greezybacon commented on #1830
I agree. Considering how many server configurations have trouble with the PATH_INFO detection, it'll be an uphill battle using long poll or WebSocket interfaces along with threading or a message broker to get push notificiations from the sever backend. But again, I agree this would be a handy feature.

For the near future. I'd like to see an "Recent Activity" dashboard page similar to the GitHub n

[2015-03-17 15:47] greezybacon commented on #1834
@Chefkeks I think it's going to come to that

[2015-03-17 15:49] greezybacon commented on #1503
@PeopleInside I have devoted my efforts to removing the timezone drop down as it is and the daylight savings checkbox and replacing it with a more correct time zone handling in the `develop-next` branch.

[2015-03-17 15:51] greezybacon commented on #1095
@kaniket that's not completely correct. The default code will always use "\r\n" as it is the defined standard in rfc 822.

[2015-03-17 15:52] greezybacon commented on #534
@Deepcuts can you post some screenshots?

[2015-03-17 15:53] greezybacon commented on #1740
In osTicket, tickets shown in the list in **bold** are last answered by the client.

[2015-03-17 15:54] greezybacon commented on #1719
@gmt-it I believe this is fixed now. Can you confirm it?

[2015-03-17 15:55] greezybacon commented on #1346
I think this is properly fixed in v1.9.6. Can anyone confirm?

[2015-03-17 15:59] cervedgroup commented on #901
tryed on 1.9.6, maybe something was wrong, because when i click on "advanced " nothing happens

[2015-03-17 15:59] greezybacon opened #1849 "New Message Alert does not consider "Assigned Staff / Team" setting"
![screen shot 2015-03-17 at 10 59 30 am](https://cloud.githubusercontent.com/assets/672074/6691462/b532e9b4-cc94-11e4-941c-f7f78a351344.png)

Regardless of the settings, the assigned staff / team will always receive new message alerts if enabled.

[2015-03-17 16:05] greezybacon commented on #1192
@aurelienGITHUB any change on the issue? We implemented a new file serving script since 1.9.5

[2015-03-17 16:09] cervedgroup commented on #901
sorry, my mistake, didn't made a full refresh ... now it's WORKS!!
Thank you Jared!

[2015-03-17 16:12] cervedgroup commented on #1838
the #1848 solved the issue. Thank you!!!

[2015-03-17 16:12] #1838 closed

[2015-03-17 16:13] aurelienGITHUB commented on #1192
Problem is solved form me in 1.9.6 !

Many tks !!!

[2015-03-17 16:13] #1192 closed

[2015-03-17 16:39] gmt-it commented on #1719
@greezybacon Custom form is ok now and you can save it but there is no "Ticket Details" standardform shown after clean install.

[2015-03-17 16:45] sfonteneau opened #1852 "Bug with language pack"
Hello

With language package french, cith osticket 1.9.6.
Only the open or closed status appears. No resolved

The fonction "Ticket will be reopened on message post \* "  no works.

I'm on a fresh install

This works in English but not in French.

[2015-03-17 17:12] mckaygerhard opened #1853 "Uncaught TypeError: Cannot call method 'attr' of undefined in reports topics"
when i ty to see another page of reports by topics, i get on console:

[code]

[2015-03-17 17:13] mckaygerhard commented on #1347
this errors still happened with all branches including the develop-next .. the label are still market as "unconfirmed"

[2015-03-17 17:16] mckaygerhard commented on #1296
ping!? still this issue not resolved and i not the only reported.. professional deploys does not used windose like setups..

[2015-03-17 17:18] mckaygerhard commented on #1853
i get this with current lasted stable (i does note until now due never get enough data to see) and also get same error with developer-next brand

[2015-03-17 17:19] mckaygerhard commented on #1852
I confirm same problem with surrent two lasted stable brand and also for developer-next brand.. with languaje package spanish and russian.

[2015-03-17 17:20] mckaygerhard commented on #1852
This issue its critical due make unusable the system as expected!

[2015-03-17 17:33] mckaygerhard commented on #1832
i confirmed this issue, maks as unnusable the system due does not works as expected! The problem its nore bad rather thatn explained here!

if selected "anyone", found same results as "unassigned"!

also confirmed the patch with os tiket 1.9.4 does not works perfectly with langs es and ru.

[2015-03-17 17:42] mckaygerhard commented on #1832
I detected that in langs spanish, russian an greek the lables for search in staff panel are swapped AND RESULST ALWAYS WIL RETURN BAD!!!

also the values are swaped, does s0 used as value in assignee html tag  for Unnassigned? or must be Anyone?

[2015-03-17 17:44] mckaygerhard commented on #1347
i found another problems in languajes: #1832

[2015-03-17 18:14] mckaygerhard commented on #1828
i have same behaviour, i need to refresh the page to get reports displayed!

got that errors in console:

[code]

same problems with #1853

[2015-03-17 19:05] C4RLOCO opened #1854 "v1.9.6: Advanced Ticket Search "Assigned To" and "Closed by" Dropdown Data"
System shows the same person twice. One under "Me" the other one under the user full name.

Shouldn't the implementation of "Me" substitute the full name of the user currently doing the search?

![screen_shot_2015-03-17_at_2_58_36_pm](https://cloud.githubusercontent.com/assets/4073792/6695342/f2d70436-ccb6-11e4-8bc7-99d695ff338f.png)

[2015-03-17 19:19] infectormp commented on #1852
Can't reproduce with russain langauge. Can you give some screenshots and steps to reproduce this error.

[2015-03-17 19:24] infectormp commented on #1852
Resolved tickets showed in Closed menu. This looks normal because Resolved status have State:Closed.

[2015-03-17 19:27] C4RLOCO opened #1855 "New Feature: Backup MySQL Ticket Database within Admin Panel"
It would be very nice if Admins could backup the osTicket database directly from the Admin Panel.

I would say a simple database backup instruction where we could do regular backups, or we could take one step further by enabling automatic backups (say daily, weekly, etc) to a given folder inside the ticket system folder structure. For example:

/db_backup/databasename-03172015.sql
/db_backup/datab

[2015-03-17 19:39] infectormp commented on #1740
Thank you for explanation

[2015-03-17 19:39] #1740 closed

[2015-03-17 19:50] infectormp commented on #1855
Don't think the osTicket need this functionality.

You can use AutoMySQLBackup scripts http://sourceforge.net/projects/automysqlbackup/

AutoMySQLBackup support Daily, Weekly and Monthly backups with rotation.

[2015-03-17 19:53] C4RLOCO commented on #1855
thanks @infectormp for the link.

I think a tool developed in house  that can be kept with ongoing maintenances would be preferred instead of relaying on third party tools.

I took a look to automysqlbackup and noticed the last update date is: 2013-05-29

[2015-03-17 19:58] ntozier commented on #1855
I do not feel that this should not be part of core.
If done at all it would be an ideal plugin.
Backups can be done by CLI MySQL, MySQL WorkBench, and a large variety of 3rd party DB solutions.

[2015-03-17 20:01] sfonteneau commented on #1852
Image for Only the open or closed status appears.

![capture du 2015-03-17 20 49 55](https://cloud.githubusercontent.com/assets/5419492/6696275/64cc32ba-cce8-11e4-93b1-3a70bfd5a4d6.png)

![capture du 2015-03-17 20 28 29](https://cloud.githubusercontent.com/assets/5419492/6696276/64d45f3a-cce8-11e4-80f4-82afdda90ee8.png)

and fo  fonction "Ticket will be reopened on message post * " no works:

a ex

[2015-03-17 20:01] greezybacon commented on #1828
Can anyone verify if the patch in #1853 addresses the issue?

[2015-03-17 20:02] C4RLOCO commented on #1855
It just more convenient, that's all. Going to the the Admin Panel, one click and boom at least you get a manual backup as needed. No need to go with 3rd party apps.

I am talking about simple backups. Not branching the ticket system with a super complicated solution.

[2015-03-17 20:02] greezybacon commented on #1353
Can someone verify if the patch in #1856 addresses the blank graph on navigation issue?

[2015-03-17 20:03] greezybacon commented on #1853
@mckaygerhard can you verify if the patch in #1856 addresses the issue?

[2015-03-17 20:05] greezybacon commented on #1855
The PHP max execution is going to become a problem on this one. We are working on CLI apps for this since the CLI does not have the max execution time restriction. We've implemented a full import and export for file contents in the most recent release

[2015-03-17 20:07] greezybacon commented on #1852
What are your settings for the Closed and Resolved states?

[2015-03-17 20:07] C4RLOCO commented on #1855
@greezybacon sorry for my noob question and pardon my ignorance. Where/How can I check the import and export implementations?

[2015-03-17 20:13] sfonteneau commented on #1852
where can I find these parameters ?           English I have nothing configured differently.

[2015-03-17 20:18] greezybacon commented on #1852
Admin Panel -> Manage -> Lists -> Ticket Statuses. Then edit the Closed and Resolved statuses

[2015-03-17 20:20] greezybacon commented on #1852
Did you download the most recent language pack?

[2015-03-17 20:21] greezybacon commented on #1855
I'm not sure what you mean by "check the ... implementations". You can play around with the file command line tool:

[code]

[2015-03-17 20:25] sfonteneau commented on #1852
The last language package, download today.

The différent screenshoot:

![Uploading Capture du 2015-03-17 21:21:19.png . . .]()
![capture du 2015-03-17 21 21 10](https://cloud.githubusercontent.com/assets/5419492/6696762/f89a42e0-cceb-11e4-9a96-be804af31212.png)
![capture du 2015-03-17 21 21 00](https://cloud.githubusercontent.com/assets/5419492/6696763/f8b7ab96-cceb-11e4-8b74-41a81addda0f.png)

[2015-03-17 20:26] infectormp commented on #1296
@mckaygerhard here osTicket/osTicket-1.7#538 discussion about nginx config. Nginx have completely different configuration. With nginx only canned response doesn't work as expected.

[2015-03-17 20:28] greezybacon commented on #1832
@markus4000 thanks for the code hint. Can you verify that #1857 fixes the issue?

[2015-03-17 20:29] greezybacon commented on #1573
Can anyone verify if the patch in #1857 addresses the issue?

[2015-03-17 20:30] infectormp commented on #1852
i not confirm this issue with russian.
![close_open](https://cloud.githubusercontent.com/assets/9958813/6696872/875e62f2-ccfd-11e4-8286-c52face031a3.png)

[2015-03-17 20:30] C4RLOCO commented on #1855
got it! thank you!

[2015-03-17 20:31] greezybacon commented on #993
@henrycoule can you verify if the patch in #1857 addresses the search for unassigned tickets?

[2015-03-17 20:32] sfonteneau commented on #1852
I can not put a ticket resolved, so it can not be reopened .This is my problem.

I will try to install the Russian version for testing .

[2015-03-17 20:34] greezybacon commented on #1852
@sfonteneau if you click on the [Properties] button to the right of the ticket status names, then you will get a popup dialog where you can configured if a ticket can be reopened or not in each state

[2015-03-17 20:38] infectormp commented on #1852
If i understand right, ticket statuses not placed in language pack. I rename statuses from English to Russian in Admin Panel -> Manage -> Lists -> Ticket Statuses.

With French language pack i still have statuses in russian.

[2015-03-17 20:39] greezybacon commented on #197
Closing the issue as I believe it should be resolved. Please reopen if the problem persists.

[2015-03-17 20:39] #197 closed

[2015-03-17 20:40] greezybacon commented on #1679
@snizzleorg such a form can be created with the `develop-next` branch

[2015-03-17 20:42] greezybacon commented on #1681
I believe this was a regression of v1.9.5 and was fixed in either 1.9.5.1 or 1.9.6. Can you verify if it is still a problem?

[2015-03-17 20:43] greezybacon commented on #1734
What errors do you receive?

[2015-03-17 20:49] sfonteneau commented on #1852
With russian is good
![capture du 2015-03-17 21 47 52](https://cloud.githubusercontent.com/assets/5419492/6697196/55bd6c9c-ccef-11e4-8e05-d895c65777d2.png)

I try again with French

[2015-03-17 20:51] sfonteneau commented on #1852
oops !!  in ticket (not  in list ticket)

![capture du 2015-03-17 21 50 29](https://cloud.githubusercontent.com/assets/5419492/6697261/b6987a5c-ccef-11e4-813e-499c001ae5d6.png)

[2015-03-17 20:53] infectormp commented on #1734
Well, i send email with following subject, "RE: Eerste aanmaning, klantnummer 3048" and osTicket fetch email without problem.

[2015-03-17 20:55] infectormp commented on #1852
can you look web server log for error?

[2015-03-17 20:57] infectormp commented on #1734
@lvanjaarsveld you fetch email with POP or IMAP?

[2015-03-17 21:12] sfonteneau commented on #1852
No Error in apache serveur.

Does not work in French and Russian.

But work with @infectormp,  strange

[2015-03-17 21:20] Deepcuts commented on #534
![image](https://cloud.githubusercontent.com/assets/4704834/6697850/26565916-ccfc-11e4-935d-801a6b42d0ee.png)
![image](https://cloud.githubusercontent.com/assets/4704834/6697853/2e2a3c7a-ccfc-11e4-9277-292713f8a399.png)

[2015-03-17 21:21] infectormp commented on #1852
with French language pack
![close_open](https://cloud.githubusercontent.com/assets/9958813/6697852/8d618b32-cd04-11e4-922c-88b83cab88ee.png)

[2015-03-17 21:27] sfonteneau commented on #1852
Ok, this is a problème with me,

[2015-03-17 21:29] sfonteneau commented on #1852
@greezybacon    yes  Good idea but it does not work .

![capture du 2015-03-17 22 22 36](https://cloud.githubusercontent.com/assets/5419492/6698006/f8b65bc0-ccf4-11e4-9511-0a04cf41e917.png)

[2015-03-17 22:27] mckaygerhard commented on #1852
doesn not work in my setup too, paste pic:

![status-error-1](https://cloud.githubusercontent.com/assets/1571724/6698881/14d4c5a6-cccf-11e4-9d87-41c0139dcfda.png)

![status-error-2](https://cloud.githubusercontent.com/assets/1571724/6698890/1dfdd500-cccf-11e4-81a5-808174828199.png)

[2015-03-17 22:31] mckaygerhard commented on #1832
hello @greezybacon  i try the commit and only works with english, if i load spanish, french or russian, does not work due languaje files are bad translated, the status tranlation are swaped

and in the v 1.9.5 does not work, with change need 1.9.5.1 or 1.9.6?

[2015-03-17 22:34] mckaygerhard commented on #1296
but i talking about the root assumtion and not the error on canned response.. this makes security very sweet and cannot play with settings on shared network deploys for clustering

[2015-03-17 22:44] sfonteneau commented on #1852
I found this:

![capture du 2015-03-17 23 16 15](https://cloud.githubusercontent.com/assets/5419492/6699139/767a5412-ccff-11e4-9fdb-42306c362fd2.png)

This may be related ?

[2015-03-17 22:45] C4RLOCO commented on #1832
For what is worth, I could help out with English to Spanish translation...  Just need someone to point me into the right direction..

[2015-03-17 22:56] mckaygerhard commented on #1853
woks only for refresh case, for error still does not

[2015-03-17 22:59] mckaygerhard commented on #1828
fixed this, so close it this issue, but still  error the pagination on reports

[2015-03-17 23:05] lvanjaarsveld commented on #1734
Gmail box, IMAP.

[2015-03-17 23:21] mckaygerhard commented on #1832
the problem its not the translation, @C4RLOCO the problem its that the translation tool (a web interface) does not permits verify some strings, due some are missing or some are not valid, others need tune..

[2015-03-17 23:22] mckaygerhard commented on #1852
its not related, i have complete good setup and still happened!

[2015-03-17 23:28] mckaygerhard commented on #1853
tested now in 1.9.5, the previous test was in 1.9.4, i still got the error and pagination does not work

but refresh proble are solved ;)

[2015-03-17 23:29] mckaygerhard commented on #1699
ping? this error are critical?

[2015-03-18 00:02] C4RLOCO commented on #1832
Gotcha! I was just trying to be helpful.

[2015-03-18 08:46] infectormp commented on #1832
Confirm, fix work.

[2015-03-18 08:48] #1823 closed

[2015-03-18 09:02] sfonteneau commented on #1852
I found the solution !!!

during installation , you have the choice of language copied in include / i18n / and English . Do not choose your language! Select English. Your osTicket will be well in your language .

This is a bug ? no ?

[2015-03-18 09:12] sfonteneau commented on #1852
But, in this mode, osTicket is a half- translated...

[2015-03-18 10:15] infectormp commented on #1769
another test case:
1.create only 1 custom field (Checkbox)
2.go to ticket check custom field, save ticket
3.open ticket again, uncheck custom field, save ticket
4.open ticket again, custom field (Checkbox) still checked.

[2015-03-18 10:22] infectormp opened #1858 "Advanced search with custom field (Checkbox)"
1.add custom field (Checkbox) to form Contact Information
2.go to ticket, check custom field, save ticket
3.go to Advanced search, check custom field, search

as result we get all tickets but we must get only 1 ticket where we set custom field (Checkbox)

may be related to #1769

[2015-03-18 10:25] infectormp opened #1859 "Wrong checkbox placement in advanced search"
Wrong checkbox placement in advanced search for custom field (checkbox)
![adv_serach](https://cloud.githubusercontent.com/assets/9958813/6706832/34ecbf6c-cd72-11e4-8eda-01585fbebbd8.png)

[2015-03-18 11:05] sfonteneau commented on #1852
My problem is solved. However, this method requires retranslate forms, email , lists, etc ...

Thank you all for your help

[2015-03-18 11:35] YantaR commented on #1403
Problem exists with Polish language. there's no default status list. what i can do?

[2015-03-18 12:52] mfelber commented on #1828
@greezybacon I have tested this patch with osticket 1.9.5.1 and the ticket activity graph is now loading every time successful :-) Thank you! First I had some trouble with the patch, because in the file "include/staff/templates/navigation.tmpl.php" was this line missing: $tab['href'],$tab['desc']);
The "green" code lines which show what lines should be added doesn't show this line, but when I clic

[2015-03-18 13:16] C4RLOCO opened #1860 "v1.9.6: No Confirmation Message when Deleting Users"
When staff deletes a ticket, the following confirmation message is shown in green color (see below)

![screen_shot_2015-03-18_at_9_09_21_am](https://cloud.githubusercontent.com/assets/4073792/6709367/492c899e-cd4f-11e4-9915-6fbaad4e1d99.png)

However, when staff deletes an user, there is no confirmation at all. I'm not sure if this is a bug or probably a new enhancement request since I don't remem

[2015-03-18 13:30] cervedgroup opened #1861 "1.9.6 incorrect sender using %{ticket.staff}"
If a ticket is assigned to OPERATOR1 and OPERATOR2 insert a reply, the user receive a message

"OPERATOR1 has updated the ticket with the following response"

this because there is no variable that can be used in Response/Reply template to identify correct staff member that inserted the response and %{ticket.staff} variable refers to OPERATOR1 (that have the ticket assigned)

[2015-03-18 13:31] cervedgroup commented on #1859
try using different browser

[2015-03-18 13:34] C4RLOCO commented on #1832
Thanks! it works!

[2015-03-18 13:49] C4RLOCO opened #1862 "v1.9.6: Alerts and Notices, Email not sent to Team Lead on Ticket Re-Assignment"
System is not sending emails to Department Manager when a ticket is transferred. However, the assigned agent/team does get the email.

Current configuration is:
![screen shot 2015-03-18 at 9 53 39 am](https://cloud.githubusercontent.com/assets/4073792/6710096/b7847636-cd54-11e4-9a82-c57ed3984634.png)

[2015-03-18 13:57] jochenwezel opened #1863 "Data protection: option to remove sensitive passwords and attachments from messages"
From time to time, users submit sensitive data like passwords or confidential attachments into our osTicket system.

Now we can blame the user, but we can't drop this sensistive information from the ticket any more. The only option is to delete the whole ticket. But then we loose all other information from the ticket, too.

It would be great if (at least) an osTicket admin
1. could drop attachemen

[2015-03-18 14:05] infectormp commented on #1859
@cervedgroup this first that i do.

FF+Chrome

[2015-03-18 14:07] C4RLOCO opened #1864 "v1.9.6: Alerts and Notices, Email not sent to Assigned Staff when another Staff posts a reply"
Scenario:
A ticket is assigned to Staff-A. Then, another Staff (Say Staff-B) posts a reply (not an internal note) to contribute to the ticket.

Results:
The system sends an email only to the user but Staff-A does not get any email alert notification that someone from his team just made a reply.

This situation is leaving the assigned staff (which in this case is Staff-A) out of the loop in the com

[2015-03-18 14:08] C4RLOCO commented on #1863
I wish there would be an option where attachments could be restricted completely.

[2015-03-18 14:18] jochenwezel commented on #1863
@C4RLOCO Your wish might be a separate issue. AFAIK I'd say this is already possible using Admin >> Settings >> Tickets:
![image](https://cloud.githubusercontent.com/assets/3033827/6710488/6a052130-cd81-11e4-888b-d9ae317710c7.png)
just remove the extensions which you don't want. (In case I'm wrong, please report this issue in a new thread. Thank you.)

But now let's go back to the origin intention

[2015-03-18 14:18] ntozier commented on #1863
@C4RLOCO your commend appears to be off topic for this issue report.
You can disable attachments.  Admin panel -> Settings -> Tickets -> Attachment [Config] -> [ ] enable attachments.

[2015-03-18 14:22] C4RLOCO commented on #1863
Thank you both @greezybacon and @ntozier ! Both of your solutions works for me. I remember a few versions ago this was definitely not working as expected. Anyways, I agree my comment was a somewhat off topic. Sorry about that.

[2015-03-18 14:27] greezybacon commented on #1713
So, I tried running this email through `Format::sanitize`, which is performed when saving the email in the database, and it returns:
[code]
which is considerable different from just `<!`. Do you guys have the html thread enabled? What version were you using at the time?

[2015-03-18 14:28] balojs commented on #1828
:+1:

[2015-03-18 14:29] greezybacon commented on #1863
@jochenwezel I agree that editing the ticket thread would be very nice, and providing the ability to manage attachments on the thread and ticket as a whole would also be very nice.

[2015-03-18 14:32] greezybacon commented on #1864
Staff members post **Replies**, not *Messages*. Currently we are looking to expand the "Internal Note Alert" to "Internal Activity Alert", which would include notifications on replies by other agents

[2015-03-18 14:36] C4RLOCO commented on #1864
excellent!!! thank you @greezybacon

[2015-03-18 14:37] greezybacon commented on #1862
This is from `Ticket::transfer`, where the alerts are sent
[code]
I don't spot any issues with this code. Are you sure your department has a manager?

[2015-03-18 14:39] C4RLOCO commented on #1862
Yes sir, I am actually the manager as well.

![screen_shot_2015-03-18_at_10_38_18_am](https://cloud.githubusercontent.com/assets/4073792/6711048/0ff2e626-cd5b-11e4-9d29-f37c3cd9c3d0.png)

[2015-03-18 15:08] jochenwezel commented on #1863
in fact, it's a legal topic (at least for us)

[2015-03-18 15:27] greezybacon commented on #1864
@C4RLOCO I've openend #1865 with a concept of this feature. I would definitely enjoy your feedback

[2015-03-18 15:43] greezybacon commented on #1852
I'll try to look into the file built in the language packs for the new statuses

[2015-03-18 15:44] greezybacon commented on #1861
Use `%{response.poster}`

[2015-03-18 17:36] greezybacon commented on #1769
Can anyone test the patch in #1866 to see if it addresses the issue?

[2015-03-18 17:43] C4RLOCO commented on #1861
Is it possible to add %{response.poster} to the Supported Variables cheat sheet in the Email Template screen?

[2015-03-18 17:45] greezybacon commented on #1699
The reports show historical statistics, not real time information. This is the source of your confusion

[2015-03-18 17:46] greezybacon commented on #1861
@C4RLOCO sure, all things are possible... This should also probably be the default in the template as well.

[2015-03-18 17:49] greezybacon commented on #1853
@mckaygerhard maybe you should just try download the code from https://github.com/greezybacon/osTicket-1.8/tree/issue/1853 directly. I don't get the error any more, and pagination works fine.

[2015-03-18 18:02] greezybacon commented on #1853
@mckaygerhard actually I noticed that Firefox was genuinely rendering the table incorrectly with the jQuery .show() and .hide() methods. I've rebased it so it works better in Firefox.

[2015-03-18 18:04] greezybacon commented on #1403
@YantaR head to Admin Panel -> Manage -> Lists -> Ticket Statuses and add two new statuses, one for open and one for closed. Then, click the [Properties] button for each after saving, and set them up appropriately.

[2015-03-18 18:16] greezybacon commented on #534
I think I finally found it. Can anyone try the patch in #1867?

[2015-03-18 18:17] greezybacon commented on #74
@sikksakk after a terrific delay, could you try the patch in #1867?

[2015-03-18 18:20] greezybacon commented on #1751
@amsut we've traded one feature for another. < v1.9.4 used MySQL LIKE scanning, >= v1.9.4 uses MySQL full text search. I agree the new search indexing system needs some improvement, however, I had hopes that the MySQL indexing engine would do a better job or word stemming.

[2015-03-18 18:22] greezybacon commented on #1355
@grintor thanks for the update

[2015-03-18 18:25] greezybacon commented on #1743
@kmoksha Notice the keys are different. Do you have a raw version of the email you could post so I could see what's going on? I agree the inline attachment download is odd for the attachment links under the thread entry.

[2015-03-18 19:10] infectormp commented on #1769
now work as expected, thx.

[2015-03-18 19:17] infectormp commented on #74
patch work fine

[2015-03-18 19:25] markus4000 commented on #1832
it works. I close it.

[2015-03-18 19:25] #1832 closed

[2015-03-18 19:29] C4RLOCO commented on #1862
Just did a new set of tests and the result is the same as described above.

[2015-03-18 19:32] markus4000 commented on #1833
perfect. it works. Thanks

[2015-03-18 19:32] #1833 closed

[2015-03-18 19:36] #696 closed

[2015-03-18 19:40] markus4000 commented on #695
I tried it with 1.9.6 and it still doesn't work.
can you check?

[2015-03-18 19:42] markus4000 commented on #1459
thanx.

[2015-03-18 19:42] #1459 closed

[2015-03-18 19:48] markus4000 commented on #1168
1+

[2015-03-18 19:58] cervedgroup commented on #1862
just tryed in my enviroment, email was sent to dep. manager when ticket was transfered between departments

[2015-03-18 20:54] greezybacon commented on #1714
@bcowman I opened #1868 as a concept for this feature

[2015-03-18 21:22] greezybacon commented on #695
@markus4000 I disagree. We have drag and drop file support for files in v1.9.6, which are definitely preserves the files uploaded thus far when validation errors occur elsewhere in the form.

[2015-03-18 21:24] greezybacon commented on #1665
@mckaygerhard it's not rocket surgery. Copy your database, unpack `develop-next` to another location. Copy your `include/ost-config.php` file into the new location. Edit `include/ost-config.php` to use the copied database. Visit the site and proceed with the data migration.

[2015-03-18 21:27] greezybacon commented on #1862
@C4RLOCO if you only have one department, how are transferring it?

[2015-03-18 21:32] C4RLOCO commented on #1862
@cervedgroup thanks for testing it out.

@greezybacon, I am transferring tickets between staff within the same department. For example, when staff within is transferring tickets between themselves (same department), Manager would like to receive an email notification.

[2015-03-18 22:25] greezybacon commented on #1862
@C4RLOCO pardon my ignorance. Isn't that an assignment?

[2015-03-18 22:34] C4RLOCO commented on #1862
@greezybacon you are right. I guess I was not clear with the implementation of departments vs teams. In my scenario, there was no team implemented. I was mainly using departments due to the very small team we are.

I will close this for now while i tested again with teams. You have solve this by asking this question: Isn't that an assignment? thanks a lot! :)

[2015-03-18 23:46] greezybacon commented on #1813
If you search, there are several other open issues concerning conversion to Bootstrap. Please consider contributing to one of the open conversations.

[2015-03-18 23:47] greezybacon commented on #1747
The search and sorting configuration is sticky in the `develop-next` branch. We hope to add customizable queues in the further releases

[2015-03-19 00:01] greezybacon commented on #1526
@infectormp could you test with the patch in #1869?

[2015-03-19 00:02] greezybacon commented on #1819
Fixed in referenced pull request. Thanks for the bulletin

[2015-03-19 00:02] #1819 closed

[2015-03-19 00:41] greezybacon commented on #1674
@gniusj could you test again with the patch in #1870

[2015-03-19 01:11] greezybacon commented on #1764
@torohill could you try the patch in #1871 to see if it works to eliminate duplicate mail to collaborators?

[2015-03-19 02:11] Deepcuts commented on #534
Thank you very much @greezybacon for your time and efforts.
The patch fixes the issue for me.

[2015-03-19 02:29] kmoksha commented on #1743
@ greezybacon

sorry, No longer have the email copy of the mail of which screenshot is posted.

Yes, keys are different but the attachments are the same.

Did you try to duplicate the error ? Can you post screenshots of the same ?

Can anyone else try to look into this also and tell whether they are facing same problem with gmail generated tickets ?

[2015-03-19 07:57] Chefkeks opened #1872 "[Feature request] Ability to make required comments optional"
Hi guys,

thought a bit about all those people requesting the ability to disable the required comments, e.g. when transferring a ticket to another department or editing a ticket and so on and how this could (easily) be solved...

Instead of requiring the comment(s) there could be an option to "Disable required comments" with a help text like "Disables required comments, e.g. when editing a ticket.

[2015-03-19 09:43] jochenwezel commented on #498
tested with osticket v1.9.3: issue is fixed :-)

[2015-03-19 09:43] #498 closed

[2015-03-19 09:55] Hannibal226 commented on #1861
@greezybacon
Seems to work fine. Changed alls <code>%{ticket.staff}</code> to <code>%{response.poster}</code> now...

[2015-03-19 09:57] Hannibal226 commented on #1189
After thinking it was gone in new release 1.9.6 today it sadly appeared again.
It was after saving changes in ticket and first chrome asked like often "do u want to leave this page" after that I got a second info message "unable to safe draft....."

So just to let u know that it seems to be still there.

[2015-03-19 10:00] Hannibal226 commented on #1618
Even I didn't test know completly with collaborators it seems to be related to the same thing from this issue #1861

As I'm a bit to lazy to make screenshots and it seems to be understandable without (see other ticket), I will now close this one. Maybe it's fixed and if now it's not so important for myself.

[2015-03-19 10:01] Hannibal226 commented on #1618
PLS Close, I can't

[2015-03-19 10:02] Hannibal226 commented on #1658
can get closed again...

[2015-03-19 10:02] #1658 closed

[2015-03-19 10:34] cmalbertschw opened #1873 "Enhancement idea: Tell the user when browser isn't supported anymore"
Hello,

as far as I know, certain browsers are not officially supported by osticket anymore, like IE8. However, IE8 is (unfortunately) still used by some companies.

I think a nice enhancment would be showing a message for unsupported browsers. It could simply state that the browser the user is using is not supported and ask the user to upgrade to a newer version.

What do you think?

[2015-03-19 12:04] infectormp commented on #1873
@albertschw just make page that will tell the user when browser isn't supported anymore and setup your web server to redirect users with "bad" browsers to this page

[2015-03-19 12:07] infectormp commented on #1526
tested, work fine now.

[2015-03-19 12:07] #1526 closed

[2015-03-19 12:49] draconis244 opened #1874 "Regex in 1.9.6"
Any idea as to why the correct regex of

^\s*$

is being saved as

/^\s*$/iu

in the ticket filters ? I'm completely stumped as to why it mangles it

[2015-03-19 12:54] henrycoule commented on #993
@greezybacon  I tested this patch and it seems to work to a degree howerver; I am not getting the logic. When I choose "Any Status", "All departments", "Any flags", "Unassigned", "All help topics", "Closed by: Anyone"  I get only one result. I had a ticked which is unassigned and I chose the status "In Progress" however it appears the advanced search using the options listed above only searches 'o

[2015-03-19 13:36] cervedgroup opened #1875 "1.9.6 date time form question"
Hi, i need to change the 15 minutes step in time selection on date time field of the forms ( i need to set it at 5 mins).
Any infos about which files to mod ?
thank you

[2015-03-19 13:59] greezybacon commented on #1875
It's defined in `include/class.misc.php`, timeDropdown

[2015-03-19 13:59] greezybacon commented on #1189
Yeah, I meant the draft system is rewritten in the `develop-next` branch (yet unreleased)

[2015-03-19 14:00] Hannibal226 commented on #1189
@greezybacon
Haha sorry, nothing said then :P

[2015-03-19 14:01] greezybacon commented on #993
Tickets are considered assigned when they are closed. That's how the system tracks the closed-by agent

[2015-03-19 14:10] C4RLOCO opened #1876 "v1.9.6: Email Template Sets - Last Updated Date does not update"
Just noticed after updating some templates that Last Update information does not update when templates gets modified.

![screen_shot_2015-03-19_at_10_05_29_am](https://cloud.githubusercontent.com/assets/4073792/6732162/3ece48d0-ce20-11e4-8fe0-fca5f8649b88.png)

[2015-03-19 14:13] greezybacon commented on #1874
It's not mangling it. `/` denotes the start and stop of a regex. `iu` are called *modifiers*, and they instruct the system to apply case-**I**nsensitive matching and consider **U**nicode character encoding. Technically speaking, php uses the PCRE (Perl-compatible regular expressions), which in perl, your regex is not correct. It needs the `/` (slash) characters surrounding it.

[2015-03-19 14:15] greezybacon commented on #1876
We should probably drop that from the UI. Currently there is no way to update the "email template set" — only the individual email templates in the set.

[2015-03-19 14:16] cervedgroup commented on #1875
done, thank you so much!

[2015-03-19 14:16] #1875 closed

[2015-03-19 14:19] greezybacon commented on #1658
You guys, this is a development site. The code is organized and configured for development use. The packaging system in `setup/cli/package.php` removes the error_reporting flags, sets the version code, and rewrites javascript and css includes to include the current commit hash, which is useful for browser cache invalidation when upgrading versions.

[2015-03-19 14:19] albertschw commented on #1873
If all people who have Osticket installed are required to create this page themselves then they constantly have to keep track of supported browsers after upgrading the installation. Ultimatively, only the Osticket team knows which browsers are supported or not. I therefore think it'd be better if this kind of page shipped with osticket.

[2015-03-19 14:21] henrycoule commented on #993
@greezybacon  Hmmm... I took a closer look and it appears whoever closes the ticket gets assigned to the ticket when it isn't originally assigned. Is this happening only when it is unassigned?  I created a new user to test out this logic and indeed this is what is happening. If "Agent A" is the owner or the one the ticket is assigned to if "Agent B" closes the ticket, the ticket now gets assigned

[2015-03-19 14:23] greezybacon commented on #993
@henrycoule the ticket is unassigned on reopen. It is then assigned to the last respondent. That might be you and it might be agent A. If no one has responded, then then the ticket will be unassigned when it is reopened, similar to a new ticket.

[2015-03-19 14:28] henrycoule commented on #993
@greezybacon That's now how it is working. I tested it. The ticket was new, unassigned and not responded to by any Agent. I closed it then it was marked as "closed by ME" then I reopened it and it was assigned to me. Agent B closed the ticket and it was marked as "Closed by Agent B" Agent B reopens it and now it is assigned to Agent B
![ua](https://cloud.githubusercontent.com/assets/6393255/673250

[2015-03-19 14:29] #1618 closed

[2015-03-19 14:32] greezybacon commented on #1743
@kmoksha we primarily use gmail and haven't seen this. Also since v1.9.1, the system makes it best efforts to deduplicate file contents. In fact there are other issues open because we reduplicate too aggressively. My guess is that the email really had two attachments with the same name and (slightly) differing contents.

In fact the key is actually generated based on the SHA1 hash of the contents.

[2015-03-19 14:40] greezybacon commented on #993
@henrycoule pardon me. The way the logic is currently written, the assignee is not cleared on a forced reopen (reopen by agent). Therefore the original assignee is lost and the person who closes it will remain assigned. Maybe you shouldn't be closing other people's tickets.

[2015-03-19 15:00] Chefkeks opened #1877 "[Enhancement request] Supported variables"
Just some easy suggestion on the "Supported variables" inside osTicket.

It would be great to replace the current "supported variable" overlay window with the following:
- A scroll-able popup window
- where the variables are grouped (e.g. ticket variables, agent variables, etc.)
- the groups can be collapsed / expanded
- and an insert button behind the variable allows to insert that variable at th

[2015-03-19 15:18] kmoksha commented on #1743
@greezybacon

I have shown in the screenshot the mail attachments is the same which got duplicated. I have replicated the issue several times and have now done it again.

The mail has only one attachment but the generated ticket has TWO attachments which are duplicate. If you want, I can forward you the raw mail for that if you give me your mail id.

Attaching the error which I replicated just now

[2015-03-19 15:19] greezybacon commented on #1743
@kmoksha yeah, you can send at the mail to `jared` at `osticket.com`

[2015-03-19 15:29] kmoksha commented on #1743
@greezybacon

Sent you the mail which generated the ticket in my previous post containing the duplicated attachment

[2015-03-19 15:37] henrycoule commented on #993
@greezybacon It still does not even work the way you are describing it. I let "Agent B" respond to the ticket then "Agent A" closed the ticket, then the user/customer responded to the ticket which caused it to reopened. When it did reopened it was assigned to "Agent A" and not "Agent B"

Also consider a supervisor or a manager can close a ticket which is assigned to an agent and the same behaviour

[2015-03-19 15:55] quentin69 opened #1878 "Print issue with customs forms"
Hi,

I have a problem to print ticket with customs forms.

When I print a ticket with custom forms, these forms are superimposed on tp and bottom.

You can see on the picture, the bottom of the form "Information sur l'ENR" is superimposed over the top of the form "Formulaire MANAGER"

![screenshot_1](https://cloud.githubusercontent.com/assets/11558676/6734488/ae2dcd08-ce58-11e4-88a5-548123989e73.p

[2015-03-19 15:55] protich commented on #993
@henrycoule -- the logic as you described is by design. Closing agent gets assigned the ticket on reopen... if you close a ticket then it's your responsibility to handle it if it gets reopened. I understand that's not how _your_ workflow functions,  but for a large percentage of use cases __it is__ the expected behavior.

[2015-03-19 18:11] greezybacon commented on #1878
We've addressed this issue in the `develop-next` branch by rendering the entire PDF as html

[2015-03-19 18:19] mfelber commented on #1353
The patch in #1856 works fine, so I close this issue :-)

[2015-03-19 18:19] #1353 closed

[2015-03-19 18:22] #1195 closed

[2015-03-19 18:53] quentin69 commented on #1878
I'm sorry but I'm French and I don't understand what do you mean ?

You mean this issue is already known and fixed or will be fixed later ?

Thanks !

[2015-03-19 19:27] Chefkeks commented on #1878
The issue is already fixed and will be included in a future release.

Just as an important note, since a lot of folks misunderstand that little difference:
"A" future release is not automatically "the next published" release!

[2015-03-19 19:49] quentin69 commented on #1878
Hi,

Thanks for your response.

I understand that this does not mean necessarily resolved in the next release but is it possible to set this manually in the current version ?

If not do you have any idea when it will be built ?

Or maybe can you give me an alternative solution to print my ticket correctly ?

Thanks a lot !

[2015-03-19 19:55] henrycoule commented on #993
@protich I believe it is far more efficient not to assign a ticket to a closing agent. It makes sense to note who closed it but to assign the ticket to the closing agents defeats the purpose of having a manager or assigning a manager role in the ticket system; who can close tickets because based on the interactions feels it has been well answered. The manager may not necessarily wants to own or as

[2015-03-19 21:40] greezybacon commented on #1878
@quentin69 you could upgrade to `develop-next`; however it is still relatively unstable. You could also look at just back-porting changes made to `include/class.pdf.php` and `include/staff/templates/ticket-print.tmpl.php`. And then there's always the option to just put up with the shortcoming and await the next major release

[2015-03-19 22:18] draconis244 commented on #1874
ahhhh so the form in which it saves it is the correct one for php, so it should work in the filters

[2015-03-20 03:20] protich opened #1881 "Ticket locking"
Disabling agent collision breaks ticket reply/transfer.

[2015-03-20 05:35] nasirkhan opened #1883 "How to apply for a new language ?"
Hi i want to apply for a new language, Bengali. I created a ticket but did not get any response yet. What it the proper way to request a new language translation? http://i18n.osticket.com/project/osticket-official/discussions/416

[2015-03-20 06:50] Chefkeks commented on #1883
I'm sure @greezybacon or @protich will take care of this request here and respond either here or over at the translation platform.

[2015-03-20 12:38] henrycoule commented on #993
@greezybacon @protich I have an idea... so how about having an option which you can choose whether to assign ticket to "closing agent" or not ?

[2015-03-20 16:23] jameswhittington3 commented on #463
Holy crap, the tickets waiting on support to respond are in bold? I never noticed until I read this post.
In our case we took this knowledge and targeted that field to make the ticket stand out more.
We added this to scp.css
/* CSS TO Highlight tickets not responded to*/
.ticketPreview b{
    background: rgb(255, 226, 231);
    color: rgb(174, 0, 0);
    display: inline-block;
    padding: 3px;
}

[2015-03-20 17:51] mckaygerhard commented on #1665
jeje u right, but the deploy procedure its tedius.. ok gimme 3 days from now and i'll report feedback ok? i must setup with that i was thinking for usage purpose..

[2015-03-20 17:54] mckaygerhard commented on #1832
the search in english works, but in spanish are swaped, so i open a new issue!

[2015-03-20 18:49] mckaygerhard commented on #1699
i suspect .. after some analisis of the report..

ok, i'll close it now.

[2015-03-20 18:49] #1699 closed

[2015-03-20 19:01] mckaygerhard commented on #1853
i exporte the git and made a difff, commit the diff and works the pagination **and does not have now the error...** the problem was the cache of my reverse-proxy server..

but that brand does nothing different rahter thant the diff i generated, what u changes to firefox does not render incorrectly the reports?

i'll close the issue due now works well, but what u do that does render correclty?

[2015-03-20 19:01] #1853 closed

[2015-03-20 23:14] C4RLOCO commented on #1862
I'm re-opening this issue.

After configuring a team, the team lead is not receiving an email alert when the same ticket is re-assigned to a different staff (in the same team).

Current configuration:
![screen shot 2015-03-20 at 7 11 22 pm](https://cloud.githubusercontent.com/assets/4073792/6762354/068b7cde-cf35-11e4-9a0d-493bbec9d896.png)

Scenario:
Staff-A decides to re-assign his ticket to Staf

[2015-03-21 08:58] jonub commented on #463
That looks ideal jameswhittington3.
Apart from the css, what code did you use to generate the status column and responses?

[2015-03-22 08:52] infectormp opened #1884 "Thread draft from previous unsaved ticket"
Test case:
1. Press New Ticket
2. Write something to summary field
3. Wait for message Draft Saved
4. Close new ticket without save
5. Press New Ticket and you see saved draft from previous not saved new ticket.

[2015-03-22 16:33] infectormp opened #1885 "User edit form opens under user popup window"
1.Open user directiry
2.Put mouse cursor to user and get user popup window.
3.Choise Edit user

User edit form opens under user popup window
![user_popup](https://cloud.githubusercontent.com/assets/9958813/6770208/5a838fc0-d0ca-11e4-8404-e7866faa85ba.png)

[2015-03-22 16:34] infectormp commented on #1885
and maybe missing icon

[2015-03-22 16:36] infectormp opened #1886 "Add padding in user popup window"
need add padding here
![padding](https://cloud.githubusercontent.com/assets/9958813/6770227/c7e75cf4-d0ca-11e4-9bc7-205d974ea00c.png)

[2015-03-23 05:13] zulhiyatiuwi opened #1887 "admin or user do not get notification on osTicketv-1.9.6"
excuse me.. i have some trouble when i use osticketv-1.9.6. when i open new ticket, user doesn't receive email of ticket number. and admin or department do not get the notification of new ticket to too... but in osticket helpdesk website the ticket is appear. could you help me, please??

[2015-03-23 06:47] infectormp commented on #1887
can't confirm

[2015-03-23 07:15] yafp opened #1888 "Configure min searchphrase length"
Hi,

is is possible to define the mind searchphrase length?
Right now i am realizing that i cant search for 3-letter strings in my 1.9.4 setup.
Is that related with a database-setting or a pure osticket setting?

Greetings

[2015-03-23 08:52] fictionedge commented on #1747
awesome!

[2015-03-23 09:41] gniusj commented on #1674
@greezybacon Last friday I've downloaded the zip file and replaced the mailfetch and mailparse files. Since then the import doesn't work anymore. So I rolled back to the old files (my fixed ones) today and the import works again.

I'm using the translated 1.9.5.1 version from http://www.osticket.com.de/downloads.php.
Perhaps it has something to do with that?

[2015-03-23 10:04] Chefkeks commented on #1674
@gniusj
The translated version from osticket.com.DE is NOT an OFFICIAL version and you should not use it!

The official homepage is http://www.osticket.com -> get osTicket and the official language packs from their (osticket.com/download) and not from anywhere else!

From my point, I think the page osticket.com.DE tricks users on purpose and make them think it's related to the official osTicket. J

[2015-03-23 11:00] gniusj commented on #1674
@Chefkeks I had the official version running in the first days of use but our customers had problems with the language. At this time there had been no official german version / translation.
On their website are hints that it isn't an official version so I had always known it.

The last time I tested the official version (I think it was in december?) the translation wasn't completed, especially in

[2015-03-23 12:36] gniusj commented on #1674
@greezybacon I switched to the official 1.9.6 for testing. Same problem here, no import with the two files applied, import works (but the wrong way) with the original 1.9.6 files.

[2015-03-23 12:49] Chefkeks commented on #1674
@gniusj
If I remember correctly, the German translation was finished in August 2014, so when you mention that it was not complete, I guess it's due to the fact that the multi-language feature itself is currently not yet finished (it's in phase 3 of 4) and so some content (e.g. the German email templates) is only available on a new/fresh installation (with German as the default / primary language)

[2015-03-23 12:58] gniusj commented on #1674
@greezybacon Sorry, my last answer was wrong. It just took a while until the ticket was there although I had manually triggered the import and the mail was deleted in my inbox.

High and normal mails are correct now, but the ones with low prio are imported as "normal".

The header of my testmail has the following flags:

Importance: low
X-Priority: 5

Greets
Jens

[2015-03-23 14:31] ntozier commented on #1674
"although I had manually triggered the import and the mail was deleted in my inbox."
Did you setup cron?
How did you configure the email?

What do you have at:
Admin panel -> Settings -> Tickets -> Default Priority:?

I bet its Normal.

What do you have at:
Admin panel -> Settings -> Emails -> Emailed Tickets Priority:?

I bet its not enabled.

Do you set priorities using Ticket Filters?
Admin pan

[2015-03-23 14:32] ntozier commented on #1887
How do you have osTicket configured for email?
ie what are your Email settings?

[2015-03-23 14:59] gniusj commented on #1674
@ntozier Thank you for your answer but I think you misunderstood something. I am using the email ticket import for a long time now and it is all working. But there is a bug regarding the email priority in the import process. @greezybacon has already applied a patch which is working for high and normal priority mails but not for ones with low priority set in the email header.

[2015-03-23 15:36] greezybacon commented on #1674
@gniusj what are your `priority_urgency` values from your database?

[2015-03-23 15:37] greezybacon commented on #1887
@zulhiyatiuwi Can you visit the Admin Panel -> Settings -> Autoresponder and Admin Panel -> Settings -> Alerts and Notices and verify that you have the respective alerts enabled?

[2015-03-23 15:40] gniusj commented on #1674
@greezybacon
id - priority - priority_urgency
1 - low - 4
2 - normal - 3
3 - high - 2
4 - emergency - 1

I think these are the default values. Before I initiated this ticket here I made a new test installation and compared these values.

[2015-03-23 15:40] greezybacon commented on #1885
I can confirm the dialog and pop-out dance that's happening here

[2015-03-23 15:43] greezybacon commented on #1674
@gniusj I think I'm going to punt (give up) for the time being. I have no idea why the code would return incorrect results for low priority.

[2015-03-23 15:44] greezybacon commented on #1884
How is this a bug? The system is saving your draft of a yet-unsubmitted ticket

[2015-03-23 17:00] mfelber commented on #1888
Google is your friend ;-) http://www.netzmacher.ch/mysql/osticket-with-mysql-search-with-4-characters-or-less/

[2015-03-23 18:12] #724 closed

[2015-03-23 18:18] infectormp commented on #1884
Maybe you right. If i press cancel draft gone.

[2015-03-23 18:18] #1884 closed

[2015-03-23 18:27] mckaygerhard commented on #1828
so the , issue now fixed but the style are bad now (only in firefox)

[2015-03-23 18:30] mckaygerhard opened #1890 "feature req: notification via SMS (in the middle term)"
capability to notify via gammu request command line

gammu its a suite that can handle a cell phone, manage some capabilities and send/recive sms.

gammu provides some command line utilities for that, and osticket can handle notifications using this command line utility

[2015-03-23 18:35] #1736 closed

[2015-03-23 18:36] mckaygerhard opened #1891 "v1.10 feature req: notification via xmpp chat"
connect to and users and send messages (firts 30-90 characters) of the current notification but also not only by mail, also by xmpp chat using a general user...

very simple in first phase: only take the title of the ticket/change/internal-note and send also by the xmpp protocol chat using a generic user

in a second phase, use the current usar that already made the ticket/change/note and send the

[2015-03-23 18:44] ntozier commented on #1890
Sounds like a strong contender to be made into a plugin.

[2015-03-23 18:49] #690 closed

[2015-03-23 18:49] #901 closed

[2015-03-23 18:56] #1828 closed

[2015-03-23 19:01] greezybacon commented on #346
This is fixed in the `develop-next` branch finally with `DynamicForm::hasAnyVisibleFields()`

[2015-03-23 19:03] greezybacon commented on #334
Is this still an issue? We have had and have resolved several issues saving and associating images with the inline HTML editor.

[2015-03-23 19:04] greezybacon commented on #499
@jochenwezel I believe you are correct. The value in the filter *equal* box should be the osTicket priority name.

[2015-03-23 19:10] greezybacon commented on #513
I think this is fixed in the latest versions of 1.8.x and 1.9.x. Can anyone confirm if the issue still exists?

[2015-03-23 19:11] greezybacon commented on #672
Closing the issue as it should be fixed in the latest versions. Please reopen if the problem persists

[2015-03-23 19:11] #672 closed

[2015-03-23 19:16] greezybacon commented on #718
This seems to be fixed in the latest versions.

[2015-03-23 19:16] #718 closed

[2015-03-23 19:23] #74 closed

[2015-03-23 19:23] #534 closed

[2015-03-23 19:29] protich opened #1892 "Textbox Selection Widget++"
Input for textbox selection widget should consider abbrv/extra

[2015-03-23 19:37] #1849 closed

[2015-03-23 19:49] #1764 closed

[2015-03-23 19:51] #1769 closed

[2015-03-23 20:02] #993 closed

[2015-03-23 20:02] #1573 closed

[2015-03-23 21:37] ronnykrijt commented on #1499
#1499 is not solved when applying this patched file to 1.9.6, still all tickets are showing, when having to-date before from-date.

[2015-03-23 22:04] kmmoreau opened #1893 "Updating attachments on Canned Responses causes crash (ka-boom!)"
When editing a canned response and attempting to change the attachment- it will not save. Brings to you a white screen. Now, it will save the text edits but not change the attachment.

[2015-03-24 00:28] ntozier commented on #1893
White screen generally means that there is a php error.  You would want to consult your php error log and see what the error is.

[2015-03-24 00:56] zulhiyatiuwi commented on #1887
![alerts notices](https://cloud.githubusercontent.com/assets/11604784/6793711/2a46e258-d1fb-11e4-9b40-31682b2ee235.png)
![autoresponder](https://cloud.githubusercontent.com/assets/11604784/6793713/2e79b472-d1fb-11e4-857f-08eb5b873eb1.png)

[2015-03-24 01:04] zulhiyatiuwi commented on #1887
And this is my emails setting.
![emails](https://cloud.githubusercontent.com/assets/11604784/6793789/55b8e2e6-d1fc-11e4-9ff7-9f5b4cc077f1.png)

[2015-03-24 01:24] knockiiing commented on #334
Hi Jared,

I haven't since take a look.

I will install the new version and check.

Thanks

Patrick

[2015-03-24 02:06] ntozier commented on #1887
The screen shot that you provided of Admin Panel -> Settings -> Autoresponder
indicates that you have not enabled the New Ticket autoresponder.

[2015-03-24 03:30] zulhiyatiuwi commented on #1887
i have enabled it... but user still do not receive notification. admin too. i do this setting to install the osticket. what i'm wrong when do the installation?
# apt-get install mysql-server mysql-client
# mysql_secure_installation
# apt-get install apache2 php5 libapache2-mod-php5 php5-mysql php5-curl php5-gd php5-idn php-pear php5-imagick php5-imap php5-mcrypt php5-memcache php5-ming php5-ps php

[2015-03-24 03:51] ntozier commented on #1887
You have not provided your email settings.
Did you install an MTA?
I'd recommend setting up SMTP in your email settings.

[2015-03-24 04:06] zulhiyatiuwi commented on #1887
i do not install an mta. i'm sorry but could you recommend me a link to set up an SMTP? because i have searched and try all of setting that i found, but i fail.

[2015-03-24 04:58] ebell451 commented on #1887
Did you try the Emails > Diagnostic via the Admin Control Panel to see if you can send email via the default setting? If you cannot send via the PHP mail function, then do as recommended and setup the SMTP settings for your email (https://support.google.com/a/answer/176600?hl=en).

[2015-03-24 05:05] zulhiyatiuwi commented on #1887
@ebell451 i do not receive email when i send mail form email > diagnostic.

[2015-03-24 05:50] ebell451 commented on #334
@greezybacon Using 1.9.6, I'm not having an issue with adding images to knowledgebase articles or to pages (specifically the landing page). I added images by dragging and dropping and linking to images from other sites.

@steadhouse some of your images work...about half of the articles...but some do not. It would be interesting to see how/when they were initially created and when/what version. Mos

[2015-03-24 08:30] jochenwezel commented on #499
I think both make sense: filtering for osticket priority as well as mail headers's priority field

[2015-03-24 08:46] yafp commented on #1888
so i assumed right it is related with the min_length in mysql. Thanks for the pointer - it helped.

One point is still unclear for me - if its comes rebuilding the indexes for the search:
The link above is mentioning to do a repair for the related table - so far i did that for the os__search table - but which other tables might be important for the search-function of osticket?
Any idea?

Greetings

[2015-03-24 09:44] zaniwatts opened #1894 "API and custom fields issues fix after upgrading to 1.9.6"
PLEASE NOTE FOR FUTURE VERSIONS:

ERRORS: Contact form did not submit to OSTICKET Unable to create new ticket: validation errors.
0: Serial Number is a required field.

This was fixed with patches in 1.9.2 and later worked in 1.9.3. Since 1.9.3 we have attempted upgrades at each new version with no results.

I have a custom form: Product Details.
Form Fields:
1) Select Product, Type: Custom List:

[2015-03-24 11:14] cervedgroup opened #1895 "1.9.6 annoyance in page loading"
Hi, when an agent click on a list (i.e. closed tickets), on the top of the page a small progess bar is shown.
When the progress bar finish (reach the end) it disapper, but the page isn't still loaded and seems that nothing is going on, after 4-5 seconds the list is shown.
Is there any way to mod the duration of that progress bar until the page was sully loaded and/or change the duration of that pr

[2015-03-24 12:16] jacobwoffenden opened #1896 "1.9.6 Post reply pop up dialog"
When posting a reply to a ticket, I get the following

![screen shot 2015-03-24 at 12 13 19](https://cloud.githubusercontent.com/assets/9742606/6801443/934078b8-d21f-11e4-9d16-b5cc96c95326.png)

Apologies if this is a know issue, I couldn't find it.

[2015-03-24 13:47] mckaygerhard commented on #1828
hey now that pagination are fixed, may i have to open a issue for the bad rendering related?

[2015-03-24 13:51] 2kit opened #1897 "Filters: Canned responses get attached to ticket, but are not send by e-mail as desired"
We have set up some filters with canned responses to leverage the power of sending automated responses depending on the content that a user provided when the ticket is opened.

The filters work so far that the canned response is saved in the database ans shows up in the ticket marked as "SYSTEM (Canned Reply)"

Unfortunately the mail is never really send to the user. Mail Setup is correct, because

[2015-03-24 13:53] mckaygerhard commented on #1890
well i think this must be core and must be done quickly thiss feature must be adressed in two phases:

1) only a launching feature, i mean, administrator must provide userid, passid, domain and command-line of the xmpp related info, then once provided y selected notify also by phone, extract the phnoe contact from the agent also the related users that reports the ticket, if there any, launch the c

[2015-03-24 14:07] mckaygerhard commented on #1887
seems that u dont are related to linux systems, tutor saids that u dont need MTA if u have an MTA in another host.. by example u can use and MTA of gmail using u'r own account to send the mails to the others throught os-ticket system·..

in u'r setting seems u have configured and own accont to those, but take in considerations that gmail its also a powered linux system, and as any linux all are di