[2016-06-06 14:07] mckaygerhard commented on #3178
also seems was same: #1485 of course that was solved due now reference organization field are fixed, but in case of custom form, reference of that custom fileds in dinamic custom forms are delted by user

[2016-06-06 14:08] mckaygerhard commented on #1485
similar to #3178

[2016-06-06 17:47] balojs commented on #3147
+1

[2016-06-06 19:51] #2910 closed

[2016-06-06 22:40] meatballcoder commented on #3151
Until it breaks or you want to add things.

[2016-06-07 06:57] Rahul-tyagi007 commented on #726
Bro,
if you have time then pls share which time you are free on India time(GMT) ... if you don't mine i explain all such things ...

[2016-06-07 06:59] Rahul-tyagi007 commented on #726
yeah ofcuise why not but when you free give me some time to explain these things or provide facebook id so that i connect with you if u dont mine..

[2016-06-07 09:03] Rahul-tyagi007 commented on #1079
@ greezybacon need some help regarding os ticket pls help me

[2016-06-07 13:04] ntozier commented on #1079
@Rahul-tyagi007
Please utilize the support channels:
http://osticket.com/forum
-or-
http://osticket.com/commercial-support

[2016-06-07 13:04] ntozier commented on #726
@Rahul-tyagi007
Please utilize the support channels:
http://osticket.com/forum
-or-
http://osticket.com/commercial-support

[2016-06-07 13:36] Rahul-tyagi007 commented on #726
Hi,
Are you their ?? @ntozier

[2016-06-07 17:10] Taps7734 opened #3182 "Error when deploying new version - a1a5b02"
When attempting to run
`php manage.php deploy -v /var/www/stage/2016-06-07`

from /var/www/git/2016-06-07,  I receive the following error

[code]

[2016-06-07 17:58] novat0 commented on #1957
the issue that refers here are #2164 and of course have right! its so easy to include into 1.9 release! just few changes

[2016-06-07 18:04] novat0 commented on #3160
i like this feature.. due ist suppost to provide easy to report issues to clients.. and no so hard to report interfaces..

just a "point and click" button and here there are all the sended tickets of user!

[2016-06-07 18:08] novat0 commented on #1686
please still this persist! the problem are in those files!

[2016-06-07 18:13] novat0 commented on #1852
i have this bug in THE ONLY STABLE VERSION i can download, so if this will be included as correction feature in next version (i mean 1.10) so when will be out? due this bug was reported agains 1.9 release and its imnportant for production sites support agains the today in use! right!?

[2016-06-07 18:16] novat0 commented on #2228
do mean that this clarelly bug its not supported and confirmed are present in 1.9, but will be correctly only in 1.10 that will not come today?

[2016-06-07 19:17] ntozier commented on #1852
@novat0 it will be released when it is ready.  You will not get a better answer than that.

[2016-06-07 23:23] balojs commented on #3096
same problem :(

[2016-06-07 23:28] balojs commented on #3096
thanks @rbukovansky it works

[2016-06-08 07:02] Rahul-tyagi007 commented on #726
@ntozier  Actuall i want to know how can client get autoreponse with ticket when client send mail on my support@xyz.com. the above two url is not straight forward can you pls provide good one or tell me scenerio for same .. thanks

[2016-06-08 07:09] Rahul-tyagi007 commented on #726
i m using linux centos server

[2016-06-08 08:13] Rahul-tyagi007 commented on #726
osTicket Version 	v1.9.12 (19292ad)
Upgrade
— This osTicket version is no longer supported. Please consider upgrading
Web Server Software 	Apache/2.2.15 (CentOS)
MySQL Version 	5.6.30
PHP Version 	5.3.3

[2016-06-08 11:47] haraldhh commented on #2979
I noticed the same problem. It would at least be nice if the ticket asignee would be notified when a task under a ticket is closed.

[2016-06-08 12:36] ricardoorosa opened #3185 "Add a column in the users page for the organization"
add a column in the users page for the organization

[2016-06-08 13:20] ntozier commented on #2979
@haraldhh your comment does not appear to be on topic.  Please start your own feature request.

[2016-06-08 16:38] balojs opened #3186 "Knowledgebase: Fatal error: Call to a member function sort() on a non-object in (develop)"
Knowledgebase :
1- Add New Category > test > Private >Save
2- Click on Categories (osTicket/scp/categories.php)
3- Show this error:

PHP Fatal error: Call to a member function sort() on a non-object in /var/www/html/include/staff/faq-categories.inc.php on line 147

[2016-06-08 16:42] balojs commented on #3186
same problema #3096

[2016-06-08 16:42] #3186 closed

[2016-06-09 06:33] haraldhh commented on #2899
I have this as well on 1.10-RC2. A ticket assigned to a team shows up in my "My Tickets" list, eventhough I'm not a member of that team.

[2016-06-09 06:49] haraldhh opened #3188 "Reply to tasks in 1.0-RC2 generates a new ticket"
If a task is created (under a ticket), and a recipient is added to that task, replies to that task create a new ticket.

Expected result would be that the reply to the task would be identifed and appended to the task.

[2016-06-09 06:53] haraldhh commented on #2979
If I understood You correctly I would have to start a feature request to get notified when a task is closed? I will do that.

[2016-06-09 06:55] haraldhh opened #3189 "Request: closing a task would generate an alert"
When a task is completed, an alert to the Assigner would be nice.

[2016-06-09 06:59] haraldhh opened #3190 "Request: include a backlink to the ticket if a task is created under a ticket"
If an agent gets assigned a task that is part of a ticket, it would be nice if the link would be to the ticket (and the task-tab) and not the task. The ticket usually contains more background information about the issue to be resolved, and can be crucial for the agent to be able to complete the task.

There is no information in a task that it belongs to a ticket.

[2016-06-09 09:51] rbukovansky commented on #1981
My PR https://github.com/osTicket/osTicket/pull/3191 should resolve this issue.

[2016-06-09 09:58] rbukovansky commented on #3042
My PR #3191 should resolve this issue.

[2016-06-09 10:01] rbukovansky commented on #3185
Duplicate of #1981 and #3042.

PR My #3191 should resolve it.

[2016-06-09 10:02] rbukovansky commented on #3174
I can probably help. What kind of error are you getting from Google?

[2016-06-09 13:50] ntozier commented on #3190
I believe that this is on purpose.
The onus is on the task opener to provide the necessary details to complete the task, because there is no guarantee that the person completing the task even has access to the ticket system, let alone the ticket in question.

[2016-06-09 13:52] ntozier commented on #3174
Have you granted the account permission to connect via IMAP/POP in the account settings for the gmail account?

[2016-06-09 16:53] mlipok commented on #3042
I agree. So I close my request and waiting for one of other will be done.

[2016-06-09 16:53] #3042 closed

[2016-06-09 16:55] mlipok commented on #3185
I agree.

[2016-06-09 16:55] mlipok commented on #1981
I agree.

[2016-06-09 17:05] sharmay opened #3192 "TicketFilter + AutoResponse not working"
osTicket (v1.10-rc.2-307-gbf2395b)

Two Departments DepA, DepB
Default system wide department is DepA
I created Ticket Filter if ticket sender email matches depb assign this ticket to DepB
I am member of DepA and Extended member of DepB.
When someone from DepB creates a ticket there is no AutoResponse coming to me that new ticket is created, how can I achieve this ?

[2016-06-09 17:11] danielc1234 opened #3193 "DB Error #1062"
So we are getting more and more of these errors. Trying to figure out what is going on. We have the latest version.
Any ideas would be greatly appreciated.

[INSERT INTO `ost_attachment` SET `type` = 'H', `file_id` = 446, `inline` = 1]

Duplicate entry '0-446-H' for key 'file-type'<br />
<br />
---- Backtrace ----<br />
#0 (root)/include/mysqli.php(204): osTicket->logDBError('DB Error #1062', '[IN

[2016-06-10 08:43] haraldhh commented on #3190
I see. There are many use-scenarios that's for shure. If a task is assigned to an existing agent, the task could have a link to the ticket instead.

[2016-06-10 12:57] osticketUser commented on #723
Hello,
I am doing some tests on osticket, however i am getting same error in IMAP Settings and POP Too , Mail Account: Optional setting for fetching incoming emails. Mail fetching must be enabled with autocron active or external cron setup.
[CLOSED] IMAP connection broken (server response)

Invalid login. Check IMAP settings

Any solution Please ?

Thank you

[2016-06-10 13:53] ntozier commented on #723
@osticketUser This appears to be a question better suited for the support forums at: http://osticket.com/forums.  That being said please help us to help you by providing us with more information about your setup.  Such as:

Version of osTicket?
Version of php?
What IMAP server are you using?
Are you using SSL?  Port #?
Depending on the mail server have you authorized the user to use IMAP, or the s

[2016-06-10 14:04] osticketUser commented on #723
Hello,

Thank you for your response.

Version of osTicket : 1.9.12
Version of PHP : 5.5.12
IMAP Server : imap.gmail.com
Are you using SSL ? PORT ? : Yes, port 993

Regards,

On Fri, Jun 10, 2016 at 1:53 PM, ntozier <notifications@github.com> wrote:

--

*         Soukaina MIHI*

*Ingénieur d'état en génie informatique*
*Master 2 spécialisé en informatique*

*Tél : (+212)670686510*
*Email : mihi.so

[2016-06-10 21:23] #3025 closed

[2016-06-12 19:06] mfelber opened #3194 "1.10 RC3 - issue report - "Data Integrity"-Label (ticket form) is missing in field configuration window"
When you configure a field for the ticket form and you are in the settings tab, you will see that this label is missing:

![required to close a thread](https://cloud.githubusercontent.com/assets/5539456/15993265/3ded64ae-30e0-11e6-9250-e06e04202447.jpg)

I guess this has something to do with the file dynamic-field-config.tmpl.php in include/staff/templates.

Line 102 seems to be the source of the

[2016-06-13 17:40] ntozier opened #3197 "1.10rc2 and 1.10rc3: task CSS broken IIS8.5"
When you go to any ticket, click on the task tab, and click Add new task..

![capture](https://cloud.githubusercontent.com/assets/1315768/16017090/48751e1c-316c-11e6-9671-0e7713cbf24b.PNG)

I'm not sure why but the rest of the page disappears and page header isn't loaded, css isn't loaded when you finish opening the task.

[2016-06-13 19:15] suportgc opened #3198 "External task Cron (OsTicket 1.10 RC2)"
Hello good afternoon.
I wonder if it is possible to configure an external cron job to search emails.

eg have an external server and want to configure it to run cron on
meudominio.com/support/api/cron.php

[2016-06-13 22:45] balojs commented on #2440
not works on PHP 5.4.16 :( @greezybacon

[2016-06-13 23:13] rafor1982 opened #3199 "Departament email settings"
Hi,
I've got one question about email settings.
version: v1.10-rc.2
I want to disable assignment email alerts but in only at one department.
My configuration is:
admin panel --> Tickets --> alerts and notices --> Ticket Assignment Alert: mark Assigned Agent / Team
If I create new ticket and assign it to agent (agent will receive email) - that's good.
I want that agents who are in department "EXAMP

[2016-06-14 11:47] cervedgroup opened #3201 "1.9.x enachement in operator view"
Is possibile to limit the staff list view at only operators that belong to departement of the ticket ?

Example : 100 operators in 15 department, if a operator of department 1 need to trasfer the ticket to another operator of the same department, all the operators are shown in the operator selection, and this is annoying.
thank you

[2016-06-14 13:06] ntozier commented on #3201
I agree that the interface needs to scale better for larger implementations.
Maybe a type ahead box with a display of the first few (3) alpha names, and if someone types in something the matches change the display.

[2016-06-14 13:09] cervedgroup commented on #3201
good idea, or a simple flag "show only my group/department" in preferences or from trasfer ticket interface

[2016-06-14 13:52] ntozier commented on #3201
My only concerns with that is if someone wants to transfer outside of their department/team, or if one department has 100  agents and another has only 5.  The department with the 100 agents would still have a scaling issue.  I think that the type ahead would alleviate that congestion.

Perhaps there could also be a toggle on the Agents account for what to display.

[2016-06-14 15:34] balojs commented on #2495
+1

[2016-06-14 18:49] jjjj12212 opened #3202 "osTicket 1.10-rc2, multiple issues (sorting, dropdown boxes, target=_blank"
Hi Developers,

We have encountered a few issues with 1.10-rc2 that we would like suggestions on how to fix (if it's simple) and let you be aware of the issues.
1. ticket sorting - the sorting is messed up, we have 3 pages of ticket # and on each page its sorted assended into different segments instead of as a whole.

for example page 1:
     sort: Ticket Number DESC

72779
72747
72732
...
...

on

[2016-06-14 19:02] ntozier commented on #3202
You are running a release candidate with numerous issues.  Since 1.10rc3 was released a few days ago, please update and re-test to see if you are still having issues.

[2016-06-14 19:19] mark-dlc opened #3203 "osTicket 10.10rc2 InconsistentModelException when adding email"
When going to emails and update an email address by
adding email fetching a `500 server error` is thrown after (+-) 90 seconds.

`Uncaught exception 'InconsistentModelException' with message 'Unable to prepare query: MySQL server has gone away SELECT A1.* FROM `ost_email` A1 WHERE A1.`email_id` = ?'`

This is either with Pop and Imap. The error is only thrown when 'Status' is actually set to enabl

[2016-06-14 22:56] balojs commented on #2466
It is possible to display the required fields inline? @greezybacon

[2016-06-15 15:18] dcmcand opened #3204 "No new message notifications when not signed in"
I get new ticket notifications, but no notification if someone responds to an open ticket or reopens a closed ticket.  When I sign in, I get all the notifications at once.  Is there a way to set it to send notifications when no one is signed in?

[2016-06-15 15:25] ntozier commented on #3204
Are you running cron?

[2016-06-15 15:37] dcmcand commented on #3204
Yes, I have */5 * * * * nobody /usr/bin/php/ /path/to/osticket/api/cron.php in my crontab

[2016-06-15 16:08] dcmcand commented on #3204
Solved the issue by creating a crontab for user nobody directly.  it works now.  Not sure why it wasn't working under root crontab.

[2016-06-15 16:08] #3204 closed

[2016-06-15 16:31] jdelhome3578 opened #3205 "1.9.14 Form Field Visibility"
Option `For EndUser Only` is making it required. Should there be an option like the rest for Optional or required. As an Agent this is nice for something the Enduser needs to provide but the agent does not need to even see when creating a ticket.

[2016-06-15 19:52] zguithues commented on #3147
I also had this issue once i upgraded 1.9.12 -> 1.10 rc3.

@balojs i tried your suggestion, it had no effect.

@bastienho Your method works for me.

Hopefully this gets fixed on future versions.

[2016-06-15 20:50] balojs commented on #3147
thanks @zguithues  check this path #3186

[2016-06-15 21:16] dmnc-net opened #3206 "tz_offset variable missing on some places"
Hi, I found a issue with wrong time on some places:
- User Profile (/osticket/profile.php) [WRONG]
- System Settings (/osticket/scp/settings.php) [WRONG]
- Staff Profile (/osticket/scp/profile.php) all staff profiles [OK]
- ticket time [OK]

Problem is in variables which are not set (so returning null):
/osticket/include/staff/settings-system.inc.php - `$config['tz_offset']`
/osticket/include/clie

[2016-06-15 21:24] dmnc-net opened #3207 "Help Topics - Enter not saving - v1.9.14 (8b927a0)"
While adding the new Help Topic entry, filling the Topic Name field and trying to submit the form (Add Topic) with the Enter key, the Manage Sequences modal window appears.

[2016-06-15 22:50] balojs commented on #3139
thread: Keep attachments when editing thread entry (907ec36)

[2016-06-16 13:02] ntozier commented on #3206
Side note: Admin panel -> System does not, has never, and is not intended to show the correct time.  It is for date time formatting purposes only.

[2016-06-16 20:12] robintoy opened #3208 "osTicket v1.10-rc3 -- Unable to search tickets"
When you search tickets you get a blank screen and the following error gets placed in the system information: -

DB Error #1064

[code]

[2016-06-16 20:16] robintoy commented on #3198
since version 1.7 there is a cron job for collecting emails you can start which is done via the rcron.php file from the scripts folder of your release.

just set a cron job to use wget to the URL like "meudominio.com/support/scripts/rcron.php"

Hopefully this helps?

[2016-06-16 20:18] robintoy opened #3209 "osTicket v1.10-rc3 -- Posting reply or internal note logs user out"
if you reply to a ticket it saves the reply and logs the user out, but creating new tickets works with no issues.

[2016-06-17 05:44] mariusdinca commented on #342
Hello all,
Wonder if you could help.
I have os Ticket v.1.9.12 and for a while now it started gliching.
Up until now when we replied to an email that had already created an issue that reply was noted as an update/note in the ticket, now it simply creates a new ticket and its frustrating.

[2016-06-17 10:19] Siriuo opened #3210 "OSTicket-v1.10-rc.3 - Blank Ticket when new ticket created."
When creating a new ticket from the system the view the newly created ticket doesn't load the full HTML.

Appears to be on all main browsers. Chrome, Firefox and IE

[2016-06-17 10:51] suportgc commented on #3198
Hello robintoy .
Thanks for the answer .

Sorry about my English.

I don't know this type of configuration .

It would be possible to explain to me how can I do this ?

I saw that in rcron.php file is requested my URL and API.
That's easy.

It is that my hosting SRV does not allow me to use cron with less than 15 minutes .

This rcron.php task is executed in how long?

I can set for a minute?

How

[2016-06-17 12:05] suportgc commented on #3198
Hello robintoy .
Just to inform .
I made the setting in EasyCron and it worked perfectly.

However , in my Debiam server does not work.

I used this command.

* * * * * wget -q -O /dev/null http://meusite/rcron.php

Where is wrong?

Must perform this task every 1 minute

Thank you

[2016-06-17 13:34] philbertphotos commented on #3209
I get this to ... I have not been able to find out why and makes RC3 unusable to me.

[2016-06-17 15:15] trueserve commented on #3210
#3090 fixed this bug for me.

[2016-06-17 15:30] trueserve commented on #3209
I, on the other hand, do not experience this issue.

Does your webserver error log have any note?

[2016-06-17 16:03] robintoy commented on #3209
Being honest it killed us so badly we had to roll back to RC2 as we actually use this as a live system.

I know we should not but it is so much better than v1.9.x

[2016-06-17 16:04] ntozier commented on #342
@mariusdinca this is a **closed** bug report for version 1.8.0.1 from December 2013.
I would suggest that you try what is commented above, and if it doesn't work for you upgrade to current.
Then if it still doesn't work for you then post on the forums.  https://osticket.com/forums

[2016-06-17 16:06] ntozier commented on #3209
I also do not experience this.  Can the folks who do maybe post some information regarding their server environment?  (webserver and ver, os and ver, php ver)

[2016-06-17 16:14] robintoy commented on #3208
Server Details are: -
OS: Linux Operating (Not sure which as a Clustered Hosting Platform from Fasthosts UK)
Web Server: Apache
PHP: 5.6.20
MySQL: 5.0.95

[2016-06-17 16:33] philbertphotos commented on #3209
Server Information
osTicket Version 	v1.10-rc.3 (907ec36) — Up to date
Web Server Software 	Apache
MySQL Version 	5.5.47
PHP Version 	5.5.9-1ubuntu4.14

[2016-06-17 16:34] philbertphotos commented on #3209
hmmm wonder if its a PHP thing and ... There is no log or anything I can find that causes it.

[2016-06-18 13:26] robintoy commented on #2465
This is the same issue as #2272 to which the fix suggested here solves the problem.

We have been running the fix on our system for ages with no issues or side effects

[2016-06-18 13:29] robintoy commented on #2465
Here is the exact code we are using in V1.10-rc2

`<?php //add to make it look right
function safe_html($html, $spec=false, $balance=1) {
        // Remove HEAD and STYLE sections
        $html = preg_replace(
            array(':<(head|style|script).+?</\1>:is', # <head> and <style> sections
                  ':<!\[[^]<]+\]>:',            # <![if !mso]> and friends
                  ':<!DOCTYPE[^

[2016-06-18 13:33] robintoy commented on #2272
Hi All,
full code listed for v1.10-rc2 on #2465

[2016-06-18 13:38] robintoy commented on #2473
Just a thought, if this is still an issue can we just remove the < and > characters from the email address field before it is processed meaning the DB will error as required?

[2016-06-18 14:14] robintoy commented on #2440
Does not work for me, instead it stops displaying the ticket list when it hits the loops call to the time.

In the way of logs I do not get any DB errors but I do get the following error on my web server: -

Line 170 is
[code]

Just in case I have missed any lines or done a typo I downloaded the full file which now didn't kill my display or cause the server to error; but didn't solve the issue eit

[2016-06-19 14:19] philbertphotos commented on #3142
How far you want to go with this ... and do you want help implementing it further in osticket...

[2016-06-19 15:22] mckaygerhard commented on #2473
obviously its easy to resolve, but still not resolved!

[2016-06-19 15:23] verschoof commented on #3142
I do wanna help implement this further in osTicket. I noticed that osTicket its pretty complex code while it don't has to be.

Personally, My idea for my self was to improve the setup dir, add twig, add controllers, maybe some services. and see how it ended up. Also to see how you guys would react on it, because those are pretty big changes.

My goal is to make the code more simple so it would be

[2016-06-19 16:47] philbertphotos commented on #3209
This was fixed as soon as I upgraded to PHP 5.6 so its a bug a confirmed bug in Osticket and php 5.5 and maybe lower

[2016-06-19 17:11] philbertphotos commented on #3173
Fixed ... once upgraded from PHP 5.5 to 5.6

[2016-06-19 17:13] philbertphotos commented on #3172
**REM out  this in includes/ajax.users.php**
[code]
            }

[2016-06-19 17:29] philbertphotos commented on #3172
Exception('Union queries must have matching values counts');

[2016-06-20 04:15] philbertphotos commented on #2863
I found a workaround for the double posting if you still interested.

[2016-06-20 05:46] robintoy commented on #3198
Hi @suportgc
Glad I could help.
If you do need a little more information please just ask.

[2016-06-20 05:49] robintoy commented on #3198
The command on our cron job used is: -
wget -q http://osTicketPath/scripts/rcron.php

[2016-06-20 07:04] intrixius commented on #3171
+1 !  I just found out on our system that we missed a lot of emails due to this problem/shortcoming. It should indeed send an email to the sender to let him/her know they first have to register...

[2016-06-20 10:46] suportgc commented on #3198
Hello @robintoy
Thank you for your help.
Everything working perfectly.

[2016-06-20 10:46] #3198 closed

[2016-06-20 12:38] suportgc opened #3212 "OSTicket-v1.10-rc.3 Error"
![ost](https://cloud.githubusercontent.com/assets/19677143/16194389/b84e1aa0-36ca-11e6-8205-31dea804dd3b.png)
When updating the version of my system.
I am getting the warnings .

Can you help me ?

To perform the update , simply replace the files with new ones.
Is correct ?

[2016-06-20 13:35] suportgc commented on #3212
Just to detail.
When I replaced the files and entered the system, it was not requested update.
Just reported that has been updated .

[2016-06-20 15:56] suportgc opened #3213 "OSTicket-v1.10-rc.3 Forms"
When upgrading to version RC3 identified that the forms are with an error when selecting the display mode .

As the Print below.

![ost](https://cloud.githubusercontent.com/assets/19677143/16201009/07be58f0-36e6-11e6-98e2-7f6153b14250.png)

[2016-06-20 16:01] firepro20 opened #3214 "Time Zone Wrong Setting"
As can be observed the timing is off. PHP.ini is set and defined to UTC. These are set for Admin Panel and Preferences. What is wrong?

![image](https://cloud.githubusercontent.com/assets/17837413/16201105/6a9bfc32-3710-11e6-8c93-ad6ac9951f21.png)

![image](https://cloud.githubusercontent.com/assets/17837413/16201214/d158fae2-3710-11e6-9182-2ba2496f2328.png)

[2016-06-20 16:04] balojs commented on #3213
+1

[2016-06-20 16:05] suportgc commented on #3213
I tried this method , however, without suesso

![image](https://cloud.githubusercontent.com/assets/19677143/16201429/b64891fa-36e7-11e6-8914-eaa5bb3494f6.png)

More print
![image](https://cloud.githubusercontent.com/assets/19677143/16201382/705654f2-36e7-11e6-983a-818a92a66fc8.png)

[2016-06-20 16:11] ntozier commented on #3214
The first screen shot appears to be the system settings page in admin panel. Those times are not there to be correct they are there to demonstrate the result of the formatting string to the left.

[2016-06-20 16:14] dmnc-net commented on #3206
But it's confusing. Even more with label "Actual time". When the code is actually expecting and then working with `$config['tz_offset']` why not to set this variable? Why not to act in same style in all 3 places where the time is shown (admin X, staff ✓, client X)? And how to handle all customer's questions about wrong time? In case if they will enter their profile page.

[2016-06-20 16:27] greezybacon commented on #3213
@suportgc sorry, I'm not really understanding what the problem is.

[2016-06-20 16:41] greezybacon commented on #3147
Could you also try this patch. I would like to use sorting in the ORM elsewhere and be consistent...
[code]

[2016-06-20 16:42] suportgc commented on #3213
Hi @greezybacon
Sorry , I do not have detailed very well my problem.

The error is in the tab "Visualização".

The option to modify the optional property , mandatory , internal
this locked.

by clicking the type > configuration.
The option Require entry to close a thread this blank.

[2016-06-20 16:48] greezybacon commented on #3213
So the error is that, some checkboxes cannot be changed in the popup, and the text for the label of 'Require entry to close a thread' is blank? What is the English translation of `Assunto`?

[2016-06-20 16:51] greezybacon commented on #3212
These warnings suggest you should install / enable the "Zend Opcache" extension and the "ACPu" extension. As suggested, such would improve the overall performance

[2016-06-20 16:54] suportgc commented on #3213
Hi @greezybacon

I put the system in default language .

follows new prints

![image](https://cloud.githubusercontent.com/assets/19677143/16202923/4378d656-36ee-11e6-9d5d-a903af066299.png)

![image](https://cloud.githubusercontent.com/assets/19677143/16202949/5be7794a-36ee-11e6-906f-cd2bf867b049.png)

[2016-06-20 16:55] mfelber commented on #3194
Adding "echo" in line 102:

`<div style="margin-bottom:5px"><strong><?php echo __('Data Integrity');`

..seems to solving the problem:

![data integrity](https://cloud.githubusercontent.com/assets/5539456/16202953/47e9bef6-3718-11e6-9a56-c2c26a2a5813.jpg)

[2016-06-20 16:56] suportgc commented on #3212
Thanks for the answer .

[2016-06-20 16:56] #3212 closed

[2016-06-20 17:45] kest874 commented on #3147
@greezybacon Confirmed that patch works.

[2016-06-20 19:08] greezybacon commented on #2272
Could anyone try the patch in #3215?

[2016-06-20 19:08] greezybacon commented on #2465
Could anyone try the patch in #3215?

[2016-06-20 19:10] greezybacon commented on #3147
I created #3216 to address the issue

[2016-06-20 19:57] #3194 closed

[2016-06-20 19:57] greezybacon commented on #3194
@mfelber thanks for the hint. I fixed the issue directly

[2016-06-20 20:05] greezybacon commented on #3213
@suportgc if I could make a general suggestion for posting issues. Please post screenshots that all correlate to the same issue. That is, the field listing and the popup dialog should be from the same page. And keep your shots consistent -- especially when changing languages. For instance, I think the top listing you posted is for your user information ("Contact Information" in English, but you as

[2016-06-20 20:24] greezybacon commented on #2440
@robintoy didn't you also say that you are logged out when posting a reply? Could you post your config from the system information page and from your system and profile date/time config?

[2016-06-20 20:25] greezybacon commented on #3205
We added more granular control to the visibility options in v1.10 to address this issue. The thought for "For EndUser Only" was to implement something a like a field for CAPTCHA, which should not be shown to the agents and is required for end users.

[2016-06-20 20:31] greezybacon commented on #3173
@philbertphotos I think this is a timezone issue for PHP 5.5. Could you post your configuration from the system information page?

[2016-06-20 20:31] greezybacon commented on #3193
@danielc1234 I've seen this before. What version of osTicket are you running?

[2016-06-20 20:32] robintoy commented on #2440
Hi @greezybacon

details are: -
(PS logged out on 1.10-rc3, we now back on rc2)
![1-10_time](https://cloud.githubusercontent.com/assets/8893903/16209339/79df122e-372e-11e6-8b51-517a567bca5a.jpg)

[2016-06-20 20:32] greezybacon commented on #2495
@ARiber could you post your system information page?

[2016-06-20 20:33] greezybacon commented on #2440
@robintoy I was hoping to also see the database information below this part

[2016-06-20 20:35] danielc1234 commented on #3193
@greezybacon

Hi, it is version osTicket (v1.10-rc.2-325-ge231550)

[2016-06-20 20:35] robintoy commented on #2440
No probs...

![1-10_time-db](https://cloud.githubusercontent.com/assets/8893903/16209434/f0a812ac-372e-11e6-92ee-be58872119bb.jpg)

[2016-06-20 20:39] robintoy commented on #3209
Hi @philbertphotos
we use 5.6 and still have the issue.

[2016-06-20 20:40] robintoy commented on #2440
Just in case it helps @greezybacon

Server Details are: -
OS: Linux Operating (Not sure which as a Clustered Hosting Platform from Fasthosts UK)
Web Server: Apache
PHP: 5.6.20
MySQL: 5.0.95

[2016-06-20 20:42] robintoy commented on #2440
Might sound odd but is the time pulled from the DB or from the webserver?

I ask as UTC and GMT are not exactly the same in countries like the UK due to our lovely "British Summer Time" BST.
http://www.timeanddate.com/time/gmt-utc-time.html

[2016-06-20 20:43] greezybacon commented on #2440
The database is reporting "GMT", which, according to PHP is the same as "UTC"; however, I wonder if the database (MySQL) does not.
[code]

[2016-06-20 20:52] greezybacon commented on #2440
@robintoy why not use a different timezone which avoids the ambiguity, e.g. `Europe/London`?

[2016-06-20 20:55] robintoy commented on #2440
@greezybacon on the webserver or MySQL?
I know for sure I cannot alter webserver as it a shared platform which I only have FTP access to.

just been looking to see if there would be compatibility issues between the two systems (PHP and MySQL) with different time zones and what a can of worms.

One very good article is
http://stackoverflow.com/questions/19023978/should-mysql-have-its-timezone-set-t

[2016-06-20 20:57] greezybacon commented on #3193
@danielc1234 would you mind upgrading to the v1.10-rc.3 release and see if it addresses this issue? I believe this was fixed in 00a1371dcb52f72bfdaee946f298962274706398, which is after that version code (https://github.com/osTicket/osTicket/compare/e231550...develop)

[2016-06-20 20:59] robintoy commented on #2440
Just looking at the MySQL DB I cannot change that time zone either as I just have access to my table and nothing else.

This the problem when you using hosting companies I guess.

[2016-06-20 21:02] greezybacon commented on #2440
I'm thinking that version of MySQL is somewhat outdated, and recent versions of PHP do not have a "GMT" timezone. It seems PHP assumes that GMT == UTC, which I think is not the case here. I'm wondering if, at least for newer versions of PHP and older versions of MySQL (maybe all of them), we should assume GMT from MySQL means `Europe/London` in PHP

[2016-06-20 21:04] greezybacon commented on #2440
[code]
"GMT" is not included in the list for PHP 5.6.21

[2016-06-20 21:06] danielc1234 commented on #3193
@greezybacon   Is there a way to tell me which files were updated in that release? I had a lot of work done for the software to work with PHP7, so I do not want to over write those files. And I don't think the modifications are causing the issue.

[2016-06-20 21:07] robintoy commented on #2440
That would make sense as we never used to have this issue and the database server has not changed.

I do have a different DB server available as I have moved the website to the new cluster platform, but not 100% on doing this yet as the cluster system so far stinks and is down more than up.

Hopefully that DB is more up to date but your idea makes sense as we all seem to have just a 1 hour issue.

[2016-06-20 21:12] greezybacon commented on #2440
However, considering that it works properly on your setup in v1.10-rc.2, it seems there should be some regression between the two releases

[2016-06-20 21:14] greezybacon commented on #3193
@danielc1234 you can apply a patch of that [one commit](https://github.com/osTicket/osTicket/commit/00a1371dcb52f72bfdaee946f298962274706398.patch) or [everything in between](https://github.com/osTicket/osTicket/compare/e231550...develop.patch). However, the `develop` branch works on PHP7. You might try it out vanilla and report any issues you encounter.

[2016-06-20 21:16] robintoy commented on #2440
Time has not worked since we jumped from v1.9.9 (I think it was then) to v1.10-rc2.

But the logout bug is new in v1.10-rc3, and not related to time I believe if that what's you mean.

[2016-06-20 21:17] greezybacon commented on #2440
@robintoy thanks. That clarification helps

[2016-06-20 21:18] robintoy commented on #2440
Thanks, was worried then as getting late and thought I was speaking crap myself. I might not be the beat coder in the world but good tester and methodical problem solver.

[2016-06-20 21:31] danielc1234 commented on #3193
@greezybacon   Ahhh, you know we can no longer attach files to threads or send attachments. I wonder if that has something to do with the error?

[2016-06-20 21:33] danielc1234 commented on #3193
@greezybacon   Also, so if I downloaded the develop branch, I should not have an issue at all with PHP7? A little concerned I might blow something up. :)

[2016-06-20 21:47] philbertphotos commented on #3173
Too late i already upgraded to 5.6 and no longer have the issue ... You still want the info?

Sent from my iPhone

[2016-06-21 00:46] #3205 closed

[2016-06-21 01:43] ARiber commented on #2495
Hi, actually I had solved this problem a longer time ago. But to be honest I don't exactly remember since it is too long ago. I found the solution in some other thread.

As requested, here is my system info

osTicket-Version	v1.10-rc.2 (231f11e)  Upgrade — v1.10-rc.3 is available
Server-Software	Apache/2.4.10 (Debian)
MySQL-Version	5.5.47
PHP-Version	5.6.17-0+deb8u1
PHP-Erweiterungen
gdlib	 Wird f

[2016-06-21 06:26] solankesanket opened #3217 "wsdl responce as "openTicket failed" error while I'm passing real and authorised values to open ticket form."
[code]
Above is the WSDL preview of input passing to the open ticket request and it returning the fault string as "openTicket failed" and details as "Array".

Im using SOAP UI for the request and response testing.

![capture1](https://cloud.githubusercontent.com/assets/18712702/16219876/eedfae62-37a6-11e6-8f93-526af8e6ab26.PNG)

[2016-06-21 06:28] ATalker opened #3218 "OsTicket 1.9.14 Multiple Attachments Issue"
After upgrading OsTicket from 1.9.12 to 1.9.14 I found Multiple Attachments issue: if you pick more than one file for attach  in ticket  then after post reply one or few attachments will not upload.
Examples in attachments.
![test1](https://cloud.githubusercontent.com/assets/13776659/16219940/a878b47a-379a-11e6-86c6-9a73137c78d6.gif)
![test2](https://cloud.githubusercontent.com/assets/13776659/162

[2016-06-21 09:34] firepro20 commented on #3214
Fixing the time offset on phpmyadmin did the trick

[2016-06-21 09:34] #3214 closed

[2016-06-21 11:24] suportgc commented on #3213
@greezybacon
Thanks for the feedback .
I'm new here.

The prints were examples .
The error I 'm getting.
It is that not being able to change the field visibility.

The choice of option is displayed only to create new fields.

Thank you and sorry for the inconvenience.

[2016-06-21 12:54] ntozier commented on #3218
This appears to be a duplicate report.
https://github.com/osTicket/osTicket/issues/877
https://github.com/osTicket/osTicket/issues/1125

[2016-06-21 12:56] ntozier commented on #3213
"The answer is because some fields are used internally and, for historical reasons, are required for the system to function properly. For instance, the "subject" is required for email processing." @greezybacon

[2016-06-21 15:22] greezybacon commented on #2440
@robintoy could you try the patch in #3219 to see if it addresses the timezone issue?

[2016-06-21 15:28] greezybacon commented on #3218
@ATalker could you try the patch in cd6eae6c93e23483566b73559af92378088b1e64? I think it should be backported to 1.9.x until we can shore up the parallel request + session thrashing issue.

[2016-06-21 15:46] greezybacon commented on #3217
I didn't know osTicket was using soap. When was that implemented?

[2016-06-21 15:49] greezybacon commented on #3193
@danielc1234 it's really hard for me to assist if you're nervous about making any changes. I think you should make a copy of your osTicket installation and database. Apply some changes, whatever they are, to the copy, and retest your issues. If there are adverse effects, then you can raise them and we can work through your remaining issues.

When your confident no adverse effects exist, then apply

[2016-06-21 15:51] greezybacon commented on #2495
Thanks for the update.

[2016-06-21 15:51] #2495 closed

[2016-06-21 15:52] greezybacon commented on #3173
@philbertphotos v1.10 only requires PHP 5.4, so the info might help to solve the issues for PHP versions previous to 5.4

[2016-06-21 17:11] robintoy commented on #2440
Tested and works perfectly!!!
Screenshot added to #3219

[2016-06-21 18:15] danielc1234 commented on #3193
@greezybacon

Okay, so I'm on osTicket (v1.10-rc.3) now and osticket is throwing these errors when I try to send an email. You had mentioned that this version is compatible with PHP7?

The errors I am getting is this:
 Mailer Error
Unable to email via php mail function:"Customers Name" mail() returned failure
Log Date: 06/21/2016 02:11:13 PM IP Address: 75.149.###.###
 Mailer Error
Unable to email

[2016-06-21 18:28] greezybacon commented on #3193
Did you sanitize the `oursite.com` part of the messages?

[2016-06-21 18:30] danielc1234 commented on #3193
@greezybacon
Yes I did, that is the server site that osticket is on. I just didnt want the site shown.

[2016-06-21 18:30] danielc1234 commented on #3193
Unless you need to see it.

[2016-06-21 18:50] greezybacon commented on #3193
@danielc1234 all I can see from your message is that sending an email through your mail server failed. I have no idea why it would have. Is there more to the message? Did you mail server have a message. Looks like a TLS error. Do you need to check a box somewhere? Or use `ssl://mail.oursite.com` for the hostname?

[2016-06-21 18:54] greezybacon commented on #3213
@suportgc on the help topic page, you can disable the field from the web interface. That might be what you are looking for.

[2016-06-21 19:00] suportgc commented on #3213
Thanks for the answers .
issue resolved

[2016-06-21 19:00] #3213 closed

[2016-06-21 19:09] danielc1234 commented on #3193
@greezybacon
I seem to remember that this happened before on an earlier version, but one of our IT guys was able to fix it. I just asked him about it and this is what he said....

I'm not sure if that gives you any more of a clue or not. I do not see anything in the mail logs, etc.

[2016-06-21 19:13] danielc1234 commented on #3193
This is in the site's apache log files. Not sure if it is related.

[Tue Jun 21 19:07:38.044927 2016] [:error] [pid 14319:tid 140535910078208] [client 75.149.###.###:51924] FastCGI: server "/usr/lib/cgi-bin/php7.0-fcgi" stderr: PHP message: PHP Warning:  Declaration of AssignmentForm::render($options) should be compatible with Form::render($staff = true, $title = false, $options = Array) in /var/w

[2016-06-21 19:49] greezybacon commented on #3193
@danielc1234 yes, those are the two remaining issues for full PHP7 compatibility. Shouldn't prevent mail from sending though

[2016-06-21 19:55] danielc1234 commented on #3193
@greezybacon
Is there any validity to what the IT guy was saying? Is there something I can look into or settings in osticket to test this?

[2016-06-21 19:56] greezybacon commented on #3160
This is available in the https://github.com/osTicket/core-plugins repo. It's in the `auth-oauth` plugin folder

[2016-06-21 19:57] greezybacon commented on #3193
Whose TLS implementation is broken? If you mean osTicket, we don't have a TLS implementation. We use PHP, which uses openssl. Perhaps you should upgrade? I really doubt the TLS implementation in PHP7 is broken.

[2016-06-21 20:08] greezybacon commented on #3178
@mckaygerhard could you provide a full backtrace? Line 877, plus or minus 20 lines, does not contail a call to 'getDynamicFields'. I see where the issue _could_ be triggered on line 927 (v1.9.11, 925 in v1.9.14).

I think this issue should be taken care of for the v1.10 branch. I don't where the call to `getDynamicFields` could crash on the `develop` branch.

Could you try this patch?
[code]

[2016-06-21 20:53] danielc1234 commented on #3193
@greezybacon

So you are saying it is a server issue not osticket? I tried to change to another SMTP email client in osticket and get this error when trying to save.

authentication failure [SMTP: STARTTLS failed (code: 220, response: 2.0.0 Ready to start TLS)]

I'm sorry I cannot be better at describing the issue, I have limited knowledge with servers.

[2016-06-21 20:59] robintoy commented on #3193
If you are using a hosting provider they normally provide a local host SMTP server for emails, but if you are a little more advanced / split system like we have you will need to look at different ports for SMTP traffic.

If like us you are hosting witha third party company but want to send and receive emails via your Exchange server or something else you will need to look at enabling SMTP port 587

[2016-06-21 21:30] greezybacon commented on #3193
@danielc1234 maybe try SMTP on port 587, or 465? Using the other port number solves the issue often

[2016-06-21 21:34] danielc1234 commented on #3193
I found this solution on the internet that seems to work. The only issue now is when we attach an image or file, it will send a duplicate of the attachment to the customer.
http://vidagnu.blogspot.com/2016/02/osticket-error-smtp-starttls-failed.html
Beyond that, it seems to be working, but still testing.

[2016-06-21 21:56] greezybacon commented on #3193
@danielc1234 so, about that. We upgraded the Net/SMTP.php shipped with osTicket v1.10-rc.3 so that this edit is no longer necessary. Are you still using some old version of osTicket? or manually keeping an edited file around? The `_socket_options` variable is not used anywhere in the current Net/SMTP.php script.

[2016-06-21 21:58] greezybacon commented on #1852
Have we deviated from an original problem statement? What bug is still in existence?

[2016-06-21 22:01] greezybacon commented on #3182
This seems to have been fixed in the official v1.10-rc.3 release. Can you run a pull and give it another go?

[2016-06-21 22:22] danielc1234 commented on #3193
@greezybacon I'm not sure. I thought I had downloaded the v1.10-rc.3 and ftp'd the files over to the server. It is showing that version number in the admin. How can I download the absolute latest version? When I ticked on the develop brand and hit download, it gave me the 1.8 version.
Do you have a link to the latest version that I can ftp over?
Thanks for all your help by the way.

[2016-06-22 02:57] greezybacon commented on #1935
This should be fixed in v1.10 by the way

[2016-06-22 02:57] #1935 closed

[2016-06-22 06:42] ATalker commented on #3218
@greezybacon i tried your patch and it works. Thank you!

[2016-06-22 11:41] evandroamaro commented on #831
I'm using English version v1.9.12, and it also came with this error 'm' instead of 'i'. Now it's corrected. I didn't notice it myself. Thanks to this Topic and everyone who contributed.

[2016-06-22 13:38] Hannibal226 opened #3221 "Upgrade Error: 1.9.12 -> 1.10 RC3"
I was testing the upgrade from our production version (1.9.12) to the new RC3 release.

I think I tried and changed things feeled like about hundred times, but always seeing:
`[core]: Upgrader Error now`.

All problems starting with the Error:
`DB Error #1054`
After that issue I only see the Upgrader Errors.

Problem always the same `Table 'XYZ' already exists` or `Duplicate column name 'XYZ'`
I t

[2016-06-22 13:40] greezybacon commented on #3218
@ATalker thanks for the feedback. I pushed the commit into the `1.9.x` branch.

[2016-06-22 13:40] #3218 closed

[2016-06-22 13:44] greezybacon commented on #3221
Seriously?! Are you seriously redacting the names of the tables and columns? How in the world can I help you fix the problem? Is there a back trace from the `DB Error #1054`?

[2016-06-22 13:52] Hannibal226 commented on #3221
@greezybacon
Ehm sorry, but as it's so various I didn't think this would help, but here u go:
#1054 error:
`Unknown column 'extra' in 'field list'`
[core]: Upgrader Error now:
`Table 'ost_translation' already exists`
`Duplicate column name 'lang'`

Here I started to uncomment "ADD 'lang' AFTER 'inline'

Then it continues with (uncommented after each of these):
`Duplicate column name 'timezone'`
`T

[2016-06-22 14:02] mckaygerhard commented on #1852
the problem its that the i18n files must be corrected but the translation tool interface only able to edit the string refers to language and not the original whole file source, due the problem its inside the tranlation files itselft and not in the translated strings!

this problem its so easy to solve (only edit the files) but stil in two years are not solved!

this affect at least 3 languajes: ru

[2016-06-22 14:06] mckaygerhard commented on #3178
the 1.9.14 get solved this issue or i must pached by myselft! (i will graduate in php-pached-master at this way)

take in consideration that this only happened in tickets that have some fields or users not already present in sistem, by ej. delete a custom filed or whole form associated

[2016-06-22 14:12] mckaygerhard commented on #3178
u in second line got dinamic fields from so this must solved, so i'll closed after tested today! thanks for the patch

[2016-06-22 14:23] mckaygerhard commented on #3178
working! thanks oh men relly relly thanks, please commit that change to the TODAY STABLE VERSION ABLE TO USE IN PRODUCTION due v1.10 still are not stable!

i'll closed when commit are confirmed!

[2016-06-22 14:23] mckaygerhard commented on #3178
working! thanks oh men relly relly thanks, please commit that change to the TODAY STABLE VERSION ABLE TO USE IN PRODUCTION due v1.10 still are not stable!

i'll closed when commit are confirmed!

[2016-06-22 14:25] mckaygerhard commented on #1485
partially fixed with patch in #3178

[2016-06-22 16:41] zguithues commented on #3147
Patch #3216 works for me @greezybacon
Thanks for the quick fix! :)

[2016-06-22 17:04] greezybacon commented on #3178
#3222. Cheers

[2016-06-23 03:19] GoodbyeWorld opened #3223 "1.10 RC3 knowledgebase broken"
Upgraded from 1.10 RC2 to 1.10 RC3, release afd63e1198c5c7d7f6dd6c9057f176d9b007242f

When logged in as staff, I go to Knowledgebase tab and I get this:

`Fatal error: Call to a member function sort() on a non-object in /opt/osTicket-git/osTicket-1.10-rc3/include/staff/faq-categories.inc.php on line 147`

I had a small handful of articles in my knowledgebase, and they appear to be unavailable due

[2016-06-23 04:22] infectormp commented on #3223
https://github.com/osTicket/osTicket/issues/3147

[2016-06-23 05:15] GoodbyeWorld opened #3224 "1.10 RC3 ticket subject empty"
Upgraded from 1.10 RC2 to 1.10 RC3, release afd63e1198c5c7d7f6dd6c9057f176d9b007242f

I've got a ticket type where I've unchecked many of the default form questions like "Issue Summary" which gets stored as the variable "subject".  Prior to RC3, the Subject of new tickets was set to the name of the ticket type, and now (since I do not ask the user to provide an Issue Summary) the Subject of all ne

[2016-06-23 06:51] JohnDelisle opened #3225 "1.10 RC3 datetime form data broken"
Upgraded from 1.10 RC2 to 1.10 RC3, release afd63e1198c5c7d7f6dd6c9057f176d9b007242f

It appears that there's been a change around how datetime form values are stored, and as a result, after upgrading all the datetime values in my tickets are no longer being displayed.

Here's how my form fields are defined in the ost_form_field table:

[code]

Notice that id 40 is a datetime type field.

Now look

[2016-06-23 07:06] GoodbyeWorld opened #3226 "1.10 RC3 advanced search not matching "includes" on "choices" form fields"
Upgraded from 1.10 RC2 to 1.10 RC3, release afd63e1198c5c7d7f6dd6c9057f176d9b007242f

I have a form field that is a "Choices" type, with several options for the users to select from.  For example, the choices might be Red, Yellow, and Blue.  Users select from one of those.

When I perform an advanced search, I find my form field, choose "Includes", and then select "Red" from the options that are p

[2016-06-23 07:36] infectormp commented on #3225
can you try this https://github.com/osTicket/osTicket/pull/3219?

[2016-06-23 10:00] Pooleyy commented on #2628
I was also getting
authentication failure [SMTP: STARTTLS failed (code: 220, response: 2.0.0 Ready to start TLS)]

I've updated my SMTP.php and Socket.php /include/pear/Net - to the latest versions.
pear.php.net/package/Net_SMTP/download
pear.php.net/package/Net_Socket/download

Now I'm getting another error
authentication failure [SMTP: Invalid response code received from server (code: 535, respo

[2016-06-23 10:05] ATalker opened #3227 "OsTicket 1.9.14: There is no email address near collaborator name"
Hello
   In **OsTicket 1.9.12**,  If you add collaborator manual or automatically, then system will print Internal message with name + email of user(s)
   In **OsTicket 1.9.14**,  If you add collaborator manual or automatically, then system will print Internal message with only name
   Is it Bug or Feature?

Examples:

**Screenshot for 1.9.12**
![ot 1 9 12 test](https://cloud.githubusercontent.com

[2016-06-23 12:09] mfelber commented on #2628
Try to use port 465 for SMTP and add "ssl://"  before the server entry:

![smtp](https://cloud.githubusercontent.com/assets/5539456/16302544/08c0e9bc-394c-11e6-85e3-9a79159e2b50.jpg)

[2016-06-23 12:13] Pooleyy commented on #2628
I've tried a different email with Authentication Required: yes
this works fine. For some reason the other email doesn't authenticate and therefore fails.
Strange - but using an office 365 liscenced email works fine.

[2016-06-23 12:44] faguilar opened #3228 "1.10 RC3 My Tickets"
Hi, I'm having some issues with assigned tickets, it should list only 1 ticket, but it shows me more.

![image](https://cloud.githubusercontent.com/assets/8424520/16303160/42fc96d2-391d-11e6-93b1-cfacfdd5d6ad.png)

![imagen_23_6_16_8_36_a_m__pegada_copia](https://cloud.githubusercontent.com/assets/8424520/16303416/8a21b2f8-391e-11e6-9e4e-b4b8aa982ab3.jpg)

Any ideas?

[2016-06-23 12:44] ntozier commented on #3224
Did you modify your RC2 installation?  Because this: "Would it be possible to have the Subject behave like it did in RC2, where if the user did not provide a value for Subject, it would default to the ticket type?"  is not a thing that osTicket does.

[2016-06-23 12:54] ntozier commented on #2628
This:
authentication failure [SMTP: Invalid response code received from server (code: 535, response: 5.7.3 Authentication unsuccessful)]

usually indicates that authentication was unsuccessful. I would think that this would be at the remote end personally.

[2016-06-23 12:56] ntozier commented on #3228
Your tickets is not "your assigned tickets" it is tickets that you have access to.  Such as being directly assigned to you, being assigned to a team you are a member of, and being assigned to a department that you are a member of.

[2016-06-23 13:06] robintoy commented on #2628
You have two ways of getting this to work from an administration point of view....

1. You use authentication
2. You remove authentication like we did and restrict access to your SMTP server via IP address and sending domain.
![smtp settings](https://cloud.githubusercontent.com/assets/8893903/16304063/af31fd78-394b-11e6-9fd2-7d0d6c95f28b.png)

[2016-06-23 13:07] robintoy commented on #2628
As I was posting @Pooleyy I noticed you talk about Office 365.

You say a licensed mailbox works??
Are you trying to use a "Shared Mailbox" ??

[2016-06-23 13:07] gbernabe commented on #2309
I have this problem. is there fix now?????

[2016-06-23 13:12] Pooleyy commented on #2628
Ahh Robin it could be Shared yes.
But... I have the same email address set up on an old osTickets and it works fine. With no Authentication like you have suggested above.

[2016-06-23 13:15] robintoy commented on #2628
Hi @Pooleyy
you will not be able to use Office 365 like our configuration as you do not have access to Microsoft's Exchange cluster directly to add the right rules as required.

With a shared mailbox MS did an update a while ago stopping authentication to it, the only way to auth against a shared mailbox is with one of the users that has access to the mail box

[2016-06-23 13:16] Pooleyy commented on #2628
Hi @robintoy
I see, thanks for your input - appreciated.
I've solved it by using another email now. It's just odd how it still works on my old osTickets.
Cheers! Sam

[2016-06-23 13:30] philbertphotos commented on #3173
Server Information
osTicket Version 	v1.10-rc.3 (907ec36) — Up to date
Web Server Software 	Apache
MySQL Version 	5.5.49
PHP Version 	5.6.22-1+donate.sury.org~trusty+1

[2016-06-23 14:23] mfelber opened #3230 "1.10 RC3 - issue report - i18 - ticket state name will not be saved"
When I enter a new ticket state name for the german language and click on save (Speichern):

![ticket state name offen](https://cloud.githubusercontent.com/assets/5539456/16306343/a1f8730a-395d-11e6-8ab5-99bb61b24a83.jpg)

.. it won't be saved:

![ticket stae name open](https://cloud.githubusercontent.com/assets/5539456/16306310/86c67c58-395d-11e6-94c1-ca2eac0a1dcd.jpg)

No error is displayed. No

[2016-06-23 14:29] barrydegraaff commented on #2309
Dunno, seems no body is taking pull requests here... https://github.com/osTicket/osTicket/pull/2480

[2016-06-23 14:35] ntozier commented on #2309
might have something to do with the conflicts with the PR?

[2016-06-23 14:41] Hannibal226 commented on #2309
@barrydegraaff
We personally using ur workaround and I'm happy to use it, but this still isn't a solution for the problem itself.
So like I said it's a workaournd, not a fix.

Thanks and CHEERS

[2016-06-23 14:44] faguilar commented on #3228
If so, do you have any idea why in the top says I only have one? but actually shows me more, normally in the previous version (1.9.12) used to show me only the tickets assigned to me and in the tab "open" what corresponds to the team or department I'm member of.

[2016-06-23 14:45] barrydegraaff commented on #2309
yeah, there is a conflict cause no one merges the PR, so it is no longer up-to-date with the current code.

Depending on how you look at it, the problem the current error overlay creates, is worse then the problem of not saving a draft, anyway, it would be polite to close or deal with PR's in a timely manner.

[2016-06-23 15:05] gbernabe commented on #2309
I've been researching a lot.

With this solution:

https://github.com/osTicket/osTicket/pull/2480/commits/b06259a71b71c612349ad0047ccb34dc68e29a83

The problem doesn't occur in Internet Explorer, but occur in Chrome.

Analyzing the file "redactor-osticket.js" i can see that the program save in cache every 10 seconds. If you close the windows before, then, you can see the error. I've thought that w

[2016-06-23 15:11] GoodbyeWorld commented on #3224
Other than adding a custom language to "translate" some terms needed for our use-case, no other changes including code changes were made. We're a small not-for-profit organization, and we deliver a full years worth of gently-used baby clothing and supplies to families in need.   The language needed to be adjusted away from "tickets", "agents", and "users" to "requests", "volunteers", and "applican

[2016-06-23 15:28] GoodbyeWorld commented on #3225
@infectormp Thanks for the suggestion - I've tried that, and it didn't appear to make any difference when viewing tickets.

I may not understand the nuance of the change you suggested, but I don't see how it would affect datetime fields being stored in the DB as epoch timestamps (RC2) vs. being stored as MySQL datetime strings (RC3).  I think something must have changed around the format of how da

[2016-06-23 15:34] GoodbyeWorld commented on #3223
@infectormp Thank you - that did indeed fix this issue.

[2016-06-23 15:34] #3223 closed

[2016-06-23 16:07] GoodbyeWorld commented on #3224
@ntozier - I've just installed a fresh v. 1.10 RC2 install with a fresh database, followed the three steps above, and it worked as I described (the ticket Subject (aka Issue Summary) was set to the Help Topic name).

I then upgraded to RC3, and the behavior changed.  RC3 leaves the ticket Subject empty when new tickets are created.

[2016-06-23 17:53] mfelber commented on #3230
I don't think that has something to do with the language pack. That also happen with a fresh install without  a language pack.

In osticket 1.9.x I can change the name:

![offen](https://cloud.githubusercontent.com/assets/5539456/16313921/bddf2afa-397b-11e6-9a20-9e1dc6bb38d4.jpg)

That seems the place in the database where it should be stored:

![ticket status](https://cloud.githubusercontent.com/

[2016-06-23 18:10] #3178 closed

[2016-06-23 19:29] robintoy commented on #3087
Hi @cyberformed
do you get any error messages at all when you try and setup the POP3??

Also, as asked by @ntozier what version of osTicket you running?
(PS this might be better in the forums http://osticket.com/forum/categories)

[2016-06-23 19:30] balojs commented on #3230
Same issue #3084

[2016-06-23 19:34] robintoy commented on #3028
Hi @RicKro
I have seen this issue on the following version of osTicket: -

- v1.9.11
- v1.9.12
- v1.9.13
- v1.10-rc2

We only experience the issue when using Microsoft Internet Explorer, swapping to Mozilla FireFox or Google Chrome solved the issue for me and my team.

I know this is not a perfect answer or a solution but I do not think the issue is with osTicket, maybe @protich or @greezybacon fe

[2016-06-23 19:44] robintoy commented on #2982
develop-next is now v1.10-rc3 and rc2 moved to develop as already stated.
We been using rc2 for a long time now and it is very stable [v1.10-rc.2 (231f11e)].

I'm just wondering as your issues might now be solved should we close this issue?

[2016-06-23 19:48] robintoy commented on #2962
I have now done this and submitted a pull
https://github.com/osTicket/osTicket/pull/3231

Sorry it took me a while, but v1.10.x is very different!
Please be warned that this is based on develop-next which is v1.10-rc3 and should not be used in production due to many errors.

If you want a version for v1.10-rc2 which is a lot more stable please download this version
https://github.com/StrobeTechnol

[2016-06-23 19:50] robintoy commented on #2962
also @tuudik this is not really an issue for the good folks of osTicket to solve and really should be posted in the community forums found here
http://osticket.com/forum/categories

To allow the guys to focus on this great system can you close this issue?

[2016-06-23 20:43] tuudik commented on #2962
Sure:)

[2016-06-23 20:43] #2962 closed

[2016-06-24 13:03] mohataj opened #3232 "1.10 RC3 auth-ldap fails with error 500"
still working in 1.10 RC2, auth-ldap fails with error 500 in 1.10 rc3

http://FQHN/helpdesk/scp/ajax.php/users?q=<username> cannot be loaded

[2016-06-24 13:08] mohataj opened #3233 "1.10 RC3 email added to ticket wrong sender and recipient"
Email-Info shows up in the ticket as:

Von: Helpdesk  [mailto:helpdesk@]
Gesendet: Freitag, 24. Juni 2016 13:10
An: Vorname Nachname
Betreff: Aw: Tickettitel [#140464]

should be

Von: Vorname Nachname
Gesendet: Freitag, 24. Juni 2016 13:10
An: Helpdesk  [mailto:helpdesk@]
Betreff: Aw: Tickettitel [#140464]

[2016-06-24 13:17] ntozier commented on #3232
wrong repo to report this at.
Also this is a dupe.  Please close it.
https://github.com/osTicket/osTicket-plugins/issues/105
https://github.com/osTicket/osTicket-plugins/issues/100

[2016-06-24 13:20] ntozier commented on #3233
Please provide actual email headers.

[2016-06-24 13:27] Taps7734 opened #3234 "Error when attempting to assign to different user - v1.10-rc.3-1-gafd63e1"
When I attempt to assign a ticket to another user, I see that the AJAX window just spins after I hit the ASSIGN button.

Looking in the error log, I see this

`PHP Fatal error:  Call to undefined method QuerySet::findFirst() in /var/www/html/include
/class.dept.php on line 341, referer: http://support.company.com/scp/tickets.php?id=7322`

Originally saw the issue in 907ec36, so I updated to afd63e

[2016-06-24 13:28] kest874 opened #3235 "1.10/1.11 DB Error #1054"
@greezybacon Could you give me some incite on where to trace this error, it's somewhat random:

`DB Error #1054
[SELECT A1.`id`, A1.`org_id`, A1.`default_email_id`, A1.`status`, A1.`name`, A1.`created`, A1.`updated`, A2.`id`, A2.`user_id`, A2.`flags`, A2.`address`, A3.`id`, A3.`name`, A3.`manager`, A3.`department`, A3.`status`, A3.`domain`, A3.`extra`, A3.`created`, A3.`updated`, A4.`id`, A4.`user

[2016-06-24 13:38] Taps7734 commented on #3234
Sorry.  Didn't have the full version in the title.  Just what I pulled from the bootstrap.php.

Full version is v1.10-rc.3-1-gafd63e1

[2016-06-24 13:45] faguilar commented on #3228
Any ideas? I can't see the tickets assigned to me.

[2016-06-24 13:45] mfelber commented on #3230
Ok, I see it. I will close this issue report because it's obviously a duplicate issue ;-)

[2016-06-24 13:45] #3230 closed

[2016-06-24 13:53] mfelber commented on #3084
BTW I think the ticket_status.yaml will only be used when osticket is installed with this language (which is not possible yet for 1.10). Due to this bug which prevents editing the name you could only change the name in the table ticket_status table directly.

[2016-06-24 14:44] balojs commented on #3234
I have the same versión but not show this error

![screenshot](https://cloud.githubusercontent.com/assets/3303352/16340923/cce478f4-39e7-11e6-9209-790f022475ba.png)

[2016-06-24 15:08] mfelber commented on #2331
I will close this issue report because it's a duplicate issue (#3084 and #3230). Must have forgotten that this issue exists and was created from me ;-)

[2016-06-24 15:08] #2331 closed

[2016-06-24 23:59] greezybacon commented on #3235
Did you add it to your database? I'm not sure where that would come from. Maybe you should restart apache or php-fpm?

[2016-06-25 00:23] greezybacon commented on #3084
Can anyone try the patch in #3236 to see if it addresses the issue?

[2016-06-25 00:26] greezybacon commented on #3234
I think #3090 might be the best fix for this

[2016-06-25 00:27] greezybacon commented on #3234
@balojs could you try this patch?
[code]

[2016-06-25 00:31] greezybacon commented on #3228
In `include/staff/tickets.inc.php`, around line 103, we have in the `assigned` case, which corresponds to the `My Tickets` queue:
[code]
which seems to indicate that tickets assigned to any team, but no staff member would show up. @faguilar is this what you're seeing? @protich is this correct?

[2016-06-25 00:34] #2982 closed

[2016-06-25 01:47] greezybacon commented on #3224
@GoodbyeWorld could you try the patch in #3237 to see if it addresses the issue

[2016-06-25 01:58] greezybacon commented on #3225
I think 5ebebbbcde10b3475b8efbb86becfb9a37352791 is the culprit. Perhaps you could run the associated database update query:
[code]

[2016-06-25 02:06] greezybacon commented on #3226
I know I've seen this elsewhere. Sorry we have gotten around to addressing it yet.

[2016-06-25 02:09] greezybacon commented on #3227
Looks like a XSS bug

[2016-06-25 02:25] greezybacon commented on #3227
@ATalker could you try the patch in #3238 to see if it addresses the issue?

[2016-06-25 02:31] greezybacon commented on #3171
I agree that it would be nice to send an email back. However, osTicket currently does not correspond via email except when the ticket thread is continued. So we currently don't have a way to respond to the email unless we create a ticket, which we aren't since it's being denied.

I like the idea of the LDAP integration, though.

[2016-06-25 08:13] mfelber commented on #3084
I have tested the patch and it works fine :-)

[2016-06-25 13:33] greezybacon commented on #2473
If fixing things is so easy, why are there so few people doing it?

[2016-06-25 13:45] greezybacon commented on #2473
@simonebracaloni @mckaygerhard could you try the patch in #3239 to see if it addresses this issue?

[2016-06-25 13:46] greezybacon commented on #1996
@mckaygerhard could you try the patch in the second commit of #3239 to see if it addresses this issue?

[2016-06-25 13:48] greezybacon commented on #3199
Where is that again? I can't find that page

[2016-06-25 13:49] greezybacon commented on #3197
@ntozier is there any other browser affect by this, or only IE version exactly 8.5?

[2016-06-25 15:01] greezybacon commented on #3190
@haraldhh I gave it a shot in #3241. I can get a link to the tasks tab in the ticket page. Because of the ajax usage to pull up the individual task, I can't get a link to the actual task in the tasks tab inside the ticket view.

[2016-06-25 15:02] greezybacon commented on #3192
@sharmay could you send some screenshots of your configurations? Specifically the ticket filter(s) being used?

[2016-06-25 15:03] greezybacon commented on #3189
Our goal is to add an automation feature which would implement this idea

[2016-06-25 15:05] greezybacon commented on #2979
@Distans if I had a dollar for every time someone submitted an issue about email notifications not working...

[2016-06-25 15:09] greezybacon commented on #3228
This is a duplicate of #2899

[2016-06-25 15:10] greezybacon commented on #3228
This was definitely a regression from 6b76402e5af021f0a5d08923488bb947e2efaa15

[2016-06-25 15:10] greezybacon commented on #2899
This was definitely a regression from 6b76402e5af021f0a5d08923488bb947e2efaa15

[2016-06-25 15:12] greezybacon commented on #2899
It looks like the code my be incorrect if you (the staff viewing "My Tickets") is not a member of any team. Is that the case here?

[2016-06-25 15:12] greezybacon commented on #3228
It looks like the code my be incorrect if you (the staff viewing "My Tickets") is not a member of any team. Is that the case here?

[2016-06-25 15:17] greezybacon commented on #2228
I can confirm that changes to the help topic are properly logged in the events in the ticket thread in v1.10-rc.3

[2016-06-25 15:18] greezybacon commented on #3096
I believe this is formally fixed in #3216

[2016-06-25 15:20] greezybacon commented on #1686
@mckaygerhard @carlospea @novat0 have you guys downloaded an updated language pack off the osTicket download page?

[2016-06-25 15:24] greezybacon commented on #3163
Can you try using the php mail function, perhaps? It would seem if the diagnostic tool works, then the other emails must be dropped for some other reason by the mail transfer agent (ie. not osTicket).

[2016-06-25 15:26] greezybacon commented on #1309
Can we close this? I believe the last of the issues with the drag-and-drop file uploader were fixed in 1.9.x as of 048ac7f9921d8702fecec49dace99415d197520d

[2016-06-25 15:28] greezybacon commented on #3162
@suportgc I think your many questions would be better served in the [osticket forum](http://osticket.com/forums).

Currently, there is no support for integrated chat inside osTicket.

[2016-06-25 15:30] greezybacon commented on #2876
This was fixed in efe3a3e668f10f9a5f64654ab8ea42c02e732405

[2016-06-25 15:35] greezybacon commented on #3050
I wish I knew more about nginx. Looks like you guys are somehow not routing `scp/ajax.php/form/upload/attach` to the `scp/ajax.php` script.

[2016-06-25 15:38] greezybacon commented on #2166
So, is the root issue here adding a column to the ticket listing for the organization, or is it to specify the organization when creating a new user?

[2016-06-25 15:40] greezybacon commented on #3130
@evandrosk are you asking about accessing external databases from osTicket?

[2016-06-25 15:44] greezybacon commented on #3149
@jakester2 could you try the patch in #3242 to see if it addresses the issue?

[2016-06-25 15:45] greezybacon commented on #3137
This is possible with #2577. Might you have an opportunity to evaluate and comment on that feature?

[2016-06-25 15:46] greezybacon commented on #3188
You have some email issues. Are you including the ticket number in the subject line? `#%{task.number}`?

[2016-06-25 15:50] astonjke opened #3243 "invalid CSRF token (osticket v1.9.8)"
Today I looked at the event log and there are a few pages at one time there were a lot of warnings. How can this be solved?

[2016-06-25 15:51] greezybacon commented on #3077
@nntu that error doesn't make any sense. You have a record in the database for file_id 99. And it's not a whole block (512000 bytes), so there would be no need to add another chunk. Do you have an entire backtrace for the error?

[2016-06-25 15:52] greezybacon commented on #3140
If you're piping, then `api/pipe.php`, which will start in `include/api.tickets.php`, PipeApiController. If you're fetching then it would be controlled by `include/class.cron.php`, the MailFetcher method.

[2016-06-25 15:59] greezybacon commented on #3156
@cyclops26 we are working on removing all SQL from the system and replacing it with PHP code that generates SQL for the database. This is the ORM project. _But after reading your post again, I see that's not your question._

What we do to generate the upgrade patches is simple. After making the appropriate changes to the install script, `setup/inc/streams/core/install-mysql.php`, then create an MD

[2016-06-25 16:02] greezybacon commented on #2509
@mckaygerhard we do not send the initial email because the collaborators were already included on the email which was used to create the ticket. Why should they receive a second email with the same information?

[2016-06-25 16:04] greezybacon commented on #2888
This is fixed in 907ec36

[2016-06-25 16:04] #2888 closed

[2016-06-25 16:05] greezybacon commented on #3150
This is generally associated with nginx. Or Apache is not configured to pass the path_info to PHP scripts.

[2016-06-25 16:06] greezybacon commented on #3148
@euphon I think your URL would look something like `ajax.php/path/to/34`, where `34` is the ID number matched in your ajax.php page.

[2016-06-25 16:08] greezybacon commented on #2472
This was fixed in d2af0eb630200dd2144a77e38906063c6ec57c20

[2016-06-25 16:08] #2472 closed

[2016-06-25 16:09] greezybacon commented on #3135
@tjob29 you could edit `include/staff/tickets.inc.php` and around line 271, do
[code]
Or just uncomment the `echo $query` line

[2016-06-25 16:12] greezybacon commented on #3128
Interesting. We automatically truncate the thread entry to be less than `max_allowed_packet`, but only when the thread entry is over 250000 (250k) bytes. Curious @wochebs what was the `max_allowed_packet` set to? We assume it's at least 512k

[2016-06-25 16:14] greezybacon commented on #3121
You can drop it or truncate it. Set the `reindex` value to `1` in your config file afterwards to rebuild the index.

[2016-06-25 16:16] greezybacon commented on #3076
@ccontreras93 I'm not sure what you mean

[2016-06-25 16:44] greezybacon commented on #3124
We call this mass actions. Here's an example of how to do it on the `develop` branch (v1.10-rc.3). Perhaps we should make this more pluggable. I do like the idea.
[code]

[2016-06-25 16:47] greezybacon commented on #1532
Advanced search was redesigned for v1.10. Sorry it's taken so long to stabilize. It's also redesigned again in #2577. Hopefully it works better with each iteration.

[2016-06-25 16:47] mfelber commented on #1475
I have seen this behavior too (in 1.9.x and 1.10.x).
When I send an email to osticket with an emoticon (not as ":-)" but "=F0=9F=98=80") only the text before the emoticon is imported.

If the database column is "adjusted" with this statement from greezybacon the email will not be truncated anymore (!) but instead of the emoticon "????" is stored in the database (and shown in the thread entry).

Wh

[2016-06-25 17:22] greezybacon commented on #1475
@mfelber I took a stab at the issue in #3244.

[2016-06-25 17:27] balojs commented on #3084
thanks @greezybacon 👍

[2016-06-25 17:28] balojs commented on #3084
it works fine!

[2016-06-25 17:28] #3084 closed

[2016-06-25 17:38] Chefkeks commented on #3124
Making it more pluggable it's definitely the right way - agree on this with you @greezybacon
And thanks for the screenshot! :+1:

[2016-06-25 17:42] balojs commented on #3234
@greezybacon yeah, it's worth this patch 👍

[2016-06-25 18:00] Chefkeks commented on #3197
@greezybacon
I guess @ntozier meant the IIS webserver (version 8.5) and not the web browser IE (btw there never was a IE version 8.5 afaik) ;)

[2016-06-25 19:14] rbukovansky commented on #2166
I see two issues here:
1. Adding columns to ticket queues - that's going to be solved with your PR #2577 / osTicket 1.11
2. When creating new user, there is no possibility now to say immediately to which organization he belongs. You need to save him first and then add him to organization.

[2016-06-25 19:36] greezybacon commented on #3197
@Chefkeks that makes more sense

[2016-06-25 22:00] mckaygerhard commented on #2509
becose those dest received an normal email event and ostiket notification

if i can make a ticket from the interface and here in firts step added that colaboratos, the mail that will be send will be for all the related (the author, the client and the collaborator)

[2016-06-25 22:03] mckaygerhard commented on #2509
as i said @greezybacon due the people involved does received/send as normal emails from fitrs step, those then answered with normal emails, and all the threath happen outside the thiket threath! a real pain for support technician

[2016-06-25 22:05] mckaygerhard commented on #1309
well currently does not work as spected, said works for any f¡browser but does not work in firefox 10

[2016-06-25 22:08] mckaygerhard commented on #1309
also for lasted does not work too, something fails, something works.. hit f12 developer console and cannot see any error.. dont work in midory too

[2016-06-25 23:34] mckaygerhard commented on #1686
in my last response, yes, but today not, so i'll download a updated lang pack today and report feedback, please gime a few days, around a week and i'll post feedback

[2016-06-26 00:24] mckaygerhard commented on #2228
but v1.10 are not stable and not official released yet!

please gime a break! do u suggest me to put in production a stil not stable/property completed software?

i report this ITS A BUG IN v 1.9 that are not happened, v1.9.11 does not logged changes to help topic in history threat! please!

[2016-06-26 00:27] mckaygerhard commented on #1996
i'll try it in the night at monday, and post feedback here! as i posted in another i'm very busy at my job, i'll promise i'll ried and post feedback here

[2016-06-26 01:43] Rankgel commented on #2228
mckaygerhard is right, the bug is presente in stable release, i have v1.9.11 and does not logged changes to help topic, i try ti fix it but unsuccessfully. some help here would be good

[2016-06-26 03:30] greezybacon commented on #2228
Sorry. It's not a bug. Nothing breaks when you update the help topic. It's a feature request, and it's been implemented.

[2016-06-26 03:34] greezybacon commented on #2166
@rbukovansky I agree. That would be nice. It would also be nice to have an organization drop down in the advanced search, or ticket filter criteria as well

[2016-06-26 05:01] rbukovansky commented on #2166
@greezybacon Well, you are the developer, so make it happen! :)

[2016-06-26 05:27] JasonLabs commented on #3163
Thank you so much for your response!

On osTicket I have tried setting the outgoing to be through the php mail, and I still do not get any response from an agent reply to a ticket to an external email.

On the same server I tried this simple php mail script, and it worked just fine:
(Please let me know if I should be testing some other way to see if the php mail function is working on the server.)

[2016-06-26 10:16] mfelber commented on #1475
@greezybacon Looks terrific:

![terrific](https://cloud.githubusercontent.com/assets/5539456/16361628/df5fa980-3b96-11e6-8b4c-5f5e55b2138f.jpg)

It seems that adjusting the column and using the linked code is sufficient to get it work. I don't need to use the "set names" statement anymore...

[2016-06-26 15:14] AlexYoung28 commented on #2166
Lol

[2016-06-26 15:16] GoodbyeWorld commented on #3225
@greezybacon Thanks for the fix, very appreciated!  Your SQL update corrected all the date data, and now it's showing up correctly when using RC3 to look at tickets created in RC2.

I see you've tagged this db-migration, and probably want to follow up with something to accommodate other users moving from RC2 to RC3 so I'll leave this issue open, unless you advise me to close it.  Thanks.

[2016-06-26 15:45] GoodbyeWorld commented on #3224
@greezybacon You rock Jared, that did it!

I feel like I come across and report some pretty odd bugs, so I'll share some background that might explain why.  We're a small not-for-profit project where we collect clothing and baby-item donations, clean and prepare them, then deliver a full year's worth of clothing and supplies to families in need.  As we grew, we started to realize that tracking req

[2016-06-26 16:15] GoodbyeWorld commented on #3226
@greezybacon Looks like someone else has reported this - https://github.com/osTicket/osTicket/issues/2625 Maybe that's what you were thinking  of?

[2016-06-26 19:27] davideakc commented on #3124
@greezybacon thanks!

Can you adapt it for the 1.9.12 version?

Thanks again!

[2016-06-26 22:26] faguilar commented on #3228
Hi @greezybacon yes, that's what happen, on my tickets instead of seen only the tickets assigned to me or my team, I see all the tickets assigned to any team, but not to a staff member. The only way I found to see only my tickets is enable Limit ticket access to ONLY assigned tickets on my profile, but that means I can't see all the tickets, any ideas how to fix it ? I keep trying without success

[2016-06-27 00:51] faguilar commented on #3228
@greezybacon temporarily fixed by commenting one line

`//      Q::all(array('staff_id' => 0, 'team_id__gt' => 0)),
`

[2016-06-27 01:53] greezybacon commented on #3225
@protich you have several users for whom you should run that patch...

[2016-06-27 02:12] ntozier commented on #3243
You are running an older version of osTicket.  You should really upgrade to current and re-test.

[2016-06-27 02:20] ntozier commented on #3197
@greezybacon yes I am talking about IIS 8.5 (the web server).

[2016-06-27 10:04] #3217 closed

[2016-06-27 11:17] #3232 closed

[2016-06-27 11:33] suportgc commented on #3162
Hello .
Thanks for the tip

[2016-06-27 11:33] #3162 closed

[2016-06-27 12:04] mohataj commented on #3233
Hans Langemann posted 2 days ago

das verstehe ich nicht

Von: Helpdesk Münchner Tafel [mailto:helpdesk@muenchner-tafel.de]
Gesendet: Freitag, 24. Juni 2016 14:17
An: Matthias Hataj <Hataj@muenchner-tafel.de>
Betreff: Neue Nachricht

Helpdesk Münchner Tafel [mailto:helpdesk@muenchner-tafel.de] <br><b>Gesendet:</b> Freitag, 24. Juni 2016 18:37<br><b>An:</b> Matthias Hataj &lt;Hataj@muenchner-tafel.

[2016-06-27 12:41] kest874 commented on #3235
I didn't add but might to get the error to go away. The issue is that it's not repeatable and I'm not clear where or how the field is getting added to the query.

[2016-06-27 13:27] ntozier commented on #3224
If this solved your issue can you please close the issue report.

[2016-06-27 13:32] ntozier commented on #3124
@davideakc new features are rarely (more like never) back ported to old versions.

[2016-06-27 13:50] GoodbyeWorld commented on #3224
@ntozier Will do, thanks!

[2016-06-27 13:50] #3224 closed

[2016-06-27 16:00] greezybacon commented on #3224
@GoodbyeWorld thanks for your feedback on how you use the system. It's encouraging to find how everyone makes use of all the various features.

[2016-06-27 16:01] greezybacon commented on #3235
@kest874 it doesn't make any sense. If you get a lead on when the error occurs, let me know and I'll check it out further.

[2016-06-27 16:05] greezybacon commented on #3163
@JasonLabs yes, you mentioned that the diagnostic in osTicket worked. That would mean that the SMTP system is working properly. My guess is that it is a routing issue. There's some rule or setup somewhere which is dropping or refusing the mails. I've seen before where some anti-spam systems classify our mails as spam based on the subject lines. Perhaps you could change the subject lines, or add th

[2016-06-27 16:08] greezybacon commented on #2166
I love the singleton usage in your statement. Unfortunately, I only have so much time to dedicate to coding for this project, and everyone's issue is the most important...

[2016-06-27 16:09] greezybacon commented on #3233
@mohataj those are not the headers. That is the body of the email

[2016-06-27 16:11] greezybacon commented on #3127
I think this will be an upstream bug in PHP's imap extension. We hope to change to use the Zend_Mail library, which we would have more control over fixing.

[2016-06-27 16:17] varuzam commented on #3127
I found that this problem occurs when i use the action "Use Reply-To Email" in filter

[2016-06-27 16:19] varuzam commented on #3127
I doubt that this is a bug in the php-imap

[2016-06-27 16:26] greezybacon commented on #3127
I see. So my guess is that you also mean that there is only a single email which is processed, but no response is ever sent out?

[2016-06-27 16:32] mfelber commented on #3127
There was a similar case some time ago, maybe it helps: https://github.com/osTicket/osTicket/issues/2414

[2016-06-27 17:21] JasonLabs commented on #3163
@greezybacon I have changed the templates to have my own subject line as well as an internal message that is my own creation, and I still have the same result:

The ticket will reply to an internal email address (an email on the same domain as osTicket)
The ticket will not reply to external email address (such as gmail, etc...)

I am on HostGator, and I have verified the Apache SpamAssasin is deac

[2016-06-27 17:34] ntozier commented on #3163
Sounds to me like you should be talking to HostGator and asking them to look at the mail logs to see why the email is not leaving the server to the intended destination.

[2016-06-27 18:04] JasonLabs commented on #3163
I did receive the logs from them, and there is no indication of blocked emails or errors for sent emails.

The following is just a portion of the mail log:

[code]

[2016-06-27 20:16] ccontreras93 commented on #3076
Hi good afternoon , thank you very much , and solve the problem with one more column in the database . regards

[2016-06-27 20:17] ccontreras93 commented on #3140
Hi good afternoon , thank you very much.

[2016-06-27 20:44] davideakc commented on #3124
@ntozier so I need to make the code for the 1.2.12...

Ok, thanks for the reply!

[2016-06-28 09:29] nathanzeng commented on #2826
@greezybacon This is amazing! Could you please let me know if there have any new updates for this new feature?

[2016-06-28 11:14] ATalker commented on #3227
I tried https://github.com/osTicket/osTicket/pull/3238 and it works in case when you add collaborator manually  but patch doesn't solve bug when system adds collaborator in automatic mode.

[2016-06-28 13:07] greezybacon commented on #2826
I have one feature implemented in #2901. Any feedback is welcome

[2016-06-29 03:00] nathanzeng commented on #2826
Thanks @greezybacon.That's awesome! I'm so excited to test this feature.

[2016-06-29 03:01] blhf opened #3245 "OSTicket v1.10 RC3 Task Bug"
When I open a new Task after update the title becomes blank. Please help fix. Regards,

[2016-06-29 09:23] blhf commented on #3245
Experienced this when using Choices and Custom List. Thanks

[2016-06-29 09:24] blhf commented on #3245
@greezybacon

[2016-06-29 13:51] ntozier commented on #3245
Can you please be a little more coherent and descriptive of what your actual issue is.  Please include step by step instructions to re-create your issue, and you might want to include an image or two (before/after) so that we can see what you mean.

[2016-06-29 20:43] kest874 opened #3246 "1.10rc3 Issue unable to remove a custom form from ticket"
If you try to delete a custom form from a ticket the delete button doesn't work:

![image](https://cloud.githubusercontent.com/assets/12860950/16468160/2e5a3dae-3e10-11e6-8885-aa93bad571b8.png)

However if you add one and then immediately try to delete it appears to function properly:

![image](https://cloud.githubusercontent.com/assets/12860950/16468142/1a3d4a78-3e10-11e6-9c5c-4c1c98169b38.png)

[2016-06-30 06:39] rbukovansky commented on #2166
@greezybacon It was more suggestion than command... ;)

[2016-06-30 06:46] blhf commented on #3245
![image](https://cloud.githubusercontent.com/assets/10716429/16479201/5d62d1a8-3ed1-11e6-8be4-de94d363906a.png)
![image](https://cloud.githubusercontent.com/assets/10716429/16479202/5f5ccbe4-3ed1-11e6-916b-c816c263f7fa.png)
![image](https://cloud.githubusercontent.com/assets/10716429/16479209/6382cd86-3ed1-11e6-9c08-0f30f9091225.png)
![image](https://cloud.githubusercontent.com/assets/10716429/164

[2016-06-30 06:47] blhf commented on #3245
@ntozier  I actually reverted RC2 @ the moment thats why I edited the last picture to erased the title. That is the scenario in RC3 title is not showing after creation of task, same as using the custom list.

Best Regards,

[2016-06-30 08:37] chucks26 opened #3247 "1.10-rc3 "Custom forms" title problem in client ticket view"
Hi,

first of all sorry for my poor english.
Osticket 1.10-rc3 in testing ambient:
![version](https://cloud.githubusercontent.com/assets/20221464/16481732/15ef6120-3ead-11e6-81cd-057a95fb1581.jpg)

We have a few help topics with several custom forms. Theese forms show up correctly when an user open a new ticket (open.php):
![1](https://cloud.githubusercontent.com/assets/20221464/16481809/63e49814-

[2016-06-30 09:53] solankesanket opened #3248 ""Array, Missing or invalid data - check the errors and try again""
I have configured osTicket version number 1.9.12 on my local machine using WAMP server. A ticket is created successfully with valid fields. I have configured the same version on Windows based server, which is my production server and passing the same data as on my local machine, but I'm getting this error.
I want to know what are the possible cases due to which this issue can arise.
I have found t

[2016-06-30 12:13] jurajhudak commented on #2664
Hello. RC3 is available and i NEED

[2016-06-30 12:33] kest874 commented on #2664
You basically download the zip file and over write your existing files, or you can do a git pull.

[2016-06-30 12:36] jurajhudak commented on #2664
When we overwrite the existing file, system stopped working.

[2016-06-30 12:36] robintoy commented on #2664
Download like @kest874 states and the installer takes you through it all, but this is still a beta release client hence the RC added to the title.

[2016-06-30 12:46] jurajhudak commented on #2664
OK, we must download zip file and than run installer?
And data will be remain in the system?

[2016-06-30 12:51] robintoy commented on #2664
If you ok v1.9.x the DB will be upgraded and you will have no way back so make sure you happy to take this route.

All data will remain or did when we did it

[2016-06-30 12:53] jurajhudak commented on #2664
We use osTicket (v1.10-rc.2)

[2016-06-30 13:03] mfelber commented on #2664
It seems that there is a fix needed after the upgrade from rc2 to rc3: https://github.com/osTicket/osTicket/issues/3225

[2016-06-30 13:03] ntozier commented on #2166
I took it as being playful (and not rude or being a jerk).  Heck it made me smile. :)

[2016-06-30 13:09] ntozier commented on #3248
I'm sorry but you have not really provided us with enough information to assist you.  Perhaps a screen shot of what you are seeing, and your ticket details form where you added fields would clarify things.

[2016-06-30 13:12] ntozier commented on #2664
@jurajhudak
Its like upgrading any other piece of web based software.
back up your site.  back up your database.
install the new files.  Run the upgrader (not needed from RC2 to RC3).

[2016-06-30 14:24] balojs commented on #3247
the same problem 1.10-rc3

[2016-06-30 14:43] naerdinsul commented on #1431
Confirmed on v1.9.14 (8b927a0).  There also seems to be a (related?) issue where the custom list selection is not saved to the database when a user account is autoregistered.  Editing the value in the user profile and saving or editing the value in the agent panel and saving both successfully update the value in the database.

osTicket Version           v1.9.14 (8b927a0) —  Up to date
Web Server S

[2016-06-30 18:39] GoodbyeWorld commented on #2664
@jurajhudak I've recently gone through an upgrade of RC2 to RC3 and might be able to help.  If you're interested, how can I contact you off github?  (I don't think this is the right forum for further discussion)

[2016-07-01 06:09] jurajhudak commented on #2664
Thank you so much, everyone. We will continue as you write and when we will be have problems, I write.

[2016-07-01 17:41] balojs opened #3252 "Enhancement: Status List by department"
@greezybacon
is possible ability, status list visibility by department?

Thanks very much

[2016-07-01 17:42] greezybacon commented on #3252
@balojs are you requesting certain ticket statuses to be available for only certain departments?

[2016-07-01 17:45] balojs commented on #3252
@greezybacon  is correct.

Thanks

[2016-07-01 22:24] TheUpsetter opened #3253 "[v1.10-rc.3] Knowledgebase > FAQs page is blank"
Since the upgrade from rc.2 to rc.3, the FAQs page is blank, and I cannot create new FAQs. No Can still display old articles via the "Categories" drop-down filter.

[2016-07-01 22:38] balojs commented on #3253
@TheUpsetter check this faq: Fix crash rendering list of categories #3216

[2016-07-03 16:41] JohnDelisle opened #3254 "1.10 RC3 cannot delete custom ticket stutuses"
I've created a few custom ticket statuses, and though I can disable them, I cannot delete them.  No error is returned and no errors are seen in apache httpd logs.  It just doesn't remove them from the list of custom ticket statuses.

[2016-07-03 19:57] ArthurBorsboom commented on #3033
While using osTicket 1.10 RC3 with PHP7 I have noticed the same.
Looking forward for the fix in a newer version.

[2016-07-04 20:46] dr33ble opened #3256 "Valid CSRF Token Required - Login page"
Hello All ,

I have read around and attempted some fixes but still having issues logging into the agent login with an error , before I have even entered details is says in red writing "authentication require" , I login with admin details and it just shows an error in the top right. "Valid CSRF Token Required".
running version v1.10-RC3. Im a newb to github so be gentle pls xD

[2016-07-05 08:36] jakobkj1 commented on #1225
Hello,

Any news about this wanted feature?

[2016-07-05 09:51] chucks26 commented on #3247
Did some tries...

Tried 1.10-RC2 and it works correctly....

Replaced "bad" code:

                  RC3 -> "/include/client/view.inc.php", rows from 102 to 136
with
                  RC2 -> "/include/client/view.inc.php", rows from 98 to 128

in RC3 and works flawlessy. I know that could be not a good approach, but, in your opinion, could be a solution?

Cheers,
Chuck26

[2016-07-05 13:35] ntozier commented on #3247
your "bad" code appears to match the replacement code you provided...

[2016-07-05 16:03] eproudfit opened #3257 "osTicket 1.10-rc3 - tasks not sending email on creation"
While working with tasks, I have set up the alerting / notifications to be the same as tickets.

If I create the task and assign it to the department only, it does not send out an email to the department members.
If I create the task and assign to the department and an agent, it does send out the email.

I am still evaluating emails about tasks (comments/replies, assignments, etc..)

Also, as a si

[2016-07-06 06:37] chucks26 commented on #3247
Let me be more accurate (I try..)

In 1.10-RC3 (without any code modification) there is the problem mentioned above.
In 1.10-RC2 (without any modification) not.

So I take code from 1.10-RC2, "/include/client/view.inc.php", rows from 98 to 128:

`foreach (DynamicFormEntry::forTicket($ticket->getId()) as $form) {
    // Skip core fields shown earlier in the ticket view
    $answers = $form->getAnsw

[2016-07-06 10:07] mixrat opened #3258 "PHP error with html2text.php"
I get the following PHP error when running the [rocket.chat plugin](https://rocket.chat/docs/administrator-guides/integrations/osticket) via cron. The command I run:
php support/api/cron.php

And the result:
`PHP Fatal error:  Cannot redeclare convert_html_to_text() (previously declared in support/include/html2text.php:27) in support/include/html2text.php on line 62`

The odd thing is that the fun

[2016-07-06 19:54] ntozier commented on #3064
@Taps7734 I just made a PR (pull request) for a possible solution that I have just implemented on my test box (see above).  It doesn't add a toggle, but it allows you to add a custom css file.

[2016-07-07 01:35] 4nanook commented on #2819
I am getting this same error with osTicket Core, v1.10-rc.3 using PHP7.

[2016-07-07 12:50] mmichalski commented on #2798
what needs to change in order for this to work:
class.ticket.php file located in the include directory
attachment variable would replace the null variable in 4 or 5 statements within the file

[2016-07-07 14:31] chucks26 opened #3260 "Thread count ballon in ticket list"
Hi all,

first of all sorry for my English...

I've got a problem in ticket view...in subject column appears ballon with number of thread entries only if >= 2 (see image). Is it possible to show it up also when only 1 note or reply is present?

In the example below, ticket n° 50157344 has 1 reply from user but there is no notification about that...

![image](https://cloud.githubusercontent.com/ass

[2016-07-07 14:35] ntozier commented on #3260
1 is the original message. If there is a ticket... you can assume that it is 1 unless stated otherwise.

[2016-07-07 15:46] chucks26 commented on #3260
Nope...In the example in the image, ticket n° 50157344 (the second one in the list) has 1 reply from user but there is no notification about that...so there is the original ticket and a reply from user sent via mail. Ticket n. 68422712 (the third) instead has no replies, so there is only original ticket, but no layout differences between this and n. 50157344. Ticket 778120835 (the first) has 1 rep

[2016-07-07 15:57] ntozier commented on #3260
Yes.  There is no response, so its still 1.

[2016-07-07 16:03] chucks26 commented on #3260
Uhm..I cannot understand the logic about that...

A)Ticket n. 68422712 (the third) -> only ticket, no response -> no ballon
B)Ticket n. 50157344 (the second one) -> original ticket + 1 response from user - > no ballon
C)Ticket n. 778120835 (the first) -> original ticket + 2 responses -> ballon shows "2"
D)Ticket n. 56545191 (the fourth) -> original ticket + 3 responses -> ballon shows "3"

Why the

[2016-07-07 16:18] chucks26 commented on #3260
Ok, but why case C shows "2"? There are 2 responses from user....

Thank you,
Chuck26

[2016-07-07 23:44] palentir opened #3261 "Please help, AJAX blank popups"
Hi, I've read a bit about my issue, seems AJAX isnt working? When in OSticket admin section and click resolve, the popup window is small and empty. I wonder if anyone can help me? I have a domain which uses subfolders (so I can use other domains and point them to the same ftp), so for example, www.mydomain.com forwarding to \html\mydomain\..
So, when I went to my site the URL looked like mydomain.

[2016-07-08 07:39] chucks26 commented on #3260
Did some investigation and found what I think could be my problem...

Every help topic in our system has got custom forms and "Issue Details" field is always disabled, so users never fill it up.
So new ticket thred count when ticket is created is 0...when user reply via mail, system add the response, so the thread count becomes 1 (and shows no ballon).
We need the ability to notice user response i

[2016-07-08 12:13] kest874 commented on #3261
Might check your error.log and see if there is a php error, will help you to troubleshoot.

[2016-07-08 12:47] palentir commented on #3261
@kest874 Thanks for the reply, I use a web hosting console so I dont really have access to Apache. What would you suggest in such a situation?

[2016-07-08 13:13] flaviohayashi commented on #2797
I was facing same error message using nginx.

added the following part to osticket.conf for nginx and solved the problem

if ($request_uri ~ "^/.*\.php(/[^\?]+)") {
    set $path_info $1;
}

[2016-07-08 13:43] ntozier commented on #3261
I would think that this type of question would be better suited for the support forums.
http://osticket.com/forum

When requesting help you should always include the version of osTicket that you are running, Webserver software, PHP version, and error logs.  There are also a number of threads both on the forums and here on github that discuss the AJAX issue(s).

Every web host I have ever worked wi

[2016-07-08 13:52] palentir commented on #3261
@ntozier thats for the suggestion, I will post there and include the recommended information.

I spoke to my webhost, they said there is a button in my console that lets me download the error log. But the zip file is empty and its also empty in the boxes on my console.

[2016-07-08 14:42] palentir commented on #3261
Hi, I have resolved my issue. I had to restructure my hosting to force this to work. So the website which I am using osTicket with... I had to remove its subfolder and put that website's php files in the /public_html/ folder root. All my other sites use a rewrite rule, whereas this main site just sits in the root. It looks ugly, is quite annoying, but the osticket now works and the end users do no

[2016-07-08 14:42] #3261 closed

[2016-07-08 19:54] kest874 commented on #3235
Narrowed this down, I have a  second site configured that uses a department field in the organization table.  The code in that site surrounding the department doesn't exist in the troubled site, it's as if the department column is cached and apache is confused about which site is loading throwing the error.

Any thoughts?  For now I added the department column so the error should not reoccur.

[2016-07-09 00:32] greezybacon commented on #3235
@kest874 Apache caching is indeed the issue. The cache key is based on the `SECRET_SALT` defined in the `ost-config.php` file. Ensure that the two sites have differing salts. You can also edit the `GIT_VERSION` defined in `bootstrap.php`; however, this will be overwritten when you deploy or unpack updated code.

[2016-07-09 00:34] greezybacon commented on #3235
If you wanna read more, [here's the code](https://github.com/osTicket/osTicket/blob/develop/include/class.orm.php#L267) where the caching happens

[2016-07-09 00:38] greezybacon commented on #3260
@chucks26 that's an interesting case. I never considered such a case. It's not clear when the issue details is disabled, since it can be disabled per each help topic. Perhaps we should show the balloon for 1 or more thread items rather than 2 or more

[2016-07-09 06:24] chucks26 commented on #3260
That would be great for us!
In our case, all users are guests, but for some help topics we use the corporate mail to "authenticate" user...in other words, for a few kind of help topics, a simple user fill the ticket with email field of his chief, and this one reply at the osticket mail of confirmation, adding an entry to the thread of the ticket. Agents take care only of tickets with this "tag", s

[2016-07-09 08:13] sagund07 commented on #2518
I have a similar problem.

I have an external formular which sends an email with an HTML table inside to the support address which is managed by osticket. The problem is that osTicket reads the table and posts it in the ticket but removes all empty cells.

For example I have a table with 3 columns (A, B, C). If someone fills in the fomular with the following data

A | B | C
Hello | World | Text
Te

[2016-07-09 11:57] PooyaE commented on #2918
@ntozier Im using os-ticket support script v1.9 and have trouble in this case too. also find the exact line of code in class.translation.php file.

$this->cache_translations = include $this->STREAM;
this line will include a .phar file.
[file](https://github.com/osTicket/osTicket/blob/develop/include/class.translation.php#L565)

something like this: phar:///dir/to/fa.phar/x.mo

php is not throwing

[2016-07-09 12:08] odoucet commented on #3258
This means file support/include/html2text.php is included twice somewhere. PHP has just a weird way of saying this.

[2016-07-09 21:40] #3149 closed

[2016-07-10 12:59] markus4000 commented on #3245
When I open a new task, it doesn't save my desctription and my attachments. It just takes the Title.
RC3 and actual develop version. both the same issue. known?

[2016-07-10 13:05] markus4000 commented on #3093
Thanks. it works for me! Its still not in RC3... so I let the issue open.

[2016-07-11 06:22] pslnarayan opened #3263 "Provision to disable authentication for viewing tickets"
Hi
As per my understanding ticket description and its updates can be viewed only by submitter and agent. If any other user need to view the ticket content, the user should know who was the submitter and ticket number to view the contents. It will be good if there is provision to disable authentication checks for viewing the ticket contents at ticket level or installation (for all tickets) level.

[2016-07-11 09:35] XHAGBARD commented on #1225
+1

[2016-07-11 10:54] sistemasad opened #3264 "osTicket 1.10-rc3 - Ticket list export outputs only two first lines"
When you click "export" on any ticket list (opened, closed, owned, searched), the CSV generated includes only the first TWO lines.
This also affects to any the result of a search.

The apache logs shows this:
PHP Warning:  mysqli_result::close(): Couldn't fetch mysqli_result in /site_1.10.rc3/include/class.orm.php on line 3076, referer: http://------------------/scp/tickets.php

osTicket 1.10.rc3

[2016-07-11 10:59] sistemasad opened #3265 "osTicket 1.10-rc3 - Users export fails with error"
When you click the export link, you get a blank 500 http error.
On apache logs it shows:

`PHP Fatal error:  Call to undefined method ModelResultSet::rewind() in /site_1.10.rc3/include/class.export.php on line 281, referer: http://------------------/scp/users.php`
- osTicket 1.10.rc3
- Centos 6.8 64b
- mysql 5.1
- php 5.6

[2016-07-11 12:13] mfelber commented on #3265
You could try this fix https://github.com/osTicket/osTicket/pull/3262

[2016-07-11 13:02] kest874 commented on #3235
@greezybacon Than you for your assistance, I changed the key on one site and then restarted apache problem solved.  Most likely no one will ever run into this.

[2016-07-11 13:02] #3235 closed

[2016-07-11 13:17] kest874 commented on #3263
Not sure this is a good idea, I could then pick any id at random and add a reply...

[2016-07-11 13:19] ntozier commented on #3264
by "includes only the first two lines" @sistemasad actually means the first three (3).
Seeing same behavior on my test installations.

1.10rc3
Win2012 R2 w/ IIS8.5
PHP 5.6

[2016-07-11 13:23] ntozier commented on #3263
Goodbye security.  No thanks.

Use Organizations if you want people to be able to see other peoples tickets.
And/Or add a custom open ticket list with minimal details (no ticket number) on the index or a separate page.  Like this: http://tmib.net/add-client-side-open-ticket-list-osticket-19-or-110

[2016-07-11 14:25] des79 commented on #1745
Hi,
sorry I reply to this one but I need help with SMTP configuration. If I set fake account (ex.: fake@mandrill.com) and use this account on settings->Default MTA, I can send email via mandrill but I receive email from this fake account (fake@mandrill.com) and if I reply to email I reply to this one.

How can I set smtp for every email but  sender id operator?

Thank you
+David

[2016-07-11 14:30] ntozier commented on #1745
I think that your going to have to provide screen shots... but cause I have no idea what your trying to ask.  If you reply to a fake email address then you would generate a bounce back.

[2016-07-11 14:41] des79 commented on #1745
Hi ntozier,

I would like to send email via external smtp (mandrill). I created a user with mandrill auth info. But when I open a ticket, email sent by this user for a error on departments setting

[2016-07-11 14:47] ntozier commented on #1745
I still have no idea what you are trying to ask.  You have not provided us with any errors.
Each email has its own settings at Admin panel -> Emails -> each email.
If you don't want to collect email from an email, don't configure POP/IMAP.
Each Department can have its own outgoing email address.  That's in the department settings.

[2016-07-11 15:04] sistemasad opened #3267 "osTicket 1.10-rc3 - Collaborator search autocompletion raises 'OrmException'"
When trying to add a collaborator to a ticket, the third character you enter raises this on apache logs:

`PHP Fatal error:  Uncaught exception 'OrmException' with message 'Union queries must have matching values counts' in /site_1.10.rc3/include/class.orm.php:1282
Stack trace:
#0 /site_1.10.rc3/include/ajax.users.php(90): QuerySet->union(Object(QuerySet))
#1 [internal function]: UsersAjaxAPI->sea

[2016-07-11 16:19] sistemasad opened #3268 "osTicket 1.10-rc3 - Client side ticket list problems"
Hello,

The client side has several bugs related to the ticket list.
The column sorting doesn't work (also the column headers don't have the sort triangle).
The "showing 1 of pagesize of total open tickets" is showing wrong values (see image attached). The total amount of tickets on the platform is used.
![image](https://cloud.githubusercontent.com/assets/7767510/16737845/76fae946-4793-11e6-807b-2

[2016-07-11 17:52] kest874 commented on #3268
Version your using?

[2016-07-11 17:55] ntozier commented on #3268
Version of osTicket?
PHP?
Did you dump/delete tickets from the database?

[2016-07-12 05:54] sistemasad commented on #3268
Sorry, didn't paste the info:
osTicket 1.10.rc3
 Centos 6.8 64b
 mysql 5.1
 php 5.6

No, no dump or delete, just updated from rc2

[2016-07-12 06:25] PooyaE commented on #2918
@ntozier My current version is v1.9.12 and also I tried last released from osticket website.
and there is no any error related to this issue.

[2016-07-12 09:38] AndiTopp commented on #1545
i have the same Problem. is there a patch out already?

[2016-07-12 09:38] AndiTopp commented on #1545
PS: looks like this:

[SELECT a.ticket_id, concat(a.number,": ",b.subject) as label FROM `ost_ticket` as a LEFT JOIN ost_ticket__cdata as b on a.ticket_id = b.ticket_id LEFT JOIN ost_user_email as c on (a.user_id = c.user_id) WHERE c.address=(SELECT ab.address FROM ost_ticket AS aa LEFT JOIN ost_user_email AS ab ON ( aa.user_id = ab.user_id ) WHERE aa.ticket_id =3668) and a.status_id = 1  and a.ti

[2016-07-12 13:47] hassansalmane opened #3269 "Create ticket from e-mail"
Hi,

I really hope someone answers this query of mine.

I set up osTicket (v1.9.14) and email is working fine.
OsTicket system is able to send email/alerts to clients and the admin after tickets are created.

first, I'm confused between piping and polling.

But now, I also want the functionality where the system should automatically create a ticket if my client sends an email to : support@partnet.

[2016-07-12 14:00] ntozier commented on #2918
If you are getting a white screen there is a PHP error.  I suggest that you find your php error log, because no one can help you with out the error.  The location of the PHP error log is set in your php.ini.

[2016-07-12 14:04] ntozier commented on #3269
This is not a bug report.  You would be better suited to posting your question at the support forums.
http://osticket.com/forum

I would also recommend that you read the wiki for how to setup email polling/piping and cron.
http://osticket.com/wiki/Email_settings#POP3.2FIMAP_Polling
http://osticket.com/wiki/POP3/IMAP_Setting_Guide

[2016-07-12 17:51] jjjj12212 commented on #3202
I fixed the problem today, had to move all the sorting options (line 214 - 307) above the pagination code (pasted it on line 188) all on the tickets.inc.php file. I'm shocked that no one was able to assist me with this and surprised that I was able to pull this off.

Thanks everyone for your help :D

[2016-07-12 23:56] loginid opened #3270 "Open Ticket List Shows Closed Tickets Sometimes"
I've got this strange issue that I've searched for on the issues list but can't find a solution for or raised issue.

Hopefully someone can help me identify a solution.

Sometimes when I close tickets or delete tickets.
The tickets will still appear in the open ticket list when I go back to the ticket list.
Or sometimes when I've closed a load of tickets and I go back to the ticket list, those clo

[2016-07-13 01:25] loginid commented on #3270
Also I get this error a lot ;

Unable to save draft. Refresh the current page to restore and continue your draft.

[2016-07-13 07:13] jeddtobee023 opened #3271 "REST API Ticket List & Reply to Ticket by ticket number"
I'm aware that there's an API that can create a ticket using REST API. I would like to know if there's a way to get Ticket list by help topic, and reply to a ticket by ticket id/number.

Thank you.

[2016-07-13 12:13] kest874 commented on #3270
What version are you using?  IT sounds like your browser isn't refreshing.

[2016-07-13 12:54] ntozier commented on #3271
The only APIs I know of are documented here:
https://github.com/osTicket/osTicket/tree/develop/setup/doc/api

[2016-07-13 13:31] chucks26 commented on #3260
@greezybacon sorry for insistence...

Any hint to where to take a look to change thread count at 1 to show balloon?

Thank you in advance,
Chuck26

[2016-07-13 17:44] kest874 commented on #3260
It's in include/staff/tickets.inc.php around line 566:

![image](https://cloud.githubusercontent.com/assets/12860950/16813517/78766f1a-48f7-11e6-991b-c9219681dea0.png)

[2016-07-13 18:45] sharmay commented on #3192
![image](https://cloud.githubusercontent.com/assets/6456966/16815532/0355a852-48ef-11e6-8b2d-71a9144e17e1.png)

I had to add Agent assignment to get notification, what I want it all members of Infrastructure department get notification.

[2016-07-13 19:16] chucks26 commented on #3260
Great!!

That's what I was looking for...thank you @kest874 !
Works like a charm...

Chuck26

[2016-07-13 20:51] kest874 commented on #3029
This is still an issue in 1.10rc2 and rc3 with a .msg that has an attachment inside however it's throwing an error:

![image](https://cloud.githubusercontent.com/assets/12860950/16819198/f79b3366-4910-11e6-9257-a868fcce0f0e.png)

then stops processing email, so every time cron runs it fetches the same mail throwing the error again.

I've work around it for now with:

![image](https://cloud.githubu

[2016-07-13 23:14] loginid commented on #3270
Hi - I'm using version osTicket (v1.9.12)

Even when I refresh manually, it will not show the correct number of open tickets.
When this problem happens, sometimes I will refresh and it will show 9 tickets open.
Then I will go to "Create a new ticket" and it will show the correct open tickets.
Then I'll go back to the open tickets list and it will again show 9 tickets.
When I refresh manually it wi

[2016-07-14 05:25] #3248 closed

[2016-07-14 12:58] greezybacon commented on #3202
I ran this on rc3 and do not see the issue. Does anyone know if it is specific to rc2?

[2016-07-14 13:32] greezybacon commented on #3029
If the `.msg` attachment MIME type is `application/tnef`, then the system will assume that Outlook has included it as a better format for the self-same email. This is because Outlook will send a text message body and a TNEF attachment which will include an HTML or rich text body, along with all the other attachments.

If, when attaching a .msg attachment, it will become a `application/tnef` attach

[2016-07-14 13:34] greezybacon commented on #3029
@kest874 I opened #3272 to attempt to fix the bug you demonstrated

[2016-07-14 13:38] ntozier commented on #3270
Can you provide a screen shot?

[2016-07-14 13:40] ntozier commented on #3248
I'm presuming that since you close this that you found a solution.  Can you please post here what your solution was in case someone else needs this information later?

[2016-07-14 14:17] ntozier opened #3273 "[Feature Request] better vacation mode"
Having a vacation mode is nice, but it would an even better feature if the staff (or admin) could also choose a return date and time which would then shut off vacation mode if it was still on when it expires.  This check could occur when cron.php is run.

[2016-07-14 14:30] Aka4Code opened #3275 "position: absolute CSS property inside HTML email message"
You should strip position: absolute CSS property from HTML email messages.

Here you can see where is issue:
![image](https://cloud.githubusercontent.com/assets/11789024/16842909/71223594-49df-11e6-982a-1c78cc91c7b1.png)

Here you have detail how it looks in HTML:
![image](https://cloud.githubusercontent.com/assets/11789024/16842955/a536daba-49df-11e6-84c9-404708031cb9.png)

And here you can check

[2016-07-14 14:46] kest874 commented on #3029
I'll test it later this morning and provide some feedback.

[2016-07-14 15:29] kest874 commented on #3029
This works, it now logs that it couldn't save the file, and continues to process.

[2016-07-14 16:07] #3139 closed

[2016-07-15 13:35] C0rn3j opened #3277 "osTicket 1.10-rc3 - ajax forms don't load completely"
First off, I know this is not the support forum(I don't seem to be able to post even after confirming email on the osticket forum) and that nginx is not officially supported.

I'm not sure if this is related to PHP, the RC version, nginx or my config.

Here's my setup + the bug http://imgur.com/a/UMOJM

This seems to happen on all tabs like this one.

Here's my nginx config(chaotic as I was trying

[2016-07-15 15:15] ntozier commented on #3277
There is a NGINX thread here on github that addresses the config changes necessary for getting osTicket to run under nginx. It's long and has spanned a couple years.  Here's the link: https://github.com/osTicket/osTicket-1.7/issues/538
I think that Andrew908's comment on Nov 6, 2015 might be what you are looking for.

As far as the support forums please email me at neil at osticket dot com with th

[2016-07-15 15:43] #3060 closed

[2016-07-15 16:16] c0rn3j commented on #3277
I didn't realize that the issue spanned so far and tried working with one of the top configs, whoops.

Anyway, trying out the nginx.com recipe config or trying out @jonvargas's working config which seems to be the newest in that thread didn't work even when trying to use Andrew908's additions.

Not sure if I should keep the conversation in this issue, the 1.7 branch #538 issue or move to the forum

[2016-07-15 17:50] ntozier commented on #3277
I'd recommend keeping it here.  While it can't hurt to post to the forums also, I answer most of the questions on the forums and I don't know the answer (I don't run nginx).

[2016-07-15 18:05] c0rn3j commented on #3277
http://pastebin.com/Bx45XsNJ
I almost forgot error logs. This is when I try to load domain.com/open.php to open a new ticket as a guest.

[2016-07-19 05:17] ooglek opened #3278 "1.10-rc3 PEAR Mail::mimeDecode via API HTTP ticket.email causes Empty Thread"
Using PHP 7.0.8, OSTicket 1.10-RC3. Piping emails from server to OSTicket through the HTTP API, using /api/tickets.email

I noticed that the script I was piping email data to was showing new threads, but the threads were empty. I found the code that set $seen, which is why further attempts to overwrite the thread with failed. I saw an error in my error_log:

So I rewrote it with preg_replace_callb

[2016-07-19 09:51] adrianabrahamsun opened #3279 "For the ticket filtering | is there a way I can only allowed existing users only to send email support?"
I want to filter emails that is not from list of customers, so only existing customer can use the email to send an issue ticket to the system.

[2016-07-19 10:23] infectormp commented on #3279
Admin Panel - Settings - Emails - Accept All Emails

[2016-07-19 11:14] mjakubicek commented on #3127
We are facing the same issue -- any hints on a quick fix?

[2016-07-19 11:18] varuzam commented on #3127
http://osticket.com/forum/discussion/88019/memory-leak-in-mail-fetcher

[2016-07-19 14:09] ntozier commented on #3279
Coincidentally if you turn on "registration required" only existing customers can use email to send an issue to the ticket system.

see: https://github.com/osTicket/osTicket/issues/3171

[2016-07-19 16:59] ooglek commented on #3278
The issue may also have been that there were special characters in the body of the email, which is why some emails got through fine, and others got a blank email. The email in question **was** MIME-encoded with multiple parts.

[2016-07-19 17:46] timmerk opened #3280 "Reply text on new ticket not emailed to user"
Steps to reproduce:

New Ticket -> fill out Issue Details _AND_ a Reply at same time, then click Open button (leaving status Opened _or_ Closed.) User will not receive email with the Reply text.

Version 1.9.12

[2016-07-19 18:00] ntozier commented on #3280
Please upgrade to current 1.9.14 and test again.

[2016-07-20 13:56] N-Upchurch opened #3281 "Can't add new help topic."
Hi there,

When I go to add a new help topic, I get "This request has been denied for security reasons. If you believe this was in error, please contact support." back. I'm on version 1.9.14

Any ideas?

[2016-07-20 13:58] ntozier commented on #3281
Please provide a screen shot.

[2016-07-20 14:08] N-Upchurch commented on #3281
Thanks for your response. Details to follow:

![screenshot 2016-07-20 09 01 39](https://cloud.githubusercontent.com/assets/8893713/16989200/e4e091ba-4e58-11e6-98a6-ee5b7c4ae8fc.png)

Apache Version: 2.2.31
PHP Version: 5.5.34
GNU/Linux

[2016-07-20 14:12] ntozier commented on #3281
That does not appear to be an osTicket error.
You should consult your Apache error logs you appear to have a permissions issue.

[2016-07-20 14:17] N-Upchurch commented on #3281
Hmm, nothing in the error logs. I'll check permissions.

[2016-07-20 14:45] N-Upchurch commented on #3281
Looks like it was down to my mod_sec rules. Thanks so much for your help ntozier, it's very appreciated!

[2016-07-20 14:46] #3281 closed

[2016-07-20 15:11] ntozier commented on #3281
Very welcome, glad to be of assistance.  :)

[2016-07-20 15:24] mfelber commented on #3278
4-byte characters truncate emails: https://github.com/osTicket/osTicket/issues/1475

[2016-07-20 15:53] ooglek commented on #3278
Emoji support does not fix this issue. #3244 fixed utf8mb4 support for the database.

The email that caused this issue was in 2 Mime Parts.

X-OriginatorOrg: hotmail.com
MIME-Version: 1.0
Content-Type: multipart/alternative;
    boundary="_000_CO1PR16MB098225D1BF37AA6EBBBD933BC5360CO1PR16MB0982namp_"

The first was plain text, the second was HTML. The failure was on the mimeDecode.php line. The th

[2016-07-20 19:19] kest874 commented on #3124
I put a pull request together for this.

[2016-07-21 11:49] mattyribbo opened #3283 "Long Answer custom form + print not displaying line breaks correctly (1.9.14)"
Hi. I've discovered an issue with trying to print a ticket with a Long Answer custom form. The PDF generator doesn't seem to be recognising <br /> tags and turning them into new lines.

I'm exhibiting this issue on 1.9.12. I've upgraded to 1.9.14 and no change in the issue.

![issuewithcustomform](https://cloud.githubusercontent.com/assets/936104/17021592/e7c856e0-4f40-11e6-936a-e3c7cd2f2c1b.png)

[2016-07-21 12:50] mfelber commented on #3283
The issue you are describing was already reported: https://github.com/osTicket/osTicket/issues/2644

It is a known limitation of 1.9.x.
1.10 will address this issue..

[2016-07-21 13:40] mattyribbo commented on #3283
A-ha. Didn't spot that issue when looking through. Thanks for the update.

[2016-07-22 02:28] #3279 closed

[2016-07-22 02:32] adrianabrahamsun opened #3284 "Support Staff can't reply to the ticket issue email"
Hi Guys,

Previously while i was working on this issue - https://github.com/osTicket/osTicket/issues/3279, someone advice me to disable the all email can create ticket issue and after I did that, the issue was resolved.

Now Only my registered Customers can use our web support email to create ticket to the system which is what i wanted. however new issue occured !

Now is my support staffs - they

[2016-07-22 06:47] InflamedSebi opened #3285 "1.10-RC3 Customs forms can't disallow editing"
Disallow "editable" in forms don't take affect.

How to reproduce:
1. Go to forms -> users informations
2. Create a field and make it immutable (not editable) for users and agents
3. Login as user and open the profile
4. Change the field just as you like. It will be saved.

Also Agents can edit those fields without permission.

osTicket Version    v1.10-rc.3 (907ec36)
Web Server Software     Apach

[2016-07-22 08:00] chucks26 opened #3286 "Request: Checkbox field layout - v1.10-RC3"
Hi,

I would be able to allign checkbox and relative label on the same row, instead to have label and then checkbox in a new row...some custom forms in use in our system have a lot of checkboxes and would be great to reduce the lenght of the page...
(sorry for poor English)

So I would be able to modify from:

![check1](https://cloud.githubusercontent.com/assets/20221464/17050395/e000a28e-4ff2-11e

[2016-07-22 08:44] InflamedSebi opened #3287 "1.10-RC3 imho Important enhancements for tasks"
Tasks are great, but they miss some features to make them actually usefull for us.
I know this is much stuff, but i don't want to create lots of maybe unneccessary issues.
Just tell me to move certain numbers to a new Issue and i will do so.
1. Due to tickets link their tasks, but tasks don't link to their ticket back, you should add this.
   Sometimes you need to know stuff from the original tick

[2016-07-22 12:27] kest874 commented on #3284
Add the staff members as regular users with their email address, this issue will go away.

[2016-07-23 02:27] adrianabrahamsun commented on #3284
the issue still stays, and the ticket wasn't assigned to the staff that response... previously it was working fine.

[2016-07-23 02:37] crypticmind commented on #2467
+1 for  officially supporting nginx. I'm seeing too many issues with nginx. Most are already solved, but an official support would provide better documentation for running under nginx that would cut a lot of forum traffic.

[2016-07-23 04:21] crypticmind opened #3288 "New organization option presents empty form"
### Setup: Ubuntu xenial, nginx, PHP7-fpm

![image](https://cloud.githubusercontent.com/assets/6013514/17075725/530fb0a0-5073-11e6-9463-de451c63a46a.png)

The Company Profile -- Basic Settings panel also shows the same behaviour.

![image](https://cloud.githubusercontent.com/assets/6013514/17075729/82eb3b1e-5073-11e6-8d9e-a357306952cb.png)

I'd like to know if this is supposed to happen (I'm runni

[2016-07-23 15:32] crypticmind commented on #3288
Further investigation, I've solved the 404 in the welcome page an others (was missing a few nginx `location` directives), but the response from such AJAX calls returns this value:

[code]

I'm assuming the main goal of this call is to retrieve the form to be presented to the user, but such form always comes null.

This takes me to this interesting NOTICE I'm seeing in PHP-FPM logs:

[code]

[2016-07-23 15:52] crypticmind commented on #3288
I do get a form if I add a custom field, like so:

![image](https://cloud.githubusercontent.com/assets/6013514/17078820/08f507de-50d4-11e6-8310-d4f824d11534.png)

Seems to me I have an issue where osTicket is not retrieving those fields that are system-mandatory like summary and priority for a ticket, name for an organization, etc.

Any tips regarding how to troubleshoot this would be very helpful

[2016-07-23 16:17] crypticmind commented on #3288
## USER ERROR

The fields I was after were disabled 😠

[2016-07-23 16:17] #3288 closed

[2016-07-24 08:08] odhiambop opened #3289 "DB Error 1054 - v1.10-rc3"
Getting this error after backing up my datbase from one machine(v1.9) and trsanfering to updated machine (V1.10-rc-3)
 DB Error #1054

[SELECT A1.`id`,  A1.`content_id`,  A1.`isactive`,  A1.`type`,  A1.`name`,  A1.`body`,  A1.`lang`,  A1.`notes`,  A1.`created`,  A1.`updated` FROM `ost_content` A1 WHERE A1.`type` = 'banner-staff' ORDER BY A1.`name` ASC] Unknown column 'A1.content_id' in 'field list

[2016-07-24 11:41] MichaelCowe commented on #3209
I had this problem on Centos 7 PHP 5.4, upgraded using below instructions and its working a treat

1: yum install epel*
2: yum update / yum upgrade
3: `CentOS and Red Hat Enterprise Linux 6.x
wget http://rpms.famillecollet.com/enterprise/remi-release-6.rpm
sudo rpm -Uvh remi-release-6*.rpm

CentOS and Red Hat Enterprise Linux 7.x
wget http://rpms.famillecollet.com/enterprise/remi-release-7.rpm
sud

[2016-07-25 01:36] ntozier commented on #3284
Huh?
Do you have Claim on Response checked?
Version of osTicket?

[2016-07-25 03:07] adrianabrahamsun commented on #3284
Do you have Claim on Response checked?  -- I dont understand... where to check?
Version of osTicket? -- v1.9.14 (8b927a0)

[2016-07-25 07:30] chucks26 commented on #3286
...my fault...In field setup I found the option to edit text next to the checkbox...

Thank you!
Chuck26

[2016-07-25 07:30] #3286 closed

[2016-07-25 12:28] kest874 commented on #3289
Restart Apache and this should go away.

[2016-07-25 19:45] markus4000 commented on #3287
1.  +3
2.  +2
3.  +2
4.  +2
5.  +1
6. -
7.  as an Email "all task done" +1
8. -
9. ?
10.  -

[2016-07-26 16:20] michaeldg opened #3291 "Add collaborators with API"
Hi,

According to the documentation (https://github.com/osTicket/osTicket/blob/develop/setup/doc/api/tickets.md) it is not supported to add collaborators with the API.

Does the feature not exist yet or is the documentation not updated?

Thanks,
Michaël

[2016-07-26 16:59] ntozier commented on #3291
This seems like a question better suited for the support forums at: http://osticket.com/forum

That being said, no the API does not support adding collaborators at this time.

[2016-07-26 20:01] gtmiller opened #3292 "/support/include/class.plugin.php on line 555"
I uploaded the rc.3 to a new website no location (no upgrade going on) and when I point the browser to the site, where normally the setup script starts I get this error:
Fatal error: Only variables can be passed by reference in /hermes/bosnaweb07a/b2740/ipg.preventionitcom/prev-ticket/support/include/class.plugin.php on line 555
right at the top line of the browser with nothing else displayed (all

[2016-07-26 20:15] ntozier commented on #3292
Web server software and version?
PHP version?

[2016-07-26 20:28] gtmiller commented on #3292
Server Information
Configuration for www.ipage.com
CGI Active
Document Root /home/users/web/b2740/ipg.preventionitcom
FrontPage Extensions No
Logs https://www.ipage.com/controlpanel/LogFiles.bml
Platform Type Debian
MySQL Version 5.5.44
Perl Version 5.8.8
PHP Version 5.3
Sendmail Path /usr/sbin/sendmail
Perl Path /usr/bin/perl
PHP Path /usr/local/bin/php

[2016-07-26 20:51] ntozier commented on #3292
You need to upgrade your version of PHP.  I'd recommend either 5.5 or 5.6.  Please let us know if you still have a problem after the upgrade.

[2016-07-27 11:44] dmnc-net commented on #3206
Closed with the reference to the younger duplicate of this issue? With no summary? Please will be this issue fixed or not?

[2016-07-27 14:39] ntozier commented on #3206
This issue report is not closed.  The one (3214) that referenced this issue is.

[2016-07-27 14:52] MelArlo commented on #3154
I am seeing this same issue. I have an agent that is not an admin. Their group has the "Can View Agent Stats" box checked. They can see the graph but no individual statistics. Is this a bug or is there a workaround?

[2016-07-27 15:33] ntozier commented on #3154
This still seems like a question for the forums.
What version of osTicket are you two running?
Environment details?

[2016-07-27 15:52] MelArlo commented on #3154
Hello, I actually found this issue on the forums which lead me here (http://osticket.com/forum/discussion/87811/staff-dashboard-statistics). As far as version we are running v1.9.12 in a CentOS environment using PHP 5.4.16. Attached is an image of our group settings where we are running in to the issue.
![group](https://cloud.githubusercontent.com/assets/3092652/17182157/31e2d754-53e8-11e6-9e33-07

[2016-07-28 02:55] C4RLOCO commented on #2343
Hi!
I am having issues with the lazy lock as well. Just upgraded to v1.10-RC3

Server Information
osTicket Version	v1.10-rc.3 (907ec36)
Web Server Software	Apache
MySQL Version	5.5.45
PHP Version	5.6.22

 When editing a ticket I get the "Your lock is expiring soon.
The lock you hold on this ticket will expire soon. Would you like to renew the lock? prompt. I click "Renew" and it spins forever.

If

[2016-07-28 02:57] C4RLOCO opened #3293 "v1.10-RC3: Lazy Lock Issue - Your lock is expiring soon"
When I edit a ticket I get the "Your lock is expiring soon".
The lock you hold on this ticket will expire soon. Would you like to renew the lock? prompt. I click "Renew" and it spins forever.

If I submit the reply I get the " This action requires a lock. Please try again" alert.

Server Information
osTicket Version    v1.10-rc.3 (907ec36) —  Up to date
Web Server Software Apache
MySQL Version   5

[2016-07-28 03:18] C4RLOCO commented on #3214
Hi @firepro20 how did you fix the time offset on phpmyadmin ?

[2016-07-28 03:28] C4RLOCO commented on #3214
I noticed the database (phpmyadmin) time zone is set to MST (Interpreted as America/Denver) and my osTicket setting is America/New_York. I could not find a way to change the phpmyadmin timezone (hosted in GoDaddy)

Admin Panel - Dashboard - Information -> TimeZone America/Denver
Admin Panel - Settings - Default Time Zone -> America/New York

[2016-07-28 03:28] C4RLOCO commented on #3293
I noticed the database (phpmyadmin) time zone is set to MST (Interpreted as America/Denver) and my osTicket setting is America/New_York. I could not find a way to change the phpmyadmin timezone (hosted in GoDaddy)

Admin Panel - Dashboard - Information -> TimeZone America/Denver
Admin Panel - Settings - Default Time Zone -> America/New York

[2016-07-28 04:46] cosmospham commented on #3256
**Confirm this bug.**

I checked the session table and see that `user_id` usually set as zero. After tracing the code, I see that `$thisstaff` usually is `NULL`, so the `user_id` value will be set as zero with:

[code]

I wonder why we set `user_id=0`? Or this is caused by `$thisstaff` missing value? In my opinion, it is no need to set `user_id` is zero.

I think sometime a request from browser is

[2016-07-28 04:49] cosmospham commented on #2949
@ntozier I confirm this is a bug. My localhost also has these warnings.

[2016-07-28 07:32] firepro20 commented on #3214
@C4RLOCO You go into phpmyadmin and then there are some variables that reference the times table. I changed one or two of them which where the global time setting for the server.

[2016-07-28 12:15] cosmospham commented on #3081
@greezynacon You can check by do a lot of search, for example search with email, then number, then text... about 5 times or 20 times. Then it will response with 403 error and kick you out with the login form.

[2016-07-28 15:30] C4RLOCO opened #3295 "V1.10-RC3: Wrong Subject Title Variable when creating tickets"
When creating a ticket on behalf of a customer/client, the system overwrites the given Ticket Subject   with the text contained in the variable for "Help Topic".

[2016-07-28 15:32] C4RLOCO commented on #3295
@greezybacon I need your help on this one as this is creating a havoc in our system with the new tickets created.. Thanks!

I also noticed that the issue happens when a customer creates a ticket, the system is basically giving the wrong subject title by overwriting it with that on of the help topic selection

[2016-07-29 05:00] yisrael1981 commented on #3252
+1
In my system, we have various departments that utilize the same system and reach one needs different status listings, so we need up having one huge list which makes it very messy

[2016-07-29 09:34] teslany commented on #1663
I am also interest in this enhancement ,+1

[2016-07-29 11:42] realtarget opened #3296 "V1.10-RC3: Set agent password without function"
It's not possible to reset the password of an agent except the users own password.

v1.10-rc.3-12-g55dc25a (55dc25a)

![resetpw](https://cloud.githubusercontent.com/assets/4380964/17247246/35190c58-5592-11e6-92f0-56b17d488a0c.JPG)

[2016-07-29 11:45] realtarget opened #3297 "V1.10-RC3: Password reset posts PW in clear text"
Firebug attached

v1.10-rc.3-12-g55dc25a (55dc25a)

![resetpw_post](https://cloud.githubusercontent.com/assets/4380964/17247296/a74ed410-5592-11e6-94f8-a676e46b0a0d.JPG)

[2016-07-29 13:23] C4RLOCO commented on #3293
@greezybacon @protich I'm not sure if this matters but I noticed that"

PHP Timezone is set to America/New_York
PhPMyAdmin database variable System Time Zone is set to "MST" (I cannot changed this variable since this is a shared hosting and Provider stated it cannot be changed to Easter Time)

We are in the East Coast by the way.

[2016-07-29 13:48] ntozier commented on #3296
I see the same thing in the download version from osticket.com [Version: v1.10-rc.3 (907ec36)].

Clicking the Update button however does generate an email to the person, so perhaps the devs removed the way to set the password manually.

[2016-07-29 13:58] C4RLOCO commented on #3296
Also confirming the issue above in our environment v1.10-rc.3 (907ec36)

[2016-07-30 15:27] JensEB commented on #2414
Hello,

It isn´t a bug in PHP.
If a reply-to adress exists, the function Ticket::filterTicketData() produces a endless loop, because it´s a recursive funktion.
The function Filter::apply() checks only if $info['reply-to'] exists and it exist in every loop...

so I changed the checkup from: (osTicket 1.9.14 - ./include/class.filter.php line 318 function apply)
if ($this->useReplyToEmail()  && $info

[2016-07-30 15:39] JensEB commented on #3127
Please look at https://github.com/osTicket/osTicket/issues/2414
for a solution it´s a bug in Filter::apply()...

[2016-07-31 14:19] mckaygerhard commented on #1663
@teslany @kapatz @Rankgel for the "+1" we must click in the face in the right corner ahd choose a "+1" to make noise in needed features!

[2016-07-31 16:55] ntozier commented on #1663
I'm not sure why you would think that who ever makes the most noise gets the most attention.

[2016-08-01 07:06] kajla commented on #2896
On the agent site works fine, but on the client side still not working.
On the agent site Users page:
![scp_users_active_en](https://cloud.githubusercontent.com/assets/5457824/17285903/15f8f938-57c6-11e6-90aa-93c24ee66313.png)
/red is bad, green is good/

On the client site:
![client_name_new_ticket](https://cloud.githubusercontent.com/assets/5457824/17285927/4814a0c0-57c6-11e6-9b15-60354557dc45.p

[2016-08-01 09:31] snizzleorg opened #3298 "monthly number of tickets"
since it is not easily available in OSTicket I wrote a small python script creating a graph from the number of tickets per month:

Maybe it is useful for someone.
https://github.com/PicoQuant/osticket_monthly_statistics

[2016-08-01 13:49] ooglek commented on #3278
I believe the issue is when there are MIME-encoded characters such as "=20" (a space) in the email, whether it is the text portion or the HTML portion. This causes the email to be inserted into the DB as an empty response. The one line change above fixes the issue.

[2016-08-01 15:16] C4RLOCO opened #3299 "V1.10-RC3: Email Templates not recognizing %{message}"
For New Ticket Alert Template
Email are being sent out after a ticket creation with the text "%{message}" (the actual ticket message is expected instead)

For New Activity Alert Template
UI does not recognize the variable %{message} and shows the following warning message:

**Some variables may not be a valid for this context. Please check for spelling errors and correct usage for this template.
%

[2016-08-01 15:49] ntozier commented on #3299
$message is the incoming message on a new ticket.  New Activity Alerts dont have a "message" to send. I believe that you would want to use %response.

[2016-08-01 15:53] C4RLOCO commented on #3299
Thank you @ntozier for your input.
I replaced %message with %response and now the UI states:

**Some variables may not be a valid for this context. Please check for spelling errors and correct usage for this template.
%{response}**

[2016-08-02 00:58] C4RLOCO commented on #3295
Anyone?

[2016-08-02 07:43] Sorok-Dva opened #3300 "[v1.10-rc.3] Warning in include/class.forms.php"
Hi all,

I met two warnings today after moving my inetpub folder in another hard drive disk.

`PHP Warning:  Declaration of AssignmentForm::render($options) should be compatible with Form::render($staff = true, $title = false, $options = Array) in D:\inetpub\wwwroot\support\include\class.forms.php on line 4146`

`PHP Warning:  Declaration of TransferForm::render($options) should be compatible with

[2016-08-02 12:43] kest874 commented on #3300
PHP 7 is the issue, use 5.6

[2016-08-02 13:05] Liightman commented on #3300
This problem came with the modification of the osticket folder. Yesterday I was running with PHP 7.0 and i didn't have this problem...
And since I move inetpub from C hard drive disk to D hard drive disk, i've this problem.

I've obviously configurate my php.ini for this modification

[2016-08-02 13:46] ntozier commented on #3300
1.10RC3 is a Release Candidate and should not be used in a production environment.  If it worked where it was before you can move it back until you can figure out what is different between the two locations.  It would be as simple as something like your webserver doesn't have permission to access the files or said location the a same way.

[2016-08-02 15:09] gtmiller commented on #3292
thank you :-)

------ Original Message ------
From: "ntozier" <notifications@github.com>
To: "osTicket/osTicket" <osTicket@noreply.github.com>
Cc: "gtmiller" <george.t.miller@preventionit.com>; "Author"
<author@noreply.github.com>
Sent: 7/26/2016 4:53:09 PM
Subject: Re: [osTicket/osTicket] /support/include/class.plugin.php on
line 555 (#3292)

[2016-08-02 17:29] jOthman opened #3301 "I want to automatically login my clients from my user interface (HTML form) into osticket system"
I want to automatically login my clients from my user interface (HTML form) into osticket system.
In the attachment you can find my UI (login.html), I make a form with method post, and I copy the same names for the variables from login.php, and the names are (Username: luser) and (Password: lpasswd).

I have done the same thing for Agents login, and it worked just fine. I think the problem is that

[2016-08-02 17:30] jOthman commented on #3301
I have my user interface as a separate HTML file.

[2016-08-02 19:37] C4RLOCO commented on #3301
Hi @jOthman
I believe your post is more appropriate for a forum. Github is for reporting issues related to osTicket releases. Your post above does not sounds like a bug to me.

[2016-08-03 11:23] realtarget opened #3302 "V1.10-RC3: Ticket "locked" / User logged out"
When a user was automatically logged out (timeout) while answering a ticket the error message "Ticket locked by another agent" (or something like that) appears when trying to send.

[2016-08-03 15:43] kest874 commented on #3252
Take a look at https://github.com/osTicket/osTicket/pull/3250 for a non messy drop down list.

[2016-08-03 17:03] C4RLOCO commented on #3302
I wonder if it might be related to https://github.com/osTicket/osTicket/issues/3293

[2016-08-03 22:37] yisrael1981 commented on #3252
@kest874 That has nothing to do with this issue.
This is about ticket statuses not help topics

[2016-08-04 08:24] brajerry opened #3303 "Cant send alert and messages to external mail"
I can only send emails with @mydomain.com

[2016-08-04 13:02] chucks26 opened #3304 "1.10-rc3 Duplicate user - same email, different name"
Hi to all,

as always, sorry for my English...
I noticed a strange issue...my system is configurated with no registration and with the ability to open tickets for guests. As axpected, when a user submit a ticket for the first time, enters name, mail and other required fields, system create a new user. Second time, if he enter the same email, no matter what he specifies in the "name" field, system

[2016-08-04 13:46] ntozier commented on #3303
While I appreciate that you took the time to file a bug report, I feel like perhaps this sort of thing may be better suited for the support forums.  http://osticket.com/support

Also please help us to help you by reading and following the posting guidelines located in this thread: [Please read before requesting assistance](http://www.osticket.com/forum/discussion/77765/please-read-before-requestin

[2016-08-04 13:49] ntozier commented on #3304
osTicket displays the first name that it finds.  You ought not have added a second user with the same email address.  The system is supposed to prevent two users with the same email address.

[2016-08-04 14:14] chucks26 commented on #3304
Ok, right!

But...In a clean user list, if I add (via import) a new user with name "Abc" and email "abc@abc.it" and than an user (via web form) create a new ticket using "Cde" as name and "abc@abc.it" as email, system will add another user (with 2 different names, but same email). I supposed system will use the previous insered user, but it doesn't!
Should be working this way?

Thank you,
Chuck26

[2016-08-04 15:03] brajerry commented on #3303
osTicket (v1.10-rc.3)
Am using smtp with my mail server's ip and port number 25.
I can send email and alerts to users with mail@mydomain.com but cant send mail to users with other domains like gmail, yahoo, outlook etc

[2016-08-04 15:11] ntozier commented on #3303
**blink blink**
So you are saying that when osTicket sends and email to *@google.com (etc) that those users are not getting the email and it is not in their spam box?  Does your mail server allow relaying?

[2016-08-04 19:28] kest874 commented on #3252
@yisrael1981 Sorry failed to see "statuses"

[2016-08-04 20:46] brajerry commented on #3303
Yes and my server allows relaying

[2016-08-04 20:49] brajerry commented on #3303
When I even try the diagnosis in the osticket mail setting i get an error message. "Mail error" in my log files but it always successfull with *@mydomain.com

[2016-08-04 20:51] ntozier commented on #3303
This does not sound like it is osTicket related to me. Whats the error in your mail logs?

[2016-08-04 21:05] brajerry commented on #3303
Error sending messege no additional information

[2016-08-05 09:50] chucks26 commented on #3304
Ok, solved!

There were some problems in spaces after the commas in the import window.

I've tried to insert data in format:

the space after the comma made the trouble.

Without it everything worked great!

Thank you as always for the patience and support.

Chuck26

[2016-08-05 09:50] #3304 closed

[2016-08-06 17:37] cPathz commented on #2706
Thank you, you helped me with your answer.

By the way: This happened to me in version 1.9 and 1.10. Is there any way to save the code directly without having to return to graphics mode to save?

[2016-08-07 04:10] C4RLOCO commented on #3295
@greezybacon @protich any thoughts?

[2016-08-07 10:37] orkun1675 opened #3305 "Deny Changing of Email and Name"
Because I am creating user accounts for every customer that signs up on our main site using SQL (there is no API for user creation as far as i know), I don't want the customers to change their name and email address on the osTicket system and have a mismatch with the main site.

How can I prevent users from accessing the Account Information section in the profile page? (changing their password is

[2016-08-08 03:08] ntozier commented on #3295
I am not able to replicate this report on my 1.10rc3 test systems.
You're running the version that is downloadable from osticket.com/download?

[2016-08-08 11:50] C4RLOCO commented on #3295
Hey @ntozier thanks for the help. I did download the version from osticket.com/download but after that I remember updating the directory with the latest commits on https://github.com/osTicket/osTicket/commits/develop

I'm going to give it another try on a new directory in my server starting with the baseline version I guess.

[2016-08-08 14:22] C4RLOCO commented on #3295
@ntozier thank you for your comment as I reloaded the files without adding the commits and that solve my issue. I guess I will try to load the commits individually to see which one is affecting the ticket title.

Closing this issue... :)

[2016-08-08 14:22] #3295 closed

[2016-08-08 14:40] C4RLOCO opened #3306 "V1.10-RC3: Knowledgebase FAQ does not list categories"
Knowledgebase FAQ does not list categories

<img width="974" alt="screen shot 2016-08-08 at 10 38 25 am" src="https://cloud.githubusercontent.com/assets/4073792/17483548/7c05f698-5d54-11e6-89e2-e2e02530ec2e.png">

[2016-08-08 14:48] C4RLOCO commented on #3306
never mind.. applied https://github.com/osTicket/osTicket/pull/3216
and solved the issue.

[2016-08-08 14:48] #3306 closed

[2016-08-09 17:08] #3160 closed

[2016-08-09 18:46] C4RLOCO commented on #3303
@brajerry check with your hosting company. I had a similar issue in the past and the hosting company had to "reset" they email setting.. after they did that all emails and alerts were successfully sent.

Hope it helps!

[2016-08-09 20:58] webunraveling commented on #2868
I've just discovered the same issue, using v1.10-rc.3. Not using SSL. Language is English/default.

[2016-08-10 01:54] ChristWolves commented on #2568
If anyone stumbled upon this page with this problem, I have a solution for those who are not familiar with PHP..

Here is the code you should replace for oSTicket v1.9.14 in include/ajax.reportsphp about line 85 (after  # XXX: Die if $group not in $groups)
From:
`$queries=array(
            array(5, 'SELECT '.$info['fields'].',
                COUNT(*)-COUNT(NULLIF(A1.state, "created")) AS Opened,

[2016-08-10 04:27] ooglek commented on #3081
I'm seeing this too. I'm guessing the problem is that the session still exists, but is expired. Nothing is cleaning out expired sessions, so the session is still there, AND the cookie OSTSESSID is still there, and the cookie has NOT expired but the session in the database HAS expired.

In the SQL inserting the Session, it is using `session_expire = NOW() + INTERVAL 86400 SECOND` but in looking at

[2016-08-10 12:18] konqui opened #3308 "Lack of Possibility to put Ticket back into main cue (UnAssign)"
It would be really helpfull to have the possibillity to unassign a ticket.

[2016-08-10 13:23] tkteun opened #3309 "Content Security Policy (CSP) support"
Running osTicket with CSP enabled will render it unusable.

Tried with the following nginx setting:
`add_header	Content-Security-Policy "default-src 'self'";`

[2016-08-10 13:50] tkteun opened #3310 "CLI installation support"
There's currently no way to install osTicket from cli entirely.

When I copy the ost-sampleconfig.php to ost-config.php and enter the db credentials, there's no way to add an agent / admin / staff member with manage.php.

I have no idea what `php manage.php deploy` does, it doesn't seem necessary to run it with `--setup` or `-v`. When I manually import `osTicket/setup/inc/streams/core/install-mysq

[2016-08-10 13:52] ntozier commented on #3309
You do realize that nginx is not an officially supported webserver right?

Also this might help:
https://developer.mozilla.org/en-US/docs/Web/Security/CSP/Using_Content_Security_Policy
see the writing a policy section.

[2016-08-10 15:10] tkteun commented on #3309
Nginx usually isn't supported, but in my experience, it always works.

For apache, you could add:
`Header set Content-Security-Policy "default-src 'self'"`
to .htaccess with mod_headers enabled.

Since CSP is just a header with client-side instructions, this is a client side issue.
It is weird this header breaks osTicket since it is a self-contained system (not using 3rd party CDN providers).

[2016-08-11 12:32] shiko2009 opened #3311 "Terms&condition at ticket printing"
Hello
i want to make some terms and conditions to be printed at any ticket
i have tried to make custom forms and fields with long answer or information with no luck
it can't be rendered while printing tickets
how to do that
if you like to help me via team viewer i am ready for that
thanks for all

[2016-08-12 07:23] shiko2009 commented on #3311
Any help please

[2016-08-12 07:32] robintoy commented on #3311
Dont think the system has the ability for this at the moment.....

But thinking outside the box you could edit your html response templates to include a link to your T&C listed on your website?

[2016-08-12 07:49] tangchuanzhou commented on #1408
ye, we want this feture too.

[2016-08-12 08:08] realtarget opened #3312 "RFC v1.10-rc.3-12: SMTP Credentials for transactional email providers (Mandrill)"
Unfortunately it's not possible to configure a separate provider for inbound and outbound email.

Due to the fact that the amount of companies which use transactional email services (eg. Mandrill, Mailjet, Mailgun) is rising this should be implemented asap.

![smtp-credentials](https://cloud.githubusercontent.com/assets/4380964/17616317/3690642c-6074-11e6-880f-0bf800ca15d9.JPG)

[2016-08-12 10:14] samogon13 opened #3313 "dashboard"
dashboard no statistic
![sk](https://cloud.githubusercontent.com/assets/20986927/17619562/b9bd86e4-608e-11e6-8795-2a1217e2049a.PNG)

[2016-08-12 10:42] samogon13 commented on #2816
[clik](http://smart-itc.com.au/osticket-automatic-scheduled-tickets/)

[2016-08-12 11:23] robintoy commented on #2816
Good post @samogon13
This is excellent and just what the doctor ordered!!!

But looking at the road map for osTicket, what would be good is to have this converted to "Tasks" which is introduced in V1.10.x.

I think the dev's will agree this is a great bit of code and perfect place for it (Maybe something better than FAQ's but easy to edit)

[2016-08-12 11:24] robintoy commented on #2816
For us using this or a modded version of this just for backup log checking / recording would be great!

[2016-08-12 13:53] ntozier commented on #3313
Does it work in English?

[2016-08-12 16:58] shiko2009 commented on #3311
When i recieve a device from any customer i give him copy of ticket which includes status of device..serial num...model...etc
I just need these T&C to be printed at the same ticket.. These T&C cosists of 15 lines that should be visible to the client before signing on the ticket
Here's a photo to detail my problem

[2016-08-12 16:59] shiko2009 commented on #3311
![4f982bc2-aa7a-11e5-891d-67885ce8ab3c](https://cloud.githubusercontent.com/assets/16225171/17630291/51ac4c3c-60c7-11e6-8412-799276181ee4.jpg)

[2016-08-12 17:19] ntozier commented on #3311
Couldn't you just use a canned response?
Then print the ticket.

[2016-08-12 18:10] samogon13 commented on #3313
no

[2016-08-12 18:20] ntozier commented on #3313
Are you actually running osTicket?
or are you running the version from osticket.de.com?

[2016-08-12 18:25] shiko2009 commented on #3311
i did that but it just print it at a new page .. please consider that i print 2 copies from ticket so every ticket will be printed at 4 pages which is not suitable for me
i just want to advantage free spaces at the paper and print all what i need at 1 paper is that possible to do ?

[2016-08-12 18:32] samogon13 commented on #3313
osTicket-1.8-feature-custom-queues

[2016-08-12 18:34] ntozier commented on #3311
Tickets can vary from 2 pages, to 20+ (My highest is only 19 pages) so I have no idea why this solution wouldn't work for you...

[2016-08-12 18:34] samogon13 commented on #3313
[demo](http://xn--c1aafaqasphcb7b1b.xn--p1ai/sapport)
login: admindemo pass:admindemo

[2016-08-12 18:36] ntozier commented on #3313
You did not answer the questions.

[2016-08-12 18:45] shiko2009 commented on #3311
i just don't like ticket style i need my ticket in one page and there's alot of wasting space on the paper why we could't use it ?
i used to create tickets with isolsoft support center which allowed me to customize my ticket and put alot of options on the same page and print it in one page but now i can't get this script again

[2016-08-12 18:56] samogon13 commented on #3313
https://github.com/osTicket/osTicket/pull/2577

[2016-08-12 19:04] ntozier commented on #3311
Then it sounds to me you will need to write your own PHP print script to pull the data that you want, and format it the way you want, and to add the verbiage you want.

[2016-08-12 19:05] ntozier commented on #3313
Linking to a feature commit, does not answer the questions either.

[2016-08-12 19:39] shiko2009 commented on #3311
is that possible ?
and how to do that ?  how much does it cost ?

[2016-08-13 04:23] Nordi-EU commented on #2628
I'm having the same problems with PHP 5.6 and v1.9.14.

This problem makes osTicket unusable for me. Almost every email provider is enforcing a STARTTLS connection and I already tried Inbox.lv and Zoho.com without any success.

Also changing $this->_socket_options =$socket_options; did not help. It only created a new error message:  authentication failure [SMTP: Invalid response code received from

[2016-08-13 19:07] cosmospham commented on #2628
I use:

- this hack from d48499b66e3ce9950bdccb7d9b8689a5acaa359f
- change in `__construct` function:

[code]

- set `ssl://` in config
- use port for ssl

It worked.

`PHP 5.6.24-0+deb8u1`

[2016-08-16 10:31] rpfps commented on #1225
+1

[2016-08-16 10:40] cosmospham commented on #1225
I've already done it for my version (v1.9.12). The function as below:

- User (guest) Foo use email foo@example.com send to system, it create ticket X-1234.
- User Foo forget the email he use for ticket X-1234, then he use email bar@example.com send to system. Now the email subject is new and does not have the ticket number. System create ticket X-2345.
- Staff (agent) will open ticket X-1234, cho

[2016-08-16 10:43] snizzleorg commented on #1225
@cosmospham that sounds exactly like what I would need. do you have a branch or some way to download your code?

[2016-08-16 10:45] vieckzand opened #3315 "V1.10-RC3: Email Ticket Transfer Alert Templates not recognizing %{comments}"
For Ticket Transfer Alert Template
Email are being sent out after a ticket transfer with the text "%{comments}"
Example:
Ticket 0003/IFCA-HER has been transferred to the IT Application department by Vicktor H.
%{comments}

How to fix that?
Thank's

[2016-08-16 20:10] xeir83 commented on #3197
Im having the same problem. Did you find a solution, @ntozier ?
Im using wamp server 2.5 on a windows server 2012.
Php 5.5.12
apache 2.4.9

[2016-08-16 20:23] ntozier commented on #3197
I have not found a solution to this at this time.  I'm waiting for one of the devs to address it or ask more questions.

[2016-08-17 07:33] xeir83 commented on #3197
ok. Thank you for response!

[2016-08-17 07:58] cosmospham commented on #1225
@snizzleorg Sorry because this is a private repo. Therefore I only can capture the commit changes for you. See changes in 03 screenshot files https://github.com/cosmospham/test-0

Firstly, add a menu.
Secondly, add a route rule.
Then create a ajax dialog.
Then write the merge function.
Notice: Only refresh the page after merging.

I think you can understand them.

[2016-08-18 00:38] poxin13 commented on #3312
Would like to see this, transaction email service are great (mailgun / sparkpost)

[2016-08-18 18:38] calebpaine commented on #2373
It looks like 1.9 branch has had two interim patches I didn't see, .13 & .14, anyone tested these yet to see if it resolves this issue?

[2016-08-18 18:42] cosmospham commented on #2373
My hacked file, the bug fixed :)

https://gist.github.com/cosmospham/78974d588805fc3cc9b8c3deac71f54d

[2016-08-18 19:02] ntozier commented on #2373
Some reason why you wouldn't submit that as a Pull Request?

[2016-08-18 19:06] cosmospham commented on #2373
The js file must be unpacked before edit, so if you want you can take the whole file. There is only 1 or 2 line modified (after unpacking).

[2016-08-18 19:13] calebpaine commented on #2373
I've applied the cosmopham's patch and re-enabled html/rich-text support. I'll report back after some testing, but my initial poking about with a ticket looks good.

[2016-08-22 09:16] nitroflow opened #3316 "osticket 1.9.14: loading ticket hangs on opening"
After upgrading from a previous version to 1.9.14 the loading bar gets stuck(as depicted below) and I have to reload the page for the ticket to open. This behaviour happens on the hosted server. However, this does not happen on a local xampp installation with an imported database or on the hosted server with a fresh installation.

![Image of the issue](https://lh3.googleusercontent.com/gT5shirVXBw

[2016-08-22 13:15] ntozier commented on #3316
Previous version?
Have you checked to see what the actual error is?  It's usually a javacsript or AJAX issue.

see also:
https://github.com/osTicket/osTicket/issues/1362

[2016-08-22 13:55] nitroflow commented on #3316
I'm not sure on the previous version as the person that performed the upgrade is on vacation, but there's no anchor, the url only changes to "/scp/tickets.php?id=XXXX" from "/scp/tickets.php". This also doesn't explain why it works on a local server but not on the hosted server, or why it works on the hosted server with a clean install.

There are some javascript errors caught on firefox console b

[2016-08-23 04:41] philbertphotos opened #3317 "Osticket RC3 Ticket with 100+ Tasks is crashing."
We have a few tickets some hitting 100+ tasks and it crashes. I included a flash video to illustrate the problem.
[Ticket issue_sm.zip](https://github.com/osTicket/osTicket/files/431699/Ticket.issue_sm.zip)

[2016-08-23 05:19] vcongion commented on #2628
I currently have 30+ emails in our mail queue that are not sending out to Google because Google is rejecting emails. Does anyone have a stable fix for this?

[2016-08-23 16:43] sriddick commented on #2267
Hi Guys,

I have encountered the exact same issue as above. We turned off "Accept email from unknown Users" as we only want registered users to use the system due to a lot of spam tickets being logged. Users aleady registered can simply e-mail and a ticket is logged but non-registered users are not able to (due to the setting)

The issue is that the sender may be a legitimate client and when sendi

[2016-08-23 16:59] ntozier commented on #2267
You mean like @greezybacon posted above about that you replied to?

[2016-08-23 17:25] sriddick commented on #2267
Yes, I have the same problem as @greezybacon.

From: ntozier [mailto:notifications@github.com]
Sent: Tuesday, 23 August 2016 7:00 PM
To: osTicket/osTicket
Cc: sriddick; Comment
Subject: {Disarmed} Re: [osTicket/osTicket] Email the user a message if there ticket gets rejected (#2267)

You mean like @greezybacon <https://github.com/greezybacon>  posted above about that you replied to?

—
You are rec

[2016-08-23 18:45] sriddick commented on #2267
My apologies, I have the same problem as @webscreations. The solution provided by @greezybacon will not solve the problem because you need to specify the originating domain name or similar in order for the rule to match. This is a problem. It is not possible to simply have a canned response for rejected tickets?

[2016-08-23 22:12] JoshSimerman commented on #726
Basically, O 365 Exchange distro groups cannot modify the default headers, or at least there were no power shell commands I could find that would work for a group. Certain transport rule actions are not available either. However, our Default domain settings for normal users is to allow all.

I removed the ticket system email as a member of the distro, and created a transport mail flow rule to add

[2016-08-24 06:12] sriddick commented on #2267
Anyone?

[2016-08-24 06:51] ifrandika opened #3318 "%{message.files} is not working with agent templates on V1.9.14"
I read many kbs but cannot figure out why %{message.files} agent template variable does not work with V1.9.14. I need to attach original email files with ticket assignment alerts but instead of attachments this variable gets printed in to the alert email.

Does anybody out there know the reason and any solution?

Cheers!

[2016-08-24 09:38] ipAnything commented on #2439
When I tried this feature the Description i typed is not visible in the task. No thread was created. I am using 1.10 RC3

[2016-08-24 09:45] komodin commented on #2797
Same problem here, using Apache 2.4.23 (cPanel version) with PHP 5.4.45 (PHP-FPM via socket, cgi-fcgi using mod_proxy_fcgi).

To enable PATH_INFO with Apache 2.4 using FastCGI to connect to PHP-FPM sock, I have to set the EnvVar proxy-fcgi-pathinfo.

On the VHost, into the IfModule mod_proxy_fcgi.c, I put the SetEnvIf for the support subdir (where I have the osTicket):

SetEnvIf Request_URI "suppo

[2016-08-24 09:49] ipAnything commented on #3245
Fix can be found here [](https://github.com/t-oster/osTicket-1.8/commit/develop)

Use replace **create** with **add**

[2016-08-24 10:16] komodin commented on #2797
I've made this workaround for the get_path_info function, based on this solution for another framework made by @nadavkav https://github.com/simplesamlphp/simplesamlphp/issues/5#issuecomment-135205300

[code]

You have to put it on the include/class.osticket.php file, behind this:
[code]

[2016-08-24 11:39] nadavkav commented on #2797
@komodin , thanks! very interesting. I will check it out.
@AviMoto, I think this will be interesting to you too.

[2016-08-24 13:03] ntozier commented on #2267
This is not a feature of osTicket at this time.  I opened a feature request for this back in June.
https://github.com/osTicket/osTicket/issues/3171

[2016-08-24 13:05] ntozier commented on #3318
This appears to be a duplicate of:
https://github.com/osTicket/osTicket/issues/2992
and
https://github.com/osTicket/osTicket/issues/3047

[2016-08-24 13:14] Dika1989 commented on #3318
@ntozier Thanks for the response!

I think no! I read both of those threads before start this. They are not addressing this issue and solutions given does not work with my case.

[2016-08-24 13:30] Af0x opened #3319 "1.10 RC3 + PHP 7: Ticket and Task Settings: No "Config"-button for attachments, tabs not working and no "Save"-button"
Hello,

reffering to 1.10 rc3 there is no "save"-button under Admin Control Panel -> Settings -> Tickets

Also the tabs "Autoresponder" and "Alerts and Notices" don´t seem to be functional.

Edit: Additionally "Ticket Attachment Settings" (bottom of the settings-tab) don´t seem to work/give any options.

Regards,

Af0x

[2016-08-24 13:40] sriddick commented on #3171
Has there been any update or progress on this feature request? Or is is possibly now a feature in the newer versions?

[2016-08-24 14:11] ntozier commented on #3319
I have to disagree with all your statements.

![tickets](https://cloud.githubusercontent.com/assets/1315768/17933590/af4ca5d4-69e2-11e6-9a50-2bd1547323e1.png)

autoresponder tab
![autoresp](https://cloud.githubusercontent.com/assets/1315768/17933599/b89e9f5c-69e2-11e6-82e9-616a2644e6b6.png)

Alerts Tab
![alerts](https://cloud.githubusercontent.com/assets/1315768/17933605/c1bac1ec-69e2-11e6-895d-5d

[2016-08-24 14:15] ntozier commented on #3171
Didn't I just tell you in another issue report that this is not a feature at this time?
Yup I did.  In the one linked above your response.

[2016-08-24 14:29] Af0x commented on #3319
hi, I´m using PHP 7.0.10 with PHP-FPM on Debian Jessie. Webserver is Apache 2.4.10.

[2016-08-24 14:34] ipAnything commented on #3257
Anyone has an update on this? or a fix?

[2016-08-24 14:44] ipAnything commented on #2979
Is there a fix for this?

[2016-08-24 15:09] ipAnything opened #3320 "Email not sent to Team on task Creation (1.10RC3)"
If I create a Task and assign it to a Team, The Team members do not receive the email that a Task has been assigned to them. The Team has the members marked to get notices.

If I go to Settings > Tasks > Alerts & Notices
1) **New Task Alert** does not have the option to select **Assigned Agent / Team**
2) **Task Assignment Alert** has **Assigned Agent / Team** as a choice, so I would expect that o

[2016-08-24 16:10] suportgc opened #3321 "Field of visibility not changeable after created 1.10 RC3"
Hello good afternoon.

I need your help.

I still can not understand why my fine field caught .

Not being possible to edit after creation.

Follow gif exeplo .

![field of visibility](https://cloud.githubusercontent.com/assets/19677143/17938354/faacd1d4-69fb-11e6-84fd-616ed0c65fc2.gif)

[2016-08-24 16:43] ntozier commented on #3321
Well its not in English, but I would say that those fields are required by osTicket and cannot be edited.  There aren't very many of those so I would guess that it is Task Details, the Title (Email Subject) and Description (Email body) fields.

[2016-08-24 16:51] suportgc commented on #3321
Hi ntozier.
I am Brazilian and I use the Portuguese .
However , the error occurs in any field.
If you create a new field, after creating it gets blocked.

![field of visibility 2](https://cloud.githubusercontent.com/assets/19677143/17939632/ea081cde-6a01-11e6-80a4-0fcc25536cfb.gif)

[2016-08-24 17:18] ntozier commented on #3321
I see the same behavior.

[2016-08-24 17:22] suportgc commented on #3321
This error is being presented only 1.10 RC3

In 1.10 RC2 not exist.

[2016-08-24 18:43] Af0x commented on #3319
I added PHP 7 to the title, maybe someone can confirm this?
again the question to @ntozier : what PHP-Version is used on the screens?

[2016-08-24 19:05] ntozier commented on #3319
I run PHP 5.6.12 currently

[2016-08-25 06:16] sriddick commented on #3171
Thanks @ntozier
Your last comment was not really very productive. Whilst I took note of your reply that "this was not currently a feature" My question was different. The case was opened on the 3rd of June as per your comment, so I was merely enquiring if there has been any progress on adding the feature considering that we are almost at the end of August. No need to be sarcastic.

[2016-08-25 12:36] Af0x commented on #3319
thanks, how long does it usually take to fix an issue like this? currently I´m stuck and can´t go on testing/setting up.

[2016-08-25 13:16] ntozier commented on #3171
Written text does not convey tone.  If it had then you would know that I was not being sarcastic I was being annoyed that you would ask the same question that I has just answered in another thread.  IT should be obvious there is no update as it would have been here.

[2016-08-25 15:33] nguyenbs commented on #6
Is there any update for this issue?

[2016-08-25 18:30] ruminate428 opened #3323 "Intermittent Invalid CSRF Token __CSRFToken__ warnings and internal server error 500 when user and agent login"
Hello Everyone,

I have just implemented v1.9.14 with the only plugin being LDAP authentication on apache 2 running ubuntu 12.04 server.

When agents or end users login they sometimes get a long wait and it will not allow them to login, this gives them an error 500 page.

Sometimes when refreshing and quickly clicking on login it lets them through or gives them an Invalid CSRF Token **CSRFToken**

[2016-08-25 19:27] java2dev commented on #382
@soulraven How did you resolve the first issue regarding ajax.php/config/scp and user/form 404 bad request? I have the same issue and the ajax.php/config/scp is generated in loop.
Thanks in advance.

[2016-08-25 19:36] java2dev commented on #382
This is my conf

`server {
	listen       127.0.0.1:86
;
	server_name  localhost;

	root   var/osticket/upload;
	index  index.php index.html index.htm;

	log_not_found off;
	charset utf-8;

	location ~ /\. {deny all;}

	   set $path_info "";
# Requests to /api/* need their PATH_INFO set, this does that
if ($request_uri ~ "^/upload/api(/[^\?]+)") {
	set $path_info $1;
}

# /api/*.* should be handled

[2016-08-26 08:00] jjjeroenski opened #3324 "1.10RC3 Due date on tasks is lost after saving - 000 in table"
While testing version 1.10RC3 found that due date for tasks is always empty.
If you finish the task form and saved it's empty.
Checked mysql table 'ost_task' there is always '0000-00-00 00:00:00'

Also, if you edit the task afterwards, you can't edit the due date, field not available.  (but this is already posted)

I also agree with the other task features in post
https://github.com/osTicket/osTic

[2016-08-26 08:40] jjjeroenski commented on #3287
I also want to suggest the progress of tasks.
For example bigger tasks are 50% done or 80% done.
Or Not started 0% .

Like you have for example in MS Outlook: "Task is ...% done"

[2016-08-26 08:50] jjjeroenski commented on #3158
see this topic: https://github.com/osTicket/osTicket-plugins/issues/105

[2016-08-26 08:57] jjjeroenski commented on #3086
Same problem here with version v1.10-rc.3 (907ec36)
Any solution found already?

[2016-08-26 09:13] jjjeroenski opened #3325 "v1.10-rc.3 (907ec36) upload/insert screenshots in ticketes: DB error"
See error below after upgrading to v1.10-rc.3 (907ec36) - latest version.
Running on Ubunut 16.4 - Apache PHP7

If you paste a screenshot directly in the ticket form, sometimes it works sometimes not. (strange...)
For example if you try 4/5/9/... times --> error and the 5th (6/7/...) time (the same picture in the same ticket) it works.
![image](https://cloud.githubusercontent.com/assets/671920/180

[2016-08-26 09:19] jjjeroenski commented on #3323
We had almost the same problem with last installation, also that "500 pages" and sometimes the "CSRFToken error".
Please check this post: https://github.com/osTicket/osTicket-plugins/issues/105

[2016-08-26 12:04] nitroflow commented on #3316
Turns out the problem is caused by the use of pt_PT language pack. This is the same as http://osticket.com/forum/discussion/80195/ticket-view-freeze-during-open-a-ticket

[2016-08-26 14:14] ntozier commented on #3324
This sounds like it might be a duplicate of:
https://github.com/osTicket/osTicket/issues/2799

[2016-08-26 14:18] ntozier commented on #3325
Thanks for reporting this.  While I do not have a solution for you what I do to work around this is only use the "insert image" (box with mountains) at the top of the WYSIWYG editor.  I've never had an issue using that, but drag and drop the image seems kinda horrible.

[2016-08-26 14:36] jjjeroenski commented on #3324
Damn,
Indeed duplicate, sorry.

[2016-08-26 14:42] Af0x opened #3326 "1.10RC3: DB Error #1064"
Hello,

I get this after Login:

---

Apache 2.4.10, PHP 7.0.10, MySQL 5.5.50

Fresh install started with 1.10RC3.

Regards,

Afox

[2016-08-26 14:43] ntozier commented on #3324
No worries.  Please close this and comment on the other one. :)

[2016-08-26 14:58] Af0x commented on #3319
After more researching I think that this Issue is related to the "Config"-button for attachments as this problem also exists within the Tasks-Settings (No Save-Button, tab not working, no "Config"-button for attachments). Plus loading this specific pages seems to be "stuck", as the red "loading bar" (I don´t know how to call it) on the top does not finish and gets stuck at circa 80%.

[2016-08-29 07:02] jjjeroenski commented on #2799
Thanks for the solution, it works!

[2016-08-29 07:02] #3324 closed

[2016-08-29 07:03] jjjeroenski commented on #3325
Same issue when inserting screenshots (copy/paste) in the task window.

[2016-08-29 08:16] nitroflow commented on #3316
Turns out the problem is caused by the use of pt_PT language pack. This is the same as http://osticket.com/forum/discussion/80195/ticket-view-freeze-during-open-a-ticket

I've applied the same fix and now it works.

[2016-08-29 10:00] snizzleorg commented on #1671
there is this plugin: https://github.com/thammanna/osticket-slack

However not working for me (osTicket (v1.9.9-1-gbe2f138))

[2016-08-29 11:23] filipkcz commented on #3264
Hi, I also confirms the same issue.

[2016-08-29 13:28] lsfiege opened #3327 "Question: Response to client of ticket and notify to another departament"
Hello!
It's possible to respond to a client in ticket and report that response to another department/team? (besides having notified the responsible department)

Greetings!

[2016-08-29 13:29] ntozier commented on #3327
I do not believe that this is a feature of osTicket at this time.
Well unless you add someone in said department (or a mailing list) as a collaborator.

[2016-08-29 13:47] lsfiege commented on #3327
Thanks!

[2016-08-29 13:48] #3327 closed

[2016-08-29 21:00] ruminate428 commented on #3323
After trying the above fix I am no longer receiving "CSRFToken error" but the login still hangs from time to time and give an error 500.

[2016-08-30 01:49] #3258 closed

[2016-08-30 01:49] mixrat commented on #3258
Thanks

[2016-08-30 11:48] martin-rueegg opened #3328 "Showing FAQ results in fatal error"
When navigating to `/scp/kb.php` a fatal error is caused (probably depending on the data):

`Fatal error: Call to a member function sort() on array in /include/staff/faq-categories.inc.php on line 147`

[2016-08-30 12:04] jjjeroenski opened #3330 "Print to PDF output can't find any pictures"
Problem about version: v1.10-rc.3 (907ec36) - latest version.
Running on Ubuntu 16.4 - Apache PHP7

If you have tickets with inline pictures (screenshots) and you want to print out (PDF - "print ticket tread") --> header and inline pictures are gone, only a read square.

It looks like he can't find the images.

![screenshot pdf](https://cloud.githubusercontent.com/assets/671920/18088312/4cb2cd72-6

[2016-08-30 13:52] ntozier commented on #3328
Version of osTicket?

[2016-08-30 13:58] robintoy commented on #3328
I would guess he means v1.10-rc.3 as we experience this and have jumped back to rc.2

[2016-08-30 15:33] martin-rueegg commented on #3328
Sorry @ntozier, I forgot to post that information. Actually, I was running off the development branch (which might be a bad idea, of course). ;-)

patch will follow.

[2016-08-30 19:00] Af0x commented on #3330
hi, unfortunately I can´t check because my system is blocked by bugs.
As you are using PHP7, can you please check out [this Issue](https://github.com/osTicket/osTicket/issues/3319) and maybe confirm it?

[2016-08-30 19:24] noreplyportia opened #3333 "Cannot submit reply to ticket on client side"
Client cannot submit reply to ticket on client side it gives a blank page

http://domainname.com/tickets.php?id=48#reply

[30-Aug-2016 04:57:51 UTC] PHP Fatal error:  Class 'ThreadEntryBody' not found in /home/..../......./.../tickets.php on line 74
[30-Aug-2016 14:25:13 UTC] PHP Fatal error:  Call to undefined method ThreadBody::clean() in /home/....../......../...../tickets.php on line 72

[2016-08-30 19:36] ntozier commented on #3333
Version of osTicket?
Fresh install?  Upgraded?
Version of PHP?

[2016-08-31 03:44] blhf commented on #3245
ipAnything I haven't tried it yet. I rollback to the previous version. can
you share some screenshots?

On 24 August 2016 at 17:49, ipAnything <notifications@github.com> wrote:

[2016-08-31 08:06] martin-rueegg commented on #3328
btw: https://github.com/protich/osTicket/commit/0a06ab7810e76accd4745dda03680bd351b45c70 is a similar fix like mine #3331

[2016-08-31 09:26] Hannibal226 commented on #2451
I already opened a new issue some time ago, but just want to leave the info, that ur way above didn't help me out.
Maybe @greezybacon has an idea what to do upgrade without loosing data?

#3221

[2016-08-31 13:05] jjjeroenski commented on #3319
Ubuntu 16.4 with PHP7 running osticket v1.10-rc.3 (907ec36)

Apache/2.4.18 (Ubuntu)
Mysql 5.7.13
PHP version 7.0.8-0ubuntu0.16.04.2

and I have the save button:

![image](https://cloud.githubusercontent.com/assets/671920/18129671/05fe0c70-6f8c-11e6-8704-bd15e7f00992.png)

also settings page works:

![image](https://cloud.githubusercontent.com/assets/671920/18129700/2e97ebce-6f8c-11e6-8ca5-842bcb6a

[2016-08-31 13:40] Af0x commented on #3326
@greezybacon can you please have a look at this?

[2016-08-31 13:48] Af0x commented on #3319
thanks for checking. I checked a different browser and it still appears.
Maybe [this DB Error](https://github.com/osTicket/osTicket/issues/3326) is the cause of all that. I started with a fresh 1.10rc3.

[2016-08-31 13:52] Af0x opened #3334 "DB Error #1146"
Hello, I think this error is a result out of [#3326](https://github.com/osTicket/osTicket/issues/3326)

Regards,

Af0x

[2016-08-31 20:11] JasonLabs commented on #3163
Hey guys, just wanted to ask if there are any other ideas for me to test or try. I would still love to get this to work.
Thanks!

[2016-08-31 20:11] #3163 closed

[2016-09-01 10:03] wfoster commented on #2354
Removed the aliases from the postfix box so no forwarders exits anymore on there. Seems to have resolved the issue. Please excuse this not getting closed sooner. tnx

[2016-09-01 10:03] #2354 closed

[2016-09-01 10:04] wfoster commented on #1766
Works 100%. thanks bud. Please excuse taking so long to make resolved. Deepest apologies

[2016-09-01 10:04] #1766 closed

[2016-09-01 10:17] wfoster opened #3335 "Agent logon landing page"
Hi Guys

Is there any way that i can edit what fields are displayed on the landing page when an agent logs in?
Our IT department is split on the ticket system into 4 departments: Hardware, Software, Mobile, Accounts.
The IT manager is the manager of all the departments on the ticket system. The problem is that he cannot sort between what ticket belongs to what department. If there is a way then pl

[2016-09-01 13:55] ntozier commented on #3335
This is not a feature of osTicket at this time.  You should be able to achieve this once the Custom Queues feature is released but that is a ways off as I understand it is planned to be in the version after 1.10 is released.

However if you are familiar with PHP/HTML you can modify the core source files to do this yourself.  This Forum thread will point you in the right direction.
http://osticket.

[2016-09-02 11:58] Af0x commented on #3326
after one week not even a reaction on this blocker? I need help, please!

[2016-09-02 14:26] wfoster opened #3336 "Auto Notification"
Hi guys

Is there any way that the system could notify the owner of a ticket when their ticket has been assigned to or claimed by an agent?

Thanks a million

[2016-09-02 14:27] wfoster commented on #3335
Thanks man

[2016-09-02 14:27] #3335 closed

[2016-09-02 20:39] wfoster commented on #3317
Is the task created if you log out log in?
Do all your browsers respond this way?
What happens if you ctrl+F5 to refresh the browser?

Are you using RC for live production?

[2016-09-02 20:47] wfoster commented on #3321
The functions are still available but using it is a bit different i believe
Press the config button next to your variable type field.
Then go to the permission TAB

![image](https://cloud.githubusercontent.com/assets/7644638/18217821/46dd3340-715f-11e6-89f4-d19767487abb.png)

[2016-09-02 21:04] wfoster commented on #3330
Are you still experiencing all those DB errors from your earlier posts?
I think you may want to fresh install. I am running latest and no problem.
Multiple OS and multiple browsers. All work fine. I do have an issue inserting the imagine inline but for the most part the pdf output does print as expected.

The red 'X' is normally picture does not exist. In your 'admin panel' have you selected to sa

[2016-09-02 21:45] wfoster commented on #3320
So I have RC3 setup on 5 different OS.
Seems like the task module does not work correctly on any of them and all give very similar issues.
Notification issues, display issues and calling from the DB sometimes errors out.

Are you using the RC in a live production environment?

[2016-09-02 21:54] de4niih commented on #3234
Worked for me too ;)

[2016-09-02 21:57] philbertphotos commented on #3317
Refreshing does not work it happens exactly the same on every browser..
I have been using the 10 RC2 and now 3 in a product environment

Sent from my iPhone

[2016-09-02 22:08] wfoster commented on #3317
Is it right for me to assume that you are new to OSTicket?
RC (Release Candidate) should be used in testing environments unless you can put up with bugs, manual fixes and waiting for the upgrades
Have RC3 configured in 5 different setups and all are giving problems with the 'Tasks' module.
Best advice i can give you is to be patient while RC is in development.

[2016-09-02 23:10] suportgc commented on #3321
Hello .. Good evening.

Thank you for help.

It was of great help.

Sorted out.

[2016-09-02 23:10] #3321 closed

[2016-09-02 23:18] wfoster commented on #3313
Am i correct in assuming that you have a 1.10RC3 configured and trying to apply a 1.8x version MOD from #2577 ?

[2016-09-03 00:06] wfoster commented on #3313
I configured the setup you have and experience the same issue on Windows and Linux. I think that you should post in #2577 so that Jared can be aware of the issue. The version you have installed is specifically released for testing. It is basically two versions away from being released as far as I can tell.

[2016-09-03 00:45] wfoster commented on #3311
It is a system capable of accomplishing tasks by using the features built into it.
Anything more than those features you will need to develop and implement yourself.
Your other option is going through the MODS to see if somebody has already found a solution that you can implement http://osticket.com/forum/categories/osticket-1-9-mods
You could possibly find a freelance PHP/SQL developer and pay th

[2016-09-03 00:50] wfoster commented on #3308
Could you give an example of why you would ever need this?

[2016-09-03 01:05] wfoster commented on #3308
Your comment may be misleading because the title of this issue is to put a ticket back into the main cue.
Do you want to have assigned tickets show on the open tickets view? you can do this via the admin console. Log in as admin user go to Admin Panel -> Settings -> Tickets
Make sure that the last two options are not selected. This would keep your assigned and or answered tickets on the open (main

[2016-09-03 01:12] philbertphotos commented on #3317
No i am a veteran and created my own plugins for it and a PHP developer.
I am fully aware about the RC status and decided it was stable enough to run in production. The task module only became a problem with tasks assigned to one ticket hits about 100.

Sent from my iPhone

[2016-09-03 01:22] wfoster commented on #3317
If I can recreated your issue then i will  see if I can help resolve. Like I said I have yet to experience tasks successfully working in RC3

[2016-09-03 01:23] wfoster commented on #3305
What version OST are you on?

[2016-09-03 08:39] konqui commented on #3308
No i wanna have a possibillity to make them unassigned again. Problem is a the Following, when i close a ticket go to Vacation and then the Customer answer my Last Message from TicketSystem.

The Ticket gets automatically reopend which is good but it is still asigned to me. Altought it may be a total new Case and not anyhow related to the previous Issue. So it also could be handled by anyone else

[2016-09-03 09:44] ipAnything commented on #3320
Yes I am, Tasks was one of the reasons why I moved to 1.10 RC3.

Several people claimed that the system is stable enough to use in a Production Environment and being gang we are implementing osTicket it made more sense to use the latest version with the newest features.

We have not encountered much issues. More things that we would expect to work differently.

The Tasks is what does not seem to b

[2016-09-03 09:58] wfoster commented on #3308
One way to solve the reopening a ticket problem is to go Admin panel -> Manage -> Lists -> Ticket Statuses -> click on closed -> Properties tab and deselect "Allow tickets on this status to be reopened by end users"
![image](https://cloud.githubusercontent.com/assets/7644638/18224145/a758ea1c-71cc-11e6-9047-9e8f28f2d474.png)

We have a canned response asking that the user confirm the issue is reso

[2016-09-03 10:07] wfoster commented on #3308
Your 2nd scenario is exactly why we use teams in our OST environment. If one of us are away then the other agents in your team can fulfill the ticket. Departments can be used in the same way if set up correctly.
How lazy must I be knowing that you have gone on holiday and I simply ignore your tickets. Obvious to this is that you have assigned tickets show on the open view.
Sounds like you have to

[2016-09-03 10:57] wfoster commented on #3317
In your personal opinion, which is more stable for production environments between RC 2 / RC 3?

[2016-09-03 11:30] wfoster commented on #3320
I think they use RC3 on the hosted solution by the looks of it.
Maybe create a free account there and test. If it is working there then surely should be working by us.
I just don't have the time right now to trouble shoot though

[2016-09-03 13:04] philbertphotos commented on #3317
RC 3 by far...

Sent from my iPhone

[2016-09-03 13:05] philbertphotos commented on #3317
I would appreciate the help

Sent from my iPhone

[2016-09-03 16:01] Af0x commented on #3319
ok guys, I worked around this issue by first installing Version 1.9.14 and then upgrading from there to 1.10rc3. now things look quite good. I went back to PHP 5.6 and after upgrading I put php 7 back in place.
btw: I also tried a fresh install of 1.10rc2 which was not successful either.

[2016-09-03 16:03] Af0x commented on #3326
ok guys, I worked around this issue by first installing Version 1.9.14 and then upgrading to 1.10rc3. now things look quite good.
btw: I also tried a fresh install of 1.10rc2 which was not successful either.

[2016-09-05 01:49] MiSAKACHi opened #3337 "osTicket Guest Ticket Filing on osTicket 1.10.3 beta -> PHP 7"
Hi all,

I have successfully installed osTicket 1.10.3 on our server running on Apache 2.4.23 with PHP 7.

After the system was deployed, I tried to test the available functionalities provided
by the system. Upon filing a support ticket as a guest user, I was stumped to see this one

![noinfo](https://cloud.githubusercontent.com/assets/9588282/18235488/0cedcac8-734e-11e6-8468-ab2325ede420.PNG)

I

[2016-09-05 08:03] jjjeroenski commented on #3330
The "save attachments" is configured like this:
![saveattachments](https://cloud.githubusercontent.com/assets/671920/18241095/a50823b6-734f-11e6-93df-e3120a5adb44.JPG)
Or do you mean another setting?

DB errors only sometimes when using inline copy paste screenshots in posts. No other DB errors left.
What issue do you have @wfoster when you are inserting inline pictures, same like in my other post

[2016-09-05 09:54] wfoster commented on #3330
I am have the issue that you experience with having to insert multiple times before it responds to the action. Could you post the database errors for inline copy and paste that you are getting?

[2016-09-05 11:34] jjjeroenski commented on #3330
@wfoster , even it is another topic, i will answer your question here:

[2016-09-05 12:05] craigmcewen opened #3338 "No way to add or FAQ"
Hey guys, can't seem to be able to view the add FAQ section. Added some data in the backend and it was able to show the doc on the front panel and you can get to it using the drop downs but cannot add anything from main screens.

![no additions can be made to knowledge base](https://cloud.githubusercontent.com/assets/21174078/18247502/454b9284-73b6-11e6-994f-cf43cc4e8747.png)

[2016-09-05 12:17] cluck commented on #3338
Also observed here on 1.10 RC3.

Depending on some navigation before I also ended up seeing **Fatal error: Call to a member function sort() on a non-object in /var/www/lib/osticket/include/staff/faq-categories.inc.php on line 147**

[2016-09-05 12:19] craigmcewen opened #3339 "Task view issues"
When you use the task control whilst in a form the task tends to leave the control and goes into what is sure to be a "wrong link". Does have the usual functionality when contained in own control with the exception of the task won't show you the initial data that it was opened with as you can see  in the second image, you can clearly see the notes were added to label and detail as the name and tim

[2016-09-05 13:19] Af0x commented on #3338
fix is here https://github.com/osTicket/osTicket/pull/3216/commits/12325c6d393d466542bcbb4dbe4555b18b28405c

[2016-09-05 15:44] Af0x opened #3341 "1.10rc3: dot (.) in name is not applied"
Hello,

write a Mail to the Helpdesk with a name like "mydomain.com" and there will be no dot in the username, e.g.
- when you answer, the salutation will look like "Hello mydomain com,"
- in the userlist of the Agent-Panel
- under "Open tickets" (name-column)
- in the ticket-detail-page under user, history (2x) and "to"-field

Regards,

Af0x

[2016-09-05 15:54] Pablohn26 opened #3342 "Memcached extension is missing in class.ostsession.php on line 69"
I have a lot of warnings like:

I have checked with php info and memcached is enabled.

scp/system.php does not inform about memcached support, should be appear there?

Osticket version    v1.9.12 (19292ad)
PHP version 5.6.23

Not sure if it is related with #3115

[2016-09-05 16:05] Af0x opened #3343 "1.10.rc3 Editor: Cursor position wrong"
Hello,

when you answer to a new ticket the cursor position looks like this:
![cursor](https://cloud.githubusercontent.com/assets/7013929/18253192/061efbb4-7393-11e6-8d8d-2c040d359665.png)

I use Firefox 48.0.1
osticket 1.10.rc3

Regards,

Af0x

[2016-09-05 18:09] BobOfTheFuture opened #3344 "OSTicket Install script not completing | Unable to access Admin Panel"
Purpose:
- Installing OSticket on Windows 10, Sever 2012 or Ubuntu in an educational environment in order to keep track of technical issues.

Install Prerequisites:
- OS: Windows 10 Home x64
- Installed Apache, MySQL and PHP using XAMPP 5.5.38

Hello everyone,

I am having issues installing OSticket. I fill out the Basic Installation form and press install now but I am not taken to the admin panel

[2016-09-05 19:51] ntozier commented on #3336
That's not a feature of osTicket at this time,

[2016-09-05 19:54] ntozier commented on #3305
Q: How can I prevent users from accessing the Account Information section in the profile page?
A: You cannot prevent them from accessing their account information.... it is THEIR account information.

Also you can create users by importing them.. by going to Agent panel -> Users.

[2016-09-05 19:57] ntozier commented on #3320
I dont think its stable enough to use in production personally.  I also don't use the hosted solution though.  I personally think of RC's as beta software.

[2016-09-05 20:03] ntozier commented on #3337
1.10 rc3 is beta software and should not be run in a production environment.
If you want to do more then play with or beta test the software, please run the current stable,

You have not really provided us with any of your setup information so I doubt that anyone can assist you.
I also cannot replicate your report.  I cannot open a ticket without providing information.

[2016-09-05 20:07] wfoster commented on #3320
Could not agree with you more @ntozier Youthink of it as beta and osTicket specifically call it a beta release. Not very wise going live with it. Wonder if online has any issues with their release? Do you know if the community source code is behind on development to the live code? just out of interest

![image](https://cloud.githubusercontent.com/assets/7644638/18256375/ec9d0704-73b4-11e6-8a81-6e7

[2016-09-05 20:12] ntozier commented on #3342
Please always upgrade to current prior to reporting a bug, (1.9.14 is current as of this writing)

webserver and ver?
If linux did yo install the php-memcache package?

[2016-09-05 21:25] ntozier commented on #3343
And as soon as you start typing it's correct.
I would guess that this is a problem with the WYSIWYG editor (Redactor) not osTicket.
It's not as pronounced in Chrome and not noticeable in IE.

[2016-09-05 21:30] ntozier commented on #3344
My advice: Ditch XAMPP, and install the pieces yourself (Apache2, Mysql/MariaDB, PHP 5.6).
As a side note the installer does not take you to the admin panel when it completes.
It takes you to a page that says that it finished, and gives you more information on how to access the Agent panel or the User panel. If you run the installer more than once yes it tells you that error... and it sounds like

[2016-09-05 21:34] ntozier commented on #3338
@craigmcewen you did not mention the version of osTicket you are running.

[2016-09-06 01:13] MiSAKACHi commented on #3337
What are the needed information aside from the PHP and Apache version? I'd gladly provide them.

Current Setup with the Server:
- Windows Server 2012 R2 x64
- PHP 7.0.10
- Apache 2.4.23

With regards to the problem mentioned above, check the image with a YELLOW HIGHLIGHT,
there's no text fields to put the information needed.

[2016-09-06 01:25] #2538 closed

[2016-09-06 01:26] #2539 closed

[2016-09-06 01:26] #2540 closed

[2016-09-06 02:17] craigmcewen commented on #3338
Sorry guys!! V1.10-rc3

[2016-09-06 02:34] craigmcewen commented on #3338
@Af0x  I added your code to the faq-category page as suggested, well actually I copied the entire code and replaced mine as i had 73 lines total and you were pushing 140 odd.... The same prob still exists, still cannot add a faq into the system?? Am I missing something more? (Likely I would admit haha)
![nofix](https://cloud.githubusercontent.com/assets/21174078/18260113/2b8a9b06-742e-11e6-9fbe-aa

[2016-09-06 02:35] craigmcewen commented on #3339
soz.. V1.10-rc3

[2016-09-06 10:30] craigmcewen commented on #3338
@Af0x After some playing about thinking I must have done something wrong, I realised I had! I updated the wrong file, but I seen no error from the update either so as you assume lol.. All resolved with your fix.
Will say thought that adding just those pieces of code alone, they did not resolve, it was a full paste over old code.

[2016-09-06 10:30] #3338 closed

[2016-09-06 11:29] vieckzand commented on #3325
I have same issue when copy paste image (screenshots) in tickets details, sometimes it work but sometimes not

[2016-09-06 11:43] Padmahas opened #3345 "API Documentation"
Hello osTicket team,
Where can I find the documentation for osTicket API?

Thank you.

[2016-09-06 12:06] Pablohn26 commented on #3342
webserver: nginx/1.10.1
php: PHP 5.6.23-0+deb8u1 (fpm-fcgi) (built: Jul 12 2016 07:33:23)

[code]

[code]

And php module is enabled (also checked with php info)
[code]

[2016-09-06 12:09] Pablohn26 commented on #3342
Thanks to your comment I have fixed the problem.

To fix this problem, you have to install php5-memcached AND php5-memcache (on debian).

I guess warning text should be a little bit more exact and mention memcache php extension (instead of memcache**d** )

[2016-09-06 13:48] Isfirs opened #3346 "Language file not working"
### Environment
- osTicekt 1.9.14 current lastest)
- `de.phar` from the current latest repo
### Actual behavior
- The landing page won't show the correct translation at multiple places.
### Expected behavior
- Read german texts at the now missing parts.
### Steps to reproduce
- Install osTicket
- drop in de.phar
- Load page with german language
### Notes

If there is anything missing, please tell

[2016-09-06 14:36] Chefkeks commented on #3346
Multilanguage support of osTicket is not fully implemented yet. So to have a full German osTicket, you need to install osTicket with German as the primary language. Dropping in the de.phar after the installation won't work with all the translation, since some texts are still pulled from the database currently and not the language packs which means you'll need to re-install with German as primary l

[2016-09-06 14:39] Isfirs commented on #3346
And how to do so?

Please provide a link with instructions to a "clean" installation.

[2016-09-06 14:46] ntozier commented on #3345
https://github.com/osTicket/osTicket/blob/develop/setup/doc/api/tickets.md

[2016-09-06 14:51] ntozier commented on #3346
- delete your database.
- delete your source.
- create your database (and give your DB user access to it)
- put the source in your preferred location. (where your webserver will serve it, or configure the webserver to serve the new location.)
- put the language file into place.
- Run the installer.
- While running the installer make sure that you Choose your language.
- complete running the instal

[2016-09-06 15:01] Isfirs commented on #3346
Thank you.

Why aren't languages resovled from the uploaded files yet?

Compiling them into the database is `bad practice` and isn't maintable.

is there a milestone to fix that?