[2015-09-04 10:50] frankii91 commented on #2519
When so doing it does not work ... I do not manage to save the settings.

http://pub.vexon.pl/video.avi
http://pub.vexon.pl/video1.avi
http://pub.vexon.pl/video2.avi

[2015-09-04 10:50] frankii91 commented on #2519
My server smtp / imap i OK

[2015-09-04 12:16] ntozier commented on #2526
/agree

[2015-09-04 13:43] mfelber commented on #2520
I guess this is a problem that is related to intense load situations or with high latency network connections on this server. I never had this problem with osticket.

But I have a different system that is suffering from this...

[2015-09-04 15:00] mfelber commented on #2506
The code for this field isn't anymore in the ticket-view.inc.php in 1.10. In 1.9.x there was a according section for it. Maybe that section was forgotten during the adjustments for 1.10..

[2015-09-04 16:01] geiserc commented on #2524
I followed the link above and that has now activated the errors showing up directly in osTicket. Here's what I got:
![err](https://cloud.githubusercontent.com/assets/7979394/9688355/8b856b48-52e3-11e5-90fb-d45c29695b78.jpg)

[2015-09-04 16:27] infectormp commented on #2520
i use osticket with smtp auth and not have any problem

[2015-09-04 18:09] jlenfers opened #2527 "v1.10-rc.2 - Can't edit ticket status value"
Can't edit a new ticket status that I've created before, it doesn't save the change.

[2015-09-04 18:53] frankii91 commented on #2520
version 1.10RC2 ?

[2015-09-04 19:08] zukiblue commented on #1421
I want to change the SLA if mail priority is High, but the filter don't work.
the "Emailed Tickets Priority" flag on Settings put the mail in High priority but the filter don't change the SLA.
v 1.9.12

[2015-09-04 19:48] TravelingTartar commented on #2472
Agreed. Worked for me, thanks.

[2015-09-04 19:49] TravelingTartar commented on #2462
This fixed it: https://github.com/osTicket/osTicket-1.8/issues/2472

[2015-09-04 21:00] pkgdemon commented on #2418
This is fixed in RC2.

[2015-09-04 21:00] #2418 closed

[2015-09-05 00:53] C4RLOCO commented on #2499
Folks, we have not heard from you guys for a while..
@protich @greezybacon

[2015-09-05 14:53] danielc1234 opened #2528 "Tasks tab showing errors"
Getting errors with 1.10-rc2
This is what I see when I click on the task tab

Status: Open
Created:    09/05/15 10:36:15
Due Date:
Warning: DateTimeZone::getOffset() expects parameter 1 to be DateTime, boolean given in /var/www/oursite_helpdesk/include/class.format.php on line 522

Fatal error: Call to a member function getTimestamp() on a non-object in /var/www/oursite_helpdesk/include/class.form

[2015-09-05 16:02] frankii91 commented on #2520
This solution provide ssl://domain.com
Too bad that does not have this information quick help   "?"

[2015-09-05 16:04] frankii91 commented on #2519
This solution provide ssl://domain.com
Too bad that does not have this information quick help   "?"

[2015-09-05 17:29] floh1111 commented on #2129
I'm having this error with Firefox 40.0.3 on Archlinux. Chromium works like a charm. So this error is not fixed now @mfelber, sorry.

[2015-09-05 17:38] mfelber commented on #2129
@floh1111 This wasn't an osticket error. This was a firefox problem nothing had to be changed or fixed in osticket.

I guess you a different problem. With Firefox 40.0.3 I have no problems to create an agent..

[2015-09-05 20:02] frankii91 commented on #2520
OK I know why this is happening.
It does not work deleting e-mails.
in osTicket setting delete the email. It does not remove only means as deleted.

[2015-09-06 10:49] frankii91 commented on #2520
Solution..
in
class.mailfetch.php
function fetchEmails()

......

original
..
     for($i=$nummsgs; $i>0; $i--) { //process messages in reverse.
            if($this->createTicket($i)) {
                imap_setflag_full($this->mbox, imap_uid($this->mbox, $i), "\\Seen", ST_UID); //IMAP only??
			if((!$archiveFolder || !imap_mail_move($this->mbox, $i, $archiveFolder)) && $delete)
			imap_delete($th

[2015-09-06 17:31] icenine457 commented on #2046
Also interested in this. Would like to see how difficult it would be to enhance the API to allow for continuing the conversation via the API, as that would be an ideal workflow for our project.

[2015-09-07 08:42] Biergarten-Eden opened #2530 "Redactor Font Size Plugin for osTicket"
Hi All,

after Installing and customizing osTicket, I've stumbled across a problem which I cant seem to solve.
My Company generally likes to use the Font size 10 in all its E-Mails, and my Boss wants our Ticketsystem to do the same.
Now, the inbuilt Template editor (Redactor) doesnt support choosing Font Sizes.
I've stumbled upon this plugin ( http://imperavi.com/redactor/plugins/font-size/)  from

[2015-09-07 11:11] DieQuelle opened #2531 "language and time format in ticket stats"
Hello,

language and the time format are not properly.

Screenshot: http://i.imgur.com/ks4AkS4.png
(Using the german language)

[2015-09-07 11:34] ehk20 commented on #2511
Something similar happen to us going from 1.8 to 1.10-RC2:

Error 1) [SELECT page.*, count(topic.page_id) as topics  FROM ost_page page  LEFT JOIN ost_help_topic topic ON(topic.page_id=page.id)  WHERE page.id=1 GROUP By page.id]

Table 'osticket.ost_page' doesn't exist<br />

Error 2) [SELECT id, f.type, size, name, `key`, signature, ft, bk, f.created,  count(DISTINCT a.object_id) as canned, count

[2015-09-07 21:59] eljagg opened #2532 "osticket Ver. v1.9.12"
Hi, I am wondering if anyone of you knowledgeable persons could help or guide me here. I have installed osticket ver.v1.9.12  in my work environment, however when I try to add my colleagues email address it (osticket) is not accepting them. I realized that this is as a result of the email type/format eg.
anyone@mywork.com.jm. I get this "Valid email is required"
When I used a gmail type email eg a

[2015-09-08 02:59] greezybacon commented on #2532
Disable "Email Address Verification" in Admin Panel -> Settings -> Emails

[2015-09-08 03:01] greezybacon commented on #2343
Ok, I think I found it. If php and the database use differing time zones, the lock always appears to be expired and yields a time remaining of zero. Can anyone try the patch in #2533?

[2015-09-08 03:02] greezybacon commented on #2504
@C4RLOCO Can you try the patch in #2533?

[2015-09-08 03:03] greezybacon commented on #2531
Thanks for the report

[2015-09-08 03:05] greezybacon commented on #2530
Download it (the javascript file) to the `js/` folder of your osticket installation. Add an include for the JS file in your `include/staff/header.inc.php` and `include/client/header.inc.php` files. Edit `js/redactor-osticket.js` and include `font-size` in the plugins list.

[2015-09-08 03:10] greezybacon commented on #2527
Thanks for the report

[2015-09-08 03:11] greezybacon commented on #2525
Sure. Go for it

[2015-09-08 03:12] greezybacon commented on #2524
@geiserc what timezone do you have set in Admin Panel -> Settings -> System, and in your Profile?

[2015-09-08 03:18] greezybacon commented on #2499
Can anyone try the patch in e17a9124e7c59d6de7ae21a8e736740b837badec. It's in #2056 to be merged toward rc3

[2015-09-08 03:18] greezybacon commented on #2522
Can anyone try the patch in e17a9124e7c59d6de7ae21a8e736740b837badec. It's in #2056 to be merged toward rc3

[2015-09-08 03:19] geiserc commented on #2524
Jared,

Timeline is set to auto and thus results on Loss Angeles being set. This is correct (I'm on northern California). Same in my profile.

On Sep 7, 2015, at 8:12 PM, Jared Hancock <notifications@github.com<mailto:notifications@github.com>> wrote:

@geiserc<http://cp.mcafee.com/d/k-Kr6xAe410SyMMyUYyqen6jtPrX5TT4TbCTSbLKcTsdLInvsjsjdKnLtcsUqejtyvwEwuTZta_3UAiTbCO1XvRQHYfyhbsKr89FL_XX_nVZ5YsqehP

[2015-09-08 03:22] greezybacon commented on #2506
The phone number was dropped to make room for the user's Organization, which is shown when the user is a member of an organization

[2015-09-08 03:25] greezybacon commented on #2521
That's really odd. Are you sure?

Which version is the latest one?

[2015-09-08 09:22] OBenned commented on #2488
We experienced the same issue that the sorting is not correct.

When we sort the first page is showing up correctly but not the following pages

[2015-09-08 09:24] OBenned commented on #2439
+1 on that we really like the new taks feature, but the visibility on how the relationship between task and tickets is not that good

[2015-09-08 09:30] OBenned opened #2534 "1.102RC2 Issue Task is not assigned on create"
When i have a ticket i wanted to create a task on, i create the task and the try and assign it to a agent.
But when the task is created it is still unassigned

[2015-09-08 11:33] Chefkeks commented on #2534
As far as I know this issues was already reported and a fix will be included in RC3.
Just can't find the related issue right now...

[2015-09-08 11:44] jdelhome3578 commented on #2343
Success `{id: 67, time: 180, code: "FJ1WtR3fm5"}` :+1: :+1:

[2015-09-08 12:07] ehk20 opened #2535 "1.8 to update 1.10-RC2 bug"
We had a few DB Errors post our 1.8 to 1.10-RC2 update but this seems to be the main remaining one. At first I thought it was a problem with the missing *_page table but on a clean install it seems this doesn't exist there either?:

[SELECT page.*, count(topic.page_id) as topics  FROM ost_page page  LEFT JOIN ost_help_topic topic ON(topic.page_id=page.id)  WHERE page.id=1 GROUP By page.id]

Table

[2015-09-08 12:35] #2506 closed

[2015-09-08 12:44] C4RLOCO commented on #2499
Hi @greezybacon,
I installed the patch e17a912 and confirm it fixes the Closed Tickets sort issue described in this thread.

I can't wait for RC3 :-)

Thank you very much Sir!

[2015-09-08 12:44] #2499 closed

[2015-09-08 12:53] C4RLOCO commented on #2504
@greezybacon patch worked as expected. Thank you very much! I assume this is also part of RC3, correct?

Thanks again for all your help!

[2015-09-08 12:53] #2504 closed

[2015-09-08 13:04] greezybacon commented on #2520
@frankii91 if I'm interpreting your suggestions correctly, osTicket should check `imap_headerinfo($this->mbox, $i)->Deleted != 'D'` before archiving. Is that correct?

I see osTicket already has the lines for `imap_delete` and `imap_expunge`

[2015-09-08 13:04] greezybacon commented on #2520
What mail server software are you using?

[2015-09-08 13:05] C4RLOCO opened #2536 "v1.10-RC.2: Lock status not shown on tickets"
When a different agent has a ticket locked. The system does not show the locked ticket icon/status in the Open ticket list/view.

[2015-09-08 13:07] C4RLOCO commented on #2535
Hi @ehk20 ,
I would restore the 1.8 backup and try to upgrade via: 1.8 > 1.9 > 1.10RC2

[2015-09-08 13:09] greezybacon commented on #2524
@geiserc sorry, you're pictures didn't come through

[2015-09-08 13:23] geiserc commented on #2524
Very strange. There were no pictures, just the response.

[2015-09-08 13:57] ntozier commented on #2519
You cannot use SMTP Auth with out using SSL/TLS with out sending your userid and password over the internet in clear text.  So its generally accepted that SMTP Auth only is used on SSL/TLS connections.

[2015-09-08 14:01] ntozier commented on #2511
As a reminder RC releases are not suitable for production environments.,  They are release candidates.  I would recommend that you restore your site and db from back up.

[2015-09-08 14:08] ehk20 commented on #2511
I'm reporting this so that the bug can be fixed in final release.

[2015-09-08 14:45] greezybacon commented on #2472
Sorry guys. `next` is an int type which is incremented later in the javascript code. It should default to zero (0) if unset in PHP

[2015-09-08 15:04] kest874 commented on #2343
I can confirm this works now as well.

[2015-09-08 15:37] frankii91 commented on #2520
function fetchEmails() {

        if(!$this->connect())
            return false;

        $archiveFolder = $this->getArchiveFolder();
        $delete = $this->canDeleteEmails();
        $max = $this->getMaxFetch();

        $nummsgs=imap_num_msg($this->mbox);
        //echo "New Emails:  $nummsgs\n";
        $msgs=$errors=0;
        for($i=$nummsgs; $i>0; $i--) { //process messages in reverse.

[2015-09-08 15:40] mckaygerhard opened #2537 "1.9.11 db error if connection are slow or get error in transition with recent cache browsers"
using the osticket i got this db error when network are slow (under 50Kps or over intense used wifi)

seems its only happened with google chrome i never see when users are under firefox << 27, but with recent firefox and chrome got a lot of those errors..

i hear a cache problem under recent google chrome setups and updates of the browser

[code]

[2015-09-08 15:41] ntozier commented on #2537
1.9.12 is current.  Please always upgrade to the latest version before reporting issues.  Thank you.

[2015-09-08 16:10] mckaygerhard commented on #2537
sorry, well i'll upgrade in the weekend and then post feedback here!

[2015-09-08 16:23] geiserc commented on #2522
This has fixed it for me!

Thank you!

[2015-09-08 17:09] geiserc commented on #2522
Actually, under further testing it is partially working now. It at first seemed to work flawlessly - but what I've found is that it works using the advanced search but the same problem is still in place when typing a search in the search box from the main ticket window.

[2015-09-08 17:12] C4RLOCO commented on #2522
I agree. I was able to confirm this.

[2015-09-08 18:40] greezybacon commented on #2520
@frankii91 again, you're suggesting the addition of
[code]
`imap_expunge` seems already used in the current version

[2015-09-08 19:03] frankii91 commented on #2520
So it is used but in a different place, it seems to me that in my place works better.

eg. to transfer 10 emails at 6 encounters an error. then imap_expunge not perform properly.

and conveying the message loop is executed again

[2015-09-08 19:04] frankii91 commented on #2520
I have a server ... I do not know :) not my :)

[2015-09-08 19:53] greezybacon commented on #2537
I can't find the text `DSC` anywhere in the project. Did you edit something?

[2015-09-08 20:06] pkgdemon commented on #2505
I also see this with RC2.

[2015-09-08 20:13] C4RLOCO commented on #2505
Thanks @pkgdemon for chiming in. @greezybacon any thoughts?

[2015-09-08 20:19] pkgdemon opened #2538 "Enhacement request: Add forms to task"
It would be useful to be able to add forms to tasks.

[2015-09-08 20:21] pkgdemon opened #2539 "Enhacement request: create tasks automatically"
It would be useful to be able to create a handful of task types automatically when a new ticket is made.

[2015-09-08 20:40] mckaygerhard commented on #2537
umm i think "DSC" mean descendent order, can see:

[code]

and the later see `near 'DSC LIMIT 0,40' at line 4`

umm @greezybacon are u see this notification in mail only, somethings mail presentation changes the body text of presentation

[2015-09-08 20:54] pkgdemon opened #2540 "Enhacement request: Print Ticket Thread + Tasks"
It would be useful to be able to print tasks when printing the ticket thread.

[2015-09-08 21:00] ntozier commented on #2537
SQL syntax would be DESC.

[2015-09-09 05:20] mfelber commented on #2539
Do you mean something like a ticket template that inhibits some pre defined tasks? Or a list of pre defined tasks that is available to add in each ticket?

[2015-09-09 12:55] mckaygerhard commented on #2537
i dont understand how the "DSC" word get incomplete, i made test now with 1.9.12 and 1.9.11 i cannot reproduce again, the only thing i cannot reproduce its the speed of the wifi when many request are done, seems related to browser so 'ill close concluding that was a problem in chrome (i found many post about currently recent versions of chrome are very buggy)

[2015-09-09 12:55] #2537 closed

[2015-09-09 13:03] pkgdemon commented on #2539
Exactly.  I'm trying to create a topic for example that will be for "new hires".  I was going to use notify certain groups independently to create credentials.  This way when tasks are overdue it only nags the right group.  Rather than the entire group the ticket is assigned to.

[2015-09-09 13:17] mckaygerhard commented on #1996
again ping? forms still in 1.9.12 has this bug! put 0 in numeric validation with 0 permited and get and error!

[2015-09-09 13:20] mckaygerhard commented on #1891
why this still are not planning, many issue tracker now has this as a commonly feature, osticket maybe its the only popular issue tracker that not hav!

[2015-09-09 14:08] rowlandan25 commented on #2538
+1

[2015-09-09 14:09] rowlandan25 commented on #2539
+1

[2015-09-09 14:21] C4RLOCO opened #2541 "v.1.10-RC.2: Internal Note not added when creating new ticket"
When agent creates a new ticket, an internal note is also written. However, when clicking "Open" the system creates the ticket accordingly but it does not include the internal note.

[2015-09-09 15:26] triagehhardy commented on #2090
I am having the same issue on 1.9.11 im not sure why it is linking a password reset and not confirmation.. i cant get any of my users logged on this way.

[2015-09-09 16:31] Hamsteren commented on #1891
I'm guessing it's not in due to you not making the function ;)

[2015-09-09 16:44] geiserc commented on #2524
Here's the error message I get now:
![error](https://cloud.githubusercontent.com/assets/7979394/9768255/5835fbc0-56d7-11e5-98af-ffb4b0b47745.jpg)

[2015-09-09 17:37] philbertphotos opened #2542 "Enhacement request:Advanced Search drop dropdown"
Ability to use saved searches via drop down so a user can easily select between as additional filters.

[2015-09-09 17:41] philbertphotos commented on #2539
That would be very nice.

[2015-09-09 17:43] philbertphotos commented on #2513
I will do some debugging in the code and see if I can provide anymore info.

[2015-09-09 18:31] ntozier commented on #2542
Users cannot use saved searches... they can't use advanced Search either.
Do you mean Agents?

[2015-09-09 18:43] mckaygerhard commented on #2473
ping? what about this bug! i currently confirm that in my setup! please remenber its a bug not a new feature request! i used 1.9.11 in production!

[2015-09-09 18:44] mckaygerhard commented on #1686
ping!? this still are not fixed in lasted neiter 1.9.12!!!

[2015-09-09 18:49] mckaygerhard commented on #1665
closed, profile are present in 1.10 series!

[2015-09-09 18:49] #1665 closed

[2015-09-09 18:50] carlospea commented on #1686
please can fix them in 1.9.13?

[2015-09-09 18:51] mckaygerhard commented on #1663
this can be made in current v1.10 version

can i define a format in ticket numbre generation? by ex date format amont number digits?

[2015-09-09 18:51] philbertphotos commented on #2542
Yes i meant agents ... It would be nice to select the searches as filters that you use regularly.

Sent from my iPhone

[2015-09-09 18:51] mckaygerhard commented on #1347
this bug are still happened in 1.9.12, the date format of spanish translation are wrong!

[2015-09-09 18:57] mckaygerhard commented on #2513
i thinks th eproblem are in the date definitions on the i18n files, i dont know why the date definitions are set as that way!

here another problem related due that #1347

[2015-09-09 19:15] ntozier commented on #1663
"can i define a format in ticket numbre generation? by ex date format amont number digits?"

I haven't the foggiest idea what you mean.

[2015-09-09 19:40] mckaygerhard commented on #1663
well if user put "YYYYMMDD#######" will be generated as "2015090912039784" why i just explain again that all users post here previusly for you? can u see the history!

[2015-09-09 20:01] ntozier commented on #1663
.... of course I can read the history of this open issue.
Your response(s) makes no sense.
This is a feature request that you started to be able to something.  Specifically to use arguments to create date based ticket numbers.

You obviously know that you cannot do so currently, or you would not have made the feature request.  So then why then would you post [to your own feature request] asking if

[2015-09-09 21:02] mckaygerhard commented on #1663
@ntozier why try to silence my feature request, i can see a one user that also like my request, **and @greezybacon yet already market as "enhancement",** so i only ask for how are goin the work here and u seems to do not like my posts that are very "evolution-like" in way!

in this issue specifically i never threath that u said! again , please see the history!

[2015-09-10 07:25] blhf opened #2543 "Enhancement"
Allow multiple combo box sub help topic to avoid long list of choices. ex
1.Network Problem
2.Hardware Problem
Sub Topic:
1a.Wifi not connecting
1b.LAN cannot access internet
2a.Mouse not working
2b.Monitor Flickkers

[2015-09-10 10:33] ehk20 commented on #2522
Something similar happens when trying to on "most recently closed" on the closed tab

[2015-09-10 11:56] carlospea commented on #1663
this its a nice feature, better that make a formula, currently this are not possible from custom number generation, at least not in 1.9.12 as easyle

[2015-09-10 12:08] jyotirekha opened #2544 "Call to a member function stripQuotedReply() on a non-object ininclude/class.mailer.php on line 160"
Hi,
We are using osticket 1.8.After frequent interval the server gives the error "Call to a member function stripQuotedReply() on a non-object ininclude/class.mailer.php on line 160".After restarting the server it works fine.
Please can anyone help me.. to resolve this issue parmanently.

[2015-09-10 12:53] jdelhome3578 commented on #2341
@greezybacon  I am still having this issue

[2015-09-10 12:56] jdelhome3578 commented on #2298
@greezybacon I have noticed this happens when the action takes longer than 250ms

[2015-09-10 14:17] ntozier commented on #1663
@mckaygerhard leap to conclusions much?  No one is trying to "silence" your feature request.

On the contrary, I am trying to understand why you are asking if you can do something when you know that you cannot... since you created this thread in the first place to be able to do it.

[2015-09-10 14:18] ntozier commented on #2544
1.8 is really old please upgrade to at least 1.8.12

[2015-09-10 14:34] mckaygerhard commented on #1663
well the request its for a option to able to put a format that includes the date in the number ticket generation, the explanation are in the second comment, but in resume that's all

currently i see that i can added letters, numbers per ticket filters or per king of tickets, but not a option to generate current date in the ticket number at the ticket creation!

[2015-09-10 14:38] ntozier commented on #1663
@mckaygerhard Yes. Which has little of nothing to do with actually answering my question.

[2015-09-10 14:55] mckaygerhard commented on #1663
u are the only that said "not possible"..  i posted many solutions in others ticket that users ask "when will be commited" solutions, not code requested..

that option of "date" in the ticket generatin number are possible, the issue are market as "enhanchement" and others people here seems like it!

[2015-09-10 15:08] ntozier commented on #1663
1.  I did not say it was not possible.  You obviously haven't read what I wrote.  I said.
"You obviously know that you cannot do so currently, or you would not have made the feature request."

2. "i posted many solutions in others ticket that users ask "when will be commited" solutions, not code requested.."
This response appears to be completely off topic.

3. "that option of "date" in the ticket

[2015-09-10 15:39] mckaygerhard commented on #1663
ok @ntozier i read all, post an in the fourth u posted that, but dont worry.. ok tell me what are to do to make it possible

please help with little tips what code (due there's no documentation) we must touch, i'm alone cannot do but maybe with other can be possible...

i mean help with tips to do not read complety the code and make it more faster

ok u said that currently dont have the capacity t

[2015-09-10 16:01] ntozier opened #2545 "v1.10-rc2: delete managed sequence hangs?"
**Server Details:**
osTicket: v1.10-rc.2 (231f11e)
server:IIS 8.5
php: 5.6.12
MySQL: 5.5.42

**How to replicate:**
Navigate to Admin panel -> Settings -> Tickets -> Manage (button)
delete a managed sequence. (I have created one called YYYY).
Click Save Changes

resulted in the following:
eternal loading screen (see image below)

![capture](https://cloud.githubusercontent.com/assets/1315768/9793422

[2015-09-10 16:01] ntozier commented on #1663
I am not a dev. I'm a moderator.
I've already told you what needs to be done to make it possible (see 3. in previous post)
Anyone [with a github account] can file a pull request.

[2015-09-10 16:53] mckaygerhard commented on #1663
@ntozier custom ticket format not have capability to dinamically generate the date in ticket number

i'll try make and pull request wtih other to make this for both current versions

[2015-09-10 19:03] DieQuelle opened #2546 "profile.php not translated i18n"
Buttons are not translated.

http://imgur.com/KNwSbqm

[2015-09-10 19:45] Rankgel commented on #1663
I am also interest in this enhancement ,+1

[2015-09-11 05:19] jyotirekha commented on #2544
Sorry, I am using osticket version  1.8.1.

[2015-09-11 10:42] abstractmodel commented on #2420
i got exactly the same problem. version 1.9.11.

saying it's redactor related is not a solution for us...

[2015-09-11 11:09] t-oster commented on #2524
I have the same problem as soon as I assign a due-date to a new task:
[code]

[2015-09-11 11:20] t-oster commented on #2524
Seems as if $task->duedate is set to true instead of the dateTime Object. Thus in
include/staff/templates/task-view.tmpl.php(200)
the expression
[code]
evaluates $task->duedate to true but Format::datetime crashes.

I quickfixed it to
[code]
but that does not fix the cause. I am currently searching the code, which loads the task from the DB. I guess there is some problem.

[2015-09-11 11:23] t-oster commented on #2524
...in the database, it is also was set to 0000-00-00 00:00:00. So setting of due-date in the task-creation dialog is also broken. But even changing it in the db to a correct date does not solve it.

[2015-09-11 11:27] mfelber commented on #2420
@abstractmodel I don't think that the comment should reflect a solution.
It should only say this behavior is redactor related. With this information people could try for example to use the redactor documentation to see if this behavior is adjustable or if it is a design limitation.

It seems to me that the redactor expects URLs via http and not the file protocol and therefore the saved URLs will b

[2015-09-11 11:33] OBenned commented on #2534
Is it this issue? https://github.com/osTicket/osTicket-1.8/issues/2445

[2015-09-11 11:57] t-oster commented on #2534
Yep. I confirm it's fixed with the patch in #2445

[2015-09-11 12:06] t-oster opened #2547 "1.10 RC2 Due date on new task is broken"
If I create a new task and set a due date, in the database only

[code]

is written, which leads to the task not being displayed because of the succeeding parse-error when trying to parse the date in include/staff/templates/task-view.tmpl.php(200).

The error the users will see is:

[code]

My timezone in Admin and Profile is Europe/Berlin

[2015-09-11 12:07] t-oster commented on #2524
(i moved my comments to #2547 since this seems to be a separate issue)

[2015-09-11 14:00] ntozier commented on #2544
Please upgrade.

[2015-09-11 19:41] jdelhome3578 opened #2548 "Feature Request: Time and Date Format"
Allow Client and Agent to select a preferred Time and Date format.  i.e. - 12-hour or 24-hour mm-dd-yyyy or yyyy-mm-dd etc.

[2015-09-12 02:33] philbertphotos commented on #2513
include/class.misc.php I change the minus to a plus and if FIXED my issue I will look at it later to see if it will work with other timezones...

    /* misc date helpers...this will go away once we move to php 5 */
    function db2gmtime($var){
        static $dbtz;
        global $cfg;

        if (!$var || !$cfg)
            return;

        if (!isset($dbtz))
            $dbtz = new DateTimeZo

[2015-09-12 13:57] philbertphotos commented on #2538
+1

[2015-09-12 21:46] ree4 commented on #2467
Officially supporting nginx would be nice

[2015-09-14 02:30] rpbaquing opened #2550 "Response Time"
Hi,

I wanted to know how will I get the response time?
If service time is the difference of Created and Closed time.
Then can I also get the response time by subtracting the Created time with the first response time? But upon checking the DB, I could not see the column for that. The columns I see are the last message and last response time.

We need this for the reporting of tickets.

And also, i

[2015-09-14 12:32] DieQuelle opened #2551 "Wish Display help information first"
Hello,

its a bit weird that the help text of a text form is under its box and not before the box.

Create Ticket with custom forms and add Help text so its under its field.

[2015-09-14 17:38] ntozier commented on #2551
version of osticket?
User side?  Agent Side?
screen shot?

[2015-09-15 09:44] mdmpofu opened #2553 "Creating Pending/Onhold Status in version 1.9.3"
Good people.
i realise that this issue has been raised before but to osticket versions earlier than version 1.9. l am using version 1.9.3 and have tried to follow the mod customization of version 1.6 with no luck. anyone who has had a chance to customize the status to add a third status state besides open and closed like pending or onhold.

[2015-09-15 12:59] t-oster opened #2554 "1.10 RC2 Header information after output"
This line:

https://github.com/osTicket/osTicket-1.8/blob/develop-next/include/client/header.inc.php#L20

will result in
[code]
because you output some HTML and then set the header after it was already sent.

[2015-09-15 13:06] ntozier commented on #2553
All you have to do us upgrade?  Newer versions have custom status capability.

[2015-09-15 14:48] mdmpofu commented on #2553
Newer version have custom capability to create a new status but limits the state to open or closed. l want to have a scenario where l have a filter for Pending or Onhold tickets.

[2015-09-15 14:59] ntozier commented on #2553
You are correct that custom statuses are essentially sub types of open or closed... however you can use Advanced Search to search for tickets with custom statuses.

[2015-09-15 23:41] ree4 commented on #2467
@sstillwell did you get it sorted?

[2015-09-16 06:27] fgn-git-hub opened #2556 "Update Problems from 1.9 to 1.10-RC1"
Are there any known issues while upgrading from 1.9.x to 1.10-RC1. Every time I try to, I get an error while executing the db upgrade script. It always complains about already existing tables and / or rows in tables. Is there a recommended way to do an upgrade? I would really want to test the 1.10 branch, but with my existing ticket data.

Thank you so far.
Best regards
Sebastian

[2015-09-16 07:12] ntozier commented on #2556
The short version is you shouldn't.  RC means release candidate, and it still has a lot of issues.  Also RC2 is out.  Neither should be used in a production environment at this time,

[2015-09-16 07:46] fgn-git-hub commented on #2556
I know it's a RC, still I can try to update, it for testing isn't it?
Therefor I want to test the update process, I want to see what it's capable of. And I never said, that I want to use it for productive use.
That's my intention, and I guess, therefor my questions are still reasonable ;-)

[2015-09-16 08:32] ehk20 opened #2557 "v1.10-RC2: Avatar rendering in Safari 5.1.10"
Avatars are not rendering correctly in V1.10-RC2 on Safari 5.1.10, as per the attached image (wrong size, vertically stretched, messing up the chat timelines), on this and other pages. While this is an older version of Safari, it is in use for 10.6 clients, which we have a few users on older Macs that can't upgrade beyond it, and while staff aren't too bothered, users find it confusing.
![screen s

[2015-09-16 10:18] rjboer opened #2558 "user lookup only searches first two characters"
The user lookup field, on new ticket creation, only searches for the first two characters since updating from 1.9.12.
See added screenshot (searched for marc but it searches only for ma )

Server Information
osTicket Version 	v1.9.12 (19292ad) — Up to date
Web Server Software 	Apache
MySQL Version 	5.6.19
PHP Version 	5.5.9-1ubuntu4.11
PHP Extensions
gdlib 	Used for image manipulation and PDF prin

[2015-09-16 10:23] rjboer commented on #2558
looks like this:
http://osticket.com/forum/discussion/86327/user-search-on-tickets-only-using-two-letters

[2015-09-16 10:31] rjboer commented on #2558
And.....stop the clock
Firewall\ldap issue,

Open port 389 from the ldap server (or of course your own port)

ubuntu:
ufw allow from 10.0.0.25 to any port 389
ufw allow out 389

[2015-09-16 10:31] #2558 closed

[2015-09-16 11:01] mbarkichadi commented on #1157
To Close this Issue i have an update the table is called ost_form_entry_values not ost_form_entry
id23: Company Name
id24: Website
id25: Phone
id26: Adress
and everything is ok

[2015-09-16 12:00] t-oster commented on #1681
I cannot check this atm, but since no one else complaints, I think it is fixed.

[2015-09-16 12:00] #1681 closed

[2015-09-16 17:44] philbertphotos opened #2560 "Ablity for "email" to check other Folders"
So for instance instead of looking for emails in in the "Inbox" only I can create one user with several email alias.
and Create a folder in the email BOX and osticket and look only in that folder for updated email.

[2015-09-16 23:51] jccastros opened #2562 "OsTicket 1.9.12 with Google Mail (IMAP and POP)"
Domain Name: casalconsultores.com
Problem Description:
We're using Google Mail for casalconsultores.com, and have setup the MX records correctly.  We're receiving email / sending email no problems from the web based client.

Email is being received and sent no problem using Thunderbird with the following settings:

https://support.google.com/mail/bin/answer.py?hl=en&answer=13287

When we try to sa

[2015-09-17 00:08] BassemN commented on #2562
I have the same problem.

[2015-09-17 07:23] t-oster opened #2564 "1.10 RC2: Some Tickets are not reopened on Email reply"
This may not be specific to 1.10 RC2, because I noticed it earlier, but I cannot reproduce it manually:

I have some tickets, where the ticket was closed by an agent together wit an answer. When the customer replies back, the reply is attached to the ticket, but the ticket is NOT repoened. This is of cause a big problem, because we do not notice that the customer answered.

I use the api.php file

[2015-09-17 08:02] t-oster commented on #2564
I found out, that lastupdate is set correctly, so I am able to find those tickets through this SQL query:

[code]
There are about 50 of those tickets in our system, starting 2015-01-21. So this is definitely a pre-1.10 RC2 issue

[2015-09-17 08:16] t-oster commented on #2564
I noticed, that most of the mails are amazon marketplace messages.... but I don't know if that has something to do. Any hints where in the source the tickets should be reopened?

[2015-09-17 09:27] t-oster commented on #2564
...i switchted from my python script to IMAP-polling (cron job). I will report if this issue still pops up.

[2015-09-17 11:37] t-oster commented on #2536
I can confirm this issue.

[2015-09-17 12:50] philbertphotos opened #2565 "System not sending New Ticket Alerts v1.10-rc.2"
I found a bug I think ... department members of a department are flag for alerts but none of us do not get an alert.
The ticket is moved to the group via a ticket filter.

[2015-09-17 13:26] philbertphotos commented on #2565
Found the issue...

[2015-09-17 13:26] #2565 closed

[2015-09-17 13:50] C4RLOCO opened #2566 "v.1.10-RC.2: Public Post Tab/Area disappears when ticket is re-assigned to different agent."
When a ticket is re-assigned to a new agent, this new agent cannot post public post. Basically, the Public Post Tab does not exist in the screen. The only accessible tab is the Internal Note one.

<img width="1062" alt="publicpost" src="https://cloud.githubusercontent.com/assets/4073792/9934798/779e8db0-5d21-11e5-87a8-be977082a3ea.png">

[2015-09-17 18:12] C4RLOCO opened #2567 "v.1.10-RC.2: Missing Buttons in Ticket View after re-assignment"
After a ticket is re-assinged to a member of a different department, the following buttons are missing: Assign, Transfer, Edit. This also happens logged as Admin.

What affect us at this moment is that a ticket cannot be transferred to a different agent.

![screen_shot_2015-09-17_at_2_06_35_pm](https://cloud.githubusercontent.com/assets/4073792/9941867/017c5502-5d46-11e5-87cc-bd96bf01eb8b.png)

[2015-09-18 05:58] t-oster commented on #2502
+1

[2015-09-18 07:58] #2553 closed

[2015-09-18 09:25] mdmpofu opened #2568 "dashboard reports displays 1s instead of 0s"
l happened to delete all tickets that l was using in my test environment and wanted a clean slate. After having successfully reset the dashboard as well, l find that when l have two tickets in my database, the dashboard statistics are incorrect they show 1s instead of 0s in other help topics that have not been assigned a ticket. l am using osticket 1.9. Is there a fix for this problem on this vers

[2015-09-18 09:47] matlinuxer2 commented on #2024
I got the same problem and got error log like this:

====
 Fatal error: Call to a member function getField() on null in ******/osTicket-1.8/account.php on line 35
====

[2015-09-18 09:50] ewhptiv opened #2569 "1.10-RC2 Display issue on creating custom forms"
When creating custom forms, the fields are too large to fit in the main column. Probably an issue depending of the language (french in this case).

![image](https://cloud.githubusercontent.com/assets/395636/9956707/568d8f3a-5dea-11e5-8226-db7fa24c1483.png)

[2015-09-18 12:15] hofzor commented on #2451
Having the same "ost_translation already exists" issue.  We tried to upgrade last night and ran in to issues (no one was able to log in via LDAP or local) and had to revert back to 1.9.51.

Here's the process I did:
Did a mysql dump
Created a back up of the production osticket folder
Downloaded, extracted, and overwrote the production osticket folder's contents
Performed the upgrade via the web in

[2015-09-18 13:31] ntozier commented on #2568
The Dashboard has pretty much always had the problem of showing 1s instead of 0s.  It's been slated to be revamped for some time but that hasn't happened yet.  I'm not aware of any fix besides the one that you linked.

[2015-09-18 13:50] ntozier commented on #2451
@hofzor
re: "(no one was able to log in via LDAP or local"
Did you also upgrade your LDAP plugin?

[2015-09-18 14:48] hofzor commented on #2451
@ntozier

I did not update the LDAP plugin.  I'm going to drop the ost_translation table, and try again tonight.  I will follow up with results.

[2015-09-18 14:51] ntozier commented on #2451
Please let us know your results. :)

[2015-09-18 19:36] mckaygerhard commented on #1347
another bug related with this are: #2531
the languaje files still have errors and the web tool to translate does not help in any due does not permit edit the strings that are bad

[2015-09-18 21:00] greezybacon commented on #2513
This is a duplicate of #2440

[2015-09-18 21:03] greezybacon commented on #2440
I've gotten to the root of this. Timezones like `CDT` (Central Daylight Time) are valid starting in PHP 5.5, however; these zones have static offsets. (-5 for CDT). Therefore, they cannot be used when comparing offsets to dates which should be in `CST` (standard time), and hence the one hour offset (which will be magically corrected in November).

[2015-09-18 21:07] greezybacon commented on #2440
Can anyone check with the patch in #2570?

[2015-09-18 22:43] Chefkeks commented on #2440
@greezybacon
Have not tested the patch yet, but I think that the following comment is maybe helpful too:
http://php.net/manual/de/function.time.php#117251

Since I ran into this issue myself with one of our internal PHP projects (upgraded to PHP 5.6.x) and searched the web hours for information about that issue (and a fix) I really hope that comment above will help :)

[2015-09-18 23:16] ARiber commented on #2440
@greezybacon
Just tested your patch, sorry it doesn't seem to work.
Server location is in Germany.
PHP Version 5.5.27-1~dotdeb+7.1

[2015-09-19 04:28] matlinuxer2 commented on #2024
[code]
I did some debug work, and I found something below:
1. at line of 32, "$thisclient->getForms()" got an array containing one item.
2. at line of 33, "$f->get('type') always return "bool(false)"
3. at line of 35, the "$user_form" is always "NULL" , and cause error.

I hope to try to fix it, but I do not understand the data structure of "Forms" ( which the"$thisclient->getForms()" returns ).

[2015-09-19 08:48] mfelber commented on #2440
@greezybacon The patch works like a charm :-) I have tested it with php 5.5.27 and 5.6.12.

@ARiber Did you logout after appending the patch? In my case I had to logout and login again to see the corrected behavior..

[2015-09-19 10:14] ARiber commented on #2440
@mfelber
yes, you are correct. You have to log out and back in in order to make it work

Thanks @greezybacon

[2015-09-20 12:04] bcowman opened #2573 "Invalid email address cdos.ie"
Hi,

v1.9.12 (19292ad)

I'm trying to update an agent account.  When I save I get an invalid email address.  I can use any email address except anything with the domain cdos.ie!

e,g, email@cdos.com works, email@cdos.ie doesn't.

[2015-09-21 04:13] philbertphotos opened #2574 "UI bug"
I edited and updated the STAFFINC_DIR - staff.inc.php
Most of the fields were missing
_example:_
`<input type="email" size="40" maxlength="64" style="width: 300px" name="email"              value="<?php echo Format::htmlchars($staff->email); ?>`

[code]

I added class="auto email", class="auto first" class="auto last", etc to the receptive fields that way when creating a user with LDAP it automati

[2015-09-21 08:49] Chefkeks commented on #2573
Make sure cdos.ie is a valid domain and has a valid A name, cname and/or MX record. Otherwise just disable email verification under admin panel > settings > email > email verification

[2015-09-21 12:09] greezybacon commented on #2574
Like not there at all, or missing something?

[2015-09-21 12:10] greezybacon commented on #2569
Yeah, looks like we need `max-width` on the drop-down lists

[2015-09-21 12:11] greezybacon commented on #2545
Do you have any logs from the 500 error?

[2015-09-21 12:20] greezybacon commented on #2564
Could you submit the raw headers one of the amazon marketplace email responses?

[2015-09-21 12:35] rjboer opened #2575 "Email CC's are not imported 1.9.12"
Dear all,

Let us first mention that we like Osticket very much, and we have been using it now for over half a year.
We experiencienced a small issue that might be a bug (which we like to share),
We have, in exceptional cases (twice a week), trouble with email cc's.

These emails are all replies in which we are selected as a TO-email address (hpservice@.....com) with additional CC's added directly

[2015-09-21 12:44] t-oster commented on #2564
[code]

[2015-09-21 12:49] philbertphotos commented on #2574
like the "class" was missing 90 percent of it ... luckily you had the class="auto phone" so I was able to deduce the rest.

[2015-09-21 12:51] greezybacon commented on #2564
I think our current policy is not to reopen tickets on automated responses

[2015-09-21 13:01] t-oster commented on #2564
![cc](https://cloud.githubusercontent.com/assets/1052720/9992307/84d6288c-6071-11e5-9476-16425edd7b9f.png) but often it does re-open the ticket. the main problem is that this behavior is not easily reproducible

[2015-09-21 17:00] mtibbits140 commented on #2415
Ok, I am still having this issue, but can now add more info:

When creating an organization or a user, any information selected in a drop down field is not being saved. I have to re-open the org or the user, re-select the information in those drop down fields and ONLY THEN is it actually saved to the database.

These drop down fields are custom form fields using custom lists.

This started happeni

[2015-09-21 17:10] mfelber commented on #2415
I have reported the same here (at this time I didn't notice that you are describing the same): https://github.com/osTicket/osTicket-1.8/issues/2489

I guess this is a design limitation in 1.9.x.

In 1.10 (still beta) this issue doesn't occurs.

[2015-09-21 17:10] febrile42 commented on #2488
I am also seeing the same behavior. Newly created tickets are on page 2, no matter the chosen sorting.
![ost-sorting1](https://cloud.githubusercontent.com/assets/14597122/9999017/226dac74-6062-11e5-964d-cf95111e03fb.png)
![ost-sorting2](https://cloud.githubusercontent.com/assets/14597122/9999018/226e1d44-6062-11e5-8ccb-90355596c52e.png)

[2015-09-21 17:18] febrile42 commented on #2440
Patch resolved this issue for me as well. PHP 5.6.2-1

Thanks @greezybacon !

[2015-09-22 01:56] pfurches opened #2578 "OST 1.10 - Add original ticket # to a new Task sequence automatically"
OST 1.10 RC2
It would be a nice feature if the task sequence number format or at least somewhere in the task itself, could reference the original ticket.

If you create a task from within a ticket, is it possible to reference the original ticket # automatically?  Maybe using a automatic variable like %{ticket.number}.

We use a "gracious hospitality" approach to tickets. When a ticket is assigned,

[2015-09-22 07:02] rjboer commented on #2575
Email is not entirely pastable.... and not attacheble either,
added as a jpg (rename to .txt)

![email 1](https://cloud.githubusercontent.com/assets/14197553/10012446/736556a8-6108-11e5-8f17-db604f2bdbad.jpg)

[2015-09-22 07:05] rjboer commented on #2575
Related?
https://github.com/osTicket/osTicket-1.8/issues/2465

[2015-09-22 13:08] greezybacon commented on #2488
This is a duplicate of #2499. There is a patch for it in e17a9124e7c59d6de7ae21a8e736740b837badec. It's in #2056 to be merged toward rc3

[2015-09-22 13:08] ntozier commented on #2578
I like this idea.

[2015-09-22 13:11] ntozier commented on #2575
Your email source appears to be missing the important part... the email headers.

[2015-09-22 13:13] greezybacon commented on #2548
What version are you requesting this change to? It has been supported globally (one config for both clients and agents) since at least v1.7. In v1.10, we allow a custom global setting and also a locale override (English, US; German; etc) for agents

[2015-09-22 13:16] greezybacon opened #2579 "v1.10 - Ticket print does not include events"
Since events are a great form of auditing, they should be included, perhaps as an option, in the PDF output when the ticket and thread are printed.

[2015-09-22 13:40] steadhouse commented on #625
We're seeing the full iframe code stripped (as provided by YouTube).

I did a fresh install this morning to see if our regular install was doing something funky, but the behavior appears on a fresh install of 1.9.12 as well:

Server Information
osTicket Version	v1.9.12 (19292ad) —  Up to date
Web Server Software	Apache
MySQL Version	5.1.56
PHP Version	5.6.10

Steps to reproduce:
1. Copy YouTube Em

[2015-09-22 13:53] jdelhome3578 commented on #2548
I have my system setup with locale defaults but I myself like 24 hour time format and yyyy-mm-dd date format but I don't want the whole system that way. Could you add the system like settings (see image) to the agent and client to override the global setting?
![image](https://cloud.githubusercontent.com/assets/5774055/10020160/5c7d75e0-610f-11e5-80e9-f64058d89618.png)

[2015-09-22 15:26] nfebuary commented on #2557
@ehk20 check to see if b4e1e9c fixes your issue. I don't have a way to test Safari 5.1 Sauce labs only has Safari 6 to test.

[2015-09-22 16:00] ehk20 commented on #2557
Fix confirmed as working for Safari 5.1. Thanks!

[2015-09-22 16:01] ehk20 commented on #2557
Leaving open as I'm not sure what the etiquette is for closing issues!

[2015-09-22 16:54] nfebuary commented on #2557
You can close it since it works.

[2015-09-22 18:34] #2557 closed

[2015-09-22 18:59] greezybacon commented on #2440
Hey everyone, I've changed the patch to provide significantly better performance on such databases that report abbreviated time zones. Could anyone verify again with the (updated) patch in #2570?

[2015-09-22 23:04] ARiber commented on #2440
Hi,
yes, i can confirm that it works by me. I also logged out / in and checked different scenarios. Could not find any problem...

[2015-09-23 01:53] hofzor commented on #2451
Sorry, was finally able to get to it tonight.

I dropped the ost_translation table, but am now getting an error that the table doesn't exist.  I'm not really sure where to go from here.  I performed all the same steps as I had above, with the exception that I dropped the table right before doing all of that.

DB Error #1146
[SELECT A1.* FROM `ost_translation` A1 WHERE (A1.`lang` = ? AND A1.`type`

[2015-09-23 06:33] mfelber commented on #2440
Patch #2570 works. No problems occured.

[2015-09-23 13:56] ntozier commented on #2451
after you deleted the table, you are going to have to recreate it.

[2015-09-23 20:17] pfurches commented on #1176
I can confirm that this is working with numeric usernames now in 1.10 RC2.  Thanks greezybacon!

[2015-09-24 02:24] philbertphotos opened #2582 "OST 1.10 "Lookup or Create User" bug.."
In the "Lookup or Create User" dialog box only pre imports user data if they are local it seems to ignore the LDAP/remote users and does nothing and just refreshes.

![09232015-220927](https://cloud.githubusercontent.com/assets/2892474/10063959/8fe7185e-6241-11e5-988e-f07038195788.png)

[2015-09-24 02:30] philbertphotos opened #2583 "v1.10 - ablity to have filters removed Trigger words from email"
Example a Agent reply to an email with the word #WHATEVER somewhere in the body it will remove the trigger word and do what ever task is needed by the filter.

[2015-09-24 02:39] philbertphotos commented on #2578
me too

[2015-09-24 13:29] ntozier commented on #2583
1. I cannot confirm the blank page pdf.  This works in my installation just fine.
2. Changing this to a different title / error description appears to be completely unrelated to the original topic.  In the future instead of editing your issue report, please simply create a new one.

[2015-09-24 13:36] philbertphotos commented on #2583
I made a mistake with the first bug report and had a feature request so i decided to edit instead of close it ... Sorry about that

Sent from my iPhone

[2015-09-24 13:52] ntozier commented on #2583
No worries.  Like I said... in the future. :)

[2015-09-24 14:02] C4RLOCO commented on #2566
Hi @greezybacon any thoughts about this issue?

[2015-09-24 15:24] greezybacon commented on #2502
This is properly fixed in 37cd404fff47b24cb5a41c992560ae29f5940262 in #2056. The `$maxi` variable is a number and should not be treated as a string.

[2015-09-24 15:24] #2502 closed

[2015-09-25 02:10] greezybacon commented on #2582
Would you be able to test the patch in osTicket/core-plugins#85?

[2015-09-25 02:10] greezybacon commented on #2336
Would anyone be able to test the patch in osTicket/core-plugins#85?

[2015-09-25 02:11] greezybacon commented on #1422
Would anyone be able to test the patch in osTicket/core-plugins#85?

[2015-09-25 07:42] rjboer commented on #2575
:(  srry

Will have someone trace the original somewhere next week

[2015-09-25 14:32] PPCM commented on #2232
I have the same problem with the v1.10-rc.2
I tried to add %{signature} in email template and directly in the email, and the text is not transformed

I have to precise that during the redaction of the response, the correct signature appear under the ticket

any idea?
Thanks

[2015-09-25 17:44] philbertphotos commented on #2582
Yes in i can

Sent from my iPhone

[2015-09-25 18:48] #2350 closed

[2015-09-26 01:18] greezybacon commented on #2232
@PPCM, could you add some screenshots?

[2015-09-26 04:05] philbertphotos opened #2584 "10-RC2 Importing List bug"
## Importing line by line or by csv produces nothing.

artsmultipart/form-data
**CSRFToken**
1b674ce6588c912385683e8083d3bdb89e9d19e7
pasted
Source
-----------------------------159602601424571
Content-Disposition: form-data; name="**CSRFToken**"

1b674ce6588c912385683e8083d3bdb89e9d19e7
-----------------------------159602601424571
Content-Disposition: form-data; name="pasted"

--------------------

[2015-09-26 06:30] PPCM commented on #2232
Here are screenshots, but it will show nothing special
During the redaction of the response, the signature appears under the text
But when the response is received, the signature is not present

![redaction](https://cloud.githubusercontent.com/assets/1247223/10116146/cf77b31e-6428-11e5-88ff-f105bf389c80.jpg)
![mail](https://cloud.githubusercontent.com/assets/1247223/10116147/cf7974c4-6428-11e5-8d3

[2015-09-26 10:05] gmt-it commented on #2442
Error is back again in latest develop-next!

[2015-09-26 19:12] t-oster commented on #2554
fix is merged...

[2015-09-26 19:12] #2554 closed

[2015-09-27 02:34] greezybacon commented on #2442
It doesn't look like e17a912 is merged into `develop-next` yet. You might have to manually apply it after upgrading

[2015-09-27 22:20] jdelhome3578 commented on #2567
@greezybacon I have noticed that admin does not get access to all departments

[2015-09-28 11:43] t-oster commented on #2547
It tries to save a unix-timestamp in SQL, but I think this does not work as expected. This line seems to be to blame:
https://github.com/osTicket/osTicket-1.8/blob/develop/include/class.forms.php#L1048

In my database, the column is of type DATETIME. If I change it to BIGINT, it seems to work, but the date is off by 3 hours. So there seems to be an additional timezone error.

So the questions are:

[2015-09-28 12:15] jdelhome3578 opened #2587 "Feature request 1.10: Display List Properties"
We are already able to add properties to list items but I find them not useful as they are not able to be shown. I think it would help if a client selected a list item that on the agent side there was an option to view those item properties in the ticket view. My example would be I ask clients to select a system id for a printer, with that id I have the printer model and brand selected as item pro

[2015-09-28 13:41] greezybacon commented on #2587
I agree, this would be a great advancement of the list feature

[2015-09-28 14:02] greezybacon commented on #2547
Then it really looks like we should consider #2477

[2015-09-28 19:59] markus4000 commented on #2578
I like it. Its a must have. Same as #2446

[2015-09-28 20:03] markus4000 commented on #2539
I like it.
Same #2093

[2015-09-28 21:03] greezybacon commented on #2567
@jdelhome3578 that has been the case since v1.7 I believe. All users must have explicit access to any department whose tickets should be visible

[2015-09-28 21:28] C4RLOCO commented on #2567
But, if you want to segment users by departments? How to achieve that? For example: I need one agent to only have visibility to his department but I need him to transfer tickets to a different department when required.

[2015-09-28 21:39] greezybacon commented on #2567
That's the idea of the new access control system in v1.10. You can define "Roles" and the roles define the permissions (like "Ticket / Transfer"). Then the department membership has a role assignment, so you can define what permissions are available for which department.

Is that the issue here? Are you missing the transfer permission for the newly-assigned department?

[2015-09-28 21:56] C4RLOCO commented on #2567
@greezybacon Correct. That is the issue here. The transfer permission is missing for the newly-assigned department.

[2015-09-29 07:07] kt1024 commented on #2514
uncheck "welcom email" will allow password input. but 2&3 still no work.

[2015-09-29 07:38] admister opened #2592 "Query token not found errow in osTicket v1.9.12 (stable)"
getting the error "Query token not found" while exporting the list of tickets in .csv format. this happens only while we filter tickets from advance search. much like the issue mentioned on the link below
http://osticket.com/forum/discussion/76379/resolved-export-list-error-query-token-not-found
![eror](https://cloud.githubusercontent.com/assets/5221608/10157822/2863b3e0-66ab-11e5-9f94-0330c90179e

[2015-09-29 07:52] PPCM commented on #2232
any idea?

[2015-09-29 07:55] infectormp commented on #2592
clear browser chache

[2015-09-29 08:37] jagmohangupta commented on #2592
thank you, i did that and tried from different systems. still the same

[2015-09-29 09:16] t-oster opened #2593 "Warning if no custom forms present"
If you open the advanced-search-form with no custom-forms present,
you will get this warning:
[code]

This is because here:
https://github.com/osTicket/osTicket-1.8/blob/develop-next/include/ajax.search.php#L154
the array is not properly initalized to "array()", so it returns null.

Pull request will follow in a few seconds

[2015-09-29 09:56] mikechristopher commented on #2567
I was unable to replicate this in RC2 - an agent with access to that newly assigned department was able to transfer it back to a different department.  The agent without access to the department loses all permissions to be able to move it.

[2015-09-29 10:49] t-oster opened #2595 "Feature Request: Internal Notice as Filter Action"
It would be a great feature, if one could add a Filter-Action, which adds an internal notice to a ticket if it matches the filter criteria.
I know there are some other requests for automatic task-creation in ticket filters, but I think internal notices are more easy to implement and would suit many needs.

I.E. we get some mails which may be Phishing, but I cannot be sure. I just want to add a not

[2015-09-29 11:13] rjboer commented on #2575
This is better,

Found the email, same trick (added as jpg, rename to .msg/txt).

![re_ fiv unit](https://cloud.githubusercontent.com/assets/14197553/10162453/961a0060-66ab-11e5-90d0-686e8204c647.jpg)

[2015-09-29 11:33] C4RLOCO commented on #2567
Right, the problem is that agent that loses all permissions to be able to move it. How can he move it to the correct department? Say it was mistakenly assigned to him and he wants to assigned back to the default department yet this staff does not need to have access/visibility to all tickets under the default department?

[2015-09-29 11:58] jdelhome3578 commented on #2567
@C4RLOCO So you want an Undo Button? @greezybacon That could be helpful.

[2015-09-29 12:10] C4RLOCO commented on #2567
Well an Undo button would be helpful of course. But it would leave a particular scenario where the system workflow could stall. For example: what would happen if after some time is decided that the ticket would have to be transferred to a different department? Then the agent who has lost all the permissions to move it won't be able to reassign it to a different department to continue the workflow.

[2015-09-29 12:12] greezybacon commented on #2567
So if you add the assign, transfer, and edit permissions, do the buttons show up again?

[2015-09-29 12:13] greezybacon commented on #2592
The search system in v1.9 has trouble with searches over 500 records

[2015-09-29 12:16] jdelhome3578 commented on #2567
@C4RLOCO I agree with @greezybacon you need to setup and edit your permissions and roles to fill your needs. The system will do what you want but you have to set it up.

[2015-09-29 12:29] C4RLOCO commented on #2567
That is correct if I add the assign, transfer, and edit permissions,  the buttons are not showing up again. Point in case the screen shot taken from admin account at the top of this issue/post.

[2015-09-29 12:31] jdelhome3578 commented on #2567
@C4RLOCO I do not have this issue. Please make sure the user has the permissions for each department.

[2015-09-29 12:37] C4RLOCO commented on #2567
I'm certain the permissions are set correctly. I will write a step-by-step process so you guys can replicate it. I'll work on it sometime today.

[2015-09-29 12:56] Lewdsquirrel commented on #2129
Hi guys,
I had the same problem, not being able to add an agent, whether the box "Send sign in information" is checked or not. After pulling my hair for some time, I realized it comes to the fact that I use "Remember passwords for sites" in Firefox (41.0). Disabling this feature (Options / Security) solved the problem, even if it's just a workaround. Using osTicket 1.9.12 by the way.

[2015-09-29 13:22] C4RLOCO commented on #2567
Soooo.
When working on the step-by-step guide I came across on something called "Extended Access" under
"Primary Department and Role".. I realized the admin account did not have extended access to the new internal department created.

Thank you everybody for your input!

[2015-09-29 13:22] #2567 closed

[2015-09-29 14:45] protich commented on #2567
It's worth pointing out that Admin Panel Access just gives the agent access to Admin Panel... __no special privilege is implied__. Ticket and tasks access is strictly based on assigned departments (primary and extended) and assignment (team & individual). What the agent can do (permissions) depends on the assigned role for the department(s) in question.

[2015-09-29 15:04] C4RLOCO commented on #2567
Thanks @protich
This is a very good observation as I assumed an Admin account would have super-user rights/permission across the system.

[2015-09-29 16:07] greezybacon commented on #2595
:+1:

[2015-09-29 19:12] #695 closed

[2015-09-29 19:14] #1662 closed

[2015-09-29 19:14] #1930 closed

[2015-09-29 19:18] markus4000 commented on #2497
It would be nice to have a "frontend look" for the backendusers, if they open a internal ticket. Because i dont want every agent to be able to overrule the presets of a heltopic.

[2015-09-30 06:24] sumann commented on #2583
Can I use filters to select auto response. My requirement is to read a tickets and on the basis of some keywords give auto response for that ticket.

[2015-09-30 07:13] Hannibal226 commented on #695
@greezybacon
Is this a completly different section or is Upload in Knowledgebase the same procedure?

Because I can confirm this Bug in 1.9.7 in Knowledgebase.
When u create a FAQ with Files attached and save the new FAQ, the attachement get lost.
Next edit and adding will attach the file.

CHEERS

[2015-09-30 11:58] oneilak opened #2598 "future improvement - Fileuploade System"
Hello everybody,

I have always the problem that the permissions do not quite fit the file uploade. if I then the whole new bequeath it goes again.

Is there perhaps in the future a better alternative?

![2015_09_30_13_53_21_geloschte_elemente_andreas kuhnt_extern_ffg_werke com_outlook](https://cloud.githubusercontent.com/assets/13413719/10192178/b660656a-677a-11e5-9bfd-b018b71f232a.png)

[2015-09-30 12:41] PPCM opened #2599 "1.10.rc2 - Signauture is not added to sent mails"
Hi there,

During the redaction of the message, the signature is present, but when it is received by the user, the signature is not missing.

Here are 2 screenshots to illustrate my words
![cf77b31e-6428-11e5-88ff-f105bf389c80](https://cloud.githubusercontent.com/assets/1247223/10193094/3a2d1c34-6781-11e5-8845-8425332925fa.jpg)
![cf7974c4-6428-11e5-8d3d-ea58a3aec0fd](https://cloud.githubuserconten

[2015-09-30 13:25] ntozier commented on #2583
@sumann this doesn't appear to be related to the original thread.  Please ask your question on the forums, or start your own issue report.  Thanks.

[2015-09-30 13:26] ntozier commented on #2598
Don't use the storage: filesystem plugin and store things in the database instead?

[2015-09-30 13:28] ntozier commented on #2599
This appears to be a duplicate report of https://github.com/osTicket/osTicket-1.8/issues/2232

[2015-09-30 16:34] JamesPCS opened #2601 "Adding an ajax page"
I am using version 1.10 playing around with it and trying to get it functional but I tried adding an ajax page in the staff directory called getLocations.php. What this does is simply when you select a customer (which is a feature I added) from a dropdown list, another dropdown is populated with a list of locations for that customer. The problem is that if I navigate directly to that page via sett

[2015-09-30 18:04] greezybacon commented on #2601
The `include/` folder is restricted. Move your code to the `scp/` folder

[2015-09-30 18:07] greezybacon commented on #2599
Looks like you changed your response template to `%{response}`, you need to add `%{signature}`

[2015-09-30 18:12] greezybacon commented on #695
@Hannibal226 is there a reason you haven't tried a later version of v1.9?

[2015-09-30 18:15] greezybacon commented on #2564
So should the subject of this issue be changed? Is the problem that tickets are reopened or that they are not?

[2015-09-30 18:17] greezybacon commented on #2129
So it looks like the hidden password field is being filled in although it is not visible. Correct?

[2015-09-30 18:19] Hannibal226 commented on #695
@greezybacon
Hmm I wanted but first I hadn't time to test and later I saw already the RC
versions.
So I decided to wait for the 1.10 build as it also have the most important
missing things like flexibel column on ticket view and develop-next
improvements.
U mean it doesn't make sense waiting for it or there is a few in end of
coding for u? xD
(sorry I know no ETAs, but it's really general asked)

[2015-09-30 18:21] greezybacon commented on #2575
My gut guess is that the messages are arriving to the system via an email address that is not registered in the Admin Panel -> Emails list. If the system processes a mail and cannot discover why it received the mail, it does not process collaborators to prevent an unintended email loop -- since it cannot determine which email address in the To and Cc headers would create a loop.

[2015-09-30 18:23] greezybacon commented on #695
I know there have been troubles with attachments on the FAQ and Canned Response pages. I think it might be worthwhile upgrading to v1.9.12 (which doesn't require a database migration) and resting your issue. v1.10 should be released as stable soon, but as you said, there are not ETAs

[2015-09-30 18:23] greezybacon commented on #2514
I agree this is a problem with the LDAP plugin

[2015-09-30 18:29] Hannibal226 commented on #695
Alright, so I'll test the upgrade tomorrow, hoping nothing will brake,
otherwise I can live with this until 1.10 is there.

At this point thanks again for all ur work and biggest respect. I'll be
stay tuned.

CHEERS!

Jared Hancock <notifications@github.com> schrieb am Mi., 30. Sep. 2015
20:23:

[2015-09-30 18:49] t-oster commented on #2564
No the problem is that they are sometimes NOT repoened. The image was to show, that the x-amazon-mail-relay-type header cannot be the cause, because some mails with this headers have caused the ticket to be reopened.

[2015-09-30 19:54] JamesPCS commented on #2601
Does that mean the regex I added is correct? Even when I directly call that page it changes it to ajax.php so it does have to go through this page? Here's the code I have so far:

On page ticket-open.inc.php
[code]
<td>
                <span style="display:inline-block;">
	    			<select name="customer" onChange="findLocations(this.value)">
			        	<option value="0" selected >Select Customer</

[2015-09-30 19:59] PPCM commented on #2599
Great, that's it

Thanks a lot

[2015-09-30 23:27] jjjj12212 opened #2602 "timeline to support PHP7"
PHP 7 is around the corner and I tried the application with PHP7 and getting alot of deprecated issues with the Class methods having the same name as the class (the constructor) then nothing happens (a blank screen).

Is there a timeline when osTicket will be supporting PHP 7?

[2015-10-01 00:05] greezybacon commented on #2602
Wanna do the work and open a pull request? I have run osTicket v1.10 (`develop-next`) on PHP 7 with just a few changes, so I don't think the codebase is *too* far off

[2015-10-01 01:54] greezybacon commented on #2497
Shouldn't those agents just interface with the client interface? We have collaboration, and very recently in v1.10, organization ticket sharing, so it might be possible for a group of agents not to have access to the "agent" panel at all.

[2015-10-01 01:57] greezybacon commented on #2536
Are you sure? In v1.10, you have to start typing in the response to actually acquire the lock. The tip of `develop-next` has a "Lock Semantics" setting in the Settings -> Tickets page, which, when set to "Lock on view" allows the lock system to work like it did in v1.9

[2015-10-01 02:02] greezybacon commented on #2556
I would recommend attempting the upgrade to RC2. There were several improvements made to the upgrade system between the two releases.

[2015-10-01 02:05] jdelhome3578 opened #2604 "1.9.12 - Office 365 Login fails php 5.6.x"
I am having trouble getting osticket to log in to an office 365 account running on php 5.6+. I am able to get it to work when running php 5.5.x. I believe it has something to do with the SSL/TLS improvements in 5.6.x.

With php 5.5.28 it works fine.
with php 5.6.14 I get `SMTP: STARTTLS failed (code: 220, response: 2.0.0 SMTP server ready)`

[2015-10-01 04:58] markus4000 commented on #2497
I have 6 departments. We use the tickets for request from the sales people to the operations or develpment or productmanagement.
But there are some internal topics as well. And i dont want the sales people to be able to open one of those internal tickets. Eg.: only the agents are able to open a ticket with the helptopic for the ectronic engeneers a ticket. Bit not all thr agents know how the setti

[2015-10-01 06:24] oneilak commented on #2598
I do not want unnecessary DB is large by Annexes

[2015-10-01 06:38] infectormp commented on #2598
i get same error from time to time and solve it by ```chown -R apache:apache /sd/files```

[2015-10-01 06:50] oneilak commented on #2598
i worked with iis ;-)

[2015-10-01 07:14] Hannibal226 commented on #695
@greezybacon
Just to let u know:
I updated today to 1.9.12 without problems (thanks), BUT
still the problem that adding a new FAQ with file won't show them on 'save'.

So I din't know if I should open a new issue or u definitly know it's fixed in 1.10,
so just let me know then, what to do here.

CHEERS!

[2015-10-01 07:21] infectormp commented on #2602
Here is some deprecated warnings for PHP 7:
[code]

[2015-10-01 07:27] infectormp commented on #2602
PHP 7 will emit E_DEPRECATED whenever a PHP 4 constructor is defined. When the method name matches the class name, the class is not in a namespace, and a PHP 5 constructor (__construct) is not present then an E_DEPRECATED will be emitted.

[2015-10-01 07:31] infectormp commented on #2598
@oneilak so you need move to linux :)

[2015-10-01 08:04] infectormp opened #2605 "Future request: accept email only from registered organization"
Currently osTicket have option to allow email from registered or all users `Accept email from unknown Users`. I think will be better add ability to `Аccept email only from registered organization`. I think this will be very useful.
In this situation we not need register all user from organization, need only register organization.

How this will be work:
- If `Main Domain` set in `Organization form

[2015-10-01 08:40] oneilak commented on #2602
hey

I have always problems with other versions of PHP. I am running osTicket only 5.3 and 5.4 ... as soon as I get to a more recent servicekit Change (also 7) I only error 500 (see screens) ...

you have adjusted anything?

ps I use IIS8.5

![unbenannt](https://cloud.githubusercontent.com/assets/13413719/10216349/aa0bf596-6828-11e5-97b1-ae8db9e1d5bf.png)
![unbenannt2](https://cloud.githubusercont

[2015-10-01 09:10] oneilak commented on #2602
The Solution for php 5.6

You need to install the: Visual C++ Redistributable for Visual Studio 2012 Update 4  32-bit version.  and it should be noted that even if your operating system is a 64-bit operating system, you must install the 32-bit version  as PHP does not run in 64 bit.

 A download link is here: http://www.microsoft.com/en-us/download/details.aspx?id=30679

[2015-10-01 12:04] C4RLOCO commented on #2536
Thanks @greezybacon
After explaining the new behavior in v1.10 when starting to typing a response I can confirm that is not an issue. I was able to see the lock when I typed and simultaneously I opened a private browser session using a different agent account. The lock was there.

[2015-10-01 12:04] #2536 closed

[2015-10-01 12:50] greezybacon commented on #2605
It already works that way. Or is supposed to at least.

[2015-10-01 12:53] greezybacon commented on #695
@Hannibal226 thanks for tracking that down. Judging by the conversation at the top of this thread, I think that constitutes a separate issue

[2015-10-01 12:54] Lewdsquirrel commented on #2129
I'm not really sure, but here is what I noticed:
Having the option "Remember passwords for sites" active in Firefox, when I clicked "Add New Agent", I immediately noticed that my username automatically appeared in the "Mobile Number" field, even if I didn't put any information in that "new agent" window yet. This is what pointed me to the "Remember password" thing. So I deleted that entry (mobile

[2015-10-01 12:56] greezybacon commented on #2598
This sort of issue is the reason we retired file based attachments in favor of database-backed ones. Folks just seem to have a hard time with filesystem permissions. However, the idea is really simple. The web process (whatever user it happens to be running as--your guess is as good as mine on Windows), will write files to the upload folder you configured in the plugin. Then, when the file is need

[2015-10-01 13:01] Hannibal226 opened #2606 "v. 1.9.12 - Knowledgebase attach file on create FAQ get lost"
Hey,

like written above attachments get lost, when opening a new FAQ and u save it.
Afterwards u can edit and add it fine again.

Problem was recognized on 1.9.7 (maybe already earlier) and still exists on 1.9.12.

CHEERS!

[2015-10-01 13:02] Hannibal226 commented on #695
@greezybacon

Alright, so I create a new issue then.

CHEERS

https://github.com/osTicket/osTicket-1.8/issues/2606

[2015-10-01 13:08] mfelber opened #2607 "feature request for 1.10.: make the appearance of some „header“ fields configurable for the ticket view"
For 1.10. you have decided to remove the phone field from the ticket view:

https://github.com/osTicket/osTicket-1.8/issues/2506

We are using osTicket in multiple call centers and it is important for us to have direct access to the phone number field in the ticket view.

The replacement of the phone number field (with the organization field) in the ticket view would make the workflow more cumbers

[2015-10-01 13:15] ntozier commented on #2602
@oneilak sadly it took me about a week to figure that little gem out.  :)

[2015-10-01 13:18] ntozier commented on #2129
So.. doesn't that make this a PEBKAC issue?

[2015-10-01 13:21] ntozier commented on #2598
I may be totally off base here... but doesn't PHP /temp folder permissions also do something weird ... like uploaded files go to PHPs temp folder.  It gets permissions based on that locale.  Then it gets moved to where it belongs, and still has the permissions of the original folder?

[2015-10-01 13:25] ntozier commented on #2606
Isn't there already an issue report for this?
/goes searching

[2015-10-01 13:26] infectormp commented on #2605
Not work that way. We use ```Accept email from unknown Users``` and have set domain names for organization in directory but osTicket accept email from any domain.

[2015-10-01 13:27] infectormp commented on #2525
Thx!

[2015-10-01 13:27] #2525 closed

[2015-10-01 13:28] AlexYoung28 commented on #2166
Following on from this just been playing around with RC2, but when creating a new ticket and you add a new user how do you add them to an organisation?

[2015-10-01 13:28] infectormp commented on #2412
Sorry for delay. No, email was not in ban list. Any way i can't reproduce it now.

[2015-10-01 13:28] #2412 closed

[2015-10-01 13:29] #2216 closed

[2015-10-01 13:30] infectormp commented on #2606
https://github.com/osTicket/osTicket-1.8/issues/1985#issuecomment-94814731

[2015-10-01 13:31] #1973 closed

[2015-10-01 13:32] Hannibal226 commented on #2606
Haha ok, so seems like @greezybacon himself missed this or thought it's done. xD
Sorry then ;)

[2015-10-01 13:47] oneilak commented on #2598
Help ....

he saves, despite the conversion is no longer in the db ... which value in the DB are the front where he should save (fileshare / DB) ??

[2015-10-01 13:51] oneilak commented on #2598
php log

#1 C:\inetpub\wwwroot\osticket\include\class.file.php(247): AttachmentFile->open()
#2 C:\inetpub\wwwroot\osticket\file.php(36): AttachmentFile->download('inline', '1443744000')
#3 {main}
  thrown in C:\inetpub\wwwroot\osticket\include\class.file.php on line 693
[01-Oct-2015 14:09:04 Europe/Berlin] PHP Fatal error:  Uncaught exception 'Exception' with message 'No such backend registered' i

[2015-10-01 13:52] ntozier commented on #2166
@AlexYoung28 you dont.

You would want to go to User to add the user.   Then either click on the user and click Add Organization or go to Users -> Organizations, go to the Organization, and add the user.

[2015-10-01 13:55] AlexYoung28 commented on #2166
Yeah i've seen that just wondering if it would just be quicker when creating a new user to just be able to select the users Organization

[2015-10-01 18:31] kest874 opened #2610 "1.10 PHP Error on user lookup"
I'm getting:  PHP Fatal error:  Call to undefined method QuerySet::chain() in /var/www/ost/include/ajax.users.php on line 49, referer: http://ost/scp/tickets.php?a=open

when I try to use the userlookup:

![image](https://cloud.githubusercontent.com/assets/12860950/10230035/bc5dce82-6840-11e5-91ae-2353dc334ad1.png)

This is from the tip.  Any idea why?

[2015-10-01 18:35] ntozier commented on #2610
version of osTicket?  Because 1.10 hasn't been released yet so...

[2015-10-01 19:08] kest874 commented on #2610
Sorry, develop-next with all commits through 934cde3:

![image](https://cloud.githubusercontent.com/assets/12860950/10230971/cc9067d8-6845-11e5-9558-5ef3f581eb8d.png)

This is a green install

[2015-10-01 22:59] greezybacon commented on #2598
Did you uninstall the file system storage plugin? Visit the system settings page, select a backend and click save

[2015-10-02 04:55] yatbio opened #2611 "osTicket 1.10 RC2 - DB Error #1054 deleting departments"
Hello,

Setup a demo area for a fresh installation of 1.10 RC2.  Doing some "cleanup"  of default settings I went into Agents > Departments and deleted 2/3 of the default listed departments.  Once i selected the two departments I didn't need and selected "Delete" I received a DB error alert via email.

DB Error # 1054

[UPDATE ost_filter SET dept_id=0 WHERE dept_id=3] Unknown column 'dept_id' in '

[2015-10-02 05:01] PartieHonteuse commented on #2611
Update:

I created a new department and deleted it.  Same error.  Seems like this happens for all departments.  Thought maybe it would just be the default loaded departments.

 DB Error #1054

[UPDATE ost_filter SET dept_id=0 WHERE dept_id=4] Unknown column 'dept_id' in 'where clause'

 ---- Backtrace ----
 #0 (root)/include/mysqli.php(183): osTicket->logDBError('DB Error #1054',  '[UPDATE ost_fil

[2015-10-02 08:05] oneilak commented on #2598
have the plugin uninstalled and all ost files again rerecorded ...
it works now conditioned again ...
sometimes it can open files sometimes not ...

strange and incomprehensible: P (technically)

[2015-10-02 08:18] rjboer commented on #2575
I'll check....

[2015-10-02 08:21] oneilak commented on #2602
my testserver displayed a withe page with php 7 ...

@greezybacon

what changes you have made

[2015-10-02 14:32] nfebuary commented on #2569
@greezybacon After you save the form the config button appears inline with the type select list. We would have to drop the config to the next line as well. We could also squeeze some additional space out of the label and variable fields. Not much, just a few px/em's.

![screen shot 2015-10-02 at 9 23 01 am](https://cloud.githubusercontent.com/assets/8247872/10248814/90a19862-68e7-11e5-9db9-1d263bd

[2015-10-02 14:59] nfebuary opened #2613 "osTicket 1.10 RC2 Custom form field duplication"
Location: Admin Panel>Manage>Forms>Add New Custom Form OR edit any existing form.

When adding a form field: If there is an error when saving, the field clones it's self. The top form field of the two is a fake form field thus adding any information in that field to correct the error will not solve the issue. However, if the bottom form field error is corrected and then saved, the clone is removed

[2015-10-02 15:02] nfebuary opened #2614 "Feature Request: Auto populate custom form field variables with label field."
Would it make sense to auto populate the variable field to what is typed into the label field? The admin could manually change the variable if he doesn't want the variable to be the same as the label field. It would make it easier for people that might forget to add variables or don't know what to put in the field.

[2015-10-02 15:18] ntozier commented on #2613
So maybe I'm off base here... but what about this?

![mockup](https://cloud.githubusercontent.com/assets/1315768/10250168/49cfd790-68f7-11e5-83be-e48f7e8e6760.png)

[2015-10-02 15:34] nfebuary commented on #2613
Visually that is much better for the error message and the highlighted fields. BUT the functional issue I'm having is if you save 1 field and say for example: You forget to add a variable that is required the form field clones itself so instead of 1 form field line you now have 2 form field lines of the same.

Before saving:
![screen shot 2015-10-02 at 10 32 41 am](https://cloud.githubusercontent.

[2015-10-02 15:53] ntozier commented on #2613
Oh wow!  I completely missed that!

[2015-10-02 16:03] nfebuary commented on #2613
I still liked the idea of reducing the size of the error message and highlighting the box in red.

[2015-10-02 16:12] nfebuary commented on #2551
@DieQuelle Please add a screenshot so I can see the issue.

[2015-10-02 17:20] fabiopires opened #2615 "Security issue - Download attachments submitted by others"
Hey,

I would like to report a security issue in both of your osticket's last versions.

Usually i report privately via email, but the support team told me to report it to your github project page and here i am.

This kind of vulnerability is called "Insecure Direct Object Reference" and in the case of osTicket, you can access every file attached to a ticket that has been uploaded to the server.

[2015-10-02 19:09] ntozier commented on #2613
Right on! :)

[2015-10-02 19:12] febrile42 commented on #2541
Also experiencing this issue in 1.10-RC2.

On submission, ticket information is saved and creates a new ticket as expected, but any internal note appears to be discarded.

[2015-10-03 19:51] greezybacon commented on #2615
Very interesting. Thank you

[2015-10-03 20:35] greezybacon commented on #2615
@fabiopires would you be able to re-test with the patch in #2618. Using Firefox I was able to resend a POST like what you described and it seems fixed. Also, my initial tests seem to show that the system seems to work correctly with the fields in the thread-entry widget like you depict as well as with the "File Upload" field used separately in various other forms.

[2015-10-03 20:41] greezybacon commented on #2614
:+1:

[2015-10-03 20:43] greezybacon commented on #2602
One could definitely get a Linux VM up and running in less than a week! Does anyone use the Windows Platform Installer? That's what I've used and recommended for Windows and it usually works very well.

[2015-10-03 20:46] greezybacon commented on #2611
@PartieHonteuse are you sure about the version? It looks like that code is from rc1 and was fixed in rc2.

[2015-10-03 21:26] Chefkeks commented on #2614
:+1:

[2015-10-03 23:35] PartieHonteuse commented on #2611
Hi Jared,

I'm pretty sure - at least according to the Dashboard - Information tab I
am (See first screen cap).
[image: Inline image 1]

I'm also seeing some errors related to "DEPT_ID" from the SQL query when
trying to delete some of the default emails:

[SELECT count(dept_id) FROM ost_department dept WHERE email_id IN (2) OR
autoresp_email_id IN (2)] Unknown column 'dept_id' in 'field list'

---

[2015-10-05 07:14] oneilak commented on #2602
my WPI has not a phpv7 install

[2015-10-05 09:45] fabiopires commented on #2615
Nice, it's solved. Nice work.
We will be requesting a CVEs for this vulnerability and later create a blog post for it (https://labs.integrity.pt/)

To disclosure this vuln with responsability, we wanted to ask you when the last version will become public ?

Please let us known in order to respect some time to let all users update their versions. :)

In our blog we will credit your excelent dev tea

[2015-10-05 12:57] mfelber opened #2620 "Feature request 1.10.: consider custom list variables via typeahead"
It would be nice when the custom list variables would also be considered by the new "concept of variable typeahead" of 1.10.: https://github.com/osTicket/osTicket-1.8/pull/1978

I never understand really the whole feature of the custom list (especially the properties). So I played a little bit with this feature and tried to use the properties in a canned response (http://osticket.com/forum/discuss

[2015-10-05 13:21] t-oster commented on #2564
It just happened again. Here are the headers form the email, which did NOT reopen the ticket:
[code]

[2015-10-05 14:10] itulga opened #2621 "Customer has multiple email addresses"
Hi,

Our customers has multiple email addresses. How to add second email address?

Thanks

[2015-10-05 15:46] ntozier commented on #2602
WPI doesn't have 7 yet.

@greezybacon "Does anyone use the Windows Platform Installer?"
Yes, and it did not install the vc++ redist for vs 2012.  I had to install that separately.

[2015-10-05 18:01] #2615 closed

[2015-10-05 20:22] JamesPCS opened #2624 "Version 1.10 Redactor.deleteDraft is not a function"
When I create a new ticket and hit cancel it just sits there. When I look at the output in the cosole with google dev tools I see that it's looking for redactor.deleteDraft and it can't find it.

[2015-10-06 06:50] oneilak commented on #2602
i have manual install the vc++2012 für php 5.6 ... for (the test page) php7 have i install the vc++2015

[2015-10-06 14:13] jamesangi opened #2625 "Advanced search with custom choices field not working (1.10rc2)"
I have a custom form with a field of type "Choices."  I cannot use Advanced Search on this field.  For example, I have two closed tickets with "Bill" selected in this field but my search returns no results.

Here are some screenshots:
![billing 1](https://cloud.githubusercontent.com/assets/14003656/10310995/c893fde0-6c12-11e5-9b41-2b8b4136ad85.PNG)
![billing 2](https://cloud.githubusercontent.com/

[2015-10-06 17:16] 1024jon opened #2627 "v1.10-rc.2 Adding new task to ticket"
Fresh install just for testing.  After creating a ticket, when I go to add a task to that ticket, the page loads a box and wont load any further.  I have tried on both Chrome and Safari.  Normal task creation works correctly.

![screenshot 2015-10-06 11 15 40](https://cloud.githubusercontent.com/assets/8061767/10316247/932d3c26-6c1b-11e5-929a-445b64e6c9f0.png)

[2015-10-06 17:22] ntozier commented on #2627
server details?
This looks like an AJAX issue to me.

[2015-10-06 17:25] 1024jon commented on #2627
OSX 10.10 running AMPPS 4.6.3 with PHP 5.6.9

[2015-10-06 17:31] 1024jon commented on #2627
Just found this in logs.  Call to undefined function _() in /Applications/AMPPS/www/testticket/include/ajax.tickets.php on line 1062, referer: http://****/testticket/scp/tickets.php?id=3

[2015-10-06 19:02] jamesangi commented on #2621
Admin panel -> manage -> forms -> contact information

Add whatever extra contact fields you would like.

[2015-10-06 19:45] nickmacwiz opened #2628 "Email sending issues."
Unable to log in. Check SMTP settings.

Sending Email via SMTP
authentication failure [SMTP: STARTTLS failed (code: 220, response: 2.0.0 Ready to start TLS)]

[2015-10-06 20:00] ntozier commented on #2628
version of osTicket?
Your mail server is failing your credentials.

[2015-10-06 20:13] nickmacwiz commented on #2628
1.9.12

I am using gmail and the fetching is working fine just a problem with the sending.  I moved osTicket from an old windows server to a new one and the issue is only on the new server.

[2015-10-06 20:25] ntozier commented on #2628
I seem to recall someone else mentioning that there was a bug with php 5.6, what version are you running?

[2015-10-06 20:27] nickmacwiz commented on #2628
5.6

Should i try removing 5.6 and installing 5.5

[2015-10-06 20:34] ntozier commented on #2628
I'd try that first.

[2015-10-06 20:46] nickmacwiz commented on #2628
It worked.  Thanks

[2015-10-07 07:52] infectormp opened #2629 "Future request: quick jump to ticket"
Would be nice add field where you can put ticket number and jump directly to ticket. This field must be accessible from any place of osTicket so you can jump directly to ticket from any place.

[2015-10-07 07:59] oneilak opened #2630 "v1.10 Final finish"
Hey together

there is a date when the 1.10 is "finished"?

[2015-10-07 08:11] Chefkeks commented on #2630
Usually "it's done, when it's done"... so there is no specific date or deadline. Reason is that a new version is released when all features are done and major/minor bugs are fixed and several made tests are passed.

Doesn't make sense to release a new version which is not finished or still missing features/fixes just because a specific deadline or date is reached - that would bother people more th

[2015-10-07 08:16] oneilak commented on #2630
hey

yes that's clear and "finished" is the whole anyway never :-)

thought I'll ask if there is a targeted schedule: P

[2015-10-07 11:06] oneilak opened #2631 "v1.9.11 - German Special Version - DB Fehler"
hey guys,

there is a "Germanized" slightly modified version of OS tickets.
while writing an internal memo comes sporadically db error.
somebody has an idea on this?

DB Error #1146
[SELECT a.ticket_id, concat(a.number,":",b.subject) as label FROM `ost_ticket` as a LEFT JOIN ost_ticket__cdataas b on a.ticket_id = b.ticket_id LEFT JOIN ost_user_email as c on (a.user_id =c.user_id) WHERE c.address=(

[2015-10-07 12:55] Chefkeks commented on #2631
What do you mean with that?

Asking since there is a webpage osticket.com<b>.de</b> and they provide a forked/modified version of osTicket with German Language that is NOT related and NOT supported here or on the forum.

Only the official version from <b>osticket.com</b> is supported and the language packs from osticket.com / i18n.osticket.com.

Knowing that really well since I'm one of the transl

[2015-10-07 13:05] oneilak commented on #2631
hey michael
I am aware that it will not be supported here :-)
I just thought to ask if anyone has ne spontaneous idea costs nothing :-)

[2015-10-07 13:21] Chefkeks commented on #2631
OK, I understand.

So after a little search in the forum, I found this discussion, which maybe helps:
http://osticket.com/forum/discussion/85258/db-error-1146

BUT PLEASE: Make a backup before you try something ;)

[2015-10-07 13:25] oneilak commented on #2631
thx michael :-)

[2015-10-07 13:41] gpls-dev opened #2632 "Cursor losing focus when typing in the response box"
This affects OSTicket 1.9.11 and happens on my Ubuntu 15.04 station running Firefox 41.0.  When entering a response, if I backspace after a space, my cursor disappears.  For example, I type, make a typo then hit the spacebar, if I hit the backspace key, my cursor is no longer visible and I'm no longer able to type.  I'm seeing this on all three of my Ubuntu workstations where I use OSTicket.  My c

[2015-10-07 14:15] #1164 closed

[2015-10-07 14:54] ntozier commented on #2629
Can't the search field already be utilized like that?

[2015-10-07 14:56] ntozier commented on #2630
You are probably not going to get a satisfactory answer to your question.
Yes there is a loose schedule, no you cannot see it, no you will not get an exact date.

[2015-10-07 15:01] ntozier commented on #2632
This is a problem with the WYSIWYG editor used to enter text and has been mentioned before, making this a duplicate issue report.  Please see these and close this:
https://github.com/osTicket/osTicket-1.8/issues/2373
https://github.com/osTicket/osTicket-1.8/issues/2322
https://github.com/osTicket/osTicket-1.8/issues/1683

[2015-10-07 17:18] infectormp commented on #2629
in my opinion no

[2015-10-07 17:25] infectormp commented on #2629
when you view ticket you can't jump to other ticket with search field.

[2015-10-07 19:17] gtulga commented on #2621
I can add extra contact fields. But system can use it? for example:

I receive ticket from bob@company.com and bob@gmail.com, so these tickets will be Bob's tickets. how to configure it?

Thanks

[2015-10-07 20:57] t-oster commented on #2564
...and again. This time it was not amazon, but another ticket-system...

[code]

[2015-10-07 21:03] t-oster commented on #2564
@greezybacon could you point me to the part of the code where the headers are parsend and the decision is made if the ticket has to be reopened or not?

[2015-10-08 10:13] #2521 closed

[2015-10-08 12:25] jdelhome3578 opened #2634 "Feature request 1.10: Custom Ticket Priorities"
The priorities are currently in the database, it would be nice if there was a GUI to edit colors and add/edit/delete custom priorities and set urgency.

[2015-10-08 18:32] JamesPCS commented on #2624
Okay so I changed redactor.deleteDraft to redactor.draft.deleteDraft and that seems to work, at least it doesn't give me an error and now it redirects me back to tickets. However, now I'm trying to fix the reset button . When I click on it I get the error:

Uncaught Error: No such method "deleteDraft" for Redactor

[2015-10-08 18:56] #2456 closed

[2015-10-08 20:17] ntozier commented on #2634
Thanks for the feedback

[2015-10-09 08:50] oneilak commented on #2598
Addendum: in IE it seems to go smoothly
in Firefox and Chrome but there are access problems and the different.
means: what goes in Firefox does not have unbending tim chrome can be opened.
we've got a latency problem?

[2015-10-09 08:51] #2631 closed

[2015-10-09 09:51] simonebracaloni commented on #2381
As workaround in previous versions, without touching the code, you can change the type of session_data, in the ost_session table in your db, from BLOB to a bigger type (eg. MEDIUMBLOB or LONGBLOB)

[2015-10-09 11:18] infectormp commented on #2602
offtop: PEAR-1.10.0 Add support for PHP 7 and drop support for PHP 4 and 5.0 - 5.3

[2015-10-09 14:32] jlenfers commented on #2527
I've received this message after trying to edit a ticket status:

[UPDATE `ost_ticket_status` SET `extra` = ?, `properties` = ? WHERE `ost_ticket_status`.`id` = ? LIMIT 1]

Unknown column 'extra' in 'field list'

---- Backtrace ----
#0 (raiz)/include/mysqli.php(318): osTicket->logDBError('DB Error #1054', '[UPDATE `ost_ti...')
#1 (raiz)/include/class.orm.php(2741): db_prepare('UPDATE `ost_tic...')

[2015-10-09 14:51] bcowman commented on #2607
+1 for customised ticket view.  I find it very frustrating that the Help Topic is not listed.

[2015-10-09 14:53] #2573 closed

[2015-10-09 14:55] #783 closed

[2015-10-09 15:40] Chefkeks commented on #2607
+1
We wanted to see this since day 1 we tested osTicket, but luckily in our environment it's not that important so we trained our agents to do the extra clicks, but it would be really nice since we for example don't need the SLA field at all and I guess there are a lot different needs here as everyone wants to see/hide some other fields.

[2015-10-09 15:56] holodoctor1 commented on #2381
Simonebracaloni - thank you very much - it looks like this does indeed fix this issue in the current version.

[2015-10-09 15:56] #2381 closed

[2015-10-09 16:00] jamesangi commented on #2621
Oh, I see what you mean.  No, I don't believe there is any way to do that short of modifying the code.  It probably wouldn't be that involved if you have some coding experience.

[2015-10-09 16:33] nfebuary commented on #2629
Your suggesting leaving the search field at the top of the Ticket view to search other tickets and a way to toggle between the two or more open tickets? I was toying with the idea of a split screen when searching for any information while in ticket view, but with a 960 width it would not be feasible without a UI overhaul. I can see where there would be a need to keep the search even on the ticket

[2015-10-09 17:12] infectormp commented on #2629
Yes need leaving the search field at the top of the Ticket view and do not display search result is found only 1 ticket, immediate open ticket without user action. I call this - jump directly to ticket.

btw in my installation i change with to 1180 because work with 960 not comfortable :)

[2015-10-09 17:50] infectormp opened #2636 "Future request: expand them width"
Current them width (960px) not very comfortable for work. I want suggest change them width to 1366px. This will more comfortable and add some extra space to UI that can be used for future improvements.

[2015-10-09 17:53] infectormp commented on #2636
Currently i modify osTicket UI to 1180px because use 960px at 24 inch display not comfortable.

[2015-10-09 19:02] bcowman opened #2637 "No Custom Form when ticket created via email"
1.10 RC1 - I have a Custom Form associated with a Help Topic.  If I create a ticket using the New Ticket link then the Custom Form fields are displayed.  However if I create a ticket by fetching an email, the Help Topic is correct but the Custom Form is never attached to the ticket.  I have to manually add the Custom Form to email created tickets.

[2015-10-09 19:35] gpls-dev commented on #2632
Okay - didn't see those other bugs.  Thanks for the quick response.

[2015-10-09 19:35] #2632 closed

[2015-10-09 20:12] ntozier commented on #2637
You should always upgrade to the latest version [ie in this case rc2] and re-test.

[2015-10-09 21:04] PPCM opened #2640 "OST 1.10 - Task as a ticket"
Task object is a great idea in OST 1.10 RC2
But an agent must go throw "tickets" and "tasks" pages to see what he has to do.
It will be really useful if a task can be considered has a ticket flagged as a task

In that way, an agent needs only to focus on one page "tickets" and answers to requests (tickets and tasks)
The "tasks" page can still exists, but it will be a filter that shows only tickets

[2015-10-10 14:13] bcowman commented on #2637
Typo.  I'm already using rc2.

[2015-10-10 14:49] infectormp opened #2642 "devnext: fatal @ getDbTimezone"
Get `Fatal error: Call to a member function getDbTimezone() on null in /xxx/include/class.misc.php on line 99` @ install step with last devnext branch

mariadb 10.1.7

[2015-10-10 14:55] infectormp commented on #2642
SELECT @@global.system_time_zone;
+---------------------------+
| @@global.system_time_zone |
+---------------------------+
| MSK                       |
+---------------------------+

[2015-10-12 03:38] bhiscox opened #2643 "When adding agents expanded teams, access and permissions are not saved."
When adding an agent the only thing saved is the default access level. If I add the user to other roles, teams or additional settings they are not saved.

Once I click save and then add the user's extended access settings and hit save again everything will save properly.

[2015-10-12 06:26] infectormp commented on #2643
osTicket version?

[2015-10-12 06:46] bhiscox commented on #2643
Sorry, 1.1.10RC2

Thank You,
Brady Hiscox

[2015-10-12 12:03] robintoy commented on #2272
Hi @talilon
I have been having the same issues since my updates as well. Have tried the following: -
* Upgraded to v1.9.11
* Upgraded to v1.9.12
* Upgraded to v1.10-rc.2
* Changed PHP from 5.4 to 5.6

None of these have solved the issue.
I have just applied your change to v1.10-rc.2 and wow it solved the issue!!!

Thank you so much, this was becoming a complete pain for us.
@greezybacon can we see

[2015-10-12 12:41] mfelber opened #2644 "1.9.12: fields with long text will be truncated in the pdf export"
Here is a exampe pdf export:

![ticket export](https://cloud.githubusercontent.com/assets/5539456/10428058/117f555a-70ef-11e5-9e1f-5be4b8a71ea9.JPG)

I guess there should be a line break.

Is this a bug? Will it be fixed?

[2015-10-12 12:45] greezybacon commented on #2644
This is addressed in v1.10. The PDF printing was changed to a pure HTML output and allows the PDF system (mPDF) to layout the page with word and line wrapping.

[2015-10-12 13:07] greezybacon commented on #2602
I think the current thinking is to require PHP 5.4 for v1.10 and fully upgrade the PEAR internals

[2015-10-12 13:09] greezybacon commented on #2628
I think we should keep this open and work to address the issue on PHP 5.6. As it becomes more widely used, the issue is going to become a larger issue

[2015-10-12 13:43] infectormp commented on #2628
I not have SMTP problem with PHP 5.6 @ linux host. Look like it's windows specific problem.

[2015-10-12 14:32] nickmacwiz commented on #2628
just to keep in mind. I am using Windows Server 2008 R2 64bit. Currently I am running 3 different versions of PHP 5.4, 5.5 and  5.6 on this server and have different websites use different versions because some web apps have issues with things on one version of PHP over another. While this could be an application issue it is also possible that the issue is with PHP 5.6 for Windows.

[2015-10-12 16:39] slimatic commented on #2503
Looks to me that the functionality, when clicked should come up with the pop-up with the Assignee set to the user by default.

It should differ slightly from Assign to agent option however it looks like they are functioning the same.

Let the dropdown fill the user by default.

[2015-10-12 22:07] jdelhome3578 commented on #2628
@greezybacon this sounds the same as #2604. I believe that I have narrowed down the problem to this http://php.net/manual/en/migration56.openssl.php

[2015-10-13 06:02] BassemN commented on #2637
The same issue with 1.9.12

[2015-10-13 08:00] basteroid opened #2645 "Export tickets Fatal"
Hi!
osTicket (v1.10-rc.2), ubuntu 14.04.
When you on the page .../scp/index.php click Export when will fatal error.
Ubuntu log:
[:error] [pid 28940] [client xxxx:51513] PHP Fatal error:  Export::dumpTickets(): The script tried to execute a method or access a property of an incomplete object. Please ensure that the class definition &quot;QuerySet&quot; of the object you are trying to operate on was

[2015-10-13 09:19] vrowdy commented on #1852
Sorry for resurrecting an old issue.
This problem is also occuring with the Dutch language pack.

During installation, I chose to install everything in Dutch. I do get the correct ticket statuses (in Dutch) in the right place in the Admin-panel.
However, I am unable to change any ticket to any other status than 'open'. Also, the 'default status for new tickets'-setting also only shows 'open'.

Whe

[2015-10-13 09:44] vrowdy opened #2646 "1.9.12 Problem with status when installing in different language"
See also #1852 , but since no developer has responded to that issue yet and my comment there would probably go unnoticed, I am opening up a new issue.

The problem is as follows: when installing osTicket in a different language, something goes wrong with ticket status database table creation. The statuses are there in the admin panel, but you cannot change a ticket to another status. The status me

[2015-10-13 11:04] vrowdy commented on #2646
I managed to fix it by myself.
The problem is as follows:
In the database table ticket_status there is a field 'state'. That filed contains certain descriptions in English, for example 'closed'. These fields should never be translated - they are internal fields referenced by PHP code. They are the keys by which osTicket knows which state is actually closed, because the text shown to the user is tr

[2015-10-13 11:04] vrowdy commented on #1852
I managed to fix it by myself.
The problem is as follows:
In the database table ticket_status there is a field 'state'. That filed contains certain descriptions in English, for example 'closed'. These fields should never be translated - they are internal fields referenced by PHP code. They are the keys by which osTicket knows which state is actually closed, because the text shown to the user is tr

[2015-10-13 20:00] ArthurBorsboom commented on #2213
Offered solution works well.

[2015-10-13 20:00] #2213 closed

[2015-10-13 23:18] mckaygerhard commented on #1852
@vrowdy this issue its not old or dead, stil lhappened and deveopers not rsolved.

about your problem, seem that status must be redefined as copy's in te interface and does are a workaroud, but let dirty status in the interface too!

developers start new develop version event resolved the bugs in STABLE VERSION i dont understant that, many users have stable 1.9.X in setup production environment

[2015-10-13 23:19] mckaygerhard commented on #2646
this problem are present since firts version of osticket 1.9 and well reported but still are not resolved aprat the numerous reclaims about

[2015-10-14 02:30] jdelhome3578 commented on #2397
#2641 fixes this issue more directly.

[2015-10-14 02:30] #2397 closed

[2015-10-14 07:47] cervedgroup opened #2647 "1.9.12 EndUser email address is not valid! Consider updating it before responding"
The email of the user who opened the ticket is valid, why this message is stamped in the ticket thread ??

thank you

[2015-10-14 07:50] cervedgroup opened #2648 "1.9.12 many error logging"
Hi, we have many errors in system log
DB Error #1050
[CREATE TABLE `ost_ticket__cdata` (PRIMARY KEY (ticket_id)) AS SELECT entry.`object_id` as `ticket_id`, MAX(IF(field.id='5', coalesce(ans.value_id, ans.value), NULL)) as `subject`, MAX(CASE WHEN field.id='7' THEN REPLACE(REPLACE(REPLACE(REPLACE(coalesce(ans.value_id, ans.value), '{', ''), '}', ''), '"', ''), ':', ', ') ELSE NULL END) as `priorit

[2015-10-14 07:58] mfelber commented on #2647
I guess the dns check fails: https://github.com/osTicket/osTicket-1.8/issues/2059

[2015-10-14 08:25] mfelber commented on #2648
I think at least the db error 1146 has something to do with the rebuilding of the materialized view, see this issue https://github.com/osTicket/osTicket-1.8/issues/1545. Maybe the db error 1050 has also to do with it 1050. Seems not be really a serious problem.

The CSRF errrors are related to a security feature of osticket. You will find multiple issues related to this on github (for example this

[2015-10-14 09:28] NMonst4 commented on #2636
i have made some scp style changes. https://github.com/NMonst4/osTicket-1.8/blob/develop/scp/css/scp.css

[2015-10-14 09:35] ParmaU opened #2649 "add collaborators from bekend"
Hello
I'm trying the system osTicket ver 1.10 rc2 I think it is interesting to add the possibility when creating the ticket from the form of adding the ability to insert one or more persons / email to be kept informed of the case

[2015-10-14 09:36] AlexYoung28 commented on #2642
if this helps

CentOS 7
PHP 5.4.16 (cli) (built: Jun 23 2015 21:17:27)
Copyright (c) 1997-2013 The PHP Group
Zend Engine v2.4.0, Copyright (c) 1998-2013 Zend Technologies

I'm getting same issue with a mariadb as well.

[2015-10-14 09:36] NMonst4 commented on #2486
Have you made some css changes? I made some changes for scp but no bootstarp changes only clear and modern look.

[2015-10-14 09:41] cervedgroup commented on #2648
thank you

[2015-10-14 09:44] cervedgroup opened #2650 "1.9.12 replying a ticket from different staff"
If a ticket is assigned to "operator1" and "operator2" reply to the ticket , the email to the user has this in the body

"Operator1 has updated the ticket with this response ..."

should i change the variable %{ticket.staff} used in the template with another variable ?

thank you

[2015-10-14 09:44] cervedgroup commented on #2647
thank you

[2015-10-14 09:44] #2647 closed

[2015-10-14 11:50] ehk20 opened #2652 "Enhancement Request: Direct user Links to Help Topics forms"
It would be great if we could create links directly to help topics like:

/open.php?ht=2

This has been discussed previously in the forums:
http://osticket.com/forum/discussion/79163/direct-link-to-help-topics-when-opening-the-tickets

For us this would be extremely useful as we are migrating a number of existing forms from other systems into osTicket Help Topics and this way we could swap the exi

[2015-10-14 12:14] jdelhome3578 commented on #2652
A pull request has already been opened #2633

[2015-10-14 13:29] ntozier commented on #1852
@vrowdy it's not closed so its not old or dead.  Thank you for posting your fix, I'm sure that it will help other people and the devs to fix the problem.

[2015-10-14 13:31] ntozier commented on #2646
Please do not cross post.
Please close this thread in favor of the existing issue report: https://github.com/osTicket/osTicket-1.8/issues/1852

[2015-10-14 13:32] #2646 closed

[2015-10-14 13:37] ntozier commented on #2649
This appears to be a duplicate thread.
Please close this and refer to existing enhancement request: https://github.com/osTicket/osTicket-1.8/issues/771

[2015-10-14 13:43] ntozier commented on #2646
Thanks @vrowdy :)

[2015-10-14 19:08] Chefkeks commented on #2607
https://github.com/osTicket/osTicket-1.8/pull/2559

[2015-10-14 21:15] infectormp commented on #2642
i comment this lines in  function dbtime($var=null) in class.misc.php
[code]
// UTC to db time
        $D = DateTime::createFromFormat('U', $time);
        return $time + $dbtz->getOffset($D); ```

and then finish install step

[2015-10-15 07:17] pratikvav opened #2653 "v1.10-rc.2 (231f11e) Creating of Ticket Filters not working"
OsTicket version v1.10-rc.2 (231f11e)
When you try to create a ticket filter and click on Add Rule it just will not work. Seems something not right. Please check

[2015-10-15 08:56] AlexYoung28 commented on #2642
Yep that worked for me as well.

[2015-10-15 13:09] t-oster opened #2655 "develop-next: SQL Error Unknown column '__relevance__' in 'order clause'"
I since the update this morning (somewhere between ecf693120f4a4f4ba712de9daaf7faa6f63f7920 and 8295dfde014ed404c56f90179a966fc9b82cd54e) I get the following SQL error:

[code]

[2015-10-15 15:19] slimatic opened #2656 "v1.10-rc.2 Autocomplete not working since upgrade"
Since upgrading from 1.9 I have had issues with autocomplete not working in various areas. Not sure what is going on. I cannot add collaborators or Edit a ticket to change the user. What should I be looking at? Is there a fix for this? It was working fine before the upgrade.

@greezybacon please advise.

![image](https://cloud.githubusercontent.com/assets/318846/10518229/6a63c444-732e-11e5-9b35-1b

[2015-10-15 16:09] slimatic commented on #2656
I think I have a lead on the bug. I got this DB Error:
![image](https://cloud.githubusercontent.com/assets/318846/10519790/39c1db76-7335-11e5-8f2a-4bcfc6387d50.png)

Looks like this `SELECT` statement has something to do with the lookups:

 [SELECT A1.`id`, A2.`address`, A1.`name` FROM `ost_user` A1 LEFT JOIN `ost_user_email` A2 ON (A1.`id` = A2.`user_id`) GROUP BY A1.`id` ORDER BY __relevance__ D

[2015-10-15 16:36] slimatic commented on #2655
It looks like this relates to a similar issue I am getting on #2656 . This is cause a break the UsersAjaxAPI->search() function.

[2015-10-15 17:13] protich commented on #2656
I'll recommend upgrading to the tip of develop-next branch - which is 134 commits ahead of rc2.

[2015-10-15 17:15] protich commented on #2656
PR #2657 is also relevant in this context.

[2015-10-15 17:18] slimatic commented on #2656
I just did a git pull on develop-next branch prior to creating this issue. I am on the latest commit ( a4b057a0cafe2da70977ff7d44b545de465d98ce).

[2015-10-15 19:07] jbaxley opened #2658 "Authentication Error with Reverse Proxy osTicket 1.9"
I'm seeing this error when going through the proxy:

[Thu Oct 15 12:01:14.082898 2015] [:error] [pid 4382] [client 172.16.3.1:48036] PHP Fatal error:  Call to a member function bind() on a non-object in phar:///v
ar/www/html/helpdesk/include/plugins/auth-ldap.phar/authentication.php on line 220, referer:

I'm using the latest versions of all of the software.  The server is running on httpd, I'm us

[2015-10-15 20:09] protich commented on #2656
@slimatic - Thanks for the feedback! I just pushed a fix to develop-next branch (1aaa31).

[2015-10-15 20:12] protich commented on #2655
@t-oster - Fix posted on #2656

[2015-10-15 20:57] mlipok commented on #2201
It looks that the problem is back:
http://osticket.com/forum/discussion/comment/99682

[2015-10-15 20:59] ntozier commented on #2201
Have you installed #2223?

[2015-10-15 21:36] jbaxley commented on #2658
I've been able to trace the call to this
 if ($user = StaffAuthenticationBackend::process($username,
            $_POST['passwd'], $errors)) {

I've printed out $error and it just contains the number 1.

I haven't been able to find this particular class and function so that I can test further.

[2015-10-15 21:49] mlipok commented on #2201
I read that #2223 was fixed here
https://github.com/osTicket/osTicket-1.8/releases/tag/v1.9.11

I have installed:
https://github.com/osTicket/osTicket-1.8/releases/tag/v1.9.12

so I can answer to you: Yes.

[2015-10-15 22:09] protich commented on #2650
You're using the wrong variable it should be ``%{staff}`` -- ``%{ticket.staff}`` refers to assigned agent, not the respondent.

[2015-10-15 22:09] #2650 closed

[2015-10-16 01:52] slimatic commented on #2656
@protich I tried the commit however there is still a bug. I am still not able to add collaborators or even search for users with the autocomplete - actually it does not work any other way. It attempts to lookup the users but then it looks like it fails immediately with the `Unknown column 'relevance' in 'order clause'`. It seems to me it has something to do with the class.orm.php file. With this f

[2015-10-16 04:28] pratikvav commented on #2653
OsTicket version v1.10-rc.2 (231f11e)

The error seems to be in JS query which is not loading for some reason kindly check the attached screenshot.
![screenshot1](https://cloud.githubusercontent.com/assets/15137365/10533840/7b111a9e-73ec-11e5-95cb-7fa2aa552beb.jpg)

[2015-10-16 06:28] t-oster commented on #2655
Hi @protich sorry but 1aaa3139d1dfd7236c576b1278261bc820690a1d does not seem to fix the problem. I agree with @slimatic that this is an ORM related SQL problem. Where is this __relevance__ column supposed to be.
These are the code-references I found, but the ORM class is not that easy to read....
![relevance](https://cloud.githubusercontent.com/assets/1052720/10535093/e811f2d8-73df-11e5-9e4a-bf6a3

[2015-10-16 13:00] zener05 commented on #1689
+1

[2015-10-16 13:40] wintstar commented on #1689
+1

[2015-10-16 20:01] jdelhome3578 commented on #1689
#2152 PR is waiting for someone to review

[2015-10-16 20:47] AlexYoung28 opened #2659 "Add User to Organisation On New Ticket"
You got the ability to create a new user when you make a new ticket but can we make it so you either make a new organization or add to an existing one.

[2015-10-17 05:58] infectormp commented on #2659
If you set domain name (xxx.com) in organization option, new users with this domain will be added to organization automatically

[2015-10-17 23:18] jdelhome3578 commented on #2659
His option would be nice I use the organizations as departments in my organization, so the email setting is not an option.

[2015-10-18 09:59] AlexYoung28 commented on #2659
Have to say didnt know that but it just makes sense for those with enviroments with lot of clients to be honest to add it when a new user is created.

Then when you get the custom fields in the dashboard you can view orgs in that

[2015-10-18 18:14] infectormp commented on #2659
@AlexYoung28 Next version (1.10) will show organization in ticket view.

[2015-10-19 07:18] AlexYoung28 commented on #2659
Yup i know :)

[2015-10-19 07:21] bhiscox commented on #2653
Check out this: https://github.com/osTicket/osTicket-1.8/issues/2502

[2015-10-19 07:48] pratikvav commented on #2653
Thanks we edited the file and now it works.

[2015-10-19 07:48] #2653 closed

[2015-10-19 11:54] infectormp opened #2660 "organization form: Last Updated value not updated if notes added"
Last Updated value not updated if notes added
![lastu](https://cloud.githubusercontent.com/assets/9958813/10577097/de4085ec-7670-11e5-89a7-b7e380e03fc5.png)

![lastu22](https://cloud.githubusercontent.com/assets/9958813/10577142/461f7772-7671-11e5-8203-98c0a39b114a.png)

[2015-10-19 11:55] infectormp commented on #2660
osTicket 1.9.12

[2015-10-19 12:18] FireEmerald commented on #230
I'm facing the same problem and it's ridicules to create the same form two or three times only with some additional fields... @greezybacon Was there any change since 2013 ?

It could look like:
![example](https://cloud.githubusercontent.com/assets/1107939/10577127/c2286e4a-7668-11e5-9d8f-3a706f5ede00.jpg)

or just a little (+) next to the first drop down menu, wheres the (?) already.

[2015-10-19 13:45] slimatic commented on #2656
@protich Maybe I missed the memo on orgs but did the code change to require users to be in an organization for the search to function properly? I am asking because I never really implemented the use of organizations. I just noticed that when I search for a user in the ticket to add a collaborator it only populates the user if the user is in the one organization that I defined.  I have tested it on

[2015-10-19 14:28] Aka4 commented on #2630
We would like to use 1.10 in production (now we have 1.9.8.1)
What do you recomend (we do not want to wait for official stable 1.10 realease):
-1.10-rc.2 beta release from https://github.com/osTicket/osTicket-1.8/releases/tag/v1.10-rc.2
-tip of develop branch https://github.com/osTicket/osTicket-1.8/tree/develop
-tip of develop-next branch https://github.com/osTicket/osTicket-1.8/tree/develop-next

[2015-10-19 20:13] rachelsupport opened #2661 "Form Field Config Issues"
The Config option on my form fields is not working. I have tried in multiple browsers with the same result. When I click on Config, a small blank, rectangular window opens wtih a gray overlay
![screenshot](https://cloud.githubusercontent.com/assets/13238969/10589977/578d9dee-767c-11e5-8173-356536e72184.png)
and nothing else happens.

[2015-10-20 04:44] pratikvav opened #2662 "v1.10-rc.2 (231f11e) Cannot delete Saved Search"
Once we create a Saved Search and say we want to delete one it just do not allow it. It gives a popup saying do you want to Delete and on pressing OK it just does nothing.
![screenshot1](https://cloud.githubusercontent.com/assets/15137365/10598091/56ce3962-7713-11e5-9630-fc721e4bc1ee.jpg)

[2015-10-20 07:30] Aka4Code opened #2664 "v1.10 version to production use"
We would like to use 1.10 in production (now we have 1.9.8.1)
and we do not want to wait for official stable 1.10 release.

What do you recommend:
1. 1.10-rc.2 beta release from https://github.com/osTicket/osTicket-1.8/releases/tag/v1.10-rc.2
2. tip of develop branch https://github.com/osTicket/osTicket-1.8/tree/develop
3. tip of develop-next branch https://github.com/osTicket/osTicket-1.8/tree/de

[2015-10-20 08:17] mfelber commented on #2664
My understanding is that the develop branch (2) is for the next 1.9.x. release.

Custom-queues (4) has also nothing to do with 1.10, it's for the next major release after 1.10 (maybe called 1.11).

1.10-rc2 (1) is behind the tip of the develop-next branch.

 So I guess now option (3) the tip of develop-next will be the best choice for you.

I also think 1.10-rc3 will come soon, so if you would wai

[2015-10-20 08:50] Chefkeks commented on #2664
As far as things haven't changed, it's definitely not recommended to use 1.10 in production yet!

[2015-10-20 09:11] Aka4 commented on #2664
@Chefkeks Good you mention this, because I was suggested by email from osTicket Team dated at 2015-08-20:

![image](https://cloud.githubusercontent.com/assets/11789024/10602846/14e54aa6-771b-11e5-909c-b0ee5650764e.png)

I understand things change since that time :/

[2015-10-20 09:41] Chefkeks commented on #2664
Oh, must have missed that little sentence in the mail (which is 2 months old) and so maybe I'm not up-to-date and you can use it production or things changed and it's still not recommended to use in production.

Would be great if @protich @greezybacon could shed some light into this discussion here ;)

[2015-10-20 09:45] Aka4 commented on #2634
+1

[2015-10-20 11:18] rjboer commented on #2575
Confirmed closed, this solved it......someone sent emails to an alias in our email server that forwarded this to the service email.

[2015-10-20 11:18] #2575 closed

[2015-10-20 11:55] cervedgroup opened #2665 "1.9.12 Where is the claim button ?"
Hi, the claim button is not yet present in unissegned tickets...

[2015-10-20 12:05] cervedgroup opened #2666 "1.9.12 still problem in name showing"
The setting Last,First is the only one that allow us to have the list of agents (in the trasfer drop down menu), correctly sorted by last name
but, in the ticket details a user name like "Patrizia De Rossi" is shown like "Patrizia De"
is possible to fix that ?
![image](https://cloud.githubusercontent.com/assets/6535381/10606488/926c07c2-7733-11e5-8dad-267804508090.png)

[2015-10-20 13:11] slimatic opened #2667 "Develop-Next: Cannot search by ticket number in scp"
When I try to search by ticket number I get this error:

![image](https://cloud.githubusercontent.com/assets/318846/10607847/48bcee58-770a-11e5-94bf-365d28468ace.png)

I am on the latest develop-next commit 1aaa3139d1dfd7236c576b1278261bc820690a1d.

Message reads:
`Warning: Cannot modify header information - headers already sent by (output started at osTicket-1.8\include\staff\templates\sub-naviga

[2015-10-20 13:25] greezybacon commented on #2661
Are you using nginx? Could you check the Admin Panel -> Dashboard -> System Information to check your setup?

[2015-10-20 13:28] greezybacon commented on #2660
@protich does adding, editing, or deleting a note constitute "updating" the organization or user?

[2015-10-20 13:30] rachelsupport commented on #2661
Hi,

No I am not. Please see attached for my System Information.
![screenshot2](https://cloud.githubusercontent.com/assets/13238969/10608481/379add6c-770d-11e5-813a-e2d3473dfd92.png)

[2015-10-20 13:37] greezybacon commented on #2655
It seems to be fixed to me, and reading the code, I don't see where this problem would crop up

[2015-10-20 13:37] greezybacon commented on #2661
Perhaps you can try setting `cgi.fix_pathinfo` to 1 in your php.ini, as the page recommends

[2015-10-20 13:40] greezybacon commented on #230
This is implemented in v1.10:

![image](https://cloud.githubusercontent.com/assets/672074/10608798/35eb0bce-7706-11e5-9c0c-a4f2227aa6e4.png)

Furthermore, individual fields can be disabled from the attached forms, and the order of the forms can be organized in the topic management page.

[2015-10-20 13:42] greezybacon commented on #2662
If you're using IIS, you need to [enable the DELETE verb](http://stackoverflow.com/a/10616736)

[2015-10-20 13:42] rachelsupport commented on #2661
Where can I find the php.ini?

[2015-10-20 13:45] greezybacon commented on #2664
SupportSystem.com is running it in production. There are a few edits there which haven't been merged into the osTicket codebase, but I agree, there are too many issues left

[2015-10-20 13:47] greezybacon commented on #2658
Thanks, I've tried to make a few improvements to the LDAP plugin to be released soon. I'll see if I can track this down to. Would you mind moving this issue to the core-plugins repo so I can track it there?

[2015-10-20 13:50] greezybacon commented on #1852
@vrowdy @mckaygerhard did you download the new language pack from the osticket.com download page? I made my best effort to clean these translated names up in the Crowdin software (which is used to facilitate translation and build the language packs). I wasn't aware it was still broken in the latest language packs

[2015-10-20 13:52] greezybacon commented on #2486
You guys go ahead and slash away. We're holding off to transform the backend to make it themeable and to completely redesign the staff, client, and admin portals.

[2015-10-20 13:55] greezybacon commented on #2661
Sorry there's no single answer to that question. I suppose you're using a hosting solution? In such a case it would be in the control panel for you website. If you're using IIS, it should be in Program Files, otherwise in `/etc`.

[2015-10-20 13:57] greezybacon commented on #2666
Admin Panel -> Settings -> System. Change the name format to "As Entered"

[2015-10-20 13:58] greezybacon commented on #2665
I believe you have to have the ticket assignment permission to do that. Do you have it set for your group?

[2015-10-20 14:01] greezybacon commented on #2642
Yeah, I've also noticed that the installer crashes in the current `develop-next` branch

[2015-10-20 14:10] cervedgroup commented on #2666
unfortunatly, setting "As Entered" sorts the operator by name and not by surname, so is not a solution  for us.

[2015-10-20 14:11] cervedgroup commented on #2665
yes, the user group as all the permissions in all departments....

[2015-10-20 14:12] pratikvav commented on #2662
No we are using CentOS with nginx here

[2015-10-20 14:21] rachelsupport commented on #2661
I'm using GoDaddy...so it appears that I need to create a php5.ini file in my webroot.

[2015-10-20 14:26] rachelsupport commented on #2661
Created the php5.ini file and changed the cgi.fix_pathinfo to 1. It is working properly now.

[2015-10-20 14:36] greezybacon commented on #2661
Good deal. Thanks for reporting back

[2015-10-20 14:36] #2661 closed

[2015-10-20 14:37] greezybacon commented on #2662
Sorry, I can't really help you with nginx

[2015-10-20 14:38] greezybacon commented on #2665
That means nothing. There is no "superuser" group. All permissions and department memberships must be manually granted.

[2015-10-20 14:45] greezybacon commented on #2628
Would anyone have the opportunity to test again with the tip of the `develop-next` branch? The SMTP library was upgraded and I'm wondering if the new version has any bearing on the issue.

[2015-10-20 14:58] cervedgroup commented on #2665
the user can assign/transfer the ticket , but the claim button is not present.
the user have all the permission in all departments, but the claim button is not present.

[2015-10-20 15:00] Aka4 commented on #2664
@greezybacon So at the moment you do not recommended to use it in production, yes?

[2015-10-20 15:13] protich commented on #2665
We collapsed claim button in v1.10 into assign dropdown. We've had negative feedback and  will be added back before stable version.

[2015-10-20 15:16] cervedgroup commented on #2665
Ok, so in the next 1.9.x version the button will be back also ?
thank you

[2015-10-20 15:21] nickmacwiz commented on #2628
Not sure about everyone else but we use osticket in a live environment and also use the eticket app that requires us to use only compatible versions.

Sincerely,

Nicholas Ruebel

Sent from my iPhone 6 Plus

[2015-10-20 15:50] adriencarbonne commented on #2024
I can confirm that this commit solves the bug.

[2015-10-20 16:34] infectormp commented on #2628
I use upgraded SMTP library (Net_SMTP v1.7.1) and not hava any problem.

[2015-10-20 16:39] nickmacwiz commented on #2628
Which version of php are you using?

Sincerely,

Nicholas Ruebel

Sent from my iPhone 6 Plus

[2015-10-20 16:59] slimatic commented on #2655
@greezybacon please see my comments on #2656 . It seems to be working if you have implemented the use of organizations. I never used the organization feature pre-upgrade. If my testing is correct then folks who have added users to organizations won't see this issue.

[2015-10-20 17:16] infectormp commented on #2628
i use 5.6.14 and openssl 1.02d

[2015-10-20 18:15] greezybacon commented on #2628
@infectormp could you just verify that you're using Windows with PHP 5.6 and you had an issue before the upgrade to SMTP 1.7.1?

[2015-10-20 18:20] infectormp commented on #2628
@greezybacon sorry, i see this is windows related bug. I not using Windows at my server enviroment and can't verify issue.

[2015-10-20 18:23] greezybacon commented on #2656
@slimatic are you *sure* you upgraded to the tip of the `develop-next` branch? I can't find where the statement you referenced would be emitted.

[2015-10-20 18:24] nickmacwiz commented on #2628
We have maintainance scheduled for this weekend. I will try and boot a duplicate virtual server machine and test it.

Sincerely,

Nicholas Ruebel

Sent from my iPhone 6 Plus

[2015-10-20 18:30] jdelhome3578 commented on #2628
@greezybacon I have a windows environment with php 5.6.14 I receive `authentication failure [SMTP: STARTTLS failed (code: 220, response: 2.0.0 SMTP server ready)]` as an error message. If I use php 5.5.28 it works fine.

[2015-10-20 18:32] greezybacon commented on #2628
So this then has absolutely nothing to do with the issue at hand?

[2015-10-20 18:34] jdelhome3578 commented on #2628
@greezybacon As I stated earlier I think it has something to do with the changes made in the php code http://php.net/manual/en/migration56.openssl.php

[2015-10-20 18:34] greezybacon commented on #2024
Since it's already merged, I'll close the issue. Please comment or reopen if the issue persists.

[2015-10-20 18:34] #2024 closed

[2015-10-20 18:36] greezybacon commented on #2665
I'm confused, I thought the change in v1.10 did not affect v1.9

[2015-10-20 18:39] jdelhome3578 commented on #2628
@greezybacon As I stated earlier I think it has something to do with the changes made in the php code http://php.net/manual/en/migration56.openssl.php

PHP now requires peer verification and I have tried a lot of thing but can not figure out how to get it setup on my Windows system.

[2015-10-20 18:47] jdelhome3578 commented on #2667
@greezybacon Could this be related to bare header redirect #2641

[2015-10-20 20:15] greezybacon commented on #2667
No that was only for SSO logins

[2015-10-20 20:18] greezybacon commented on #2664
@Aka4 let's not get in a legal debate. When osTicket v1.10 is marked stable, it will be labeled as stable, not as a release candidate. Your opinions of the stability may vary, as your usage of the software may encompass only some features which are currently completely stable in the release candidate. To mark the software stable, to the best of our ability, it should implement every feature, every

[2015-10-20 20:21] greezybacon commented on #2666
One day I think we'll get to allowing manual specification of the surname and name rather than the (obviously incorrect and limited) current version

[2015-10-20 20:49] greezybacon commented on #2341
I still have no idea why you're having this issue

[2015-10-21 04:01] greezybacon commented on #2598
@oneilak I have no idea what you're talking about

[2015-10-21 05:35] telx85 opened #2668 "Attachment issues FAQ"
Its not critical, because I have a workaround, but when I make a new FAQ and attach a file it uploads fine and looks like it will work, but then clicking Add FAQ makes the FAQ but no attachment.

If I edit the FAQ and then upload the file and click Save Changes it works as expected.

Can anyone else replicate this issue?

Logs show nothing, but I am using shared hosting so I might not be getting a

[2015-10-21 05:46] mfelber commented on #2668
Seems to be duplicate https://github.com/osTicket/osTicket-1.8/issues/2606

[2015-10-21 05:47] telx85 commented on #2668
Agreed, should I delete this?

[2015-10-21 06:51] mfelber commented on #2668
I think the usual procedure in this case is to close the issue.

[2015-10-21 06:51] #2668 closed

[2015-10-21 07:14] vrowdy commented on #1852
Yes, I downloaded the latest language pack (about a week before I posted my first message about this subject here).

Van: Jared Hancock [mailto:notifications@github.com]
Verzonden: dinsdag 20 oktober 2015 15:51
Aan: osTicket/osTicket-1.8 <osTicket-1.8@noreply.github.com>
CC: Rowdy van der Veen <rowdy@noord-computers.nl>
Onderwerp: Re: [osTicket-1.8] Bug with language pack (#1852)

@vrowdy<https://

[2015-10-21 07:27] cervedgroup commented on #2665
i confirm that in 1.9.12 the "Claim" button has gone away ...

[2015-10-21 07:28] cervedgroup commented on #2666
should be enough not to truncate the string at first space, so alway entire name will be shown

[2015-10-21 07:53] mfelber commented on #2665
I also use 1.9.12 and I can see and use the claim button in it..

[2015-10-21 08:09] infectormp commented on #2665
i use 1.9.12 and have "Claim" button

[2015-10-21 12:58] philbertphotos commented on #2486
I cant wait till this happens but I would have too ...smh I would like to contribute to this if at all possible.

[2015-10-21 14:15] greezybacon commented on #2666
That's what I suggested, but you said that the sorting wasn't acceptable with the "not to truncate" mode.

[2015-10-21 14:55] mckaygerhard commented on #1852
the new languaje packs are for v 1.9.X ? and have all lowercases the uri's ?

[2015-10-21 15:10] jamesangi commented on #2625
No one else seeing this?  I tried a clean install and it still happens, nothing interesting in the logs.  I've noticed a couple more advanced search oddities as well:
1) When loading a saved search it "shakes" the window back and forth like there is an error, except there is none.
2) Sometimes after clicking "search" you then have to click on the "search" tab to get the results to display.

[2015-10-21 15:22] charlestruluck commented on #2486
I definitely feel one of the factors repelling people from osTicket is design/UI. Customizability is tough, and people don't like design that doesn't flow with everything else they use.

[2015-10-21 17:32] philbertphotos commented on #2486
I agree..

Sent from my iPhone

[2015-10-21 17:42] Animeonmymind commented on #2625
Same situation here, custom field searches yield no results.

[2015-10-21 19:56] kest874 opened #2669 "1.10 tip of devevlop-next 1aaa313 Client search and count is broken"
When searching as an enduser the search returns all of their tickets:

![image](https://cloud.githubusercontent.com/assets/12860950/10648349/7eef9620-7803-11e5-9a2d-0dd0d5357376.png)

I searched "findme" and  both tickets for user were shown.  Note that the ticket count is incorrect, showing 3 when only 2 tickets are for the logged in user.  This is a green install from the tip commit 1aaa313.

Se

[2015-10-21 23:41] c0nfused opened #2670 "Develop-next: Installation Error"
Running through the installation for the **develop-next** branch and received the following error. The database gets populated, but the configuration file does not get written.
Does not go any further..

`Fatal error: Call to a member function getDbTimezone() on a non-object in /home/osticket-devnext/public_html/osTicket-1.8/include/class.misc.php on line 99`

Using PHP version 5.4.44 with MySQL v

[2015-10-22 01:12] slimatic commented on #2656
@greezybacon Yes, I pulled the latest commit from develop-next. I'm a bit new with git in general so unless I did something that might suggest I pulled the wrong branch, I did a git pull on develop-next and it said it was on the most updated commit for that branch.

[2015-10-22 04:11] mfelber commented on #2670
Seems to be a duplicate issue https://github.com/osTicket/osTicket-1.8/issues/2642#issuecomment-149577071

[2015-10-22 04:16] #2670 closed

[2015-10-22 04:38] c0nfused commented on #2642
Lines 16-18 of `setup/install.php` are

    require('setup.inc.php');

    require_once INC_DIR.'class.installer.php';

`class.installer.php` is what defines the `$cfg` variable, but `setup.inc.php` is requiring (including) files that assume `$cfg` is already defined. Thus the error indicating `$cfg` is null, and not the expected variable.

Simply reversing the lines doesn't work because `setup.in

[2015-10-22 08:52] t-oster commented on #2667
I also get this when searching for a ticket number. The autocomplete shows the right email, but the ajax response contains this warning directly after the header and I get a javascript exception in jquery.pjax.js:629Uncaught TypeError: Cannot read property '0' of nullextractContainer @ VM545 jquery.pjax.js:629options.success @ VM545 jquery.pjax.js:238m.Callbacks.j @ jquery-1.11.2.min.js:2m.Callbac

[2015-10-22 09:00] t-oster commented on #2655
Well. I do have organizations. I cannot reproduce this issue anymore right now, but this is because the search often fails in general. This is related to #2667. After this is fixed, I can recheck.

[2015-10-22 09:01] t-oster commented on #2667
But my warning starts at
[code]
I am on develop-next @ 1aaa3139d1dfd72

[2015-10-22 12:38] greezybacon commented on #2625
I was able to duplicate this yesterday. I think the problem is that the search system builds a query with
[code]

however, the storage model for the Choices field looks like `{"Bill": "Bill"}`, because it stores the key and the value. In the event the field is changed to reflect different keys/values, the previously set value can be retained. Therefore, the SQL query needs to be built like
[code]

[2015-10-22 13:02] astradslme commented on #625
I have the same problem with iframes. I also tried to insert a HTML5 video tag. The editor didnt save the content.

Thank for help!

[2015-10-22 14:25] goobersmooch opened #2672 "v1.10-rc.2-135-g1aaa313 - Add New Agent Does Not Autofill Name or Email Address. Only Phone Number. LDAP Enabled."
When I add a new agent from Admin Panel —> Agents —> Add New Agent, i type the username in the username field. It pulls the name from ldap, i click on the blue name and it auto fills the phone numbers, but not the name or email address fields.

I have the LDAP Authentication and Lookup plugin installed and configured properly.
Below are screenshots of what i am talking about. Is it supposed to onl

[2015-10-22 14:56] kest874 commented on #2672
I can confirm this is an issue from the tip, even with https://github.com/osTicket/osTicket-1.8/pull/2600

[2015-10-23 01:40] codekmarv commented on #2642
Same here, @c0nfused that fix you have it on your fork right?
Regards,

Marvin M

[2015-10-23 21:09] goobersmooch opened #2674 "v1.10-rc.2-135-g1aaa313 - Department Parent/Child Role Permission Inheritance/propagation"
If you have nested departments and an agent is assigned to the parent department then they should have access to tickets in the child departments as well with the chosen role permissions.

If this is by design It would be very nice to be able to have an option somewhere (maybe in the extended access section) to propagate that agents role permissions to child departments instead of having to add ev

[2015-10-23 21:19] goobersmooch opened #2675 "v1.10-rc.2-135-g1aaa313 - Agent Access Select Role Drop-down Tool Tip Is Blank"
Under Agents --> Selected Agent --> Access Tab, the select role drop-down box tool tip is blank.

![osticket1](https://cloud.githubusercontent.com/assets/15216195/10705133/66b4ff74-79a1-11e5-98cf-9f9d9090ef81.jpeg)

[2015-10-24 01:41] c0nfused commented on #2669
Fresh install here too... I search for "findme" and I get an error!

Fatal error: Uncaught exception 'InconsistentModelException' with message 'Unable to prepare query: SELECT COUNT(*) FROM (SELECT A1.`ticket_id`, Z1.`relevance` AS `__relevance__` FROM `ost_ticket` A1 JOIN (SELECT COALESCE(Z3.`object_id`, Z5.`ticket_id`, Z8.`ticket_id`) as `ticket_id`, SUM(MATCH (Z1.title, Z1.content) AGAINST ('fi

[2015-10-24 01:44] c0nfused commented on #2675
Same problem here.

[2015-10-26 04:57] philbertphotos commented on #2672
I fixed it check here  #2574

[2015-10-26 04:58] philbertphotos commented on #2674
+1

[2015-10-26 05:03] philbertphotos commented on #2664
I currently using 1.10rc2 in production it works just fine for my needs. I regularly test the develop-next in sandbox they have too many unknowns.

[2015-10-26 13:10] goobersmooch commented on #2574
I was able to get the email to populate by adding class="auto email" after name="email", but I can't seem to get the first or last names to populate. Any suggestions?

[2015-10-26 13:23] philbertphotos commented on #2574
yea do the same to the others class="auto first", class="auto last",

[2015-10-26 13:29] goobersmooch commented on #2574
Awesome! Works like a champ! Thanks @philbertphotos.

[2015-10-26 14:02] goobersmooch commented on #2503
I agree that if the current agent clicks on the claim button that it should be assigned to the agent that clicked the claim button.

[2015-10-26 16:53] philbertphotos opened #2679 "TypeHead with List problem in 1.10.RC2"
I notice if I have a list that populates via TypeHead and the user adds something that is not on the list and tries to create the ticket it they  get this error.
How do we make a change so they can not add a custom entry.
Warning: in_array() expects parameter 2 to be array, null given in /var/ttt/public_html/helpdeski/include/class.dynamic_forms.php on line 1636

[2015-10-26 20:28] colonelpopcorn commented on #2675
It looks like the staff.agents.yaml file (i18n/en_US/help/tips/staff.agents.yaml) is empty and the other tooltips might be hard-coded(?) No, that can't be right. So the tooltip that's supposed to show up is not showing up because it hasn't been put into staff.inc.php properly. I'll post what I mean when I get home. Line 251 of staff.inc.php has a "primary role" reference, but there isn't a "primar

[2015-10-27 10:49] opodecano commented on #846
Very helpfull @pfurches ..

[2015-10-27 12:47] colonelpopcorn commented on #2343
Works like a charm!

[2015-10-27 13:22] RegularEmployee commented on #2475
Hi again. I started from scratch one more time and the issue still persists. this is really frustrating because we would like to use osticket for our company helpdesk.

Will there be a new version of osticket soon? I have hopes that the issue will disappear due to other bug fixes.

Furthermore I am still not convinced that the cause is environmental or related to jQuery. Why?
Because a very simila

[2015-10-27 13:29] colonelpopcorn opened #2682 "Cannot create a new task"
I am having trouble creating a new task. I downloaded the latest developer preview from the osTicket website. I tweaked the code per patch #2533 and I've renamed ost-sampleconfig to ost-config. Now, when I go to try and create a task I can enter all the pertinent information but when I click create task it just reloads the page. It doesn't seem to be a proper refresh, but it doesn't create my tick

[2015-10-27 14:35] ntozier commented on #2660
I personally wouldn't think so... since it's not really changing anything [important].

[2015-10-27 14:37] ntozier commented on #2662
CentOS... have you tried disabling SELinux?

[2015-10-27 14:44] slimatic opened #2683 "Develop-Next Permissions: Assigning Ticket to Agent in different Department issue"
In 1.9 this was not an issue. We could assign a ticket to someone in a different department while ownership of the Ticket belonged to the other Department.

e.g. IT Department assigns a ticket to Joe in Customer Service to work on. This worked fine until now.

The problem now is that when we assign a ticket to agent in another Department, they are unable to do anything other than post an internal

[2015-10-27 14:58] slimatic commented on #2655
@t-oster You may be able reproduce the error this way.

Test it with two different users - one in an organization and one without an organization.
e.g. user1 - in an organization & user2 - not in an organization

Now go to a ticket and try adding these two users to the ticket as collaborators.
If the issue is properly reproduced you will find that user1 will come up and you will be able to add the

[2015-10-27 15:04] pratikvav commented on #2662
I manged to get it working had to enable the DELETE Verb in nginx. I had it disabled for security reasons. But to get this working had to enable it.

[2015-10-27 15:52] Chefkeks opened #2684 "Idea/Feature Request: Doodle-Like Appointment suggestion/selection between Agent & User"
Hi all,

my colleague had an idea/feature request for a doodle-like appointment suggestion/selection feature (or plugin). Basically the issue behind the idea is really simple:
- People are having issues and contact the helpdesk / service desk, so a ticket gets created
- Some folks NEVER really have time and are really busy (at least saying that they are... :D) and it's hard to find an appointment

[2015-10-27 16:11] protich commented on #2684
Calendar integration, business hours ...etc is very high on my wish list too.

My thinking on your colleagues suggestion is -  the system should have ability to send a task completion request to the end user  -- e.g  complete form, survey..etc. In your case it will be an appoint form with open dates..etc.

Tell your colleagues they're not crazy --  and they should keep the ideas flowing and __you_

[2015-10-27 16:30] Chefkeks commented on #2684
Already coding on another (basic) project with PHP, CSS and Java Script ;D

Recently struggled there with a java script issue and just took 3 days for 2 lines that fixed it (was ashamed, but lucky too).

So my coding skills are definitely worse but my admin skills are excellent (in comparison) - guess I'll stay on the admin side for now ;)

But maybe some day in the far future... :D

[2015-10-27 16:30] colonelpopcorn commented on #2684
I like this idea a lot, +1.

[2015-10-27 16:32] AlexYoung28 commented on #2684
Sounds really good +1

[2015-10-27 17:12] kest874 commented on #2682
You you have any errors in the system log?  Tasks are working as they should in my test system.

[2015-10-27 19:19] colonelpopcorn commented on #2682
Are you talking about my server logs or the system logs in osTicket's admin panel?

![image](https://cloud.githubusercontent.com/assets/13068221/10769751/102dacda-7cbe-11e5-8a71-dbaafc51be24.png)

Nothing unusual here.

[2015-10-27 20:08] ntozier commented on #2682
version of osticket?
webserver software?
PHP version?
webserver logs?
php logs?

[2015-10-28 01:01] bunkobugsy opened #2685 "Reverse email fetch order (IMAP)"
Any ideeas on why tickets are created from emails in reverse order (newest first / LIFO) ?

Fetching 2 emails every minute on cron job running on Centos 5 + Dovecot IMAPS (993).

osTicket Version    v1.9.12 (19292ad) —  Up to date
Web Server Software Apache
MySQL Version   5.5.46
PHP Version 5.5.30

[2015-10-28 11:31] gitfve opened #2687 "Mail allert when there are more than x ticket open?"
Hi

I looking for a function there can post a mail to "supporters" if there are more then x cases open?

[2015-10-28 12:20] colonelpopcorn commented on #2682
v1.10-rc.2 (231f11e)
Apache/2.4.16 (Win32) OpenSSL/1.0.1p PHP/5.6.11
5.6.11

XAMPP's Error.log
[Thu Oct 22 13:33:39.241373 2015] [core:notice] [pid 5516:tid 248] AH00094: Command line: 'c:\\xampp\\apache\\bin\\httpd.exe -d C:/xampp/apache'
[Thu Oct 22 13:33:39.244376 2015] [mpm_winnt:notice] [pid 5516:tid 248] AH00418: Parent: Created child process 4500
[Thu Oct 22 13:33:40.022075 2015] [ssl:warn]

[2015-10-28 15:17] ntozier commented on #2687
I don't have the foggiest idea what you are asking for.  Please try asking a different way, or provide a mock up of the feature that you are requesting.

[2015-10-28 15:29] gitfve commented on #2687
Ok, I try again.

Customers make the support ticket. Our "supporters" don't know when, therefore they logon to the system to check if there are any tickets. It will be nice if there was a function there can alert the support "Agent" if there are more than x open ticket. (I know we can get alert when there are tickets, but I want about 3 ticket before the alert)

[2015-10-28 15:40] ntozier commented on #2687
There is no function like that currently.  It's every ticket gets announced, or none.

[2015-10-29 00:00] philbertphotos opened #2688 "Tickets with image Attatchments"
It would be nice to have tickets with attachment images popup instead of going to that link and taking the agent away from osticket.

[2015-10-29 00:35] B14CKH4WK opened #2689 "1.9.12 edit user from ticket glitch"
Ok so I believe that i found a bug. If I do the following below, I get a possibly confusing output.

Go into a ticket
click Edit
Click change next to the user and select a different user
Don't click save yet, but click on the user/email that is now shown, it will pull up the previous user that was on the ticket versus the new one selected. I know if I were to click save and then go back and NOT ch

[2015-10-29 00:41] philbertphotos opened #2690 "10-RC2 Deparment permission bug"
I've noticed that when setting up an agent with permission to departments I notice I have to go into the agent account and set the same permission ... it seems kind of redundant. Should not setting a agents permission in either section should give the user all rights to the tickets of that department I should have to do it in both places.

[2015-10-29 06:40] lachlan-00 commented on #2129
I can't add a user in firefox 43.0a2 but i can in epiphany (webkit default GNOME browser) when entering the exact same information.

I'll try some more browsers tomorrow but i was able to add two ldap users with the send signin ticked/unticked in epiphany.

[2015-10-29 12:45] colonelpopcorn commented on #2682
I'm such a goober...when I gave myself access to other departments all my tasks showed up.
![image](https://cloud.githubusercontent.com/assets/13068221/10818583/38be2c04-7e19-11e5-8d89-80e736e732cb.png)

[2015-10-29 12:45] #2682 closed

[2015-10-29 12:54] colonelpopcorn commented on #2690
You seem to be confusing membership with access. An agent can have multiple different access roles, but can only belong to one department. Are you moving an agent from one department to another and expecting them to inherit all of their previous access?

[2015-10-29 15:15] oneilak commented on #2296
is it coming in v1.10? :-)

[2015-10-29 16:15] mfelber commented on #2628
This seems not to be only a windows problem. I had a similar problem with some of my osticket 1.9.12 instances when I switch to php 5.6.

They are running on a hosted server with debian squeeze. The used SMTP Port is 587. First I didn't noticed that because osticket seems to have a workaround sending the emails in this case instead via the php mailer.

In the system logs of osticket were a lots of

[2015-10-29 16:29] nfebuary commented on #2688
Agreed, an attachment preview has been discussed and is on a To-Do list.

[2015-10-29 18:42] kest874 opened #2691 "v1.10-rc.2-135-g1aaa313 - Email processing issue with new email to existing ticket from agent"
Found an issue, when an assigned agent replies to an existing ticket via email the message is posted correctly.

bug: When an agent sends a new mail with [#030000] in the subject a new ticket is created instead

If the enduser replies to and existing ticket via email the message is posted correctly.
If the enduser sends a new mail with [#030000] in the subject the message is posted correctly.

[2015-10-29 18:46] ntozier commented on #2691
I do not think that this is a bug.
The agent doesn't own the ticket, and is not a collaborator.
Since the email has a new message-id it is not considered the same ticket.
The agent needs to reply to a system generated email or be a collaborator on the ticket for it to update.

[2015-10-29 19:23] kest874 commented on #2691
Ok, make perfect sense now, it's working as designed.

[2015-10-29 19:23] #2691 closed

[2015-10-30 00:55] c0nfused commented on #511
I just had the same issue in osTicket 1.8-git

When I open the `setup/inc/streams/core/install-mysql.sql` file and compare my local copy to the current file at https://github.com/osTicket/osTicket-1.8/blob/develop/setup/inc/streams/core/install-mysql.sql

Mine is 853 lines long, and the one on github is 852 lines. A blank line is being added to the bottom of the file, and that is throwing the md5

[2015-10-30 01:22] c0nfused commented on #511
@greezybacon May I ask your OS/editor of choice? I would guess Linux or Mac? Also, can you not simply add a new line to the file in the repo with the updated md5 to correct this issue on all platforms?

[2015-10-30 07:47] mfelber commented on #2628
Disabling the peer verification seems also to solve the problem (using php 5.6):

https://github.com/pear/Net_SMTP/issues/14

[2015-10-30 08:19] mfelber commented on #2628
This issue also occurs in osticket 1.10 (latest tip).

[2015-10-30 11:59] RegularEmployee commented on #2475
Maybe, in order to check whether it is really an environmental problem: Is there some kind of debug script that I could upload to my server? e.g. to confirm that ajax or jquery are working correctly? I now tried with 1.10rc2 and the only problem I encounter is still within the organizations (/helpdesk/scp/orgs.php?id=2) ... I there a way to debug this page and it's elements?

[2015-10-30 12:02] gramimoss commented on #1075
I agree.

It would allow for MODS to be made into plugins rather then customizing osticket code.

[2015-10-30 12:03] mlipok opened #2693 "Email Filters for emails related to existing Ticket - not only for new Tickets"
Please add feature to Email Filters for emails related to existing Ticket.
Currently Email Filters works only for email which create new Ticket

Was discussed here:
http://osticket.com/forum/discussion/comment/100217

[2015-10-30 12:13] RegularEmployee opened #2694 "Organization Notes: JS Error"
When I try to open the Notes Tab in an Organization (.../scp/orgs.php?id=2#notes) Chrome reports:

6scp.js?231f11e:915 Uncaught TypeError: Cannot read property 'length' of undefined
(anonymous function) @ scp.js?231f11e:915
m.event.dispatch @ jquery-1.11.2.min.js?231f11e:3
r.handle @ jquery-1.11.2.min.js?231f11e:3

Behavior is that the notes tab is not opened. No reaction on click.  Version 1.10rc

[2015-10-30 13:10] ntozier commented on #2693
"Currently Email Filters works only for email which create new Ticket"

This should read "Currently Email Filters works only for ~~email which create~~ new Ticket(s)"

[2015-10-30 13:17] Hannibal226 commented on #2628
@mfelber
Nope not for me.
So I recognized this Problem now, too. Quiet late, but anway.
We can recieve/fetch email fine and sending in domain, too. but out of that not.

I'm using also PHP 5.6 and STMP/587 with authentication.

Would be pleased to see a wordaround because none of them helped here.
I'm not sure if a downgrade makes so much sense as 1.10 is close, same as PHP7.

CHEERS!

[2015-10-30 13:28] mfelber commented on #2628
@Hannibal226 In my case the workaround with replacing

$this->_socket_options =$socket_options;

to

$this->_socket_options = array('ssl' => array('verify_peer_name' => false));

in  /include/pear/Net/SMTP.php works fine.

But I heared from somebody else that this workaround doesn't help him too (like in your case).

Do you still get the same error? What OS do you use?

Why do you mention 1.10 and

[2015-10-30 13:44] mlipok commented on #2693
Yes indeed.
Thanks for correcting my vocabulary.

mLipok

[2015-10-30 14:18] Hannibal226 commented on #2628
@mfelber
It's windows and afaik it's a windows+PHP 5.6 problem, so...

I mentioned because I don't know if maybe 1.10 will have an inbuild workaround, but more it's a one time maintance break, so installing PHP+new osticket, than once PHP and after some weeks 1.10 (just lazyness :P )

And PHP7 is not recommended, but I reading a lot of trying to make it compatible and I don't think it will prot th

[2015-10-30 14:24] ntozier commented on #2693
Very welcome. :)

[2015-10-30 14:43] mfelber commented on #2628
@Hannibal226
The person that I mentioned who also has problems with the workaround uses windows too.

I use for my production systems only hosted debian squeeze server.

So I were a little bit curious and tested the workaround in my windows xampp test environment (Apache/2.4.17 (Win32) OpenSSL/1.0.2d PHP/5.6.14): the workaround works fine there too.
Maybe it's a little bit more than only a windows

[2015-10-30 14:45] jdelhome3578 commented on #2628
@mfelber Thanks I was looking for a way to disable, this worked for me [IIS 8 and php5.6.14]

[2015-10-30 14:48] mfelber commented on #2628
@jdelhome3578 I'm glad I could help.

[2015-10-30 14:50] jdelhome3578 commented on #2628
@mfelber I just hope there is a permanent solution

[2015-10-30 14:57] mfelber commented on #2628
@jdelhome3578 I'm confident that this issue will be addressed by the developers sometime as Jared said:

[2015-10-30 14:58] nickmacwiz commented on #2628
For Windows server users the easiest solution is to install php 5.5 as well and set php 5.5 as the active version for your osticket site.

Sent from my iPhone 6 Plus

[2015-10-31 16:02] kensel commented on #2642
c0nfused's change works and my installation completed successfully.

[2015-11-02 12:06] temkretz opened #2698 "Ticket via Email: Same sender, different name"
I just noticed that when you create tickets via email and the emails have the same FROM address but different FROM names e.g. Hans Wurst <mymail@example.org> and Peter Pan <mymail@example.org> osTicket detects them as different users but auto-assigns the first name it can associate with the FROM address.
The result is that I have all my tickets labels with the same name but they were sent with dif

[2015-11-02 13:42] ntozier commented on #2698
Yes.  Do not use multiple email addresses for the same person.
Each user should have a unique email.

[2015-11-02 13:48] temkretz commented on #2698
okay, thanks for the quick response!

[2015-11-02 13:48] #2698 closed

[2015-11-02 15:31] dannydulai commented on #2225
I'm 100% sure the bug is the original issue. I put some trace in the code, and $autorespond is empty.

It doesn't even make sense the way it is now -- why would you reopen ONLY if the message was an autorespond message?

I changed my code to be `!$autorespond` and all is working :-)

[2015-11-03 06:42] mfelber commented on #2648
Maybe this forum entry is interesting for you (related to the error 1050): http://osticket.com/forum/discussion/86696/db-error-1050#latest

[2015-11-03 10:22] t-oster commented on #2667
OK. I tracked down what happens:

include/staff/tickets.inc.php(111) calls Http::redirect('tickets.php?id=...') because there is only one result and it wants to redirect to this ticket.

The problem is, that the tickets.inc.php is included in scp/tickets.php(494) after the header.inc.php was already included and thus the headers are already sent (header.inc.php contains html code).

[2015-11-03 10:29] t-oster commented on #2667
seems as if it would require some structural changes in order to work, because changing the order of includes is not simple.

BTW are there any plans to update the structure of OsTicket to a more Model-View-Controller based approach where the controller is called first fills the view variables before the view is rendered? Maybe with a template-engine like smarty?

[2015-11-03 14:17] RegularEmployee commented on #2475
I was in contact with our provider and he found the following PHP error in the global Log: **"PHP Fatal error:  Call to a member function getId() on a non-object in /data/www/www282/www/osticket/include/staff/templates/tickets.tmpl.php on line 26"**
this refers to the following code:
25   if ($user)
26     $where = 'WHERE ticket.user_id = '.db_input($user->getId());
27   elseif ($org)
28     $wher

[2015-11-03 17:27] robec1982 commented on #2024
Thanks to @matlinuxer2 for solving this bug. I also followed his changes and my osTicket registration is working like a charm...

[2015-11-03 20:47] goobersmooch opened #2705 "1.10-rc.2-135-g1aaa313 - Cancel Button Does Nothing When Creating New Ticket That Has A Custom Form"
When creating a new ticket, the cancel button does not do anything when clicked. This seems to only happen when using a custom form.

To recreate the problem: Click the Open a New Ticket button then select a help topic that uses a custom form. Now the cancel button no longer works. When you click on it nothing happens.

See screenshot below:

![osticketcancelbutton](https://cloud.githubusercontent

[2015-11-03 20:57] antriver opened #2706 "When editing an email template, if you click Save Changes while in HTML view it does not save."
You have to exit the HTML view first then click Save Changes.

Version v1.9.12-30-gd9be7fd

[2015-11-04 05:22] Zholaman opened #2707 "'Print -> Ticket Thread' generates unreadable thread's titles (on russian)"
Hi,
'**Print -> Ticket Thread**' and '**Print -> Thread + Internal Notes**' generates unreadable titles of thread (**which on russian**).

I think this type of error relates to functions that working with utf-8 encoding or something like that.

[Screenshoot is accessable by the link](http://osticket.com/forum/discussion/86747/print-ticket-thread-and-print-thread-internal-notes-generates-unreadable

[2015-11-04 10:50] PPCM commented on #2640
Something else: when an agent create a task for another service, it can only watch progress on that task only if he can access to the destination service...

[2015-11-04 12:41] Hannibal226 commented on #2628
Just to let u know guys, I made a think-misstake and there is a lot easier solution:

I just said IP of ticketsystem is trusted send relay for exchange.
So I just can send mails to exchange without authentication.

But anyway I hadn't recognize the bug before, as we had PHP 5.5 aber after Update no one reported problems.

CHEERS!

[2015-11-04 14:23] ntozier commented on #2640
I haven't the foggiest idea what you mean by "when an agent create a task for another service, it can only watch progress on that task only if he can access to the destination service..."

another service?  destination service?

[2015-11-04 15:53] PPCM commented on #2640
Exact the destination service.
For example:
The service A (customers relation service for example) receive a ticket with some problems.
He can create tasks for a service B (developpers for example) and other tasks for service C ().
The agent of service A can't see any evolution of tasks of its tickets, it can only see that the tasks are closed...

[2015-11-04 16:02] ntozier commented on #2640
service is not a osTicket term.  You appear to mean Department.  So...
service A = Department A
service B = Department B
service C = Department C

What you are describing is the designed behavior.  Agents only have access to the departments that they have access to.  I believe that you would want utilize Teams to change this.

[2015-11-04 16:32] PPCM commented on #2640
Sorry for the bad term, but in french translation, department is called service

I don't want that an agent access to all tickets of another departement, but only to tasks associated with the ticket he can access...

[2015-11-04 19:02] goobersmooch commented on #2627
I had the same exact problem as described above except I am running osticket version v1.10-rc.2-135-g1aaa313. I was able to fix it by changing line 1052 of /include/ajax.tickets.php from _('Add New Task') to __('Add New Task'). The code is just missing an extra underscore.

So @1024jon if you change line 1062 from _('Add New Task') to __('Add New Task') your problem should be resolved.

[2015-11-05 10:30] kapatz commented on #1663
I am also interest in this enhancement ,+1

[2015-11-05 15:17] goobersmooch commented on #2672
I can confirm that #2574 fixes the issue.

[2015-11-05 16:16] Chefkeks commented on #2672
Out of curiosity and apart from #2574 has this been fixed officially, e.g. via new commit by @greezybacon or merged pull request from @philbertphotos ?

[2015-11-06 05:20] Zholaman commented on #2707
Hi @greezybacon , could you tell me, what type and version of pdf library used in osTicket v1.9.12. I ask because we have problem with titles of threads (which on russian) that appear in pdf. To converting to pdf we use 'Print -> Ticket Thread'? Titles (on russian) of threads appear in pdf in unreadable format. Screenshot is attached in http://osticket.com/forum/discussion/86747/print-ticket-threa

[2015-11-06 07:40] molul commented on #1048
I'm having the same problem in osTicket 1.9.8 with a chinese customer who uses an email client called qqmail. Everytime he replies to a ticket through mail he opens a new ticket, and he's by far the client that writes to us the most, hehe.

I checked two of his emails and "references" or "in-reply-to" fields don't even appear in the mail's headers. I wonder if there might be something he could con

[2015-11-06 11:06] Zholaman commented on #2707
I have found that you use **Ticket2PDF** class that extends the **mPDF** library (v.5.7.3).

May be the following code will help to resolve our issue

1.  When I am writing code on PHP I usually use the following code to provide support of UTF-8:
[code]
2. Concerning mPDF:
[code]

[2015-11-06 11:43] Zholaman commented on #2707
Let me add some details, all text on russian in pdf we can see without problems except threads' titles.

[2015-11-06 14:02] ntozier commented on #1048
Have you tried adding the ticket number to the subject in the templates as described in other threads?

[2015-11-07 17:55] mckaygerhard commented on #1663
ping¿?

[2015-11-08 03:18] philbertphotos opened #2712 "bug in API ticket creation 1.10.RC2"
$info = array(
    'name'      =>      $username,
    'email'     =>      $username.'@mymail',
    'subject'   =>      "Test API",
    'message'   =>      "data:text/html;charset=utf-8, this is just a API test",
    'phone'     =>      "774-0111",
    'topicId'   =>      '11', // the help Topic that you want to use for the ticket
    'category'  =>      'Web Filter',
    'deptId'    =>      '11',

[2015-11-08 03:54] philbertphotos commented on #2062
@infectormp can you share the sql updata... I am also working on a way to import the data.

[2015-11-08 04:59] philbertphotos commented on #2712
Also I tried both "note" and "notes" but it does not update any data.

[2015-11-09 07:41] infectormp commented on #2062
@philbertphotos sorry this update is not saved.

[2015-11-09 08:57] molul commented on #2242
You might be interested in a mod I did to do exactly what you want. It's been running for a couple of years now and I've had no problems with it. I modified class.ticket.php and class.thread.php. You can get them here: http://we.tl/4X0cUWgNtZ

The mods are marked betweed "// LUIS MOD" and "// END LUIS MOD". In class.thread.php you'd need the two mods, but in class.ticket.php you'd only need "// LU

[2015-11-09 09:03] molul commented on #1048
Thanks, I've just done it. Hope it works :)

[2015-11-09 11:12] alirezastack opened #2713 "Execution order in ticket filters ignore priority on osTicket v1.9.12"
I have 2 filters for tickets.
One with execution order of 1 that closes the ticket that contains `sample-text` in issue summary and another all settings are the same as the first filter, but the second one has execution order of 10 and keeps ticket open with emergency status.

Why the first filter is not applied to the tickets as it has higher priority? Is this a bug? Am missing something?

[2015-11-09 13:27] ulfkreutzberg commented on #342
Hi greezybacon,
hi all,

I am using osTicket v1.9.12 (19292ad) and a reply to a custom id
Re: Test34 [#FFGM15-00019]
does not re-open a closed Ticket, instead a new Ticket with a new id is generated.
Do you support alphanumerical ids or do you only support numbers?

Many thanks and best regards,
Ulf

[2015-11-09 14:11] ntozier commented on #342
If I remember correctly the allow reopen tick box logic is reverse in Admin panel -> Manage -> Lists -> Statuses -> Items -> Closed -> Properties.

[2015-11-09 16:43] protich commented on #2713
Execution order doesn't necessarily mean priority -- it just needs the order the filters are applied. In your case, filter #2 will be applied last. If you want filter #1 to be applied then you'll need to check "stop processing" or change execution order to be higher than that of filter #2.

[2015-11-09 17:39] ulfkreutzberg commented on #342
Thanks for this hint. I had to change the default value of "Allow user to reopen..." from "system standard" to "open" - now it works. Thank you!

[2015-11-09 20:27] PPCM opened #2715 "1.10.rc2 - Send link of a ticket flow by email"
Hello there,

Is there a way to send someone an email with a link a ticket link.
Something like the link in a notification, but this time, we can send it to someone else

Thanks for your answer

[2015-11-09 21:46] kest874 commented on #2685
Change line 834 in include/class.mailfetch.php from:

for($i=$nummsgs; $i>0; $i--) { //process messages in reverse.

to

for($i=1; $i<=$nummsgs; $i++) { //process messages in forward order.

This will process the emails oldest to newest.

[2015-11-09 22:00] bunkobugsy commented on #2685
Thanks, will try your patch, any chance this will be included in the next release as a permanent fix (assuming this would be the normal behavior)?

[2015-11-10 09:20] davideakc opened #2716 "1.9.12 - Adding Collaborators on Internal Note"
Hi,

I want to ask if it's possibile with a code, add the collaborators (like on the "Post Reply" tab) even on the "Internal Note" because I wanna notify more than one person that there is a new internal activity.

(i don't want do it with the "Teams" because in my system there are more than 100 agents and it's impossible to make teams for every agent)...

I hope in your help, thanks.

[2015-11-10 10:01] alirezastack commented on #2713
Execution order is higher than filter #2,

[2015-11-10 10:14] protich commented on #2713
It's the order of execution --- meaning starts from 1, 2, 3.....999. In your case filter 2 get applied after filter 1.

[2015-11-10 11:15] Zholaman commented on #2707
Hi, I have checked, this error appeared after upgrading from v1.9.5.1 to v1.9.9 !

[2015-11-10 12:53] ulfkreutzberg commented on #1490
Hi all,

I expect a similar problem, too (v1.9.12 (19292ad)).
While the richt text editor is disabled, sometimes newlines are stripped off in plain text responses. So users get single-in-line responses which is unwanted (of course). This happens when using Firefox under MacOS Yosemite (just in case it has something to do with MacOS's handling of newlines).

Best regards,
Ulf

[2015-11-10 13:50] davideakc commented on #1998
How have you paginated the exported file in Excel?

I keep getting a .csv file with all the data in one line...

[2015-11-10 14:07] calebpaine commented on #2665
Also on 1.9.12.
I have the claim button as a superuser, but none of my other users do. Some kind of permission issue that I've not been able to narrow down.

[2015-11-10 14:45] adriencarbonne commented on #2322
Hello,

We are facing the exact same issue.
Is there a way (patching code manually is OK) to disable the draft feature?

Thank you!

[2015-11-10 15:06] ntozier commented on #2707
Try upgrading to 1.9.12 and see if it fixes itself?

[2015-11-10 15:09] ntozier commented on #1998
Q: How have you paginated the exported file in Excel?
A: I haven't dont anything special.  I just hit export.

[2015-11-10 15:11] ntozier commented on #2665
@calebpaine what are your group permissions on the accounts that do not have claim buttons?

[2015-11-10 15:17] davideakc commented on #1998
What version of osTicket are you using?

If I hit "Export" it exports a file .csv with something like:

![image](https://cloud.githubusercontent.com/assets/15772383/11065968/746b65b2-87c6-11e5-89e8-a714d384b7c3.png)

It isn't in columns, but it's a single line...

[2015-11-10 15:19] ntozier commented on #1998
The issue report was opened against 1.9.7 like the title indicates.

[2015-11-10 15:24] davideakc commented on #1998
It seems that I need to replace the "," with the ";"

Excel automatically make all the informations in columns with the ; symbol

The file to edit is "class.export.php"?

[2015-11-10 16:23] Zholaman commented on #2707
Hi @ntozier, sorry, I had upgraded to v1.9.12 in August yet.

The previous message from me was my little investigation result, I found that the above bug appeared after upgrading from v1.9.5.1 up to v1.9.9.

I have found, that in v1.9.9 new class is appeared, it is Charset (class.charset.php), I also compared difference in important (from my point of view) files between v1.9.5.1 and v1.9.9:

1. in

[2015-11-10 17:49] infectormp commented on #2707
I not have any issue with Ticket Thread with Russian with 1.9.12.

[2015-11-10 18:11] Zholaman commented on #2707
@infectormp I do not know why this problem had appeared after upgrading from v1.9.5.1 up to 1.9.12. I have no changed the configuration files of Apache, PHP, MySQL , I just copied new files on the server by FTP connection.

[2015-11-10 18:21] infectormp commented on #2707
what PHP version and Mysql version you use, what osticket db encoding\collate used?

[2015-11-10 19:03] Zholaman commented on #2707
@infectormp,
software's version and MySQL database's charset/collate:

1. MySQL v5.1.73
    - default character set is - **utf8**
    - default collation name is - **utf8_general_ci**
2. PHP v.5.3.3
3. Apache v.2.2.15

[2015-11-10 19:08] mfelber commented on #2707
I have seen some people having problems with PHP 5.3.3 and osticket. But normally they have some php errors in the web server error log..

[2015-11-11 00:35] goobersmooch commented on #2642
c0nfused's fix worked for me as well.

[2015-11-11 01:33] empugandring commented on #1189
try edit file scp/js/ticket.js
find code :
     if(e.type=='submit') { //Submit. double check!
             //remove nav away warning if any.
             $(window).unbind('beforeunload');

and add code :
      $(document).unbind('pjax:beforeSend.changed');

it's work for me.

[2015-11-11 04:10] Zholaman commented on #2707
Hi @mfelber, could you tell me, what PHP versions is perfect for osTicket ? But in mean time we had not problems with osTicket before upgrading, when we used osTicket **v1.9.5.1**. This problem(see above) appeared after upgrading from v1.9.5.1. up to 1.9.9. So with my point of view this bug/problem is not depend with PHP version. In any way thanks for your assumption.

[2015-11-11 05:25] Zholaman commented on #2707
@infectormp , I have installed fresh osTicket v1.9.12 (without upgrades and so one) on the test site (which I have created special for this test), and bug still exists.

[2015-11-11 05:29] mfelber commented on #2707
@Zholaman I think for example PHP 5.5.30 would be a good choice. PHP 5.3.x had reached the end of life in august 2014, PHP 5.4 in September 2015. So both are getting no longer security updates or bug fixes. PHP 5.6.x could make some trouble with email sending due to problems with the peer verification. You could use a xampp test environment to see if this would help before you do anything with you

[2015-11-11 06:26] infectormp commented on #2707
@Zholaman i use php 5.6.15. Can you try bump PHP version?

[2015-11-11 07:11] alirezastack opened #2717 "How can an agent see just his department tickets?"
Is there a way an agent see just his department tickets not all tickets?

[2015-11-11 07:22] Zholaman commented on #2707
@infectormp At the current moment I have not the possibilities to install new version of PHP on the current server and I do not want compiling PHP from the source. Instead I plan to deploy osTicket v1.9.12 on new server with PHP v.5.6.x, and if it does work, then I move current osTicket to new server.

Thanks for excelent proposal.

[2015-11-11 07:47] ColeMan1990 commented on #2439
+1 I ran into the same problems.

[2015-11-11 07:49] ColeMan1990 commented on #2438
+1

[2015-11-11 11:39] davideakc commented on #1998
I've fixed it by taking the "class.export.php" of the new version of osTicket (v1.10-rc.2) and adapting the part of the code where there is specified the separator to use.

[2015-11-11 11:42] ColeMan1990 opened #2718 "1.10.RC2: Issue with search function"
I have created a ticket with the titel TEST. If I try to search after this title osticket logs a DB error.

[SELECT COUNT(*) FROM (SELECT A1.`ticket_id`, 0,5 AS __relevance__ FROM `ost_ticket` A1 JOIN `ost_user` A2 ON (A1.`user_id` = A2.`id`) LEFT JOIN `ost_user_email` A3 ON (A2.`id` = A3.`user_id`) LEFT JOIN `ost_organization` A4 ON (A2.`org_id` = A4.`id`) JOIN `ost_ticket_status` A5 ON (A1.`stat

[2015-11-11 13:29] ssellmeier commented on #2717
Hello,

you will need to do the following:
 * Create a group with the desired ticket-permissions and the department you want the user to see tickets of
 * Create an account with type "agent" (not Administrator!), select the previously created group and also the department as "main-department"

The user is now only able to see the tickets of this department.

[2015-11-11 13:40] #2717 closed

[2015-11-11 13:42] ssellmeier commented on #2716
Hello,

I looked at the files relating to the "post Note" feature and can't find a "code" or something for this. So as far as I can see - this will become a feature request?

[2015-11-11 13:43] davideakc commented on #2716
So for now there's no code or something for doing it?

[2015-11-11 14:05] goobersmooch commented on #2582
I'm having this issue as well. I would like to test the patch, but i'm not sure how to re phar the files after i've extracted and edited the authentication.php file. I used unphar.com to convert the auth-ldap.phar to a zip so i could edit the files. How do i put them back into a phar?

[2015-11-11 15:15] ssellmeier commented on #2716
No, I don't see any implementation of such a feature in the code!

I'm completely new to the osTicket project as community-member as well as possible contributor. So I don't know the rules and work-flows here! There are two ways for me to implement such a feature:
 * Implementing a "Tag-System" which parses the notes-text for "@staff-username" in this syntax or in another
 * Implementing a new fie

[2015-11-11 15:21] davideakc commented on #2716
Yes, "Implementing a new field to optional notify specified staff-members" would be very useful!

[2015-11-11 17:44] markus4000 commented on #2716
Or a "star" or "follow" button for staff. So an agent can "follow" a ticket if he wants.

[2015-11-11 17:57] kmmoreau opened #2719 "Changing Role drops Signature"
If you change the role associated with an agent's primary department (save changes), receive error message and then re-select a role for the agent's primary department (save changes)- the agent's signature is deleted!

This also occurs if you do the same for any of the agent's extended access departments.

[2015-11-12 06:39] alirezastack opened #2721 "How to send ticket reply from agent email address?"
When an agent reply to a ticket it is sent from the main email address (i.e. support@example.com), but I want it to be sent from agent's email address. I searched throughly, but couldn't find a way to config this settings. Does OsTicket support this configurations?

[2015-11-12 06:51] mfelber commented on #2721
My understanding is that this is not possible. Only departement email adresses could be used for outgoing mails.

In the next major release 1.10 it will be possible to use the agents "name" on replies (but still not their email address):
https://github.com/osTicket/osTicket-1.8/pull/2700

[2015-11-12 07:07] #2721 closed

[2015-11-12 07:15] alirezastack opened #2722 "How to configure osTicket to fetch emails from a specific date?"
When I configured email address of department in order to fetch emails from my inbox, osTicket fetched emails for about 2 years ago and created tickets for all of them, isn't there a way to say fetch from a specific date or so?

[2015-11-12 08:46] mfelber opened #2724 "1.9.12 - When deleting a ticket the attachments won't be deleted"
I have noticed that when you delete a ticket the attachments from the corresponding ticket are still in the database. This also occurs when you use the file storage plugin and store the attachments in the filesystem (then the attachments are still stored in the filesystem)

I got no errors in my web server error log or in the osticket system log.
I have tested it with my production and my testing

[2015-11-12 08:47] davideakc commented on #2716
So for now there's no way to do something? (experimental)

[2015-11-12 12:02] harishbsrinivas commented on #2562
We have the same  problem as well. Setup OTRS V 1.9.12 from scratch everything works except for email (using google hosted email)

[2015-11-12 12:19] Hannibal226 commented on #2722
Why u don't go into inbox, create a folder below (e.g. "old mail") move all old into that.
After this starting the fetch?

As I understand u correct it also isn't nessecary that u keep all of them directly in inbox,
so why so complicated? :P

CHEERS!

[2015-11-12 13:59] infectormp commented on #2724
https://github.com/osTicket/osTicket-1.8/issues/1966#issuecomment-93736718
https://github.com/osTicket/osTicket-1.8/issues/1966#issuecomment-94456719

[2015-11-12 14:04] ntozier commented on #2722
osTicket fetches all email in the mail box.
The only ways to prevent that would be to 1. delete the old messages. or 2. move them to a sub folder.

[2015-11-12 14:08] ntozier commented on #2562
OTRS?  This is osTicket, not OTRS.

[2015-11-12 14:11] mfelber commented on #2724
Ah, ok I understand :-)

Thank you @infectormp for the hint!

[2015-11-12 14:11] #2724 closed

[2015-11-12 15:01] ntozier commented on #2602
As a side note PHP 7.0.0 RC 7 was released 12 Nov 2015 and includes the following statement:
"If no major issues appear within the usual two-week test period, the 7.0.0 general availability (GA) release will be brought out."

[2015-11-12 16:30] infectormp commented on #2602
i will switch to PHP 7 after release.

[2015-11-12 21:22] goobersmooch opened #2727 "1.10-RC.2 Stuck At Please Wait Screen For 60-90 Seconds When Creating Ticket With New Ticket Alerts Enabled"
When i create a new ticket as a user and hit the create ticket button the page stays on the “Please Wait!" screen for 30-90 seconds.

![screen shot 2015-11-12 at 3 09 04 pm](https://cloud.githubusercontent.com/assets/15216195/11131559/dee1033a-8950-11e5-9056-e169adb8e722.png)

This only happens when i have new ticket alerts enabled.

![screen shot 2015-11-12 at 3 13 08 pm](https://cloud.githubuser

[2015-11-12 21:28] ntozier commented on #2727
"as a user"
As a user (client)?  or as an Agent (staff)?

How do you have email configured? (phpmail?  SMTP?)

[2015-11-12 21:47] goobersmooch commented on #2727
A user as in a client. I've tried both SMTP and phpmail with the same results.

[2015-11-13 06:29] bhiscox opened #2728 "When creating a task in v1.10-rc.2 (231f11e) the assignee does not stick"
When creating a task in version v1.10-rc.2 (231f11e) it seems as though the assignee does not stick and when you go back to the task after it is created the task always says 'unassigned'.

[2015-11-13 06:49] bhiscox opened #2729 "Deleting logos does not work."
When you select one or more logos to delete (after already choosing and saving another default logo) nothing happens after hitting save.

[2015-11-13 11:22] infectormp commented on #2592
This solution https://github.com/osTicket/osTicket-1.8/issues/1936  fix this problem

[2015-11-13 11:22] infectormp commented on #1936
Thank you. This fix work perfectly

[2015-11-13 13:17] Lauwens opened #2730 "1.10 RC2 - Thread_entry body over 64k breaks reply form"
The relpy-to on our newsletters are fetched by osTicket as new tickets. Most reply with the newsletter quoted and this makes the mails exceed 64.000 characters.

Problem is that it breaks in the middle of some html from the newsletter resulting in bad html mark-up for everything underneath the entry.

![example](http://www.sennetshop.be/support.gif)

Most of the times if it happens nothing submits

[2015-11-13 13:42] goobersmooch commented on #2729
Have a look at #2433. I think that will solve your issue.

[2015-11-13 14:11] ntozier commented on #2730
Add an (invisible to the reader) Reply Separator Tag into your newsletter.

[2015-11-13 14:58] Lauwens commented on #2730
And if that is out of my control ?

I didn't have this problem on the 1.8branch so I was wondering if there is a reason why the field is now limited

[2015-11-13 15:34] ntozier commented on #2730
Well... I would be surprised if you couldn't have the HTML newsletter template altered to add a simple
'<div style="display:none">-- do not edit --</div>' near the top.

By default _ticket_thread body is a MEDIUMTEXT.  So it should be able to hold 16,777,215 bytes (or 16 MiB). If you are actually hitting the data cap for that field you could update it to a LONGTEXT (4 GiB)... or BLOB. Since you sa

[2015-11-13 15:43] Lauwens commented on #2730
utf8 and utf8_general_ci this is on a MiariaDB 10.0.20

[2015-11-13 15:53] ntozier commented on #2730
What is your max_allowed_packet size?

[2015-11-13 15:56] Lauwens commented on #2730
SELECT @@global.max_allowed_packet
result: 33554432

[2015-11-13 16:05] kaptk2 opened #2731 "1.10RC - When printing a ticket the time is displayed incorrectly"
When a ticket is printed out the timezone doesn't seem to be respected. It displays correctly on the site itself but when it is printed the wrong time is shown. I have made sure that the time is set correctly on the server and double checked the users profile to ensure they had the correct timezone set in their profile. The fact that it shows fine when viewing the ticket on screen leads me to beli

[2015-11-13 21:32] Hannibal226 commented on #2309
@greezybacon
As I moved our ticket system from my local PC to a server we now have a lot more of those annoying alerts.  (maybe request times?)

I'm reading this correctly and even with 'develop-next' no guarantee for getting rid of it?
Or how is the state of this now?

An personally I would like that even going back and forward keeping texts (working drafts), but anyway if there is no real soluti

[2015-11-15 20:54] infectormp commented on #1936
This solution also fix problem with exporting big list of tickets.

[2015-11-16 06:21] gemini1976 commented on #2562
it's the same happening from my installation. osTicket 1.9.12 and when i'm configuring the emails
IMAP:
Username: admin@gmail.com
Password: ********
Hostname: imap.gmail.com
Port: 993
Mail Box Protocol: IMAP or IMAP+SSL

SMTP:
Hostname: smtp.gmail.com
Port Number: 587
Authentication Required: enable

I already enabled IMAP settings from my gmail account but it shows these error:
[CLOSED] IMAP conn

[2015-11-16 10:59] davideakc opened #2732 "1.9.12 - Search by subject"
Hi,

I wanted to know if it is possible to searching tickets only by the subject.

For example: now if I search "world", I find all tickets with "world" in the subject (correct) but also, tickets that have that word in the body.

How can I exclude these last and search ONLY from the subject?

[2015-11-16 11:48] AlexYoung28 opened #2733 "SLA Based On Org"
Hi,

Did have a quick search but do we have an option cause i've looked based on the org what SLA they have automatically.

So if you log a ticket for a new org or create a new org then you can specify what SLA that company has.

[2015-11-16 12:52] Zholaman commented on #2707
Hi @infectormp, I have deployed new VM (**Ubuntu v15.10**) with last version of **PHP v5.6.11**, **MariaDB v10.0.22**, but it is did not help. The bug still exists.

[2015-11-16 13:36] ntozier commented on #2562
Please help us to help you by reading and following the posting guidelines located in this thread: http://www.osticket.com/forum/discussion/77765/please-read-before-requesting-assistance .  The more information you give us the better we will be able to assist you. Thank you.

[2015-11-16 13:39] ntozier commented on #2732
That feature is not available in 1.9.12.
It is however in the forth coming 1.10.

[2015-11-16 13:42] ntozier commented on #2733
That is not a feature at this time.

[2015-11-16 15:20] jccastros commented on #2562
Hello,

My problem was solved by changing server . Hostinger said there was no problem . But the fact is that when testing osTicket on a dedicated server works perfectly . So I've been forced to hire one and hence the application host .

I hope that helps.

Greetings and thank you.

[2015-11-16 15:20] #2562 closed

[2015-11-16 16:00] ulfkreutzberg opened #2734 "1.9.12 Newlines and formatting broken in Cc e-mails"
This is concerning v1.9.12 (19292ad), german language pack.

Hi all,
as an agent and admin, I write answers in plaintext (no rich text format enabled) to customers.
While the original plain text formatting is O.K. if received by the original user, newlines seem to be broken if there are additional users involved in a ticket, to whom Cc-mails are sent.
So mails to the original recipient are well fo

[2015-11-16 18:15] PacCharles commented on #2606
I seem to be having the same issue as Hannibal226.
Upon first creating a new Knowledgebase FAQ, whatever I type is saved. If I have added an attachment as part of creating the new article however, the attachment is not saved to the newly created KB article.  I can then open my just-created article, add my attachment, and the attachment will still be there after I save the article a second time.

T

[2015-11-16 22:47] gamba47 opened #2737 "Support response to everyone in plain text?"
Hi guys, i have a problem, i'm working with the latest osticket 1.9 from git.

The problem is every link send by osticket is not a link, only show the link but without the posibility to click over and open in the preferred browser.

Is there any configuration?

Best regards.

Emiliano - gamba47

[2015-11-16 22:54] gamba47 commented on #2737
Editing title post.

[2015-11-17 07:26] Hannibal226 commented on #1189
As it seems like my last post wasn't published, I'll do it again:

After moving our ticket system from my local PC to our webserver we now get a lot more of those "unable to save draft" alerts. (v 1.9.12)
So I think it's because the answer time etc.

But my main question now is:
Is there now any feedback, that it's gone with the <develop-next>? I remember that even some reported this bug with 1.10

[2015-11-17 15:43] goobersmooch commented on #2582
After some digging I've finally found the cause of this problem.

I started with the  v1.10-rc2 branch and started adding commits from the develop-next branch one by one until I found which one broke the user lookup from LDAP when creating a new ticket via the agent panel. It seems that the culprit is commit  2763707605e7875072adabdd91d95c713eeff9ae from #2479.

[2015-11-17 16:30] theodorocaliari commented on #2343
Yep, this work for me too - https://github.com/osTicket/osTicket-1.8/pull/2533 thanks

[2015-11-17 17:46] JamesPCS opened #2739 "Ajax problems while adding code"
It really shouldn't be this hard. I have a page that needs to generate reports called reports.php. I don't want to re-post the page. We are using 1.7 version and it works just fine doing an ajax call. However, I'm trying to upgrade us to 1.10 and now it seems all the ajax calls go through ajax.php.  I can't figure out how to properly pass my page to this file. I've tried going around it but when I

[2015-11-17 21:30] lifeofguenter commented on #513
Autoresponder emails not working on 1.9.12 - sending out emails works - so not a mail server misconfiguration.

[2015-11-18 06:46] infectormp commented on #513
@lifeofguenter Autoresponder emails work fine on 1.9.12

[2015-11-18 12:20] Aka4 commented on #2664
@greezybacon I know I should not ask but.... any chances v1.10 will be released in 2015 year?

[2015-11-18 12:35] philbertphotos commented on #2664
We can only hope

Sent from my iPhone

[2015-11-18 13:50] philbertphotos opened #2740 "10-RC2 Filter "send an Email" (bug)"
You are unable to type in the textarea when you enable the "Send to Email" the only way to type anything is to TAB into the control.

![11182015-091121](https://cloud.githubusercontent.com/assets/2892474/11242661/8a9bd45c-8dd9-11e5-9746-618c6d442f4b.png)

[2015-11-18 13:51] ntozier commented on #2664
I expect 1.10 to be released before the end of the year.
[which of course is not an official answer.]

[2015-11-18 14:59] AlexYoung28 opened #2741 "Guest User Creating Account"
Hi,

Is it possible so when a guest comes to the site and makes an account to enter the organization they are from? or have it recognize the domain name and match it to an existing org and put the new user in that?

[2015-11-19 11:54] theodorocaliari commented on #1243
In the v1.10-rc.2 after install, set and active the plugin, the textarea of extensions not showing is that right?

[2015-11-19 13:57] kest874 opened #2742 "Add option to use department's or agent's name on replies (suggestion/bug)"
In reference to: https://github.com/osTicket/osTicket-1.8/pull/2700

Suggestion: It would be nice if this is a global setting, so that all agents would follow the same setting.

Bug: Noticed that replies sent from the client work normally as they should.  However if the agent replies to the ticket via email the setting is not honored and the "From" name is not changed.

[2015-11-19 14:32] kest874 commented on #2742
Noticed this is default behavior based on the way the email reply is handled.

[2015-11-19 15:25] davideakc opened #2743 "1.9.12 - Changing order to tickets if internal note posted"
Hi,

it is possible (by editing the source code) move the ticket above to the list of all tickets when a new internal note is posted? (like if you set the priority to "High" or "Emergency"...
So I can always know if there's a new internal posted if the tickets go to the top position...

Thanks

[2015-11-19 20:41] gitfve opened #2744 "Editor backspace problem?"
Maybe it is me or Mozilla/Chrome but for long time the editor when replying a ticket from the back-end give me problem (have not used the front-end). When writing and then use backspace it often wont delete anything, and sudden it delete in the top or another place. Sometime it wont go to a new line when hit enter. The only way to fix it is to use the "code" viewer/editor and fix it in html.

[2015-11-19 21:00] ntozier commented on #2744
please see
https://github.com/osTicket/osTicket-1.8/issues/2373

This appears to be a duplicate report, please close it.

[2015-11-19 21:45] gitfve commented on #2744
Where to get a fix for the problem, I use v1.9.12?
Where find "Redactor"

[2015-11-19 21:45] #2744 closed

[2015-11-19 21:55] gitfve commented on #2373
Where to get a fix for the problem? I use v1.9.12 and the problem still exist.

[2015-11-20 05:10] mfelber commented on #2373
As you can see will be the fix the implementation of a newer redactor version in osTicket 1.10 (osTicket-1.8 develop-next). So you will have to wait until 1.10 is stable or as a workaround use a different browser..

[2015-11-20 14:41] AlexYoung28 commented on #2741
#2659

[2015-11-20 14:41] #2741 closed

[2015-11-21 10:32] alirezastack opened #2746 "How to see ticket history, reply to ticket and so on from API?"
I have seen that there is a ticket creation api method to create ticket via API. The question is how to have an API that could return ticket history for a specific user? I couldn't find any solution for it.

[2015-11-22 16:30] mlahloudsi commented on #534
Dear greezybaco,
Unfortunately, I've tried the patch ID #1867, but, nothing has changed in the user page
![faq_4](https://cloud.githubusercontent.com/assets/11594647/11324861/3546d064-9136-11e5-95e4-60846c499d00.JPG)
.
The FAQ is usually invisible for the users (please see Attachment)
![faq_1](https://cloud.githubusercontent.com/assets/11594647/11324842/9a57b186-9135-11e5-82a9-397e3c88b483.JPG)
![

[2015-11-23 02:41] ntozier commented on #2746
I would do that in at:
osticket.com/forums
The Suggestions and Feed Back section.

[2015-11-23 05:15] alirezastack commented on #2746
Thank you. Sorry for asking question in an inappropriate place.
http://osticket.com/forum/discussion/86866/how-to-see-ticket-history-reply-to-ticket-and-so-on-from-api

[2015-11-23 05:15] #2746 closed

[2015-11-23 07:18] Zholaman commented on #2707
Hi @ntozier, I have found that ticket's threads titles incorrectly encoded before being posted to the database. I changed text of some ticket's thread titles directly in database and thread's title (on russian) appeared in pdf correctly.

[2015-11-23 11:32] davideakc commented on #1577
In the 1.9.12 version this isn't been fixed.

Can someone suggest a code for avoid this problem?

[2015-11-23 12:35] davideakc commented on #1182
Is it possible to let users decide the time of the autosave?

[2015-11-23 12:43] ilvikingo opened #2747 "1.10 rc2 Task not showed"
Hi everyone,
 when I try to see task I cannot, any idea how to fix this?
![schermata 2015-11-23 alle 13 41 33](https://cloud.githubusercontent.com/assets/6615283/11336735/078fbc5a-91e8-11e5-9a18-0593e526e16e.png)

[2015-11-23 12:48] ilvikingo opened #2748 "1.10 rc2 Task in Filter"
Hi Everyone,

is there a chance to create a filter that create automatically a task when a help topic is used?

[2015-11-23 14:03] ntozier commented on #2747
Admin panel -> Agents -> Roles -> Tasks
You have permissions?
Was the task assigned to someone else?

[2015-11-23 14:05] ntozier commented on #2748
Not at this time, but I imagine that will be coming in a forth coming version.

[2015-11-23 14:07] ilvikingo commented on #2747
Hi ntozier , thanks for the reply!

Yes permissions are correctly set and assigned to me , the only agent atm

[2015-11-23 20:11] ooglek commented on #1225
+1

What would it take for someone to develop this feature and have it merged with OSTicket?

Despite the comment by ntozier of "Merge is not particularly high on the to do as there are more important features/functionality above it. I wouldn't expect a Merge feature for a while." based on the sheer quantity of +1's and duplicate opened tickets, I'd say the demand is pretty high.

I've been writin

[2015-11-23 21:40] BassemN commented on #1225
:+1:  for @ooglek

[2015-11-23 21:50] Chefkeks commented on #1225
@ooglek
Sounds good and reasonable to me. :)

Developers, what do you think?
@protich
@greezybacon
@nfebuary

[2015-11-23 21:53] snizzleorg commented on #1225
Yeah!

[2015-11-23 21:54] PeopleInside commented on #1225
:+1:

[2015-11-24 11:42] Hannibal226 commented on #1225
@ooglek
Cool that u show this initiative!

I'm quite sure @greezybacon is thankful, too but for sure I don't know what their rules about adding someone to github.
Maybe u can create merge function beside?

But we have to wait for the devs and see.

THANKS again.

[2015-11-24 13:54] t-oster opened #2750 "develop-next: Task cannot be assigned anymore"
After upgrading to 77309f4e939af489e4aac73beb9b7c4ad87c6c7d, I the box to assign a task to an agent is empty. Assigning tickets works as usual, but assigning tasks does not work. Neither on new, nor on existing tasks.

![no-assign](https://cloud.githubusercontent.com/assets/1052720/11368640/34dfb0e2-92bb-11e5-8d8d-c8424121a7bc.jpg)

[2015-11-24 14:14] ntozier commented on #1225
Re: "but for sure I don't know what their rules about adding someone to github."
Anyone can join github and make a pull request.
The devs will review the changes and accept or decline them.

[2015-11-24 14:16] Hannibal226 commented on #1225
@ntozier
OK sorry I meant 'the osticket' github part not github generally, sorry :P

But seems like it's possible for @ooglek then ;)

[2015-11-24 20:54] jdelhome3578 opened #2751 "install: Develop-Next Tip"
I have to comment out line 127 in class.config.php for install to run.