[2015-11-25 05:54] t-oster commented on #2750
Thanks to git-bisect (nice tool ;), the commit to blame is 06e425145df51a88ab10d118d6d3075265e4f184

[2015-11-25 05:59] t-oster commented on #2750
It still does not work If I set the department to have only members assignable.

[2015-11-25 06:09] erlangsec commented on #2004
This bug is problematic in Edge (Windows 10) since there for some reason is not triggered any progress indicator (page loading) upon clicking the submit button (I've not observed this apply to forms in general). So, when the SMTP connection takes up a bit of time, one could end up clicking both 5 and 10 times before getting to the next page, hence sending the message an equal amount of times.

[2015-11-25 06:17] t-oster commented on #2750
@protich could you review your commit 06e4251 and make sure the assignment still works on tasks afterwards? I reverted that commit and the assignment works again, so I am almost certain that your changes introduced this error.

[2015-11-25 11:21] Dynatrace-Adam-Gardner commented on #381
Looking at the <code>assign</code> function of the class.ticket.php

//Assign ticket to staff or team - overloaded ID.
    function assign($assignId, $note, $alert=true) {
        global $thisstaff;

        $rv=0;
        $id=preg_replace("/[^0-9]/", "", $assignId);
        if($assignId[0]=='t') {
            $rv=$this->assignToTeam($id, $note, $alert);
        } elseif($assignId[0]=='s' || is_nu

[2015-11-25 14:48] Ketrel opened #2752 "Option to queue mail sending to avoid long page loads"
Currently when an action causes an email to be sent, it's sent on the page load that generates it, and with slow SMTP servers (such as Office 365), this can cause long page loads.  (In my case, I'm getting page loads as long as 10 seconds when replying to a ticket, but instantaneous if I were to choose not to send an email)

An option that would avoid this would be to be able to add them to a queu

[2015-11-25 17:09] johnweidauer commented on #2728
same on my end.

[2015-11-25 17:12] johnweidauer opened #2753 "Adding Additional Tasks - list not updating"
When I add tasks, after the original, the subsequent tasks do not appear in the task list, even after clicking All Tasks (#).  I have to refresh the page to bind the new task(s).

[2015-11-26 00:46] kingIZZZY opened #2754 "Completely Separate Groups of Agents / Organizations / End users"
A more "generic" development company who might have several unrelated projects/products would want to service support for those various products separately: Each should ideally not be able to see/access any of the other Agents / Organizations' / End users / Tickets.

I.O.W. Instead of cloning an entire new installation of osTicket in order to service Agents & end users of Project A, Project B and

[2015-11-26 09:11] lehha commented on #2373
+1
wait for stable version, this error is a terrible inconvenience...

[2015-11-26 15:49] nfebuary commented on #2754
Multi branding is on the table and is being discussed. However, I cannot produce a development timeline for you since we are currently in the discussion/concept stage of this feature.

[2015-11-26 16:05] AlexYoung28 commented on #2754
+1

[2015-11-26 20:30] drtomasso opened #2756 "KB Sub-categories"
Hi

Is there any plans to add sub-categories for the knowledge base? If not, how about it? It would be great to sort all FAQ's into smaller sub-categories.

[2015-11-27 05:42] t-oster opened #2757 "Typo leads to Class 'ThredEntryBody' not found"
See commit comment in https://github.com/osTicket/osTicket-1.8/commit/d136963b74d456877cb9e8ed82d8b24b6cbca2d8

tickets.php on line 74

[2015-11-27 08:22] davideakc commented on #2743
Any idea?

[2015-11-27 13:47] ntozier commented on #2743
I haven't the foggiest idea of what you mean.
mock up?

[2015-11-27 15:25] kingapricot commented on #1346
I'm still encountering this problem on v1.9.12. Can someone please help me fix this problem. I'm a complete newbie when it comes to OsTicket. How can I apply the said patch on a Windows machine?

[2015-11-27 15:37] ntozier commented on #1346
@kingapricot  did you check to see if your code has the patch mentioned above?

[2015-11-27 15:41] kingapricot commented on #1346
@ntozier Where is my code? What is the file name and in what folder? I'm sorry I posses no knowledge about OsTicket

[2015-11-27 15:48] ntozier commented on #1346
Your code is wherever you installed it.
The patch is linked above https://github.com/osTicket/osTicket-1.8/pull/1947
check the lines mentioned in the one file affected.  include/class.mailer.php

[2015-11-29 03:47] colonelpopcorn commented on #2743
I think what he's getting at is a way to sort by latest response. That-a-way you can keep a finger on the pulse of what's going on at your help-desk.

[2015-11-29 05:27] MelikaAF opened #2759 "Create Ticket with Email"
Hello
I Hope Someone Can Help Me,
I Set Up osTicket (v1.9.12) and Outgoing Emails working well; emails notify agent, admin and department manager when new ticket create , and notify them when ticket close but i have problem with incoming Emails , i cant create ticket with email or reply tickets with mail.
in fact I want the functionality where the system should automatically create a ticket if my

[2015-11-29 07:36] ntozier commented on #2759
Then you should probably post at:
osticket.com/forum/

You should read this thread: http://www.osticket.com/forum/discussion/77765/please-read-before-requesting-assistance before requesting assistance.  You also will probably want to read this wiki article: http://osticket.com/wiki/POP3/IMAP_Setting_Guide

[2015-11-29 10:12] MelikaAF commented on #2759
Thank You So Much

[2015-11-29 20:03] BlackSkorpio commented on #2369
+1 for this!

[2015-11-30 02:45] protich commented on #2757
Thank you for the PR - it's now merged.  Our lint test doesn't cover statically called functions -- hint: someone should add it.

[2015-11-30 02:45] #2757 closed

[2015-11-30 03:18] #2759 closed

[2015-11-30 03:32] protich commented on #2753
Tasks related fixes, including the count, are in pull request #2760

[2015-11-30 04:08] protich commented on #2743
"Most Recently Updated" sort is supported in the upcoming version (V1.10).

[2015-11-30 04:10] protich commented on #2750
@t-oster - Yes, I'm guilty of breaking the assignment. PR #2760 address the issue + other tasks related bugs.

[2015-11-30 09:38] Aka4 commented on #2664
@ntozier But you think that before the end of the year will be released stable final version of 1.10 or rather only RC3?

[2015-11-30 10:09] kingapricot opened #2763 "No logo osTicket-1.9.12"

[2015-11-30 11:20] #2763 closed

[2015-11-30 14:23] ntozier commented on #2664
It's speculation, but I believe that 1.10 will be released between now and early Jan.  I am not a dev so this is not an official answer and purely my opinion.

[2015-11-30 14:24] ntozier commented on #2763
I'm presuming that you fixed your problem since you deleted the text of your issue, and closed it?

[2015-11-30 14:29] kingapricot commented on #2763
Yes, my problem was related to the browser I was using

On Mon, Nov 30, 2015, 3:24 PM ntozier <notifications@github.com> wrote:

[2015-11-30 16:58] nfebuary commented on #2756
We are looking into doing a FAQ overhaul as well as the user side UI and function. It's possible it wont be in this release since we are working on things in order of importance.

[2015-12-01 08:58] c0mputerjunky commented on #1102
Okay... but how to install it with the language pack at the beginning? Where i have to put the file in?

[2015-12-01 13:19] danielbald commented on #2628
Bug is present on Debian jessie PHP 5.6.14-0+deb8u1

Can confirm the temp fix from @mfelber works.

[2015-12-01 13:31] colonelpopcorn commented on #2748
+1 for this feature.

[2015-12-01 14:20] robertskiba commented on #2628
Hi Guys,

I just found this thread because I had the same problem with my osticket-installation on big european hoster HOSTEUROPE. In the last week, I just changed my main php installation from php 5.5 to php5.6. At my hoster, it's just a klick to to this. I didn't recognize any changes because everything seemed to work fine: My Ticketing-Mails were received by pop from all my three accounts as it

[2015-12-01 14:21] philbertphotos opened #2764 "Ablity to assign TASKS to users in 1.10RC2"
I find that there is a need to assign a task to the user and not just a team member. Is there anyway to do this ?
(feature)

[2015-12-01 14:54] ntozier opened #2765 "[Feature Request] download all attachments zip"
Forum member davideakc suggested that if a ticket has multiple attachments that a feature be developed to make it so that there is an option to zip all attachments into one archive to be able to download all the attachments at once.

I imagine that osTicket would grab the attachments, and create an archive on the fly for the user to download, but am open to suggestions.

source: http://www.osticke

[2015-12-01 14:58] ntozier commented on #2764
There is no way to do that at this time... but I think that I like the idea!

[2015-12-01 15:04] kingapricot commented on #1346
@ntozier I figured it out thanks, but the said patch didn't work for me unfortunately.
![mailer](https://cloud.githubusercontent.com/assets/16048765/11504371/435093fa-9845-11e5-939b-ea646ff899b8.PNG)

[2015-12-01 15:07] goobersmooch commented on #2752
I'm having the exact same issue using SMTP with Office 365, but our page loads are much longer than 10 seconds. See #2727.
An option like @Ketrel suggests above would be great.

[2015-12-01 15:07] Chefkeks commented on #2765
+1 from me

Two ideas:
1) (for agents) A tab with "Attachments" would be nice - next to Ticket thread and Tasks tabs which contains all attachments with some sort of grouping option, so you can download only e.g. all end user attachments or all end user + all agent attachments

2) Instead of the first idea with the extra tab, when you click on a attachment a simple dropdown menu will come and the

[2015-12-01 15:18] balojs commented on #2765
+1

[2015-12-01 16:35] mutualaidlabs opened #2766 "Upgrader Script Issue 1.10RC2"
Playing around with the new RC2 upgrader and noticed the following:
1. Issue with the following statement during the upgrade:
   [INSERT INTO `%TABLE_PREFIX%staff_dept_access` (`staff_id`, `dept_id`, `role_id`) SELECT A1.`staff_id`, A2.`dept_id`, CASE WHEN A2.`role_id` = 0 THEN A3.`role_id` ELSE A2.`role_id` END FROM `%TABLE_PREFIX%staff` A1 JOIN `%TABLE_PREFIX%group_dept_access` A2 ON (A1.`group_

[2015-12-01 17:33] protich commented on #2764
@philbertphotos - By user do you mean Agents? If so, then perhaps you don't have any available/eligible agents.

@ntozier - That's what tickets are for! Attaching a task to a user's ticket is the closest thing you can do to associate a task to an end user.

Tasks are meant to be internal to do list with external collaborators.

[2015-12-01 17:37] protich commented on #2748
Canned Tasks a planned feature but it won't make 1.10 cut.

[2015-12-01 21:54] exmex commented on #2369
+1

[2015-12-01 21:59] ntozier commented on #2764
@protich Yes I know that's the way the system is designed... I was just thinking that I can see why assigning a task to a User (client) might be a great idea.  It could be something that is as simple as "Please reboot the computer and try again and let us know if it fixes it".  Currently we (my agency) does this with a simple reply to the client but having a mechanism that the user has to do somet

[2015-12-02 00:49] philbertphotos commented on #2764
That the idea also it stops the SLA until the user completes the task and closes the task.

Sent from my iPhone

[2015-12-02 09:12] kingapricot commented on #1346
I have replaced everything in my class.mailer.php with the data on this page
https://github.com/greezybacon/osTicket-1.8/blob/5a42156bf7b2543b7995ba9b86e693f64eda38a5/include/class.mailer.php
Still not working

[2015-12-02 11:26] davideakc commented on #2765
+1 ahaha

[2015-12-02 19:55] kest874 commented on #2582
Can confirm this is broken again.

[2015-12-02 20:56] superjunky opened #2769 "Timezone not correct in custom form fields"
Hi,

In OST 1.10RC2 I am having an issue with timezone settings.

Problem: Time from a custom form field is of by 1 hour.

I am running the same OST installation on 2 different machines, both with the same OST settings.
Server 1 is correct. Also on the system settings page, a Default Locale settings can be set.
Server 2, ticket times seem to be correct, custom form fields are not. On this system s

[2015-12-02 21:37] mickeprag commented on #2369
+1

[2015-12-03 16:25] Demy1992 opened #2770 "DB Error #1062"
Hi, I'm new at this. Sorry for my bad English. I had this problem yesterday (my version is 1.9.12)

[INSERT INTO ost_draft SET `namespace`='ticket.client.jlfvc1sqrvc7' ,body='' ,staff_id='0' ,created=NOW()]

Duplicate entry '0' for key 'PRIMARY'<br />
<br />
---- Recular ----<br />
#0 (raíz)/include/mysqli.php(177): osTicket->logDBError('DB Error #1062', '[INSERT INTO os...')<br />
#1 (raíz)/inclu

[2015-12-03 17:15] bcowman opened #2771 "Blank Date Column with UK Date format"
Version 1.10-rc.2

I have a default installation and my open tickets are listed with US date format MM/dd/y
![image](https://cloud.githubusercontent.com/assets/6651942/11567851/0f9889bc-99e1-11e5-8341-4cf66d2cdac5.png)

If I change the system settings to UK date format dd/MM/y
![image](https://cloud.githubusercontent.com/assets/6651942/11567887/36f7ec8c-99e1-11e5-828e-cc1d803cb667.png)

then go ba

[2015-12-03 17:47] ntozier commented on #2770
You can try dropping the contents of the ost_draft table. The error literally says I tried to add this record as #0, and it already exists.

[2015-12-03 22:22] mnacl opened #2773 "Sorting tickets sorts pages, not full view"
Version 1.10-rc.2

When you sort the list of tickets, like open tickets, it sorts them in the correct order on each page but not the full list of tickets. In other words, it does the sorting on each page of tickets displayed and not on the list of tickets before they are split into pages. Example:

Top of page 1:
![1](https://cloud.githubusercontent.com/assets/9755180/11576051/4232e5ba-99e2-11e5-8

[2015-12-04 09:11] sbattar commented on #2451
Here is what I did to successfully upgrade from osTicket1.9.12 to osTicket1.10RC2
Backed up the 1.9.12 db and folders.
Installed osTicket1.10.rc2 with the db name same as my production with empty data.
went into the mysql command line
Ran..
DROP TABLE `ost_translation`;
ALTER TABLE `ost_attachment` DROP `lang` ;
ALTER TABLE `ost_staff` DROP `lang` ;
ALTER TABLE `ost_staff` DROP `extra` ;
ALTER TAB

[2015-12-04 09:42] Demy1992 commented on #2770
Nothing changed. When I create a ticket the System spam me this message:

Unable to save draft. Refresh the current page to restore and continue your draft

[2015-12-04 12:22] dmiguel92 commented on #1189
I have this problem at 1.9.12. How can I solve it?

[2015-12-04 12:27] studiorepublic opened #2774 "Access link not being populated"
We're having issues with the access link sent out from osTicket 1.9.12

All other email links are populated correctly, but these are not - we end up with this:

Follow the link below to check the status of the ticket #999999.

[xxxxx.org.uk/view.php][1]

[2015-12-04 12:38] gmt-it opened #2775 "SQL Database with ISO Countrycode and Countryname in DE, EN, RU, FR, ES, IT"
Hello all,

after searching Google for a database with translations of countrynames and not found one that is good to use, I made a databse with ISO Code and Country names in DE, EN, RU, FR, ES and IT. If some of you want such a database, its free to use.

Regards

Guido

[countries.txt](https://github.com/osTicket/osTicket-1.8/files/52024/countries.txt)

Rename it to .sql, ist a MySQL dump.

[2015-12-04 13:55] ntozier commented on #2773
So you mean this?
https://github.com/osTicket/osTicket-1.8/issues/2499
or
https://github.com/osTicket/osTicket-1.8/issues/2488

Please close duplicate report.

[2015-12-04 14:00] ntozier commented on #2774
This seems more like a question for the forums...
Version of osTicket?
What's the HTML view of the template that you are using?

[2015-12-04 14:24] studiorepublic commented on #2774
This is what we have:

`Hi %{recipient.name.first},
An access link request for ticket #%{ticket.number} has been submitted on your behalf for the helpdesk at %{url}.

Follow the link below to check the status of the ticket #%{ticket.number}.

%{recipient.ticket_link}

If you did not make the request, please delete and disregard this email. Your account is still secure and no one has been given acc

[2015-12-04 14:49] ntozier commented on #2774
Appears that this has already been reported here: https://github.com/osTicket/osTicket-1.8/issues/2201

[2015-12-04 14:59] studiorepublic commented on #2774
I think it's something else in our case as it looks fine in the DB

<h3><strong>Hi %{recipient.name.first},</strong></h3> <div> An access link request for ticket #%{ticket.number} has been submitted on your behalf for the helpdesk at %{url}.<br /> <br /> Follow the link below to check the status of the ticket #%{ticket.number}.<br /> <br /> <a href="%{recipient.ticket_link}">%{recipient.ticket_lin

[2015-12-04 15:00] studiorepublic commented on #2774
Don't think so - the code looks fine in the db to me:

`<h3><strong>Hi %{recipient.name.first},</strong></h3> <div> An access link request for ticket #%{ticket.number} has been submitted on your behalf for the helpdesk at %{url}.<br /> <br /> Follow the link below to check the status of the ticket #%{ticket.number}.<br /> <br /> <a href="%{recipient.ticket_link}">%{recipient.ticket_link}</a><br />

[2015-12-04 15:01] studiorepublic commented on #2774
Don't think so - it looks fine in the db:

[code]

[2015-12-04 15:55] mnacl commented on #2773
Sorry, my search wasn't thorough enough before posting. Closed as a duplicate.

[2015-12-04 15:55] #2773 closed

[2015-12-04 18:19] jonbriner opened #2776 "Ticket Filter not setting priority correctly"
osTicket v1.9.12-12-gb1c845b (b1c845b)

I've set a Ticket Filter rule "Addressee (To and CC)" to a particular email address, and then set the Filter Action to set "Priority" to "High."

When I send an email to the address, a ticket gets created, but the Priority is set to Normal (not High).

[2015-12-04 19:21] jjjj12212 commented on #2602
PHP 7.0 has been fully released today.

[2015-12-04 20:31] ClareTC opened #2777 "Ticket Filters - routing tickets based on a combination of criteria"
Can someone help me understand how I can route tickets based on a combination of criteria?
I was looking to build as few rules as possible, but it looks like I might have to build multiples.
I want to use the User/Organisation as one criteria (for example, a user could be assigned to Site 1 or Site 2) and then use the help topic ID as the second criteria (for example Topic A or Topic B).
I want to

[2015-12-04 21:33] fofosanchezhn commented on #326
hi :) sorry about my silly question but i'm kinda new in this area, can you tell me please in what archive have to apply the patch? already i try it in the class.tickets.php but didn't work :(

[2015-12-04 21:35] fofosanchezhn commented on #326
ps. i'm using the version 1.9.12

[2015-12-04 21:54] clonemeagain commented on #326
I haven't upgraded to 1.9 yet, essentially it was just a few extra lines in the onAssign method, utilizing the transfer method with a log message.
I should probably upgrade, been slack. Msg me on Monday and I'll write a new patch for you if you want.

[2015-12-07 07:44] oneilak opened #2778 "osTicket an MS SQL"
Hello everybody,

it is actually planned times to support Microsoft SQL Server?
I would find it great and think that it would be good for the performance.

[2015-12-07 07:45] oneilak commented on #2769
please check the timezone settings at php.ini

[2015-12-07 08:49] infectormp commented on #2602
PEAR-1.10.0:
* Add support for PHP 7
* Drop support for PHP 4 and 5.0 - 5.3

[2015-12-07 10:01] infectormp commented on #2778
Microsoft SQL Server and performance incompatible :) Would be better add Oracle support

[2015-12-07 11:46] kingapricot opened #2779 "PHP.ini location"
Where is my PHP.ini? I have osTicket installed on a Windows machine

[2015-12-07 11:47] kingapricot commented on #2769
@oneilak Where is the php.ini located?

[2015-12-07 11:47] oneilak commented on #2779
with iis or xampp or other?

[2015-12-07 11:53] kingapricot commented on #2779
@oneilak wampserver 2.5

[2015-12-07 11:57] oneilak commented on #2779
The simple solution is to left click the WAMP Server system icon and go to PHP then click the php.ini menu option.  The correct file is opened in notepad.

\wamp\bin\apache\apache2.x.x\bin﻿\php.ini.

[2015-12-07 11:59] oneilak commented on #2769
@kingapricot  #2779

[2015-12-07 12:31] kingapricot commented on #2779
Thank you very much!

[2015-12-07 14:39] superjunky commented on #2769
Installing the intl php module solved my issue

[2015-12-08 09:41] rjboer opened #2780 "Ticket print extremely slow with multiple tables"
Hi,

We are extremely satisfied with OSticket but lately we have been experiencing a thing that we cannot explain (server info below).

In most cases when we hit print, we are returned a pdf just fine. However in a ticket with specifically an iformbuilder email it takes longer than usual.
The screen turns blank, and stays that way.....(where as normally within seconds a pdf would appear).
then aft

[2015-12-08 20:02] Kozlov-V opened #2781 "1.10-rc.2 "deploy" do not is executed"
I try deploying cloning code, and run this command as root:
`php manage.php deploy --setup /var/www/htdocs/osticket/`
but nothing happens
/var/www/htdocs/osticket/ - is empty

all files and folders have 777 permission

[2015-12-09 07:50] oneilak opened #2782 "v1.9.12 - change ticket source"
hey people,

i dont can add a new ticket source.
see someone's fault or what am I doing wrong?

the error
![2015_12_09_08_44_06_osticket_staff_control_panel](https://cloud.githubusercontent.com/assets/13413719/11679473/b0fe1032-9e51-11e5-8c72-bd8650b12b40.png)

and the additional seetings

![a12001d5cdc0b4f63a3f58d3a1331b](https://cloud.githubusercontent.com/assets/13413719/11679502/dbea3fb4-9e51-

[2015-12-09 13:52] Aka4Code opened #2783 "Quote formatting (blockquote) the same in web form and at email messages"
When we use Quote formatting, then we get in osTicekt web form, some nice text style:

![image](https://cloud.githubusercontent.com/assets/11789024/11686653/5b7672cc-9e82-11e5-96c4-6ac432263cbd.png)

![image](https://cloud.githubusercontent.com/assets/11789024/11686673/840733ac-9e82-11e5-9a44-e307f66e1b05.png)

But this effect is only at website.
With emails this gray line do not exist.

I would l

[2015-12-10 02:07] tsmanz commented on #2242
Hi @molul is your mod working for 1.9.12 ? Are you able to post it again as I can't find any other mods as current as yours. This seems like it should really be a standard setting available in osticket.

[2015-12-10 08:42] oneilak commented on #2630
Hey boys

there is the something new? :-)
We are already waiting to finally upgrade :-)

[2015-12-10 08:59] axwell commented on #2628
Hello,
OsTicket is using a local copy of pear and it is outdated.
Donwload
https://pear.php.net/package/Net_SMTP/download
http://pear.php.net/package/Net_Socket/download

replace SMTP.php and Socket.php from "include/pear/Net/" with the ones from the downloaded archives.

Changelog for SMTP
- Add TLSv1.1 and TLSv1.2 support for STARTTLS connections. (#22)

Once you do this, osticket should work.

[2015-12-10 09:12] Demy1992 commented on #2770
I solved it. Was a problem with the auto_increment of the DB.

[2015-12-10 09:12] #2770 closed

[2015-12-10 09:24] molul commented on #2242
Sure! Here it is:
[luis-mod.zip](https://github.com/osTicket/osTicket-1.8/files/57843/luis-mod.zip)

Hope it helps!

[2015-12-10 09:52] Aka4 commented on #2783
This is related to #176

[2015-12-10 10:01] Aka4 commented on #2783
Ok., I have found:

`/include/class.mailer.php`
at the begining of `function send($to, $subject, $message, $options=null) {`
after line `global $ost, $cfg;`
if we add:
`$message = str_replace('<blockquote>', '<blockquote style="font-style: italic !important; border-left: 5px solid #eeeeee; color: #777; padding: 10px 20px;" >', $message);`

then email Quote formatting will work in email messages

[2015-12-10 10:25] zeeshankhurshid opened #2786 "Ticket not created sometimes on creating ticket from Agent panel"
I have seen few time when creating a fresh ticket from Agent panel, Tickets were not generated. How ever from API I had never faced any such case.

Event I had watched issue for each bucket but was not able to find ticket few time.

Hope to get resolution and reason behind it.

Thanks
Zeeshan

[2015-12-10 10:30] zeeshankhurshid opened #2787 "Advance search save filter issue"
By mistake once I saved a filter search case with no name, first it gets saved with null plus it took my osticket portal down. [ this is related to your new advance search release under 1.10]

[2015-12-10 13:44] ntozier commented on #2786
Version of osTicket?
I have never once had this problem in over 3 years.
Are you getting any PHP errors?
What webserver are you hosting under?

[2015-12-10 13:48] zeeshankhurshid commented on #2786
I am having version 1.8 on live however on dev env I am having 1.10 but I
had noticed this prob on both the environment. I never get any error. New
ticket page gets posted which takes me to ticket listing page which does
not my last ticket with no logs at admin too.

Thanks
Zeeshan

On Thu, Dec 10, 2015 at 7:14 PM, ntozier <notifications@github.com> wrote:

--
Thanks & Regards
Zeeshan Khurshid

[2015-12-10 14:40] ntozier commented on #2787
You would have to either manually edit your DB or run a SQL query to fix this.

This SQL statement
UPDATE ost_queue SET `title`='EDITME' WHERE `title` IS NULL;

Will update any saved search with out a name and set it to EDITME.  So then you can click on it in the ui and edit it.

[2015-12-10 22:58] tsmanz commented on #2242
Thanks for sending that through, I tried copying just the "LUIS MOD" section into the existing files but it didn't work as there are a few other differences in the files. I then tried replacing the entire files with the ones you posted and it works. Which version are these created for?
Thank you for this, hopefully osticket eventually include this as an option in the admin panel in a future releas

[2015-12-11 07:20] Chefkeks commented on #1346
@kingapricot
Can you post some more info like email client you're using and header info from the emails (message-id, in-reply-to, references)?

Beside, have you tested, what happens when you connect to the mailbox via a different email client? Does it show correctly there?

[2015-12-11 09:37] kingapricot commented on #1346
@chefkeks, I have tested it in gmail and outlook 2016, Gmail handels the emails as it should, it creates one conversation/thread. In outlook 2016 it does not, see my screenshot in my previous comment.

This is the info from outlook 2016,
X-MS-Exchange-Organization-Network-Message-Id: e62b49cf-8332-4194-f1b0-08d3014d9139
In-Reply-To: <4152e8c0ab8c490aa659da302abff0a4@ICT-EXCH.riwo-ict.local>
Refere

[2015-12-11 10:14] molul commented on #2242
Oh! Sorry for that. It was created for 1.9.x (don't remember exactly which one) and then later ported to 1.9.8 just by copying and pasting the "//LUIS MOD" parts.

I wish I knew how to convert these mods into plugins, so I could easily update to newer versions.

[2015-12-11 14:08] Chefkeks commented on #1346
Using Outlook 2016 too, but disabled the conversation view - so going to enable it again and check how my outlook behaves here.

Beside, we've found that some feature (for what ever reason) have been removed from Outlook (e.g. selecting&copying all attachments with CTRL + A, which worked in every previous version) so I'm not sure whether the Outlook guys "improved" something here as well... ;)

[2015-12-12 16:22] philbertphotos opened #2790 "Automaticly add user as a collaborator of a TASKS in 1.10RC2"
It would be nice feature to automatically add a user as a collaborator to a task if the task was created within a ticket.

[2015-12-13 20:48] PiHSD opened #2791 "Redactor RTL Support doesn't work anymore (v1.10-rc.2)"
Somehow RTL support / plugin integrated within Redactor doesn't work anymore. Within commit 158388e9625c87cc7d869beecc26a1e04a087869 the textdirection plugin was disabled (line 305, 306) in file "js/redactor-osticket.js". If Arabic language is active the editor doesn't detect RTL alignment anymore and there is no way of manual switching.

[2015-12-14 02:46] SebTM commented on #2782
You have a mistake in your change in the "class.ticket.php" (3. Screenshot):

The condiation is "!in_array(strtolower" so you need to write "monitoring" with an small "m". Then it will work, I think ;)

[2015-12-14 07:50] Chefkeks commented on #1346
Update:
Just tested with Outlook 2016 again... definitely not working, for whatever reason. All I got was a nice little message popup (while playing with the "Conversation" settings) that told me first "Outlook is not responding" and after a few seconds it just said "Restarting Outlook" ... so my feelings are that MS "improved" Outlook 2016 conversation settings... :(

[2015-12-14 07:53] zeeshankhurshid opened #2792 "Ticket filters not getting created by applying rule on ticket status"
I was trying to create a ticket filter but I was not able to find ticket status under ticket rule section. Is it any problem adding ticket status in ticket rules ?

[2015-12-14 08:26] oneilak commented on #2782
oooooookkk it works ... :-D why?!

thx

[2015-12-14 09:52] iJar82 commented on #6
Just one question!
Where can I get this theme!!

[2015-12-14 09:56] bkonetzny opened #2793 "Expose email headers to issue filter"
Currently it's possible to create issue filters which are based on email subject or body. It would be a great addition to filter issues based on email headers, for example deny issue creation if an auto-responder header is present in the email. This is far more reliable than checking for the subject line, which differs for auto-responders such as away or vacation messages.

With this change, one c

[2015-12-14 09:56] lello89pt commented on #6
send me a mail
marcellosannai@gmail.com

[2015-12-14 10:08] kingapricot commented on #1346
Thanks for your help. Now I know that this problem is specific to outlook 2016, office just gets worse every year. SBS 2011 isn't even compatible anymore with office 2016.

[2015-12-14 13:32] LucasBurg commented on #2172
I have the same problem, but I want to contribute to the project . What should I do ?

[2015-12-14 14:04] ntozier commented on #2792
version of osTicket?

in 1.9.x and 1.10+  it would be Ticket / Issue Summary.

[2015-12-14 14:07] ntozier commented on #2782
My guess is that the system is converting the value to lower case prior to inserting it into the DB to avoid case sensitive issues (and of course since it is... caused one)

[2015-12-14 14:13] oneilak commented on #2336
@greezybacon

i would try it but how can I edit the phar file? or you can "new" provide for a test?

[2015-12-14 14:16] oneilak commented on #2782
crazy but okay ...:-)

[2015-12-14 14:16] #2782 closed

[2015-12-14 14:27] superjunky opened #2795 "Catchable fatal error when receiving mail in 1.10RC2"
When I receive replies from a certain email address, ost creates a new ticked instead of attaching the reply to the existing ticket, and displays the following error.

Catchable fatal error: Method EmailAddress::__toString() must return a string value in /include/mysqli.php on line 300

[2015-12-14 14:42] ntozier commented on #2793
Note to devs: auto-submitted is discussed in RFC 3834.
https://tools.ietf.org/html/rfc3834

[2015-12-14 15:58] LucasBurg commented on #2642
Same here

[2015-12-14 19:09] zeeshankhurshid commented on #2792
I have seen Issue Summary but it seems to be issue title, I was talking for
applying a filter on ticket status as for example

"If ticket is resolved and assignee is Payment team then shorten the SLA
plan to 12 hours"

Hope you got my question.

On Mon, Dec 14, 2015 at 7:34 PM, ntozier <notifications@github.com> wrote:

--
Thanks & Regards
Zeeshan Khurshid

[2015-12-14 19:26] shiko2009 opened #2796 "Printing tickets/long answer Issue"
I am trying to figure out why my tickets are not printing correctly.
The ticket thread prints out correctly when it's more than 25 or so words, but the "long answer" setting does not print out correctly no matter how I have the settings. It does not "word wrap" like the ticket thread does. Is there a fix for this? am I doing something wrong?
The first picture is the Staff control panel.
The second

[2015-12-15 18:05] jround opened #2797 "1.9.12 File upload error undefined400 with Google Chrome"
Recently I am getting a lot of complaints regarding users of Google Chrome when trying to upload files.  The error that comes up is File upload error 'undefined400'.  When I try the same file (A small PDF document as an example) in Internet Explorer 11 it uploads virtually straight away without the same issue.

Now it gets even more strange I tried an older version of Chrome on a colleagues machin

[2015-12-15 21:08] kest874 opened #2798 "1.10 RC2 Email reply with attachment, alerts do not contain attachment"
I've noticed that even while having %{message.files}, %{response.files} in the email templates that if the correspondence is via email the attachments are not included in the alert email.

The attachment is put into the thread message, just not emailed out.

If you respond via the GUI (client or staff) and add an attachment the attachment is included in the alert emails.

[2015-12-16 00:07] tmiguens commented on #625
Would be great if same domain were allowed. I tried to embed a remote help session launcher (also on my domain) to the landing page. Looked pretty cool in the preview.

[2015-12-16 02:15] bhiscox opened #2799 "Tasks: Due Date does not assign and can not close tasks."
In addition to the bug I reported with Tasks not saving who they are assigned to (https://github.com/osTicket/osTicket-1.8/issues/2728)  I have found two more bugs.

If you assign a due date to a task when creating it then when the task is created/saved it DOES NOT save the due date and there is no way to add it.

Additionally when entering the task whether you are the person who it's been assigne

[2015-12-16 18:59] coffeverton commented on #2606
I had this problem too.
Solved it by editing the file include/class.faq.php, in the method "add".

Just add the code below after the line 239:
$faq->attachments->upload($vars['files']);

By the way, i don't think that the $_FILES array is populated at all, so the lines 237 and 238 may be useless.

[2015-12-17 05:51] DonatelloNguyen opened #2800 "Attachment is not being sent when attaching to "Issue details" field"
Reproduction Step:
- Go to Ticket > Create Ticket
- Select existing user
- Prefill out the required form.
- Upload an attachment in "Issue Details" wysiwyg
- Send message

Expected:
- Received attachment from recipient's email
- Attachment appears in the thread

Actual:
- Did not receive attachment from recipient's email
- Attachment appears in the thread.

[2015-12-17 11:56] zeeshankhurshid opened #2801 "Problem in email authentication [IMAP]"
Hi,
   I was able to authenticate one of my email id for one help topic but when I was trying to add a new email id for another help topic each time its giving me "Can not authenticate to IMAP server: [ALERT] Please log in via your web browser: https://support.google.com/mail/acco ".
                                          Both the email ids are of gmail, both having their IMAP enabled in settin

[2015-12-17 13:36] shiko2009 commented on #2796
up
Please i Need to resolve this problem Urgent

[2015-12-17 15:47] ntozier commented on #2800
Version of osTicket?

This is how 1.9.x and lower works and is the expected behavior.

[2015-12-17 15:49] ntozier commented on #2796
I'm not sure how I can assist you since you haven't told us which version of osTicket you are running.
You could always not use the long answer option until its fixed.
As a reminder 1.10rc2 is a release candidate and should not be run in production environments.

[2015-12-17 16:21] hossvw commented on #1403
As of yesterday, I randomly could not see inside any tickets.. I can get to the list of tickets, but cannot see inside the ticket.  I upgraded from 1.9.11 to 1.9.12 hoping that it would fix it, but no luck.

I did some looking around and saw that the default ticket status is blank just like in this thread but I have not installed any language support beyond default English.

I have verified that t

[2015-12-17 16:26] hossvw opened #2802 "1.9.12 Default Status Empty - Cannot View Ticket Details - Cannot Open New Tickets"
Also commented in another thread, but just in case, I am creating a new one.

Randomly yesterday while running 1.9.11 on a setup that's been running for over 2 years, I noticed I could not get into any of my tickets.  I could see the list just fine, but when I select one to see the details I just get a blank screen.

I upgraded to 1.9.12 this morning to see if that would fix it with no luck.

I no

[2015-12-17 16:34] greezybacon commented on #2667
Seems like the typeahead based search system should negotiate the target page better. That is, when clicking on the ticket number in the typeahead drop-down, the system should go to the ticket view page for that ticket directly, rather then coming through the ticket queue listing page first.

[2015-12-17 16:41] greezybacon commented on #2800
In version v1.10, you can add `%{message.files}` to the email template of choice and the files will be attached

[2015-12-17 16:54] greezybacon commented on #2796
I disagree. The renderer for v1.10 was specifically changed to address this issue. Are you *sure* it's broken on v1.10?

[2015-12-17 16:56] greezybacon commented on #2795
Would it be possible to get a full stack trace from the crash?

[2015-12-17 17:02] jdelhome3578 opened #2803 "Feature: Task Categories"
Is it a good idea to allow a task be tagged with a help topic or a separate category list to help sort and manage different types of tasks.

[2015-12-17 17:02] superjunky commented on #2795
Can you give me a hint on what a "full stack trace" might be?

[2015-12-17 17:05] jdelhome3578 opened #2804 "Feature: Help Topic SLA"
Add option for no SLA in the Help Topic config.

[2015-12-17 17:16] greezybacon commented on #2795
maybe [this](http://stackoverflow.com/a/7039409) would help

[2015-12-17 17:46] ntozier commented on #2802
" I just get a blank screen"
This indicates a PHP error.  Please consult your PHP error log or enable error displaying to see what the error is.

Some more details [versions/softwares] about your setup might be helpful also. (PHP, webserver, etc)

[2015-12-17 17:47] superjunky commented on #2795
I asume a backtrace can only be made at the time of crash?! The system wasn't set to Debug, and unfortunately I cannot reproduce the error since I don't own the particular (valid) email address.
I understand you can't really investigate without the trace. i'm sorry..

[2015-12-17 17:51] greezybacon commented on #2795
@superjunky I'll try and investigate by guessing why EmailAddress::__toString() might not return a string

[2015-12-17 17:51] ntozier commented on #2804
Why not just create a SLA called None [Set the grace period to an extremely high number, and disable Ticket Overdue Alerts] ?

[2015-12-17 17:57] superjunky commented on #2795
Perhaps the address format comes in handy:

***.***-***@***.***.com

[2015-12-17 17:59] greezybacon commented on #2795
So the left-hand-size of the `@` was literally `.-` (dot dash)?

[2015-12-17 18:00] superjunky commented on #2795
Try a page refresh, I made an edit :)

[2015-12-17 19:47] jdelhome3578 opened #2806 "Feature: Client Close"
Have settings to enable the client the ability to close a ticket if support is no longer needed. Also, have a setting that would require clients to close tickets if client is to close ticket to confirm support is complete.

[2015-12-17 21:50] t-oster commented on #2667
That would be nice but if you type faster than the typeahead Ajax call finishes (I.e you paste the ticket number and press return) you still end up with the ticket number as query string and get the error described above. By the way the hack seems to work quite well.

[2015-12-17 23:00] greezybacon commented on #2782
Consider the following logic:

Would the person whose **lower-cased** name is JARED please stand up...

That's the logic of `!in_array(strtolower($x), array($y, $z, $w))`. Logically the values in `array($y, $z, $w)` would all need to be lower case for there to possibly be a match, right?

[2015-12-18 07:53] t-oster commented on #2799
may be a dulicate of #2547 ?

[2015-12-18 07:56] t-oster commented on #1959
I would suggest it a bit different:
There are some tasks/tickets, which cannot be done right now, e.g. because I am waiting for something. I do not want them to fill my list, but if I close them, I will forget them.
Thus I would like to postpone them like "close and reopen at <datetime>". Then the ticket should be closed and on the specified time just be re-opened again.

[2015-12-18 07:58] t-oster commented on #2225
...may explain my issue #2564

[2015-12-18 08:05] t-oster commented on #2225
the variable name $autorespond is misleading. The only call to that function is in the postMessage function and looks like
[code]
so if the parameter is TRUE, it should notify the user and reopen the ticket, otherwise not. The name $autorespond can be understood as "isAutorespond" like in isBounceOrAutoReply and thus would have the inverse meaning. But like it is called right now,
[code]
is the co

[2015-12-18 09:21] cberescu commented on #2225
Yes, that is true @t-oster, the line is correct. Closing this.

[2015-12-18 09:21] #2225 closed

[2015-12-18 13:44] ntozier commented on #1959
So you want a snooze button for your tasks/tickets.  That sounds neat.

[2015-12-20 00:43] DonatelloNguyen commented on #2800
Thanks for the quick reply.

I got this from v 1.9.12.  If this is the expected behavior, then this is a confusing UX design.  I'd expect at least a warning that the attachment will not be in the email for this particular field.

[2015-12-20 10:06] shiko2009 commented on #2796
I am running in Version 1.10rc2 ,,, and yes i am sure it's broken in this version because i am facing big problem in printing tickets

[2015-12-20 10:19] mfelber commented on #2644
https://github.com/osTicket/osTicket-1.8/issues/2796#issuecomment-166101832

[2015-12-20 10:19] mfelber commented on #2644
#2796

[2015-12-21 04:16] herdi89 commented on #1887
hi... i'm using office365 as my email.
but when i try to diagnostic the email, i got the notification that the email was sent successfully.
But when i checked in my email, i didn't receive that email?

here is my setting below. can you help me? thank you.
![image](https://cloud.githubusercontent.com/assets/16377998/11923327/46e5486e-a7d4-11e5-99fc-7d1258061ea3.png)

[2015-12-21 07:21] herdi89 opened #2809 "user can't received email"
hi... i'm using office365 as my email.
but when i try to diagnostic the email, i got the notification that the email was sent successfully.
But when i checked in my email, i didn't receive that email?

here is my setting below. can you help me? thank you.
image
![image](https://cloud.githubusercontent.com/assets/16377998/11925460/1da567e4-a7ee-11e5-9abd-e5492cb435df.png)

[2015-12-21 12:39] t-oster commented on #1959
was not as hard to implement as I thought. But of cause this needs to be cleaned up.

[2015-12-21 17:25] greezybacon commented on #2796
This is what it looks like in v1.10

<img width="875" alt="screen shot 2015-12-21 at 11 24 38 am" src="https://cloud.githubusercontent.com/assets/672074/11936748/7696b8da-a7d5-11e5-84ad-f2fbf57d0d26.png">

[2015-12-21 17:27] greezybacon commented on #2644
@mfelber #2796 is a duplicate of this ticket. It does not concern v1.10

[2015-12-21 19:00] mfelber commented on #2644
@greezybacon Yes, I know. That was the reason I referenced It to this issue. Was this wrong?

[2015-12-21 21:04] greezybacon commented on #2800
Perhaps, but I think this is an expectation issue. The email sent from the system after completing a new ticket is a confirmation and contains a link to the online ticket. The attachments are available online and are not intended to be brokered via email. In fact, many email systems have significant restrictions on the number, size, type, and content of attachments. osTicket has separate settings

[2015-12-21 21:06] greezybacon commented on #2644
I see. You were correct to reference it. Perhaps you should have written "Duplicate of #2796" or "#2796 is a duplicate of this issue"

[2015-12-21 21:11] greezybacon commented on #2806
I agree. I'd like to see a option to include a link in the email, and a button on the client interface

[2015-12-21 21:12] greezybacon commented on #2809
Is it going to spam? That is usually the case. The "green bar" should mean that Office 365 accepted the mail for delivery. It should either then arrive at the inbox or the spam box.

[2015-12-21 21:17] greezybacon commented on #2667
Perhaps; however, if going directly to the ticket view required a [click], then pasting a pressing enter could be changed to go back to a queue listing of one item

[2015-12-21 21:22] greezybacon commented on #2797
The `400` part represents the HTTP status from the backend. It should mean a poorly formatted request, oversize file, or file type not allowed. Could you send the response from the server (perhaps via the Chrome developer tools?

[2015-12-22 01:23] herdi89 commented on #2809
hi greezy,

Thank  you for your reply. I already check in the spam box, but there is no email from OS Ticket, I already checked it from web mail and also from outlook.

[2015-12-22 03:17] greezybacon commented on #2809
What version of PHP and osTicket are you using?

[2015-12-22 04:36] herdi89 commented on #2809
Hi Greezy,

this is the version that I using
![image](https://cloud.githubusercontent.com/assets/16377998/11947926/295e3f36-a8a0-11e5-8d19-11829477237a.png)

[2015-12-22 04:43] ntozier commented on #2809
You should upgrade.

[2015-12-22 04:45] herdi89 commented on #2809
hi ntozier,

which one i should upgrade it?

[2015-12-22 04:49] mfelber commented on #2644
Aha, I understand. Next time I will describe it as a duplicate issue..

[2015-12-22 05:26] ntozier commented on #2809
osTicket.

[2015-12-22 06:00] herdi89 commented on #2809
hi Ntozier,

I think i already using the latest OS ticket version which is 1.9

[2015-12-22 08:00] mfelber commented on #2809
1.9.12 is the actual stable release. In older versions are more bugs.

You can see the fixed bugs in the release notes: https://github.com/osTicket/osTicket-1.8/releases

It is better for both sides to use the latest stable release. You have less bugs in your environment and it is easier to support you..

[2015-12-22 08:59] herdi89 commented on #2809
hi mfelber,

right now i already install os ticket version 1.9.7 on my old place.
![image](https://cloud.githubusercontent.com/assets/16377998/11951589/ba4a6c76-a8c4-11e5-9954-318bdb51ae5e.png)

and when i try to instal in a new place, the sql server and PHP version is little bit different.
![image](https://cloud.githubusercontent.com/assets/16377998/11951603/d2abb0cc-a8c4-11e5-8eb8-832951f9d569.p

[2015-12-22 09:10] mfelber commented on #2809
I have noticed that an environment with php 5.6.x could have mail problems with osticket: https://github.com/osTicket/osTicket-1.8/issues/2628

I'm not aware of sql issues..

[2015-12-22 09:51] herdi89 commented on #2809
hi mfelber,

I will try to downgrade my php with 5.5 version.

If there is any more progress, I will inform you guys.

[2015-12-22 13:21] emirfares commented on #833
Logscape -

here is a solution for listing problem

$qwhere = sprintf(' WHERE ( ticket.user_id=%d ) or ( ticket.user_id in ( select id from unds_supr_tch_user where org_id <> 0 AND org_id in (select org_id from unds_supr_tch_user where id = %d)))',
$thisclient->getId(), $thisclient->getId(), $thisclient->getId());

[2015-12-22 14:11] ntozier commented on #2809
1.9.7 is still old and you should upgrade to 1.9.12.

[2015-12-22 22:12] tmcnag commented on #2756
Likely duplicate of:  https://github.com/osTicket/osTicket-1.7/issues/544

I have to agree, I love OSTicket but find the lack of subcats fairly limiting.  Still a killer KB, but that would really step it up for me.

+1 for sure!

[2015-12-22 22:48] nfebuary commented on #2756
We have discussed the FAQ becoming more integrated and customizable in osTicket and we want to make it fully featured. The current discussion is what is the best way to do this in the existing system? I'm taking notes on feature requests on github, as well as ideas the team comes up with, and random ideas that pop into my head while in the shower. :flushed: (I highly suggest investing in shower ma

[2015-12-22 23:39] jdelhome3578 opened #2814 "Feature: Asset Management"
I would love to see an Asset Management module built for osticket so that we can manage our devices.

[2015-12-23 01:54] ntozier commented on #2814
?

[2015-12-23 02:06] danielc1234 opened #2815 "PHP 7 Compatibility"
Hi,

When will osticket be compatible with PHP 7?

Or better question, is there a way to make the 1.10.rc.1 version work with PHP 7?

We upgraded our servers and osticket crashed. So bummed and really need to get it working again.

Thanks
Dan

[2015-12-23 02:12] ntozier commented on #2815
This appears to be a duplicate issue report to: https://github.com/osTicket/osTicket-1.8/issues/2602

[2015-12-23 02:13] danielc1234 commented on #2815
Yeah, just noticed that. I'll follow over there and hopefully greezybacon can help me out.

[2015-12-23 02:19] danielc1234 commented on #2602
Is there anyone out there that has gotten this working yet with PHP 7?

[2015-12-23 03:38] phantomofrussia commented on #1225
This is definitely something that I would love to see added to osticket. This feature would definitely help me sell this to management in adopting this over another ticketing system we are using.

+1

[2015-12-23 04:17] phantomofrussia opened #2816 "Feature Request: Recurring Preventative Maintenance Tickets/Tasks"
Hello,

I would like to request a feature where you can setup recurring tickets that the system will create every week/month/days so we can maintenance tasks or tickets. This way we do not have to remember to create these tasks/tickets ourselves but have it setup in the system to be done automatically.

This is one of the features that I would really like to see. This would help me sell this to ma

[2015-12-23 09:01] t-oster opened #2817 "Typeahead confuses users"
Right now, if you type and press enter, you get the query string you typed. But if you type and wait a second for the typeahead ajax call to finish and then press enter, you get the first typeahead match as query string, which may lead to totally different results.

So the behavior of the system depends on the speed you type.

In our organization I had to change typeahead to NOT select the first r

[2015-12-23 09:01] t-oster commented on #2667
I could live with that.
But this leads me to another point: #2817

[2015-12-23 09:28] mfelber commented on #2564
Do you mean this: https://github.com/osTicket/osTicket-1.8/pull/2256/files ?

In 1.10rc2 it is line 1444..

[2015-12-23 09:44] t-oster commented on #2564
thanks, I already found it. I am pretty sure this is what caused my issue. I also changed it to reopen every ticket, but of cause I should examine which header made it think this was an automated reply.

[2015-12-23 09:48] cervedgroup opened #2818 "Categories disabled issue - 1.9.12"
If there is a top level category disabled , the categories under the disabled ones are still viewable.
If there is a top level category disabled, a sub category disabled, then the sub-sub categories will be hidden.
Example : TOP - Category1 - Category2 , if the category1 is disabled, the category2 is still available - correct i suppose
TOP - Category1 - Category2 - Category3, if the category1 and

[2015-12-23 10:00] mfelber commented on #2818
I think this is a design limitation:

http://osticket.com/forum/discussion/78405/bug-in-nested-help-topics#latest

[2015-12-23 10:13] cervedgroup commented on #2818
thank you, mfelber.
I hope that will be fixed in next releases

[2015-12-23 13:35] danielc1234 commented on #2602
We got osticket working with PHP 7. Even the API and Fetch, but was a real pain. Still depreciations all over the place, but overall it is working. Also has some issues with the MTA.

Any idea when there maybe an official release that will be for PHP 7? This is too good of a software to not update it so it can stay current. :)

[2015-12-23 14:15] ntozier commented on #2816
Setup a calender app that sends email reminders.
Set the email to send to your ticket system.

[2015-12-23 14:18] ntozier commented on #2817
Where do Users have type ahead?  I think that you mean Agents.

[2015-12-23 14:25] ntozier commented on #2818
The devs do not consider it broken, so it will not be fixed in the next release.
It's working as they designed it.

[2015-12-23 14:30] t-oster commented on #2817
sorry, of cause I mean agents.

[2015-12-23 15:42] war59312 commented on #2815
Dan, you should close this 1 then.

[2015-12-23 15:43] war59312 commented on #2602
Mind detailing how you got it working with PHP 7?

[2015-12-23 17:01] danielc1234 commented on #2602
@war59312 Really it was my buddy that was able to sort through all the errors and make the modifications. If the developers are interested, I can zip up my installation and send them the files as a starting point. It took about 4 hours of troubleshooting.

[2015-12-23 17:12] ntozier commented on #2602
You'd probably want to submit it as a pull request.

[2015-12-24 03:51] raykai opened #2819 "v1.10-rc.2 install error with php7.0"
cant install v1.10-rc.2 1st setup page giving a error 500
php7 error log :
PHP Fatal error:  Cannot declare class Error, because the name is already in use in /***/include/class.error.php on line 0

install runs ok with PHP 5.6 but not with PHP 7.0

[2015-12-24 04:27] ntozier commented on #2819
osTicket is not supported with PHP7 at this time.

See
https://github.com/osTicket/osTicket-1.8/issues/2815
and
https://github.com/osTicket/osTicket-1.8/issues/2602

[2015-12-24 08:57] igrokit commented on #2272
Same problem here.
osTicket-Version	v1.9.12 (19292ad) —  Up to date
PHP-Version	5.4.35

Any way to fix this?
Dan

[2015-12-24 09:51] alirezastack opened #2820 "There is no RTL direction on redactor editor"
Is there a way to change text RTL in redactor? When I right align the text it does not work as expected when English and Persian (right aligned language) are both in a sentence. I need to make the direction RTL.

How should I do that?
Thanks

[2015-12-24 13:28] ntozier commented on #2820
This sounds like a question for the makers of Redactor.

[2015-12-24 15:56] shiko2009 commented on #2505
is there any fix for this problem ?

[2015-12-24 18:10] shiko2009 opened #2821 "Printing tickets/Ticket Number Issue"
Hello Dears
i am running on version 1.10 Rc.2 and i am facing problem printing my tickets . is there any fix for this problem ?
Secondly how to add two forms beside each other ??  i would like to make 2 forms like second pic
first one i want to add client signature and engineer signature beside each other ... and second one i need to put some terms and conditions to be printed on each ticket autom

[2015-12-24 18:15] shiko2009 commented on #2796
Thanks Guys for your reply
i still have the problem but i found alternative solution

[2015-12-24 18:15] #2796 closed

[2015-12-26 05:44] alirezastack commented on #2820
It is odd that OSTicket has used an editor that does not have RTL direction option.

[2015-12-26 07:30] alirezastack opened #2822 "Agent/Department signature is not appended when sending response"
When I select department signature I can see a grey signature below the rich text editor, but when send the ticket it is sent without the signature.

Is there something I should set in order to send my signature or department's?

[2015-12-26 07:32] alirezastack commented on #2822
![screen shot 2015-12-26 at 11 02 00 am](https://cloud.githubusercontent.com/assets/6417083/12005551/2353c138-abc0-11e5-8605-a1b62fbd0069.png)

[2015-12-26 08:04] #2822 closed

[2015-12-26 13:34] shiko2009 commented on #2821
Up please

[2015-12-26 15:05] pkgdemon commented on #2505
I've noticed commits have seemed to stop from @greezybacon, and work on develop-next has slowed down with no commits in 18 days.  Is 1.10 still coming?

[2015-12-26 20:36] ntozier commented on #2820
https://imperavi.com/redactor/docs/settings/lang/

[2015-12-28 04:06] herdi89 commented on #2809
Dear All,

Merry christmas for all of you.

Today I already reinstall my XAMPP with PHP version 5.5.
and also i already used the latest osticket which is 1.9.12

but when i try to setting the smtp again, I still got a problem.

my osticket version
![image](https://cloud.githubusercontent.com/assets/16377998/12013857/808f2b74-ad52-11e5-9dd0-604f291affb4.png)

the screenshot error when setting SMTP

[2015-12-28 04:37] herdi89 commented on #2809
Dear All,

I want to update,

For the SMTP i should using port 25 instead 587 or 465. But it still for gmail.

![image](https://cloud.githubusercontent.com/assets/16377998/12014063/46d12ff4-ad57-11e5-8e41-024c04fafda4.png)

I will try using for office365 now.

[2015-12-28 09:12] f1ynnh3 commented on #1225
@ooglek
+1
Your idea is very cool. I am also trying to add some feature like internal collaborator but the progress is little. Merge is another important feature we have been wanting.

@Hannibal226
Actually there is no need to be added into the dev group to develop certain feature.
One can develop some feature and do "pull request" to the repository. The dev admin will review it and accept it if t

[2015-12-28 09:28] simonebracaloni commented on #1545
I have exactly the same problem on 1.9.4
@greezybacon I think @protich  is right. The "drop and recreate view" process is not atomic neither is the ensureDynamicDataView and query (and the latter is actually the issue I guess).
Is there any update on this issue? What about protect ensure exist and query in a transaction?
Thanks in advance.

[2015-12-28 18:42] greezybacon commented on #2821
I think the first problem stems from not being able to detect or not properly setting the height of the header where the logo image is.

[2015-12-28 21:16] phantomofrussia commented on #2816
That is an option that I have found people doing but wouldn't it be better to have it built into the software? This way you do not have to go to a completely different website to have this completed.

[2015-12-29 14:13] jwheel12 commented on #2797
I'm experiencing the same issue and here is the console errors from the developer tools in Chrome:

![image](https://cloud.githubusercontent.com/assets/4257360/12035609/f1dfc444-ae03-11e5-8de3-3e19b0673d88.png)

[2015-12-29 15:36] GoodbyeWorld opened #2823 "Incorrect "Thank you" pages displayed"
I think I found a bug.

I have a use case that requires multiple Help Topics, each with a different "Thank you" page.

This should be doable by simply creating multiple "Thank you" pages, each with the content they require, and configuring each Help Topic to use the corresponding "Thank you" page.

The issue is that they are not displayed to the user. Instead, the "Thank you" page configured at th

[2015-12-29 16:08] tmcnag commented on #1225
Throwing my own +1 into the mix.

We're looking to migrate away from another ticketing solution, and merge is essential.  We get a lot of new tickets that should be replies to existing ones, and since we need to keep accurate track of ticket usage we end up merging a lot.

[2015-12-29 16:17] Eddie-BS opened #2824 "closed ticket as admin while preserving the staff member assignment .."
Hi,

I would like to have the option to preserve the assigned staff member while closing a ticket as admin ...
Some of our staff members forget to close tickets while answering and as admin I can close these ticket but by doing so, the ticket is assigned to me ...
I should stay assigned to the staff member for reporting and for handling possible future replies ...

Eddie

[2015-12-29 16:21] jk3us commented on #2781
Same here.  RC1 does the same thing.  Both just print

    <html></html>

to the console and do nothing to the deployment directory.  In fact, running `php manage.php` with anything (or nothing) after that does the same thing.

[2015-12-29 18:00] Kozlov-V commented on #2781
+1

[2015-12-29 18:41] centoasa opened #2825 "v1.10-rc.2 (231f11e) order issue"
the sort order don't work; maybe I've setup a different numbering ticket?

[2015-12-29 20:09] greezybacon opened #2826 "RFC: Workflow and Change Management"
I'm working on the idea of adding change management and workflow to osTicket and wanted to make a proposal to the community in hopes of encompassing greater ideas of how it should work. Your thoughts are welcome.

### Motivation
The ticketing system is often used to track common tasks that need to be done consistently every time they are requested. Furthermore, often times, some approval mechanism

[2015-12-29 21:13] greezybacon commented on #2817
@t-oster, I agree with you. The inconsistent handling of the [Enter] key is confusing. Perhaps we just need an option to the typeahead widget which should be used here to disable usage of the [Enter] key

[2015-12-30 04:06] greezybacon commented on #2775
How does this pertain to osTicket?

[2015-12-30 04:06] #2775 closed

[2015-12-30 04:08] greezybacon commented on #2751
@jdelhome3578 would you be able to test #2827?

[2015-12-30 04:11] greezybacon commented on #2825
@centoasa could you provide a screenshot to describe what you're talking about?

[2015-12-30 04:14] greezybacon commented on #2803
You can do this with your task custom data:

* Add a new list, "Task Type"
* Add a field to the "Task Details" form of a selection of "Task Type"
* Define "Task Type" when creating or editing tasks

[2015-12-30 04:18] greezybacon commented on #2793
We've worked pretty hard at detecting bounces and auto replies automatically. The auto-reply should be threaded with the ticket generating the original email which was automatically replied to. Is there a problem with the threading that needs to be fixed?

[2015-12-30 04:36] jdelhome3578 commented on #2826
Could you include #2806 into this?

[2015-12-30 04:52] k9buddy commented on #2825
is it same problem? . please see my screenshot it only sort ticket ID in same page. i can't sort the latest ID to page 1

![untitled](https://cloud.githubusercontent.com/assets/16252605/12046419/3b9d654a-aeeb-11e5-8ab7-2463e5e06131.png)

[2015-12-30 07:33] centoasa commented on #2825
https://www.evernote.com/shard/s272/sh/a2534c57-5615-49fb-af01-09cfc9e746c6/4fb7e79392e6752323bdedb3253e07c4
Ordered by most recently closed, it's not true because as you can see is 7/17 and it is the first ticket, the last recently closed is the first on the last page

[2015-12-30 12:50] Chefkeks commented on #2826
Sounds pretty good, the goal is surely be achieved with the described / shown improvements.

Need to re-read again in 2016 (and not from my mobile phone...) to give some more detailed feedback/response and share some of my ideas with the ticket lifecycle/workflow.

Cheers,
Michael

[2015-12-30 13:55] GoodbyeWorld commented on #2801
I had issues with gmail logins, and in addition to needing to enable imap/smtp/etc. in gmail, I needed to configure the account (in google account settings) to allow "less secure" authentication methods.  Maybe you've done this for one, but not the other.

https://support.google.com/accounts/answer/6010255?hl=en

[2015-12-30 14:35] antarex-be opened #2829 "[1.10RC2] Full text search with piped emails"
Currently evaluating 1.10RC2, i'm facing a problem with the full text search : the search does not work with ticket created via API (emails piped with automail.php)

When i create a ticket through the web interface, no problem, i can search any word included in the ticket, but when i create the ticket through the API (with automail.php), the search does not work, when i search any word included in

[2015-12-30 15:44] greezybacon commented on #2829
Do you notice any difference in the `ost__search` table for such tickets? The `object_type` for ticket info is `T`, and for thread entries is `H`

[2015-12-30 16:03] zeeshankhurshid commented on #2801
My first check was on this only. Both are having "less secure" authentication method allowed.

[2015-12-31 08:18] andsnake commented on #135
Or you could use $user_form->getField('email')->_widget->field->_widget->id); this will return (hopefully) the id of the field :)

[2015-12-31 09:26] antarex-be commented on #2829
For tickets created through automail.php, i have a record object_type T with the mail subject, but i do not have any record object_type H with the mail body.  For tickets created through the web interface, i have the two records, T & H

[2015-12-31 14:36] greezybacon commented on #2829
I think this is caused because there are images in the emails which cause the body to have to be rewritten before it is saved and indexed. Could you test with an email without any images. Also, I thought this bug was fixed in v1.9.12 and also in v1.10 with the ORM overhaul.

[2015-12-31 15:00] colonelpopcorn commented on #2778
I thought the purpose of the ORM was to *reduce* the number of queries to the back-end database. If osTicket only queries the database when absolutely necessary, then it shouldn't have much of an effect on performance to change the back-end database to a different architecture.

[2015-12-31 15:23] ntozier commented on #2778
@colonelpopcorn  IMO the purpose of ORM is to divorce the queries from a specific flavor of DB (MySQL/MariaDB) to be able to support multiple DB softwares.  I think that @infectormp was stating that his opinion is that MS SQL is a performance hog compared to other SQL flavors, and that he would rather see Oracle support added before MS SQL.

[2015-12-31 15:37] colonelpopcorn commented on #2778
@ntozier Gotcha, my mistake. This request makes some more sense now.

[2015-12-31 17:41] dannycarrillo opened #2831 "Feature: Get tickets through the API."
I know it's possible to create tickets via the API.
But is there a way or plans to be able to get tickets?

[2015-12-31 18:29] ntozier commented on #2831
The developers have said several times that they plan on making more APIs in the future.

[2015-12-31 20:05] greezybacon commented on #2778
I think it's already been expressed, but I'll reiterate. The timeline is slightly complex. I think this is what's left on the roadmap:

* Remove the rest of the SQL statements and convert to ORM for the business logic code
* Add backends for other databases. SQLite will be first
* Add install capabilities (CREATE TABLE) to the ORM and port installer away from the current SQL-based script
* Add mig

[2016-01-01 02:17] GlobalBacking opened #2833 "%{response} variable doesn't work in New Activity Notice template"
We're trying to make the "New Activity Notice template" use the variable %{response} but it doesn't come through at all.

We fixed this issue by adding the response variable into the notifyCollaborators method.

/include/class.ticket.php
line 1134
'response' => (string) $entry,

Code now becomes

$vars = array_merge($vars, array(
                    'message' => (string) $entry,

[2016-01-01 13:41] sebastianbinder commented on #2628
This does not work on debian jessie with php 5.6.14. Any ideas?

[2016-01-01 14:38] infectormp commented on #2628
Any errors in log?
1 янв. 2016 г. 4:41 PM пользователь "Sebastian Binder" <
notifications@github.com> написал:

[2016-01-01 14:39] greezybacon commented on #2833
So it looks like `%{message}` would have worked?

[2016-01-01 14:40] sebastianbinder commented on #2628
[code]

[2016-01-01 14:44] greezybacon commented on #135
@andsnake maybe I misunderstand your post, to fetch the javascript field name, use
[code]

[2016-01-01 14:49] greezybacon commented on #2825
@centoasa perhaps the wording is a bit confusing. 7/17 occurs AFTER 6/24. Therefore the 7/17 ticket was closed MORE recently and floats higher. You can click the sort option again (I think) to reverse it.

[2016-01-01 14:51] greezybacon commented on #2825
And concerning the numbering feature, we recommend static additions be added to the *end* of the ticket number because sorting is attempted numerically. Therefore 15-12345 is considered for sorting up to the first non-digit character, or just `15`. So therefore, if all your ticket numbers start with `15-` then they will sort randomly

[2016-01-01 14:53] greezybacon commented on #2781
Is this fixed in #2571?

[2016-01-01 14:54] greezybacon commented on #2505
@pkgdemon sometimes life happens... Yes, v1.10 will still come

[2016-01-01 14:55] greezybacon commented on #2821
Duplicate of #2505

[2016-01-01 15:06] centoasa commented on #2825
Happy new year!
Sorting on most recently closed, the first you can see is true, but second ticket was closed 6 month ago, but on the last page there are ticket closed really most recently.
Click again on sorting most recently the first ticket is always 17/07/15 17.41

[2016-01-01 15:18] andsnake commented on #135
really? hahah thanks (that makes this easier hahaha)
well, for some reason it didn't cross my mind to use it directly like that :P

[2016-01-02 22:53] A-Lawrence opened #2834 "New agent password"
When creating a new agent, it attempts to set a password on an agent that doesn't yet exist.  Thus, when the user attempts to login they are unable to.

[2016-01-02 23:03] A-Lawrence opened #2835 "Fatal error on ticket creation via SCP"
Fatal error: Call to a member function getBaseUrl() on null in /helpdesk/include/class.client.php on line 64.

[2016-01-03 02:59] ntozier commented on #2834
Version of osTicket?
What leads you to this conclusion?

[2016-01-03 03:18] A-Lawrence commented on #2834
Latest dev version.

When creating an agent, and clicking "set password" and entering my own choice of password, the password field is still NULL after clicking "save".  The password can't be saved prior to the account being created.

[2016-01-03 09:33] Chefkeks commented on #2834
I also experienced this issue last year while testing 1.10-rc2 - haven't tested since, but if it's still an issue it shall definitely be fixed.
Btw I think I forgot to report that issue actually, so kudos to @A-Lawrence

[2016-01-03 16:50] greezybacon commented on #2834
I've confirmed this too

[2016-01-03 21:28] GoodbyeWorld commented on #2823
Just wondering if there's anything I can do that would help the development team with this one.  I notice there's been no response - is that because you need more info?  Just let me know what you need to tackle this and I'll do what I can.

[2016-01-03 22:04] greezybacon commented on #2825
I wanna say that particular issue has beed addressed at some point in the v1.10 branch. Could you try with the tip of the `develop-next` branch?

[2016-01-03 22:43] greezybacon commented on #2797
@jwheel12 can you post the text response from the server?

[2016-01-03 23:29] dooglus opened #2839 "tickets keep growing after blocking sender email"
I have a couple of tickets which get longer each day. There were both initially spam emails with invalid reply addresses maybe a month ago. I guess OSticket tried replying to them, and isn't handling the bounce replies very gracefully:

![screenshot from 2016-01-03 14 50 51](https://cloud.githubusercontent.com/assets/573356/12081311/4c8e0f16-b22a-11e5-8137-b243bb931700.png)

Note the reply count i

[2016-01-03 23:55] jwheel12 commented on #2797
@greezybacon I'm unsure how to do that.

[2016-01-04 00:36] ntozier commented on #2839
1.9.12 is current.  Please upgrade to current prior to reporting issues.

To delete you can tick the check box, and select delete.

[2016-01-04 01:45] pkgdemon commented on #2505
@greezybacon wish your project the best.  I will be patient, and wait for the next RC.  Thanks.

[2016-01-04 02:01] herdi89 commented on #2809
Dear All,,

Any information which you can give me to resolve this problem? Everything that related with OS Ticket and Office365 can be very usefull. Because I already tried everything, but still can't find any solution. Thank you..

[2016-01-04 17:42] kest874 opened #2840 "Issue after config moved to ORM"
Getting the following error:

Fatal error: Cannot use object of type ConfigItem as array in /var/www/ostsupport.nasg.net/include/class.plugin.php on line 14

After merging to TIP of develop-next.

Something is amiss with plugins and commit https://github.com/osTicket/osTicket-1.8/pull/2827

[2016-01-04 17:47] kest874 commented on #2840
Worked around it by removing the plugins then re-added.

[2016-01-04 19:43] greezybacon commented on #2840
Thanks. I fixed this in 364044e

[2016-01-04 19:45] greezybacon commented on #2797
Usually in Chrome, you can click on the link (.../form/upload/attach) in the dialog you snapped. It should take you to a detailed view of the request including the request and response headers. There should also be a tab for the response body as text or a preview. Any information from those sections would be helpful in identifying what is happening on your end

[2016-01-04 19:47] greezybacon commented on #2839
We've rewritten the thread display system in v1.10 to handle very very long threads. I haven't tested with 5k threads, but it handles threads with about 900 items and 1600 attachments well. Just to post that we are working on the performance end of things as well.

[2016-01-04 21:45] protich commented on #2840
@greezybacon  -- Below is another fix for cases where the plugin doesn't have any configuration e.g OutLook Export Plugin.

[code]

[2016-01-04 21:50] greezybacon commented on #2840
@protich would you like me to commit that directly?

[2016-01-05 00:01] protich commented on #2840
I can commit it --- if you approve the changes :)

[2016-01-05 00:27] dooglus commented on #2839
I upgraded to 1.9.12 and was able to delete the two large tickets. They didn't come back yet either.

I should have just upgraded and not bothered you. I'll close this issue now.

[2016-01-05 00:27] #2839 closed

[2016-01-05 13:27] antarex-be commented on #2829
No, there is no image, no html, the email are text/plain, not even multi-part

[2016-01-05 14:10] centoasa commented on #2825
I must update with all files in develop-next?

[2016-01-05 17:05] nfebuary commented on #1225
I've been thinking about this for the past few days. I'll work on the UI, and I talked with @greezybacon and he mentioned putting some energy into it as well.(his schedule is a little crazy so keep that in mind) @ooglek any assist is welcome, you and I can discuss the UI and you can discuss the backend with @greezybacon. I think we can get this going. oh and +1

[2016-01-05 17:43] #2751 closed

[2016-01-05 18:32] centoasa opened #2843 "taken ticket"
The button "take ticket" open always the dropdown to assign ticket to operator (include himself) and other colleague.
But take should not open dropdown, but only the OK to confirm assignement to himself.

[2016-01-05 19:22] ntozier commented on #2843
I  haven't the foggiest idea what you are talking about.
Also what version of osTicket?

[2016-01-05 19:28] csayre opened #2845 "How is the dashboard page build"
Hello,

My company would like to run more in depth queries for the dashboard page. Could someone please tell me where the query that builds the dashboard, or post it below.

[2016-01-05 20:18] protich commented on #2843
@ntozier -- it's about "claim" button. It's coming back in V1.10 ST.

[2016-01-05 20:24] centoasa commented on #2843
Sorry, but I talked about claim button.

[2016-01-05 23:41] jdelhome3578 commented on #2814
I use osticket in my it dept and would like to also manage my assets within osticket to see problem assets.

[2016-01-05 23:44] jdelhome3578 commented on #2826
I like the task stuff you could be on your way to project management and I would love to see that implementation. In it we have some many projects with so many people it can be hard to keep it all straight.

[2016-01-06 04:55] SolidK0RE opened #2846 "Hide tickets from specific timeline"
Can we have global option to hide tickets from specific date? Like hide ticket from the last year, etc.

[2016-01-06 12:05] jround commented on #2797
Request URL:http://trackit/supportdesk/ajax.php/form/upload/34
Request Method:POST
Status Code:400 Bad Request
Remote Address:10.201.98.9:80
Response Headers
view source
Cache-Control:no-store, no-cache, must-revalidate, post-check=0, pre-check=0
Connection:close
Content-Length:23
Content-Type:text/html; charset=UTF-8
Date:Wed, 06 Jan 2016 12:02:07 GMT
Expires:Thu, 19 Nov 1981 08:52:00 GMT
Persist

[2016-01-06 12:12] jround commented on #2797
Also in open.php  xhr.send(builder); got highlighted for some reason when I clicked something but not sure is this is related to the issue or not.

[2016-01-06 12:32] gartut commented on #2369
+1

[2016-01-06 14:04] ntozier commented on #2846
Close your tickets and they wont show up in open/my?
Use Advanced Search on created (specify between range) [optional: and save the search]?
There are a number of ways to do this that do not involve changing the code base

[2016-01-06 15:27] goobersmooch commented on #2672
@philbertphotos could you please create a pull request so we can get this fix merged into the develop-next branch? Thanks! :)

[2016-01-06 16:04] twjenn2 commented on #2797
I have the exact same problem.  Most of our Chrome users are reporting that they suddenly can no longer upload files in Chrome.  However, I am running osticket 1.9.11 on Server 2008R2, IIS7.5.  I have also tested this with the latest RC of 1.10 with the same results.  Firefox, Safari, and IE are unaffected.

The Text Response for that attach operation is just: "Send one file at a time"
The respons

[2016-01-06 16:40] LordMike commented on #2602
I'll chime in.
My host has informed me that they will pull php 5.x support in favor of 7.0+ by the end of 2016.

[2016-01-06 16:55] ntozier commented on #2602
So... you mean this?
https://github.com/osTicket/osTicket-1.8/pull/2828

[2016-01-06 18:09] greezybacon commented on #2825
@centoasa yeah, I would recommend a `git pull` on the `develop-next` branch. To download again, visit the code page above, then select the `develop-next` branch from the tag/branch dropdown. Then download the zip archive and extract.

[2016-01-06 18:10] greezybacon commented on #2829
@antarex-be I'm not sure what would cause that

[2016-01-06 18:14] greezybacon commented on #2823
I see the problem is `class.topic.php` line 63.
[code]
should be deleted. That's what's breaking the system

[2016-01-06 18:17] greezybacon commented on #2814
There is lightweight management already. You can create a "Custom List" and define properties for the list items. So you could create a "Server" or "Laptop" list with corresponding properties. Then you can add a selection to a form which would allow associating with tickets, tasks, users, and organizations. The things that are missing is associating a ticket with a list item, like a Laptop, rather

[2016-01-06 18:25] greezybacon commented on #2846
This is possible with #2577. You can change the criteria of all the queues as well as define you own custom ones

[2016-01-06 18:30] greezybacon commented on #2822
@alirezastack did you solve this by editing the email templates?

[2016-01-06 18:36] greezybacon commented on #2787
This seems to still be an issue on the `develop-next` branch

[2016-01-06 19:06] greezybacon commented on #1225
Could someone perhaps put together a more formal RFC on the merge process so we could entertain issues with the merging process and work out some definitions on how to accomplish this in osTicket? I think some of the issues raised thus far:

*  How are the threads merged? Are the items from the disparate tickets:
    * Intertwined in chronological order
    * The thread from the collapsed ticket(s

[2016-01-06 19:24] tmcnag commented on #1225
Somewhat busy at the moment, but my immediate thoughts are:

* Case-by-case choice of chronological merge or append of threads
* Per-item decisions for due date, assignees, etc.
* Action from the "More" drop-down

Our current issue (and this might be somewhat mitigated by having a portal as opposed to email only) is that a user will open a ticket, not receive a reply within a few hours (they might

[2016-01-06 19:39] Hannibal226 commented on #1225
I think first it would be good to see two options:

1)
From Ticket A and Ticket B to merge (as linked note) to the Ticket C.
With this step automatically an info about merge should send to user and
close A and B.
- Mean now, when u see under 'open' the Ticket C, u can see older or
further options by just going over to the linked ones.

2)
From Ticket A and Ticket B merge to a NEW Ticket C.
Same fu

[2016-01-06 19:44] greezybacon commented on #1225
I don't think merging tickets should result in creating a new ticket

[2016-01-06 19:48] tmcnag commented on #1225
I won't name names, but the way our current solution works is that you choose the ID of the ticket you want to merge into, then the other one has all its content replaced by a message to the effect of "Ticket ID XXX has been merged into ID YYY".  This preserves the fact that there was a merge performed without creating a new ticket.  However, since we bill based on ticket usage this still leaves t

[2016-01-06 19:49] ooglek commented on #1225
One way that OTRS did it was to "link" tickets. For example, one ticket would be deemed "the master" and other tickets would be merged to it.

In the display, all correspondence would be "unionized" and displayed chronologically, regardless of which linked tickets the correspondence came from.

This allows a parent-child relationship. You could also "link" tickets in such a way that they were rela

[2016-01-06 19:49] Hannibal226 commented on #1225
Not in first way, correct.

But often u need this option while cleaning up the tickets.
So u recognized new things updates or connections.

Now u can add it to an existing ticket, but don't know to which one or u create first a new and then merge them.

Why no option to directly merge to new?

Again I understand that the "merge" in first way means to to put things together, but in last option u cr

[2016-01-06 19:58] ooglek commented on #1225
@Hannibal226 -- Creating a new ticket -- how does a customer reply to the old ticket? How is that handled? At least with keeping the data structure the same, and creating a link between two tickets, a customer can reply to either ticket, and the reply-handling code doesn't need to change -- it can go into either ticket (yes, this isn't what I suggested with freezing the child ticket, I'm throwing

[2016-01-06 20:15] Chefkeks commented on #1225
Personally I like the idea of "linked" tickets and I think of a merge more like as a "group of tickets". So when user Alice, Bob and Charlie report the same issue, these tickets are then linked to each other and an agent can (think on email "reply" vs. "reply all" feature) then update, reply, etc. to all end users (Alice Bob Charlie) via that linked / merged tickets or to just a single user (Bob).

[2016-01-06 20:18] greezybacon commented on #1225
We've chatted about adding the concept of an "Issue". Issues are like the relationship between tickets and tasks. However, tickets are stapled to issues as a parent/child relationship. The use case I've often used is a datacenter outage. The IT group will likely receive several notifications of tickets rooted in the datacenter outage "issue". Therefore a new issue could be created, and all the tic

[2016-01-06 20:24] Hannibal226 commented on #1225
@ooglek

But what u have from a merged Ticket C when user answering to Ticket A and B?
I think with the "parents/childrens" stuff it's more complicated than just have links tickets which just closed.

So for sure all Users and Collaborators have to be merged in my opinion...

To stay on example of new ticket (which is not the main function we talking about) we always have to go ahead from one tick

[2016-01-06 20:25] tmcnag commented on #1225
@Chefkeks I can't agree with grouping tickets from the user's perspective.  That's too close to mixing potentially private information from separate customers' tickets, and would make it too easy for cross-contamination to occur.

I do think this is where Issues would be handy.  As an example workflow:

Three separate organizations/users are reporting the same bug in the update process, so we crea

[2016-01-06 20:30] Hannibal226 commented on #1225
-sorry hit the wrong button in new app-

[2016-01-06 20:38] snizzleorg commented on #1225
I'm very interested in this however it seems rather complex. my requirements - (and those might be only mine) are much simpler.

customer a creates a ticket, customer b (or customer a with a different email address) writes regarding this ticket but not answering in the original thread. Now I copy the contents of the mail as an internal note and add the the second email address as a collaborator.

[2016-01-06 20:43] Hannibal226 commented on #1225
@snizzleorg
This not simpler what u mean, what u do is just more manually :P

So we talking to make a link to a whole ticket, u r talking about getting texted out of the ticket.
At least we all need the same, but there r several ways and now there is the question of the most handy/useful ones.

Or u wanna tell me one button wouldn't be better that copy and close all manually? :P
(even attachment c

[2016-01-06 20:54] Chefkeks commented on #1225
Ok, well I think "issues" as @greezybacon explained is what I had in mind with "group of tickets".

Regarding the end user perspective and the data security / private information from separate tickets you may got me a bit wrong.
My idea was more like a normal response that is broadcasted to all ticket owners so they all get the info from the agent and may also, based on organization the ticket own

[2016-01-06 21:01] Hannibal226 commented on #1225
@chefkeks

But don't u think it becoming confusing and complicated (in coding) to have one ticket/broadcast for staff, but separate for users?

I think then it's a lot easier to replace existing tickets from users to or better said against one.
So this should be automatically happened, when "old" tickets get closed and the same user/collaborator r in the new ticket.

The user can now also see that

[2016-01-06 21:09] greezybacon commented on #1225
There is a need for both. There is a need to handle multiple requests from a single user which should be consolidated or "merged". There is a separate need for consolidating several different requests together which are related via a common "issue". The issue grouping does not imply granting users access to each other's tickets. However, it does imply the concept of "public tickets" where a issue

[2016-01-06 21:34] Chefkeks commented on #1225
I totally agree on that!

So I think with your last post in mind Jared, there should be 2 RFC issues here at github to discuss both independently from each other, but with a reference to each other, so people are discussing either only merging tickets or issues/groups of tickets.

Cheers
Michael

PS: Since the osTicket team is really experienced in coding and UI design I don't worry about it may b

[2016-01-06 21:42] Hannibal226 commented on #1225
@greezybacon

But why so "complicated"?

The users only can access tickets they r allowed to.
So why not concluding what u want, as users can't access for example a ticket of another one, where they aren't collaborator?
I think, if the privileges working well, there don't have to be a separation of that.

U even could name the "issue" - "project", but person x only can access the main(merged) tick

[2016-01-06 22:15] LordMike commented on #2602
@ntozier, well - yes and no. From a users point of view (mine), it needs to be released too - in due time. I'm just chiming in saying that webhosts will actually pull support for older PHP versions - and therefore, over time, Osticket needs to support 7.0+ to keep staying a preferred choice :)

Althought I'm sure it'll all work out in the end. :)

[2016-01-06 22:17] ooglek commented on #1225
"Issue" implies a whole new paradigm for OST users to understand and manage. Like @snizzleorg said, When Customer A emails and Customer B emails (or Customer A emails from a different address), these are 90% of my merge cases.

For a while it was nice to have one ticket and be able to communicate with Person A about an issue, and then communicate with Vendor B about the same issue, but excluding P

[2016-01-06 22:27] ooglek commented on #1225
Agree with @greezybacon -- Issues are a useful concept. Merging tickets is a useful function. They should be separately developed and not co-opted.

[2016-01-07 03:24] ntozier commented on #1225
I like the idea of a new type of ticket (issue) that would be sort of like a mega ticket.  Which could be used for a combine multiple tickets into a single issue... or even opened by staff when/if something big happened that affected many.  Personally I would rarely use this on either of my live sites.  But I might want to use them for things like scheduled maintenance, large network outages, etc.

[2016-01-07 04:27] SolidK0RE commented on #2846
Yes! this is it. Many thanks @greezybacon :+1:

[2016-01-07 04:27] #2846 closed

[2016-01-07 05:47] alirezastack commented on #2822
I apologize, it was due to the modifications I've been made to the code. It works like a charm.

I have implemented ticket history. Signature has been replaced by ticket history. It is now correct. thanks.

[2016-01-07 08:51] gartut commented on #977
no that would be "[Servername].[domain].local"

[2016-01-07 08:55] snizzleorg commented on #1225
Im with @ooglek Issues and merging would be tow different things. The merging would be most useful for our company while the issues concept - not sure if we need that. It's nice though...

[2016-01-07 14:03] ntozier commented on #977
Actually the default domain probably shouldn't be "[Servername].[domain].local".  Unless you happened to name your domain "[Servername].[domain].local".  And it's a happy coincidence.
Ours is corp.[domain].local currently, but would probably work with simply [domain].
you would want to use "[Servername].[domain].local" under LDAP servers.

[2016-01-07 14:31] greezybacon commented on #2822
As a heads up, v1.10 will include a feature to add `%{ticket.thread}` to the notification email and it will include the entire ticket history.

Cheers,

[2016-01-07 14:43] greezybacon commented on #1225
I feel like there's still some confusion.

Merging tickets, owners, threads, and data is:
  * what causes "contamination"
  * to help keep the same issue from the same person or group of persons in the same data and thread of communication
  * (possibly) removes tickets when merged into another

Associating tickets via an issues
  * keeps (every)things separate
  * allows for separate communicatio

[2016-01-07 14:47] snizzleorg commented on #1225
@greezybacon nice summing up. so basically two new features

[2016-01-07 14:59] greezybacon commented on #1225
@snizzleorg I'm suggesting that this is how the two features would work. I'm hoping to remove some confusion by suggesting to distinct purposes for two distinct features. My hope is to get everybody on the same page so we can work on moving forward with RFC and implementations for the features.

[2016-01-07 15:51] snizzleorg commented on #1225
Nice. As said I'm more interested in the merging and think that at least this feature is nicely laid out. Question remains how to select the owner resulting ticket if the two initial tickets are different and hoot resolve conflicts in the ticket data itself.

I suggest:

1 +merge 2 = data/owner of ticket 1

2 +merge 1 = data/owner of ticket 2

[2016-01-07 16:48] kest874 commented on #2840
@protich What is the Outlook Export Plugin?  It peeked my interest.

[2016-01-07 17:22] bastimm commented on #2149
I have the same problem.
osTicket 1.9.12
today I upgraded to 1.10RC2 In hope of solving this issue, but the issue still exists.

Created some new filters:
=> Filter by subject
=> answer with an auto response.

Both versions shows a canned reply in this ticket.
But nothing was sent via mail.

Tested with more than 5 mail-servers/adresses.

Is there a fix for this problem?

Do you need more infos/se

[2016-01-07 17:23] Chefkeks commented on #1225
I vote to give the user (agent) the choice what data the merged ticket will have.

So give the user a predefinition/suggestion of the data of the merged ticket which he can
A) accept and proceed with the merge or
B) change completely the merges' direction (so 2 +merge 1 = data/owner of ticket 1 instead of ticket 2) or
C) edit single fields (e.g. Help topic) before the merge of the tickets

[2016-01-07 18:07] GoodbyeWorld commented on #2823
@greezybacon - I tested your suggestion and it appears to have worked.  Thanks!

I'm new to github - are you planning to correct that, or would it be helpful for me to submit a pull request with that adjustment?

[2016-01-07 18:48] andresmoya opened #2847 "orm / database connectivity use"
Is it possible to use orm / built in queries / connections to connect to osticket when building a plugin, or would we have to write our own connection and queries?

[2016-01-07 19:06] ntozier commented on #2847
You can use ORM queries for your plugin.
You can also use the older db_query functions (until they are removed.. @greezybacon @protich are they going to be removed?)

[2016-01-07 19:15] andresmoya commented on #2847
Thanks for the response, is there any documentation on them on how to use them?

[2016-01-08 03:58] herdi89 commented on #2809
Dear All,

Do you have another idea for my problem?

Kindly need your suggestion and your idea.. Thank you.

[2016-01-08 06:31] ntozier commented on #2809
My only other suggestion is ditch XAMPP.
Install and configure your Apache, MySQL, and PHP yourself.

[2016-01-08 07:36] Hannibal226 commented on #1189
@greezybacon

Sorry for bothering again, but may u could clearify the actual stand o things here?

U always said <code>develop-next</code> but is this already include in actual RCs then?
I remember that some ppl mentioned it wasn't better in first RC, too.

And if there is a actual working version, is there any plan for RC3 or next is final?
Should we just wait then for production usage?
[1.9.12 i

[2016-01-08 14:13] ntozier commented on #1189
Q: U always said develop-next but is this already include in actual RCs then?
A: @greezybacon said "the draft system was rewritten for v1.10 (develop-next branch)" on May 28th.
This is after 1.10DPR was released.
1.10RC1 was released on July 22nd.
1.10RC2 was released on August 19th.
So the new draft system would be in all of those versions.

Q: And if there is a actual working version, is there a

[2016-01-08 15:09] mfelber commented on #1189
My understanding is that the custom queue feature will not be part of osticket 1.10. It will be part of the next major version: https://github.com/osTicket/osTicket-1.8/pull/2577#issuecomment-146565406

[2016-01-08 16:34] ooglek commented on #1225
@greezybacon On Merging Tickets, I think that there is some confusion about the effect of a merge to the user and the actual means of the merge in the backend.
  * **Contamination** -- if both tickets are kept separate in the database, there is no contamination. Upon a "merge" action, a "link" between two tickets would be created, and a relationship type (Ticket 3 is a child of Ticket 4, Ticket 4

[2016-01-08 16:38] kest874 opened #2848 "1.10 RC2 when adding or removing collaborators ticket view does not refresh"
When you add or remove a collaborator from the ticket the ticket does not refresh the change.  When it doesn't refresh it will not send the current reply (one in edit box) to the newly added collaborator.

[2016-01-08 16:40] #2848 closed

[2016-01-08 16:43] ntozier commented on #2848
Since you closed this... are we to take that this is not an issue?

[2016-01-09 00:27] greezybacon commented on #1225
@ooglek You're combining the concepts of issues (linked tickets) and merging. How can you merge two things and end up with two things which are linked? The idea of merging implies collapsing multiple things into one thing; hence removal of merged items.

[2016-01-09 01:13] Hannibal226 commented on #1225
@greezybacon @ooglek

MY opinion on this is, on database view ooglek is right and tickets shouldn't be just deleted.
On usage/interface site greezy is correct and u have to hide/replace the old stuff, otherwise merging is senseless.

BUT again, why so complicated?
Why the tickets just get closed (maybe a specific merge status) with merging?

This means tickets still reachable or better viewable vi

[2016-01-09 01:25] Hannibal226 commented on #1189
@ntozier
Thanks for reply

1) OK so this should be fixed in RCs and I read feedback to DPR, maybe.

2) But this isn't what I mean. The devs should have a bin of things to do and I think they know when a new RC is necessary or final. So there's a difference for me, when I know the work is going ahead for the final or the next RC3 first.

3) In general yes, but it's always a question of features and

[2016-01-09 06:11] alirezastack commented on #2822
wow that is awesome. we are waiting until then.

[2016-01-09 11:28] mfelber commented on #1189
@Hannibal226
Yes 1.10 is a major release (but without custom queues). I don't know how the next major release (with custom queues) after 1.10 will be named or how it will looks like. There isn't much information on this..

[2016-01-09 11:53] Hannibal226 commented on #1189
@mfelber

Alright thanks again ;)

mfelber <notifications@github.com> schrieb am Sa., 9. Jan. 2016, 12:29:

[2016-01-10 08:09] gitfve opened #2849 "Latest build August, long time ago. [Question]"
There are many outstanding, for me the editor problem can't go on (https://github.com/osTicket/osTicket-1.8/issues/2373#issuecomment-158281181).
Latest build August, long time ago.

[2016-01-10 12:20] antopj opened #2850 "OSticket Cannot fetch emails. Can't connect to <domain>143: Permission denied"
Hello All,

Installed OSticket
issue in fetching email

Invalid login. Check IMAP settings
 Can't connect to <domain>143: Permission denied

telnet to 143 success.
working email no issues in webmail
SElinux disabled

Still not working

-Pls help..

Thanks

[2016-01-10 13:57] PeopleInside opened #2851 "Issue when reply to ticket: Editor but maybe also Issue in the visitor side"
Hi,
is not easy give a title to this topic also my English is little so try to understand me.

I am using Osticket version 1.9.12 and I am on the operator side. I AM writing a long reply to the customer. My browser is Firefox 43.0.4 who is the last available today.

The HTML editor text advance is active so i can customize text color, bold or not... if you try to write a long message there are iss

[2016-01-10 14:10] PeopleInside commented on #2851
Also if i disable the editor with the button <> i have wrote a long message, press send and loosed all text because was replaced, removed. Is not good. Very bad. I can't manage ticket in this way.

[2016-01-10 15:08] PeopleInside commented on #2851
OK so consider also today I loose a full reply in the ticket for switching from HTMl to not HTML with the button <> for this issue.

As you can see I have tried in demo online but is the same on my server.
Here is a video with the issue of write a ticket reply or message on OsTicket

http://screencast.com/t/AC9R7Z3464Wr

Very bad

[2016-01-10 15:20] PeopleInside commented on #2851
Maybe this is Firefox issue and should fowarded to Firefox BUG.
Please let me know if we have to Foward this issue to Firefox.

[2016-01-10 15:39] mfelber commented on #2851
I think this is a duplicate issue: https://github.com/osTicket/osTicket-1.8/issues/2373

The html editor of osticket called "redactor" from imperavi has problems with newer firefox versions. osTicket 1.10 will have implemented a newer version of redactor, this will solve this problems as far as I know..

[2016-01-10 15:40] mfelber commented on #2849
I don't see a question..

[2016-01-10 15:41] PeopleInside commented on #2373
Very terrible! I have loosed a ticket reply for that because write my response to a ticket was very difficoult... so i switched to non HTMl by the button <> and when sended the reply all my text was loost, not sent and not visible again by pressing back button.

[2016-01-10 15:42] PeopleInside commented on #2851
Thank you, so sorry for this duplicate, I will close now. Very terrible issue, I have lost a ticket reply for this issue, all my text lost.

[2016-01-10 15:47] gitfve commented on #2849
My question was missing, ok here it is: When to expect a working solution for the editor problem(as #2373)?

[2016-01-10 16:10] mfelber commented on #2849
Wouldn't it be better to ask this question in the issue report you have mentioned in order to avoid multiple issue reports for the same issue (it is a duplicate issue)...

The last reaction from one of developers to this was that this will be solved in osTicket 1.10 due to an upgrade of the used html editor (redactor from imperavi) like you can see in https://github.com/osTicket/osTicket-1.8/issue

[2016-01-10 16:13] gitfve commented on #2849
I agree, will move it.

[2016-01-10 16:13] #2849 closed

[2016-01-10 16:13] gitfve commented on #2373
When to expect a working solution for the editor problem?

[2016-01-10 16:15] PeopleInside commented on #2373
Right question :) is not a small issue... is very hard to manage tickets.

[2016-01-10 17:21] mfelber commented on #2850
I guess this type of question would fit better to the forum of osticket.

Here are the guidelines: http://www.osticket.com/forum/discussion/77765/please-read-before-requesting-assistance
The version of osticket, the php version, the mail server type and a screenshot of your configured email settings in osticket for this mailbox could help to assist you better..

[2016-01-11 01:15] herdi89 commented on #2809
Hi ntozier,

If I do the configure myself, are you sure it can works with office365? still got no problem?

[2016-01-11 03:28] ntozier commented on #2809
Other people have posted on the forums that they are using osticket with Exchange 365.

[2016-01-11 08:04] centoasa commented on #2825
Just installed develop-next
Ordering now works great! But disappear the reply ticket button on header

[2016-01-11 11:19] DanYNWA opened #2853 "agents sending emails to clients"
I was wondering if there is a way for agents to send emails responses to clients? Is there a mod or a plugin at all?

[2016-01-11 14:06] centoasa opened #2854 "issue when close ticket"
Fatal error: Call to a member function getBaseUrl() on null in /var/www/vhosts/100asa.it/ticket.100asa.it/include/class.client.php on line 64

when reply to a ticket and close it
But message was append however and (hope) send to customer.
(osticket branch develop-next)

[2016-01-11 14:08] ntozier commented on #2825
That sounds like a separate issue.

[2016-01-11 14:10] centoasa commented on #2825
the button was "answered" (sorry for mistake)

[2016-01-11 14:12] ntozier commented on #2853
I do not understand your question.  You have control over sending emails... Agent responses to users get emailed to the user that owns the ticket (and any collaborators on the ticket).

Did you perhaps not configure email?
Or disable the Autoresponders or Alerts and Notices?

[2016-01-11 15:51] telx85 commented on #2853
I think what he is trying to get at is ...

Can agents reply to a ticket using email??

So if I get an email for a support ticket 123456, I click reply to that email and type my response will it be sent to the clients (and collaborators).

The answer is no. But his question asks is there a mod for this or better yet is there a road map for this to be made possible if desired?

[2016-01-11 16:17] ntozier commented on #2853
Q: Can agents reply to a ticket using email??
A: Yes...  But not to the client.  Email responses from Agents are logged as Internal Notes.

Q: But his question asks is there a mod for this
A: Yes.  It's been posted about on the forums.

Q: or better yet is there a road map for this to be made possible if desired?
A: Not that I am aware of.

[2016-01-11 20:26] ooglek commented on #1225
@greezybacon Merging is a UI concept, not a backend concept. From the user's perspective, the ticket looks merged, because once they take the Merge action, they see the Master ticket has all of the correspondence in chrono order in their view, and replying goes to all parties merged (or excluded at the time of merge). So the user sees a Merged ticket.

On the backend, you want to make things as cl

[2016-01-11 20:45] ArthurBorsboom commented on #2602
Arch Linux has updated their PHP version from v5 to v7.
osTicket is the only webapp currently blocking the upgrade.

+1 for making the 1.9.x version PHP7 compatible.
+1 for all the great work on osTicket

[2016-01-11 20:58] Hannibal226 commented on #1225
@ooglek

So in ur way u want to open Ticket A,  B and the "master" C as far as a mail going into ticket A.

But without knowing the code I would say this it at least at difficult/easy when mail coming into A, which is a merged one from C.
Which means only C change to online.
So here only one routine is needed (flag or via relationship table [like unmentioned]).

The sense of merge is cleaning up.

[2016-01-11 22:37] ooglek commented on #1225
@Hannibal226

My scenario works like this:
* Customer A emails, creates Ticket A
* Customer A emails, same email address, creates Ticket B
* Customer A emails, different email address, creates Ticket C

OST User/Agent decides to use Ticket A as the "Master" and to Merge Ticket B and Ticket C to Ticket A.
* OST Creates a linked relationship, Ticket B is a child of Ticket A
* OST Creates a linked re

[2016-01-12 07:08] shoan commented on #202
I am having a similar problem with 2 osticket installations that email each other. I have set `define(MAIL_EOL,"\n");` in ost-config.php in both the installations. But yet, the processed emails result in tickets with no body/thread content when the email originates from the other installation.

One installation is v1.9.7 and the other is v1.9.12

[2016-01-12 10:00] t-oster opened #2855 "develop-next: Email Autocompletion (SCP) broken"
If I create a new ticket, the email search does not contain the right address anymore.

Before (somwhere commit 3e47a230e6a0ffeca85a7f9896a0fa5f3e5465bf)
![vorher](https://cloud.githubusercontent.com/assets/1052720/12260225/e6c18990-b91a-11e5-93bb-93d4cb5f5e09.png)

After (at commit 364044e8552c8ba64dd25026dc39c873538face3):
![after](https://cloud.githubusercontent.com/assets/1052720/12260232/eca4

[2016-01-12 10:50] Hannibal226 commented on #1225
@ooglek

- How to implement the child-master relationship ** me: Just a relationship table ** you: ??
- State of Master and Child Tickets ** me: I believe Master and Child Ticket state should remain in sync, so that customers can reply to any of the tickets, and that correspondence goes into the customer-intended ticket, so that during an Unmerge there is consistency and no mixing of unintended re

[2016-01-12 11:42] gartut commented on #2369
+1

[2016-01-12 13:01] #2853 closed

[2016-01-12 13:04] DanYNWA opened #2856 "incoming emails from outlook <!</style> appears in the ticket thread"
![screen](https://cloud.githubusercontent.com/assets/11150436/12264221/20cf9a8e-b92d-11e5-90f0-5c95f824cae6.png)

when a client post a response using outlook <!<//style> appears in the ticket thread instead of the original message.

[2016-01-12 14:21] greezybacon commented on #2856
I've seen this one before. What version of osTicket are you using?

[2016-01-12 14:22] greezybacon commented on #2855
I noticed this at the tip of `develop-next` too

[2016-01-12 14:24] greezybacon commented on #202
You will need to configure differing reply separator tags for each setup. Neither should contain the characters of the other.

[2016-01-12 15:00] t-oster commented on #2855
I bisected and this e02ab7baa473ae319cefed520d67737d88ed56d6 seems to be the bad commit.

[2016-01-12 15:04] ooglek commented on #1225
@Hannibal226

* Relationship -- agreed
* State of Tickets -- The reason I am suggesting that we keep the state in sync with Master and Child is due to the case where an email comes in destined for the Child.
** If we "close" the children tickets, what do we do with this new email? If we add it to the correspondence of the Master, then we won't be able to "Unmerge" cleanly. If we add it to the corr

[2016-01-12 15:31] Hannibal226 commented on #1225
@ooglek
- State of Ticket
   - Touché. I forgot the option of unmerge, which will be for sure easier and more structured, if mails going into that directly.

Good to see we getting together here :P

CHEERS ;)

[2016-01-12 16:55] jround commented on #2797
I have just installed the latest Google Chrome beta (Version 48.0.2564.71 beta-m (64-bit)) which seems to resolve the issue.  Could someone else try and post their results?

It would be easier if an osTicket fix could be found however as I find pushing out Chrome updates to all our PC estate can be a little flaky at the best of times!

[2016-01-12 18:10] twjenn2 commented on #2797
I just downloaded the Chrome Beta as well and tested file uploads.  Everything is working as it should with this beta version.  I'm running Version 48.0.2564.71 beta-m (64-bit).

Thanks for the update, jround!  I can't push the Chrome update since it is unreliable, but I will hold out hope that the next update or two for Chrome will fix the issue.

[2016-01-12 19:22] ntozier commented on #2856
And what version of Outlook?
And what format are you sending email in?

[2016-01-12 22:18] simonnzg commented on #2835
That's interesting as I got this: "Fatal error: Call to a member function getBaseUrl() on a non-object in /var/www/html/tickets/include/class.client.php on line 64" only a few minutes ago on a fresh pull from develop-next whilst trying to reply to a ticket.

Simon

[2016-01-12 22:21] A-Lawrence commented on #2835
This hasn't yet been merged with the development branch. It'll only appear once Jared approves the PR (he's already given it the thumbs-up: https://github.com/osTicket/osTicket-1.8/pull/2837)

[2016-01-12 22:29] simonnzg commented on #2835
Thanks for the heads-up!

[2016-01-12 22:31] nfebuary commented on #1225
The merging UI could go along with the collapsable thread feature here:#2699

I think we should have an icon on the ticket listing indicating if a ticket has merged tickets. Then agents will know if they can un-merge from the ticket listing or from the actual ticket view.

There needs to be a system event of the merge and when it took place in the ticket view. Tickets that are being merged need to

[2016-01-12 22:36] dhpennell opened #2859 "following a path recommendation on install for Ajax made osticket not work"
PHP Version => 5.4.16 on a CentOS 7.

The two things our vanilla php.ini didn't have (warnings) according to the install were a time zone and, I think, path translation. The latter, suggested to make AJAX work better,  wrecked the whole install, and even reverting to our old php.ini, restarting the server, didn't help.

We deleted the contents of our mysql database and reinstalled osticket from sc

[2016-01-12 22:37] dhpennell commented on #2859
By wrecked i mean blank page. Also going directly to pages by name caused blank pages or errors.

[2016-01-13 00:18] ntozier commented on #2859
Version of osTicket?
A blank page indicates a PHP error, please consult your PHP error log.

[2016-01-13 02:00] cornelldevelopments opened #2860 "LDAP Login slow"
Hello,

I've installed osticket 1.9 and successfully installed and configured the LDAP plugin.

When users login however, it takes about 30 seconds to log them in. Even if they've logged in before and their account has already been created.

I've tried this on other versions of osticket but it's the same with all. LDAP is installed properly but users take ages to be logged in.

Any help would be m

[2016-01-13 02:30] ntozier commented on #2860
osTicket 1.9? There are 20 different versions of osTicket 1.9. Which version are you running?
Which version of the LDAP plugin are you running?  It is a .phar or extracted?
What LDAP server are you running?
Which version of PHP are you running?
How many hops is it from your webserver to your LDAP server?

[2016-01-13 02:51] cornelldevelopments commented on #2860
Currently, I'm running 1.10-rc2. But I've also tried and same issue on 1.10-rc1, 1.9.9, 1.9.11 and 1.9.12. My point was any version I tried same issue.
The plugin version is 0.6.2. and is a phar file.
The server is MS server 2008 R2.
PHP version 5.4.
Not sure how to calculate the hops. The webserver is hosted externally on a standard cpanel webhost.

The other thing is, using LDAP for agents to lo

[2016-01-13 03:14] ntozier commented on #2860
Do a traceroute from the webserver to the AD server (or vice versa).
You could also do a continuous ping to see what the latency is.

Since before the ldap plugin was released I've been running my own in house AD and IIS server, and I have never had login time like you describe.

[2016-01-13 05:15] cornelldevelopments commented on #2860
It shows 30 hops and an average ping time of 30ms between our internal AD and the external host. Also, as mentioned, agents are authenticated instantly but users take long. However with agents, you have the option in the osticket back-end to choose "LDAP" authentication only. Whereas users don't have this. This is what makes me suspect it's taking long attempting something else before trying ldap

[2016-01-13 05:22] cornelldevelopments commented on #2860
I just copied osTicket to an internal web server. Now authentication takes like 2 seconds. So I guess the 30 seconds it takes when it's hosted externally is used up on latency and communication perhaps...

[2016-01-13 08:31] tuudik commented on #1178
Hi,
I've modified @thammanna plugin to work with Rocket.Chat https://github.com/tuudik/osticket-rocketchat/
Added some features from @laufhannes fork.

But there is one thing that bugs me. Currently when new ticket is created, plugin will make double notifications:
[code]

How could I modify the plugin, so it would send only the "New Ticket" alert and not "Message by"?

[2016-01-13 08:48] laufhannes commented on #1178
I think you must either remove the `onTicketCreated` part or the `onMessageCreated` part. A new ticket will emit both signals.

[2016-01-13 08:50] tuudik commented on #1178
This means I can select between two options, but not both, as I understand?

[2016-01-13 10:40] DanYNWA commented on #2856
im using 1.9.12 version

On Tue, Jan 12, 2016 at 2:22 PM, Jared Hancock <notifications@github.com>
wrote:

[2016-01-13 10:42] DanYNWA commented on #2856
not sure on the version of outlook whatever version is the latest using
outlook.com (i don't use it that was just checking to see if it worked
using outlook in case clients use it)

On Tue, Jan 12, 2016 at 7:22 PM, ntozier <notifications@github.com> wrote:

[2016-01-13 14:01] PsyMan2000 commented on #1432
1.9.12 is still having the same problem when adding an in line image in firefox (43.0.4 at time of typing) both Firefox for Windows and same issue in Firefox for Mac.

1. respond to ticket
2. add image (drag one in to the box)
3. hit reply

Recieving email has a 24x24 tiny image.

If you edit the image before hitting reply and save it is fine, the actual view of the reply in firefox is the right s

[2016-01-13 16:37] Hannibal226 commented on #1225
+1

[2016-01-13 18:27] Luis-PvxPlus opened #2861 "Broken registration links when signed in with a ticket#"
Hi all,
It seems that the links to the registration page are broken when the user is signed in using their email address and ticket number.
When a user is looking at a single ticket by providing just their email and ticket #, there is a nice message at the top of the page that says
    "Looking for your other tickets?
    Sign In or register for an account for the best experience on our help desk.

[2016-01-13 18:52] Luis-PvxPlus commented on #2024
This looks similar to the problem that I reported on issue 2861.
Could this solution also solve the "Server Error 500" that I'm getting with those same links?
Click here: https://github.com/osTicket/osTicket-1.8/issues/2861

or visit my osticket forum thread here:
http://www.osticket.com/forum/discussion/87118/broken-registration-links-when-signed-in-with-a-ticket

[2016-01-13 19:17] Luis-PvxPlus commented on #2024
Good news!  This fix solved my problem too.  Thank you @matlinuxer2 !

[2016-01-13 19:21] Luis-PvxPlus commented on #2861
The fix found in issue #2024 solved my problem.

[2016-01-13 19:21] #2861 closed

[2016-01-13 23:56] philbertphotos opened #2862 "Delevelop Next breaks user search via LDAP plugin"
I notice can no longer search for users via LDAP unless I fully spelled out their name.

[2016-01-13 23:57] philbertphotos commented on #2862
I noticed is the same as  #2855

[2016-01-13 23:57] #2862 closed

[2016-01-14 07:59] infectormp commented on #2797
I have the exact same problem with Chrome 48.0.2564.79 beta-m (64-bit) and FF 45

[2016-01-14 08:10] infectormp commented on #2797
IE give me same error

[2016-01-14 12:17] tuudik opened #2863 "Advice regarding plugin, new ticket creates two events"
Hi,
I've modified @thammanna plugin to work with Rocket.Chat https://github.com/tuudik/osticket-rocketchat/
Added some features from @laufhannes fork.

But there is one thing that bugs me. Currently when new ticket is created, plugin will make double notifications:

[code]

How could I modify the plugin, so it would send only the "New Ticket" alert and not "Message by"?
What would be best way cons

[2016-01-14 15:18] R1chardTM commented on #2309
I am experiencing this issue very often and it is getting pretty annoying. Hoping for a fix soon.

[2016-01-14 15:20] barrydegraaff commented on #2309
Please note, that I already proposed a fix for this some 6 months ago....
https://github.com/osTicket/osTicket-1.8/pull/2480

[2016-01-14 15:24] Hannibal226 commented on #2309
@barrydegraaff
Don't get me wrong, but this isn't a fix, this is a workaround.
So even it's better, the problem itself is still there.

CHEERS!

[2016-01-15 00:51] jdelhome3578 commented on #2336
@greezybacon Please create a phar and I will test.

[2016-01-15 15:48] philbertphotos commented on #2863
I was working on a plugin that used "Signal::connect('model.created" the best thing to do is a json_encode the array and look for what you need so it only triggers in its a new ticket.

Short example :
 function bootstrap() {
        self::$config = self::getConfig();

        $object = Signal::connect('model.updated', array('ClosedAlertPlugin', 'closedTicket'));
    }

    function closedTicket($

[2016-01-15 16:35] tuudik commented on #2863
Thank you for the hint @philbertphotos

Searched through source, found this:
[code]

So, my logic says, I can use something like this:
[code]

[2016-01-15 17:38] tuudik commented on #2863
I must say, didn't work as expected:(

[2016-01-15 19:28] philbertphotos commented on #2863
Sorry that did not work let me see what i can dig up for you.

Sent from my iPhone

[2016-01-16 03:53] how02081 opened #2866 "File upload error #1 for attachment after done the attachment setting."
My company is using Osticket but when we try to upload the attachment and it will prompt "file upload error #1".

The path to store the attachment is /var/www/html/attachment.

I'm new to GitHub. Does anyone here can help me on this? Thanks. =)

[2016-01-16 07:12] how02081 commented on #2866
Settled after restarting apache server.

[2016-01-16 07:12] #2866 closed

[2016-01-16 15:51] philbertphotos opened #2867 "Ablity to select canned responses for multiple Departments"
Right now you can set canned responses to one department but in my shop we have a need for that same response to be available in multiple departments would be a nice feature.

Since its getting hard to since we have no choice but keep the default of "All Departments" is becoming an organization problem.

![01162016-110126](https://cloud.githubusercontent.com/assets/2892474/12373169/ffd0059a-bc46-1

[2016-01-17 00:05] philbertphotos commented on #2863
Take a look at this it may help you.
https://github.com/poctob/OSTEquipmentPlugin/wiki/Plugin-Development-Part-5-Signals

[2016-01-17 23:32] calebpaine commented on #2373
This is a pretty major issue, I understand that 1.10 has a lot of new stuff in it, would it be possible to just make a point release of 1.9 to fix this bug? OSTicket is pretty much impossible to use with Firefox if rich-text is enabled, so we've been forced to turn it off.

[2016-01-18 17:23] JohnDelisle opened #2868 "1.10 (364044e8) error saving pages"
When I edit a page (via Admin -> Manage -> Pages, select a page, and make a change) I get the following error on-screen and in my ssl error log:

Warning: Invalid argument supplied for foreach() in /opt/osTicket-git/osTicket-1.8/include/class.page.php on line 322

[2016-01-18 18:29] gromm opened #2869 "[INSERT INTO ost_user_email SET `address` = '�\'\'�@.MISSING-HOST-NAME.']"
Hi everyone.

A few weeks ago, on a day that I wasn't even present to make any systems changes, I suddenly started getting e-mails exactly like this, every time a new trouble ticket was created from an incoming e-mail:

Aside from these (very annoying) e-mails, everything works fine. Trouble tickets get created, new e-mail addresses get added to the addressbook, replies go out, everyone is happy (

[2016-01-18 20:42] GoodbyeWorld commented on #2868
Update:  Just to be sure it wasn't specific to my install, I did a clean fresh install of 1.10 (364044e8), and the issue is there.

[2016-01-18 21:27] kest874 commented on #2826
I also like the idea of canned tasks tied to a help topic:

HR requests a new user to be added, takes are then created, 1. create account, 2. setup equipment, 3 etc

Canned tasks could autoassign to a particular agent via a setting.

[2016-01-18 21:58] troycarpenter opened #2870 "1.10 Agent welcome email selection is missing"
In 1.9.12, when adding a new agent there is a checkbox that says for Welcome Email when creating the agent account.  That selection seems to be missing in 1.10.  If it moved to another screen, I can't find it.

[2016-01-18 22:56] troycarpenter commented on #2870
To make this work, I added the following in include/staff/staff.inc.php at line 175:
[code]
It appears the backend code still understands how to send the email.  The first line assures the checkbox only shows up when adding an agent.  Also, this assumes you want to send the welcome emails by default as it automatically checks the box.

[2016-01-19 20:00] mattkoch614 opened #2871 "XSS Vulnerability - open.php"
The open.php (New Ticket) page is vulnerable to XSS attacks. I was able to change my profile "Full Name" field to the following:

[code]

This resulted in the script being executed when I loaded the open.php page (see attachment).

![xss_vulnerability](https://cloud.githubusercontent.com/assets/8203609/12430382/528a5754-bebd-11e5-892f-04e2ed3ff0d5.PNG)

[2016-01-19 20:09] noleafclover614 opened #2872 "File attachment extension validation"
File extension validation for attachments is not enforced server side - only locally via JavaScript.  Is this something that is being considered for a future release?

[2016-01-19 20:15] noleafclover614 commented on #2872
Moving this to https://github.com/osTicket/core-plugins/issues

[2016-01-19 20:26] jdelhome3578 opened #2873 "1.10 bug: Manage Forms AJAX Window"
Unable to delete forms from the Manage Forms Window.
tip of develop-next

[2016-01-19 21:26] Chefkeks commented on #2871
What version of osTicket are you running?

[2016-01-19 22:08] ntozier commented on #2871
I can confirm that this can be done on 1.10rc2.

Side note: the name field appears to be limited to 128 characters.

[2016-01-19 22:33] noleafclover614 commented on #2871
@chefkeks
1.9.12

[2016-01-20 04:47] darinkr commented on #6
So is this bootstrap theme for osTicket available?  I would LOVE to have a clean, responsive theme for osTicket!

[2016-01-20 06:18] Chefkeks commented on #2871
Thanks!

I sure @protich @greezybacon will take care of that.

[2016-01-20 07:05] mbtolou opened #2874 "Bug in advanced search for unicode list (in 1.10 rc2 and 1.9)"
![image](https://cloud.githubusercontent.com/assets/6413705/12441956/558b9720-bf61-11e5-87bc-fd1eaba0aa83.png)

without search result problem
![image](https://cloud.githubusercontent.com/assets/6413705/12441971/6e61587a-bf61-11e5-8c07-4bd9a26bc7f8.png)

[2016-01-20 10:08] andreas-kolf commented on #2628
I also have same Problem.

Clean install with:
Debian 3.16.7-ckt20-1+deb8u3 (2016-01-17) i686 (Jessie), Linux 3.16.0-4-686-pae,
Apache 2.4.10,
PHP 5.6.14-0+deb8u1,
MySQL 5.5.46,
osTicket v1.9.12 (19292ad),
external IMAP and SMTP with STARTTLS

When i enable IMAP on port 143 it seems to have no problem and fetches "new" Mails. Setting SMTP to enable, server-port to 587 and authentication to yes i g

[2016-01-20 13:27] kest874 commented on #6
See this pull https://github.com/osTicket/osTicket-1.8/pull/2789 for the client side that I did.

[2016-01-20 13:54] #2362 closed

[2016-01-20 13:56] jdelhome3578 commented on #2340
@greezybacon @protich this is still an issue from tip develop-next

[2016-01-20 13:58] #2339 closed

[2016-01-20 13:59] #2329 closed

[2016-01-20 14:11] #2873 closed

[2016-01-20 14:12] jdelhome3578 commented on #2407
@greezybacon @protich This is still an issue

[2016-01-20 16:08] dotcade opened #2875 "Search Timing Out and Eating CPU"
When a search query is entered into OsTicket, the CPU usage spikes up 85% and the mysql57.exe process begins to eat up the CPU. In the browser when you perform the search it takes about 15-16 seconds and then it just times out.

We did not originally have this issue when we were running it on XAMPP.

The VM has 6gb of ram and 4 cores.

OSTicket: 1.9.7
MySQL: 5.7.10
PHP: 5.6.12

[2016-01-20 16:15] ntozier commented on #2875
1.9.7 is old, you should upgrade to current.

[2016-01-20 17:11] balojs opened #2876 "Fatal error: Call to a member function getBaseUrl() [v1.10-rc.2]"
When i make a post
Fatal error: Call to a member function getBaseUrl() on a non-object in /Applications/MAMP/htdocs/finanzas/include/class.client.php on line 69
![screenshot](https://cloud.githubusercontent.com/assets/3303352/12456664/7d0ab1f0-bf66-11e5-95aa-b61740991a98.png)

[2016-01-20 17:19] mfelber commented on #2876
Seems to be a duplicate issue: https://github.com/osTicket/osTicket-1.8/issues/2835

[2016-01-20 17:30] balojs commented on #2876
Thanks my friend @mfelber the fix worked
![screenshot](https://cloud.githubusercontent.com/assets/3303352/12457266/383ebd7a-bf69-11e5-929b-64b4b0e37571.png)

[2016-01-20 17:33] mfelber commented on #2876
@balojs I'm glad I could help...

[2016-01-20 17:37] balojs commented on #2876
#2876 Fix Call to a member function getBaseUrl() [v1.10-rc.2]

[2016-01-20 19:50] balojs opened #2877 "the validations show no entry that has Error [v1.10-rc.2]"
http://localhost:8888/osticket/scp/settings.php?t=tickets

![screenshot](https://cloud.githubusercontent.com/assets/3303352/12461000/44fa4a08-bf7c-11e5-82a5-ce4145e16298.png)

[2016-01-20 19:50] balojs commented on #2877
Maximum Open Tickets: no have value

[2016-01-20 20:04] balojs commented on #2877
Unable to update settings - correct errors below and try again

[2016-01-21 12:10] rjboer commented on #2373
1.9.12 and have this too, its driving some of the staff nuts..
Can't we change redactor for another editor?

[2016-01-21 12:56] jdelhome3578 commented on #2816
:+1:

[2016-01-21 13:22] snizzleorg commented on #1521
I personally would need the option to be available for all agents (or an option to make it available for selected agents) - not just for the department managers

[2016-01-21 13:46] jdelhome3578 opened #2878 "Feature: Show Status on queues"

[2016-01-21 15:02] ntozier commented on #2878
Huh?

[2016-01-21 15:21] kest874 commented on #2878
This will be available in 1.11 see https://github.com/osTicket/osTicket-1.8/pull/2577

[2016-01-21 16:05] #2878 closed

[2016-01-21 16:06] mfelber commented on #2878
I guess he knows that because he is one of the participants in #2577. Maybe he tries to say something different..

[2016-01-21 16:10] jdelhome3578 commented on #2877
I don't have this issue. Is this a clean install or update?

[2016-01-21 16:17] balojs commented on #2877
is clean install

[2016-01-21 16:22] jdelhome3578 commented on #2877
try #2880

[2016-01-21 16:34] ntozier commented on #2878
presumption.  What was said is that this will be in the next major release after 1.10.
What the number is can be speculated to be 1.11, but it might not be.

[2016-01-21 17:14] kest874 commented on #2878
Yes true, probably should have said sometime after 1.10, when you do testing on https://github.com/osTicket/osTicket-1.8/pull/2577 the upgrader shows as 1.11

[2016-01-21 17:36] gmt-it opened #2881 "develop-next - new ticket cancel button"
![cancel](https://cloud.githubusercontent.com/assets/10116166/12488861/e9e5f570-c06d-11e5-8ca5-328ac3e8bc74.png)
Cancel Button at new ticket has no function after choose of helptopic.

[2016-01-21 17:39] gmt-it opened #2882 "develop-next - Offline page"
At latest develop next tip, offline page is showing in english only. Translated content is not shown.

[2016-01-22 13:22] bluego78 commented on #1463
Did you found any solutions?
I have the same problem :-(

[2016-01-22 13:33] mfelber commented on #1463
I have just tested it with 1.9.12 and in this version this ui bug doesn't occur. So I think an upgrade will be a good solution.

Not only therefore in the meantime were multiple issues fixed and multiple improvements made :
https://github.com/osTicket/osTicket-1.8/releases

[2016-01-22 13:39] bluego78 commented on #1463
Thanks, but i've edited to many files in my version and i can't update :-(

[2016-01-22 13:53] mfelber commented on #1463
Maybe you could look at the release notes to find the fix or compare the files between this versions to find it. I could imagine that this was a minor change that will be compatible with your special environment.

Sorry, I have no better advice for you...

[2016-01-22 16:02] bluego78 commented on #1463
Thank you, i've fixed, the problem was in: include/class.forms.php.
I've replaced it with the 1.9.12 version and it's ok now.
Hope this could helps.

[2016-01-22 16:11] mfelber commented on #1463
Good to hear that you find a way to fix this in your environment. Sharing those information could indeed help others (who are in a similar situation)..

[2016-01-22 20:07] rjboer commented on #2373
Perhaps too early to cheer, following the instructions of Draconis, on the website of osticket, we believe we fixed it.
http://osticket.com/forum/discussion/comment/92228/#Comment_92228
We weren't able to reproduce the issue (yet).

On line 308 of redactor-osticket.js located in folder js of your osticket installation :
if (settings.url.indexOf('ajax.php/draft') != -1
change: ajax.php/draft into a

[2016-01-22 20:18] PeopleInside commented on #2373
Thanks for share @rjboer

[2016-01-23 05:01] mbaghert commented on #2625
custom field search not result

[2016-01-24 01:08] ntozier commented on #2625
@mbaghert Huh?

[2016-01-25 17:08] simonnzg commented on #2835
I know that there's a fix, but is this ever going to be merged with develop-next?

[2016-01-25 18:24] 666reyes666 opened #2883 "Some characters problem"
Message is partially lost when some characters are in the email

Eg:  😊
Ticket is trunked and only content before the 😊 is displayed

[2016-01-25 19:21] ntozier commented on #2883
What version of osTicket are you running?

This has been reported numerous times for older versions, and has since been fixed.  Please use search in the future.  Here are just a few I found with search:

https://github.com/osTicket/osTicket-1.8/issues/2144
https://github.com/osTicket/osTicket-1.8/issues/1259
https://github.com/osTicket/osTicket-1.8/issues/674
https://github.com/osTicket/osTicket-1

[2016-01-25 19:58] philbertphotos opened #2884 "Hover/Popup over Filter in 1.10r2"
Would be nice to be able to hover over a filter and see what the filter is ... as it stands you have to click on each filter to see what it does. If you have 40+ filters it gets harder.

[2016-01-25 20:06] ntozier commented on #2884
To me this mostly sounds like a case of you need to name your filters better. :)

[2016-01-25 21:28] 666reyes666 commented on #2883
My apologies if it is a duplicate.. I  didnt find it
I upgraded to v1.9.12 a few weeks ago.. This happened yesterday, fetching from gmail

About this osTicket Installation

Server Information
osTicket Version	v1.9.12 (19292ad) —  Up to date
Web Server Software	Apache/2.4.10 (Unix) OpenSSL/1.0.1e-fips mod_bwlimited/1.4
MySQL Version	5.6.28
PHP Version	5.5.18

[2016-01-25 21:39] 666reyes666 commented on #2883
Message is cut at =F0=9F=98=8A

Content-Type: text/plain;
	charset=utf-8
Content-Transfer-Encoding: quoted-printable
Mime-Version: 1.0 (1.0)
X-Mailer: iPad Mail (13C75)

Bonjour, je ne sais pas si je suis vraiment incomp=C3=A9tente, mais je suis i=
ncapable de modifier mon adresse courriel dans mon compte.=F0=9F=98=8A  J'ai=
 un compte  avec mon ancienne adresse soit:  ...................

[2016-01-26 01:44] philbertphotos commented on #2884
I do name them ... pretty well but the problem I forget what it specifically does at times and other admins dont always know so yes a mini summary would be freaking awesome.

[2016-01-26 03:45] protich commented on #2872
The issue addressed in commit fdad9239 - to be merged into the upcoming release.

Thanks,

[2016-01-26 14:41] greezybacon commented on #2883
The MySQL character set we're using is utf8, which only allows up to three byte characters. The Emoji characters use four. You can manually change your database default schema and table schema (especially on %thread_entry) to `utf8mb4`, which allows four-byte characters

[2016-01-26 14:43] greezybacon commented on #2883
@protich, I personally would like to like to see the minimum requirements for MySQL move to v5.5 and the default character set change to `utf8mb4`. I'm sure this issue is going to keep coming up.

[2016-01-26 17:12] Chefkeks commented on #2883
@greezybacon
Since we already changed to utf8mb4 here, I totally agree with you, as well as MySQL 5.5

[2016-01-27 12:43] DanYNWA commented on #2856
I am still having issues with this. can anyone help me?

 thank you.

[2016-01-27 13:59] eljagg commented on #2532
Thank you. it worked.

[2016-01-27 13:59] #2532 closed

[2016-01-27 17:10] alexpow89 opened #2885 "Cannot "Select All" in 1.10RC2"
1.10 RC2

When I'm in as an agent and go to the user directory, there is no option to select all at the bottom footer. I do see this option when I go to the "Organizations directory." I've looked at the code in users.inc.php (in the include ---> staff folder). Line 202 has the code for the footer. The footer code is identical to the code in the orgs.inc.php file.

The only thing I can figure is th

[2016-01-27 18:34] ntozier opened #2886 "1.10rc2 - css issue on manage form page(s)"
Tested in current versions of Chrome, Firefox, IE11, Opera.

In all but IE the Form Fields section of the page are too wide for the container they are in which results in the Delete column being shifted to the right looking messy. (see image below)

![css-issue-1-chrome](https://cloud.githubusercontent.com/assets/1315768/12623920/50a49c90-c4fa-11e5-8f8f-ae454251c41a.png)

[2016-01-27 18:57] eljagg opened #2887 "404 Page When "Application" link is clicked"
Hi,
I have installed the Equipment Plugin and when I go to "My Preferences" => "Applications" I get he following error, it appears to be a broken link. Can anyone point me in the right direction on how I can fix the issue.

Object not found!

The requested URL was not found on this server. The link on the referring page seems to be wrong or outdated. Please inform the author of that page about the

[2016-01-27 19:06] ntozier commented on #2887
There is no equipment plugin here.
There is one that was written by a community member poctob.
You would want co close this issue report and open one at his project page. We do not provide support for it here.  You can do so here:
https://github.com/poctob/OSTEquipmentPlugin

[2016-01-27 20:54] eljagg commented on #2887
Thank you, I understand.

[2016-01-27 20:54] #2887 closed

[2016-01-27 21:21] ntozier commented on #2886
@nfebuary I think that your the one that deal with this type of thing. right?

[2016-01-27 21:36] nfebuary commented on #2886
Agreed on the label field needing to be reduced. The fields look fine until the config shows up and pushes everything over.

[2016-01-28 06:53] OcEtEc opened #2888 "Attachment lost while modifying ticket"
Attachment deleted when a ticket response is edited.
The attachment is no longer visible in the ticket detail view after editing,
but the paperclip icon in the ticket overview windows is still available (that means that there is a file attached).
It is also not possible to re-add the attachment in the ticket edit window, there is no attachment field.
When a response is edited there is a new line i

[2016-01-29 03:52] timwhite commented on #2781
@greezybacon Seems to be working in develop-next, so I'm guessing #2571 has probably fixed it. Any idea when the next RC will be? RC2 seems a bit of a wash if you can't install it.

[2016-01-29 03:55] SCHOLAR-Graeme opened #2889 "Double quotes in the search query returns no results"
The search fails to find anything when encapsulating your search string with double quotes. This happens because double quote escaping is done twice. First here
https://github.com/osTicket/osTicket-1.8/blob/develop/include/staff/tickets.inc.php#L130
Then again here:
https://github.com/osTicket/osTicket-1.8/blob/develop/include/class.search.php#L307

Resulting in the following search string:
"Searc

[2016-01-29 03:58] ntozier commented on #2889
Version of osTicket?

[2016-01-29 04:00] SCHOLAR-Graeme commented on #2889
I am using version 1.9.12 but the lines of code still exist in the develop branch.

[2016-01-29 04:48] SCHOLAR-Graeme opened #2890 "Remove non word and non operator characters from search term"
Attempting to use search terms that contain punctuation will fail to return any results. This is because according to [MySQL documentation](http://dev.mysql.com/doc/refman/5.7/en/fulltext-fine-tuning.html#fulltext-modify-character-set) only characters that are considered word characters are searchable by the MySQL database. The [MySQL code](https://github.com/mysql/mysql-server/blob/5.6/storage/in

[2016-01-29 08:05] timwhite commented on #2343
@greezybacon Even with #2533, this still doesn't work for me. I see the locks created in the DB, the time appears correct. However the json returned still has time:0. I set Collision avoidance time to 0, problem goes away (because it doesn't try and lock), once I set it to anything else it doesn't work.

[code]
[code]

But PHP and MySQL are running in the same timezone (Australia/Brisbane)

[2016-01-29 12:51] rjboer commented on #2373
That didn't quite cut it, the editor still loses focus... (only focus this time, it does not reset itself to the beginning of the line, seen only one error)
We now set the save interval to 10000 (beginning of the file redactor-osticket.js, mentioned before), such that no saves occur.

Be aware to restart apache..for changes to come through

However, it looks to have something to do with the follow

[2016-01-29 14:02] philbertphotos commented on #2889
This happens in 1.10rc2 also.

[2016-01-29 14:39] greezybacon commented on #2343
@timwhite did you pull the rest of the changes for v1.10? There were some timezone conversion issues also addressed in various merges

[2016-01-29 14:50] greezybacon commented on #2889
@SCHOLAR-Graeme I think you have a good point. It looks like it is double escaped.

@philbertphotos I think you're mistaken. In v1.10, `db_real_escape` was removed from the searching code path and replaced with ORM code, which does no escaping anywhere. Values are tracked as parameters and sent separately to the database via `mysqli_stmt::bind_param` (https://github.com/osTicket/osTicket-1.8/blob/

[2016-01-29 15:23] greezybacon commented on #2781
@timwhite @protich mentioned it would happen this month

[2016-01-29 16:05] ntozier commented on #2781
@timwhite
FYI: The devs have asked that people download from http://osticket.com/download to install in the past.
My 1.10rc2 install is humming along just fine.  Also its a release candidate put out specifically for testing...

[2016-01-29 20:56] timwhite commented on #2343
@greezybacon I pulled develop-next, which is currently at 364044e, so I believe all the other TZ stuff should be in it?

[2016-01-29 21:03] timwhite commented on #2781
@ntozier downloading from develop-next allows people to test if things have been fixed. There are features in 1.10 that I wish to use, and the best way to test them is with rc2. By using git, I can test rc2, and then roll forward along develop-next to ensure that they are working for the next rc. No point having a RC, and then in the next RC realise it's not actually fixed. I have no problem insta

[2016-01-29 21:38] timwhite opened #2892 "After submitting a reply, we get a fatal error and the email reply isn't sent"
See #2891
Due to the missing global, after sending a reply to the customer, we get a 500 error from the webserver, due to a fatal error. It appears the reply is saved in the DB, but no email is sent when this occurs

[2016-01-29 22:32] timwhite commented on #2343
Just had a look at the system information page.
[code]

Currently we have Daylight savings time in Melbourne, but not Brisbane. However, AEST should not be daylight savings time. If it's interpreting it as Melbourne though, it will be getting daylight savings time, instead of AEST which hasn't got daylight savings.

Any thoughts on how to fix this?

[2016-01-29 22:56] philbertphotos opened #2893 "Cant removed Assigned Team in 1.10rc2"
I have a few tickets I can changed the assigned user but the "team" stays there needs to be a way to removed from the interface recently I had to change it in the database.

[2016-01-30 08:56] timwhite commented on #771
@prasenjeetp If you could even post patch files, or a link to where your code has been implemented, then others can look at it and help get it into osTicket

[2016-01-30 09:34] prasenjeetp commented on #771
My apologies. The teammate, that I had assigned this to, missed doing it. I
have forwarded the request to another and hope to get this done coming week.
On Jan 30, 2016 2:26 PM, "Tim White" <notifications@github.com> wrote:

[2016-01-31 10:05] gitfve opened #2894 "Can 2 ticked be merged to one from the same poster?"
Sometime customer create new ticket with the same problem, I want to merge them together, but how?

[2016-01-31 12:17] mfelber commented on #2894
There is no merge function in osTicket yet.
You have to do it manually: Transfer manually the desired content from ticket a to ticket b and close ticket b.

As you can see on github or in the forum this is discussed many many times.
There are considerations to implement such a function in osTicket but I personally don't think that this will coming soon (cause there are many many other things on th

[2016-01-31 12:20] gitfve commented on #2894
ok

[2016-01-31 12:20] #2894 closed

[2016-02-01 03:12] sumimura commented on #2809
hi all... i also have some issue with my osTicket and also Office365... it still can't receive notification email  from Osticket when I tried to test diagnostic and create new ticket. Anyone can help me?

[2016-02-01 16:36] greezybacon commented on #2343
@timwhite Are you able to change the database time zone? Maybe you should specify "Australia/Brisbane" specifically?

[2016-02-01 16:38] greezybacon commented on #2893
Is this new to v1.10? What was the interface previously to unassign a team? What should the interface be?

[2016-02-01 16:53] mauvalente commented on #2624
I have the same error here

[2016-02-01 16:53] ntozier commented on #2893
@greezybacon I was of the opinion that "removing an assigned team" was not an option in the UI at all.

[2016-02-01 17:53] Chefkeks commented on #2893
If I am not mistaken I guess you're wrong @ntozier, since in 1.9.x a department manager could unassign an agent (and I guess a team too) from a ticket (via the "more" options menu), but not a normal department member - so it's a role/permission thing.

I currently really don't know if that is still so in 1.10 (hadn't had time really to test since rc2 release...) but if it's so I think it would mak

[2016-02-01 18:06] TascaAutoGroup opened #2895 "Osticket still submits ticket with empty required fields."
I am having an issue with this. I have also tried digging around this forum for help and what I did find was not helping me at all. I would like to know what needs to be done to get this fixed. It is pretty annoying trying to contact a person when no number is being submitted with the ticket.

[2016-02-01 18:09] palemouse commented on #2875
This issue is occurring for me on 1.9.12
MySQL: 5.7.10
PHP: 5.6.17

An example of the offending query (searching for a keyword of "monitor"):

SELECT DISTINCT COALESCE(B1.ticket_id, B2.ticket_id, B3.ticket_id, B4.ticket_id) FROM (
                SELECT object_type, object_id, MATCH (search.title, search.content) AGAINST ('monitor' IN BOOLEAN MODE) AS `relevance`
                FROM `ost__search`

[2016-02-01 18:36] philbertphotos commented on #2893
I can add a team via the UI or by a filter ... but it cannot removed via the UI. Even when I reassign a new agent the "team" stays there.

The logic needs to change one would assume if you assigned that it would remove the "team" automatically not add the assigned user + the team

[2016-02-01 18:57] ntozier commented on #2895
Version of osTicket?

phone numbers are associated with users, not tickets.

[2016-02-01 19:16] ntozier commented on #2893
We don't use "department manager"'s [its a fake account that is an email distribution group] so that would explain why I have never seen a way to un-assign a team.

assigning an agent does not un-assign a team.  It would un-assign the agent that had it before.

assigning a department should un-assign a team.  It would un-assign the team or department that had it previously.

[2016-02-01 19:23] Chefkeks commented on #2893
That's why I suggested to move that maybe from department manager specific permission to the new role based permission model. Hope @greezybacon agrees :)

[2016-02-01 19:32] TascaAutoGroup commented on #2895
its v1.9.12. That field is in the ticket details form.

[2016-02-01 21:25] greezybacon commented on #2826
@kest874 as mocked-up, the assignee can be appointed in the manager for the canned task. It can be any agent or team. Maybe would be nice to allow `same as ticket` which might be useful in some cases

[2016-02-02 08:22] Invidia1990 commented on #2539
+1

[2016-02-02 10:12] philbertphotos commented on #2093
Has any development been done on this as yet?

[2016-02-02 10:21] philbertphotos commented on #2893
We assign Departments automatically and there is usually no need to transfer a ticket twice just to remove a team.

"agent1/Team Name"
If I change to an agent that is not on the team say "agent14" it would now be
"agent14/Team Name"
So I just open my nifty Aminer and edit the database directly.

[2016-02-02 13:34] kajla opened #2896 "Please add "Last First " option to "Default Name Formatting""
Without: ,
Hungarian name format is: "Last name First name", not "Last name, First name".

Thank you!

[2016-02-02 13:43] kajla opened #2897 "Ticket: amount of time spent"
Please add an amount of time spent to a ticket.
Example:
Ticket create date: Yesterday
Close date: Today, but the real spent time is 3 hours.

[2016-02-02 13:51] ntozier commented on #2093
Doesn't look like it.

[2016-02-02 13:54] ntozier commented on #2897
Admin panel -> Manage -> Forms -> Ticket Details.
add you custom field.
make it required before a ticket can be closed.

[2016-02-02 14:52] kajla commented on #2897
Okey, I added it, but when I choose Ticket status to "Closed", don't ask it. This option only works on "Update Ticket" panel, it's not okey.
I want to show a popup window, when I close a ticket.

[2016-02-02 15:12] ntozier commented on #2897
Then you did not click "Require entry to close a thread".

![capture](https://cloud.githubusercontent.com/assets/1315768/12753527/817f3010-c995-11e5-9850-f6bb1e883438.PNG)

[2016-02-02 15:32] kajla commented on #2897
Thank you for your help, but the Field setup and the settings of the Field configuration are missing here.
Admin panel -->  Manage --> Forms --> Choose a built-in forms: New Ticket (missing Ticket Details).

osTicket version: v1.9.12 (19292ad)

[2016-02-02 15:34] kest874 commented on #2093
@greezybacon has done some work here: https://github.com/greezybacon/osTicket-1.8/tree/feature/canned-tasks I've not tested any of it.

[2016-02-02 15:46] jdelhome3578 opened #2898 "Feature: Change the date of a thread entry"
This would be a nice feature to date things that were done at the right time and day. Example - I tried a fix for something on Friday but did not put the notes in the system, I go back on Monday and put the notes in the system. Now the notes are saved on Monday. Something came in over the weekend, now my notes are after the weekend entry but happened before.

[2016-02-02 15:48] ntozier commented on #2897
Then you will have to wait until 1.10 is released.

[2016-02-02 15:53] philbertphotos opened #2899 "Assigned Team list bug in "My Tickets" in 1.10r2"
There is a small list bug were tickets associated with a TEAM that I am not apart of show up in "MY Tickets" its something I usually ignored but with other agents now using the system it becoming a problem.

[2016-02-02 15:54] kajla commented on #2897
Oh, thank you very much! :)
Then we are waiting for the stable version of osTicket 1.10. :)

[2016-02-02 15:54] #2897 closed

[2016-02-02 15:59] ntozier commented on #2898
backdating is the devil.
seriously.
Enter your notes when you are supposed to enter them and you wont have this problem.
/shivers at the thought of backdating

[2016-02-02 17:49] philbertphotos commented on #2093
I will take a look thanks

Sent from my iPhone

[2016-02-02 18:16] thefinn93 opened #2900 "Multi-part messages not getting detected as such?"
I installed osTicket (latest off osticket.org, appears to be 1.9.12) and found that HTML/formatted/etc emails don't render properly. Here's an example:

![screenshot from 2016-02-02 10 11 14](https://cloud.githubusercontent.com/assets/692970/12759410/c972da66-c995-11e5-8a29-7752991d165d.png)

From a quick search of this repo it appears they are supposed to be supported and I couldn't find any simi

[2016-02-02 18:26] ntozier commented on #2900
It looks to me like you have disabled html threads.

Admin panel -> Settings -> Tickets -> Enable HTML Ticket Thread

[2016-02-02 18:31] thefinn93 commented on #2900
It looks like that was already enabled :(

Thanks for the quick reply though!

[2016-02-02 19:47] balojs commented on #2806
it is a great idea !!

[2016-02-02 21:47] quazardous opened #2902 "global $ost not defined when $plugin->bootstrap()"
Hi,

can you just add one line to allow plugins to access $ost ?

[code]

[2016-02-02 21:47] greezybacon commented on #2093
I opened a pull request #2901 with some screenshots and some testable code

[2016-02-03 04:58] cengbrecht commented on #1143
I would like to see registered as a tick in the users profile, and have the rejection of a ticket send a reply that the ticket was rejected, and give you the option to choose a custom canned response while rejecting the ticket.

[2016-02-03 08:02] kajla opened #2903 "LDAP: FF username and password save problem"
Dear Developers,

I saved my username and password to Firefox, but I have got a problem with this feature on "Agent Account" panel (Admin panel --> Agents --> Agents --> My name).

FF insert username to the "Mobile Number" field:
![osticket_username](https://cloud.githubusercontent.com/assets/5457824/12776026/e5b7a28e-ca52-11e5-8e30-0f0827c80283.png)

I clear this field, but it's not enough, the e

[2016-02-03 09:32] kajla commented on #2903
Same as "My Preferences" page:
![osticket_my_pref](https://cloud.githubusercontent.com/assets/5457824/12778118/4d3e5bd8-ca61-11e5-9ade-b3f37ae12fd4.png)

/We can't change here the LDAP password/

[2016-02-03 11:05] fabiopires commented on #2615
Btw, this issue still works on the last version available on osticket's website. (http://osticket.com/download/go?dl=osTicket-v1.9.12.zip).

Regards

[2016-02-03 11:52] UkaLee commented on #2903
password error within Firefox, try to update / change your password with chrome or IE

[2016-02-03 14:07] ntozier commented on #2615
@fabiopires did you apply the patch?

1.9.12 was released on Aug 19, 2015 which was before this issue was reported.

[2016-02-03 14:10] ntozier commented on #2903
1. This appears to be a browser issue.  What version of Firefox are you running?
2. It's simply never safe to save usernames and password in web browsers.
3. You are correct that you cannot change your LDAP password from osTicket.  This is intentional.

[2016-02-03 14:13] fabiopires commented on #2615
@ntozier hmm, sorry, you are right.

Didn't notice that. I thought the last version available for download on the official website was already patched.

My bad. ok :)

[2016-02-03 14:26] greezybacon commented on #2898
Sounds like you should add a custom date field to your ticket details for or create a new form with a custom date field. Perhaps label it "Time of Servcice". Then, it can be changed as often as necessary, and the date isn't part of the communication thread.

[2016-02-03 14:28] greezybacon commented on #2900
What server software are you using? Exchange? Can you post the entire raw email (with the headers and everything)?

[2016-02-03 14:44] kest874 opened #2904 "1.10 ORM adding a database column to organization orm issue (field not defined) need assitance"
I've added 'department' as a column to the organization table to store the ID of a selected department, the settings:

![image](https://cloud.githubusercontent.com/assets/12860950/12785135/9995eff2-ca50-11e5-88dc-074f9ecacf98.png)

Dropdown pulls from the department table, the id of the selected department gets saved to the 'department' column that I added:

![image](https://cloud.githubuserconten

[2016-02-03 14:46] TascaAutoGroup commented on #2895
Wow. No body has a clue as to what might be causing this?

[2016-02-03 14:50] eljagg opened #2905 "Post Installation Issues"
Hi,
Can you please assist me in resolving these issues:

**Version of osTicket?**
osTicket (v1.9.12)

**Autoresponder settings?**

![auto-responder-issue](https://cloud.githubusercontent.com/assets/3020078/12793527/09e632c0-ca7f-11e5-8062-c4f5e42ccf04.png)

Q: Email confirmation no being sent out automatically.
A: Which email confirmation are you referring to?
Client side?

[2016-02-03 15:05] ntozier commented on #2895
Click on the user.
Their phone number is displayed there.

[2016-02-03 15:09] ntozier commented on #2905
Version of osTicket?
Autoresponder settings?
Mail configuration?

Q: No Ticket number provided in auto response email.
A: Whats your email template look like for that?

Q: when I click submitting ticket ... saving to draft pops up.Same after editing ticket (saving to draft). Where does the draft gets saved to?
A: it gets saved to database. (the information in the text box.)  Specifically the ost_d

[2016-02-03 15:21] gitfve opened #2906 "Is this project dead?"
No new updates, since 08-15? Is it dead? If so it is nice to know, so I can find some other software to support our customers. It was a nice free support system, but there are too many malfunction at the moment, and now we/i have waited since 08-15... Sorry to say.

[2016-02-03 15:22] TascaAutoGroup commented on #2895
I understand that, but I set up the ticket details up in a fashion so that the user has to put in their contact number. So I tested that and when I click the submit button it does display the error saying that phone number is required but it still submits the ticket.

[2016-02-03 15:40] quazardous commented on #2902
i think it can fix #1074

You can inject headers...
[code]

[2016-02-03 15:41] thefinn93 commented on #2900
Mail software is postfix and courier. I don't see an option to get the raw headers out of osTicket and it deleted it from IMAP, so I sent a new email and got the headers with a different IMAP client before the osTicket email cron job ran. [here they are](https://gist.github.com/thefinn93/25e79673591281f6f1f6). I really appreciate your help on this

[2016-02-03 15:44] kajla commented on #2903
1. My Firefox version is: 44.0
Oh yes, it's a browser issue, with Opera Developer (36.0.2079.0) works fine with stored username and password:
![osticket_opera](https://cloud.githubusercontent.com/assets/5457824/12787276/07997944-ca95-11e5-8e86-25a727912171.png)

2. This is true, but my computer is password protected.

3. Can I hide it?

Thank you very much! :)

[2016-02-03 16:10] AlexYoung28 commented on #2906
give them a chance!!

[2016-02-03 16:16] quazardous commented on #2906
@gitfve
I'm new to osTicket but check the commits before:
https://github.com/osTicket/osTicket-1.8/commits/develop

And I've got my issue tagged some hours ago... so it's not dead... maybe you can contribute to speed things up ?

[2016-02-03 17:00] gitfve commented on #2906
I agree @AlexYoung28 but there are so many editor bug in the staff panel that I cant understand why they not make a hot fix. And there have not been any new release since 08-15, long time ago... From start of 2015 to 08-15 there was many new release and hotfix, and one since. But I close it and hope they still working on next release, because it is nice ticket system, and free.

[2016-02-03 17:00] #2906 closed

[2016-02-03 17:09] quazardous commented on #2906
osTicket recoded in symfony or with drupal 8 ;p

@gitfve you're right it's a nice software but parts are so old OMG ;p

[2016-02-03 18:51] greezybacon commented on #2904
The system keeps a cache of the database fields lazily so it doesn't have to keep asking the database. You probably just need to restart PHP / Apache

[2016-02-03 19:02] greezybacon commented on #2904
FYI- We do have custom data for organizations including list selections. It might be easier to just use the software to track the organization department. Then write a plugin to intercept the `ticket.created` signal and do something with the affiliated `user->organization`. Then use `$organization->getDynamicData()->getAnswer('department')` to fetch your department selection in php.

[2016-02-03 19:43] kest874 commented on #2904
@greezybacon Restarting PHP resolved the issue, I forgot that the fields were cached.

I'm using 1.10 (with custom queues) for our IT support system with some modifications to get it fully working. I've modified the same base for a "Suggestion" tracking system, the idea here is to ease the setup so that ticket filters aren't required to set the department and team.  I'm using the organization to h

[2016-02-03 19:55] greezybacon commented on #2895
If the information is in the "contact information" for and a user is matched based on the email address, then the rest of the information, including required information is ignored, because a profile already exists for the user. The user should click [profile] to change their information. However, for new users (new email addresses), all required fields should be required.

[2016-02-03 21:38] TascaAutoGroup commented on #2895
That makes sense now. The issue is the previous admin allowed users to just submit a ticket without registering and they never asked for a phone number. I just tested that with an user I know never submitted a ticket and it did not submit the form. Time to make some changes. Thanks for the input.

[2016-02-03 21:38] #2895 closed

[2016-02-03 22:51] philbertphotos opened #2908 "Cant save reopen status in UI 1.10r2"
Every time I uncheck "Allow tickets on this status to be reopened by end users " when I press save it does not update I have to edit the database directly.

![02032016-180241](https://cloud.githubusercontent.com/assets/2892474/12799733/e1a8bf80-caa6-11e5-9dcb-0bf626031a43.png)

[2016-02-03 23:00] philbertphotos opened #2909 "Closed "alloworeopen" Ticket behaviour in 1.10RC2"
Tickets cannot be updated when its closed with "allowreopen" false ... to me the behavior should be that the ticket is updated but the status is un-changed. What happens now and its pretty dam annoying a new ticket is created example "RE: Change password of extensions [#000905]" most times the user is just saying thank you ... and every time they respond it goes into that new ticket.

In my mind a

[2016-02-03 23:55] protich commented on #2908
PR #2767 addressed the issue -- it's already merged to the tip of develop-next.

[2016-02-04 02:23] #2898 closed

[2016-02-04 03:06] #2904 closed

[2016-02-04 04:05] ntozier commented on #2909
I agree with #2.  But I do not want the ticket updated, or alerts.  An internal note to the ticket would be okay.

[2016-02-04 09:07] molul opened #2910 "[SOLVED] Emails with charset iso-8859-1 are cut (v1.9.8)"
It's been a few months since I upgraded to 1.9.8, and while I had this issue in the beginning, it wasn't so important as it only happened when the staff sent emails with iso-8859-1 charset, so I told my partners to configure their email clients to send always in utf-8.

However, recently this problem has come back with a few new customers, and I'd rather not tell them to do the same. Is there anyt

[2016-02-04 09:51] philbertphotos commented on #2909
An internal note being created sounds good.

[2016-02-04 12:59] UkaLee commented on #2903
Agent Panel -> User -> Select User -> Manage Account -> Manage Access -> Check : User Cannot Change Password

[2016-02-04 14:15] ntozier commented on #2910
1.9.8 is old.  You should probably upgrade.

Also please see: https://github.com/osTicket/osTicket-1.8/issues/2883

[2016-02-04 14:23] molul commented on #2910
Thank you! Yes, I was considerating upgrading to latest version, but for me upgrading is a bit more difficult than usual, as I have to copy some pieces of code for my mod that allows staff to reply to tickets through email (as customers), so I thought I'd try finding an easier solution first, if available.

Alright then, I'll prepare the upgrade :)

[2016-02-04 16:36] uksitebuilder commented on #1927
Can confirm in latest stable release running on Ubuntu 14.0.4 LTD Apache 2.4.7 PHP 5.6
Able to delete in individual screen screen, but not from list of tickets, whether selecting 1 or multiple checkboxes

[2016-02-04 16:49] ntozier commented on #1927
@uksitebuilder
1. By "latest stable release" do you mean 1.9.12?
2. What web browser are you using?
3. What happens when you try?

[2016-02-04 17:19] tedg-dev opened #2911 "Open a New Ticket always returns "500 Internal Server Error" (Invalid CSRF token on ticket.response)"
Setup a new installation of v1.9.12 (19292ad), made some changes to Forms > Ticket Details.

Now on EVERY "Open a New Ticket", irregardless of the user, I get the generic "500 Internal Server Error"

Looking at the php "ost_syslog", I see many instances of this entry (not sure if it is a clue):

Invalid CSRF token [7bb804a344ab6005a30b1b8802eebcacf99b4ed2] on http://blah/blah/scp/ajax.php/draft/ti

[2016-02-04 17:26] ntozier commented on #2911
Please see your forum post at:
http://www.osticket.com/forum/discussion/87292/open-a-new-ticket-always-returns-500-internal-server-error-invalid-csrf-token-on-ticket-response

Thanks

[2016-02-04 17:32] uksitebuilder commented on #1927
1. 1.9.12
2. MAC OSx (El Capitan) - Firefox 44.0 / Chrome 48.0.2564.103 (64-bit) / Safari 9.0.2 (11601.3.9)
3. Exactly as screenshot in OP - Upon clicking delete Red Warning Alert displays

[2016-02-04 19:57] thefinn93 commented on #2900
Update: Turns out postfix was inexplicably configured to strip out the `MIME-Version` header, which was causing this. I have absolutely no idea why that was thought to be a good or reasonable thing to do, nor how it got there, but removing that header check line made this go away. Interesting that Thunderbird ignores that.

Thanks for working with me on this

[2016-02-04 19:57] #2900 closed

[2016-02-04 20:58] kajla commented on #2903
Thank you, it's working with one user! :+1:
But could I set it globally to work with all users? :)

[2016-02-05 01:26] tedg-dev commented on #2911
Thank you, was not sure the proper place to create this issue

[2016-02-05 09:47] proktovief opened #2912 "Get ticket using api"
Is it possible to get tickets (opened, closed.. all) using the default provided API?

Regards

[2016-02-05 11:20] UkaLee commented on #2903
No clue sorry, i will have the same problem in some days. need to import all the user and will do it one by one.

[2016-02-05 12:28] alexpow89 commented on #2885
Has there been any update to this?

[2016-02-05 13:00] molul commented on #2910
After upgrading to 1.9.12, the problem persists. Anything else I could try?

[2016-02-05 14:19] ntozier commented on #2912
The Ticket API only opens tickets at this time, so no.

[2016-02-05 14:27] ntozier commented on #2903
I think that the easiest way to update ALL users so that they cannot change their password is to do it at the SQL level.

UPDATE ost_user_account SET status='9';

Note: I'm of the opinion that this will also affect staff accounts.

[2016-02-05 14:28] ntozier commented on #2910
Did you make the change in the thread that I linked you?

[2016-02-05 15:40] proktovief commented on #2912
thanks @ntozier

[2016-02-05 15:40] #2912 closed

[2016-02-06 01:48] #2823 closed

[2016-02-07 06:33] swfideas commented on #603
Using here **v1.9.12** and as @moonman407 said, the var: `%{ticket.user.organization}` works fine, but isn't listed in the available variables.

[2016-02-07 13:43] shot4u opened #2918 "Blank screen after adding fa.phar"
I have installed osTicket with English language. Then I have added fa.phar (Persian language) to i18n folder.
Now when I try to change language it shows a blank page.
I have enabled errors in my host but still cannot see any php error message.
I have used this file: http://rmalekghasemi.ir/own/fa.phar
Please advise.

[2016-02-07 20:55] Exordian commented on #2602
+1 PHP 5.4 is EOL, PHP 5.5 will be EOL this year

[2016-02-07 21:29] ntozier commented on #2918
Official langiage files are housed at osticket.com/download.  We cannot provide support for third party language packs, you should contact the author for support.

As a side note, a blank page indicates a PHP error so you should consult your PHP error logs.

[2016-02-08 06:04] shot4u commented on #2918
Thank you for update
I used http://osticket.com/sites/default/files/download/lang/fa.phar now and there is no difference and it displays white screen.
P.S. I have enabled display_errors in my server still it shows nothing

[2016-02-08 08:59] kajla commented on #1225
+1

[2016-02-08 09:49] molul commented on #2910
Hi! If you mean changing the database encoding to utf8mb4, it seems I'm not able as my MySQL is 5.1. Is there anything else I could do before asking our sysadmin team to upgrade to MySQL 5.5?

[2016-02-08 14:01] Aka4Code commented on #2664
Anything new in this topic? What do you think about actual state of tip of develop-next branch - can we use it in production?

[2016-02-08 14:57] ntozier commented on #2918
Version of osTicket?
Version of PHP?

[2016-02-08 14:58] ntozier commented on #2664
Q: What do you think about actual state of tip of develop-next branch - can we use it in production?
A: That wouldn't be a good idea.

[2016-02-08 17:01] philbertphotos commented on #2664
Nope not ready they are still pull and testing

Sent from my iPhone

[2016-02-08 18:29] ElKid opened #2920 "After transfer Ticket to new Department - Department Members getting no alert (OST 1.9.12)"
I have the issue on OST 1.9.12

osTicket Version    v1.9.12 (19292ad)
Web Server Software    Apache
MySQL Version    5.5.44
PHP Version    5.3.3-7+squeeze28

After transfer Ticket to new Department only Department manager got alert, Department Members not.

I tried solutions #2356
https://github.com/greezybacon/osTicket-1.8/commit/c880377cb16e396d043a00e375d8f0e33e9b3532
but not works for me.

I t

[2016-02-08 21:48] thinknot commented on #1178
You could check `onTicketCreated` first and if that is the case, then handle `onMessageCreated` differently (or just ignore it).

[2016-02-09 16:50] jdelhome3578 commented on #2340
@greezybacon @protich this is still an issue from tip develop-next

[2016-02-09 17:05] jdelhome3578 commented on #2340
@greezybacon @protich
Image from `_thread_event` table. Please note that the ticket transfer is fine but the task transfer has a `0` for `staff_id`, `dept_id`, `topic_id`.

![image](https://cloud.githubusercontent.com/assets/5774055/12923793/0be487f2-cf25-11e5-98ff-5b14dfa0debb.png)

[2016-02-09 17:20] jdelhome3578 opened #2921 "1.10: Relative Time settings"
Where is the Relative Time setting for system? There is a Relative Time setting for agents.

[2016-02-09 17:24] ntozier commented on #2921
No description provided.

[2016-02-09 17:29] jdelhome3578 commented on #2921
The system setting should include the relative time setting and the profile should include in the options to use system default, Relative, Straight time.

[2016-02-10 10:50] molul commented on #2910
We made a test in a different server and the utf8mb4 worked alright. The problem is that upgrading our main web server to MySQL 5.5 might give some problems in some other web apps, so we're studying how to do it properly and it will take 1 or 2 months. If there's any quick fix we could do in the meantime not to loose tickets, I'd really appreciate any hint :)

[2016-02-10 13:33] awilkins opened #2922 "All agents can still create tickets in default department even with no access to it"
Tested osTicket 1.10-rc2
# Reproduce problem
1. Added new department "Berties"
2. Created a new agent Bertie Thompson
   - With primary dep. Berties
   - username : bt ; password : btbtbt
3. Logged bt into another browser
   - Created ticket : confirm that bt can only create
     - Tickets in "Berties" department
     - Tickets with no department
   - Confirmed that new ticket appears on bt's Open

[2016-02-10 14:05] ntozier commented on #2922
I don't see a problem?
bt as an agent can create tickets in other departments (that bt does not have access to)... in fact by not picking a department there is a high probability bt wouldn't have access to the ticket since the default department setting would rule the day and assign the ticket to the systems default department.

[2016-02-10 14:21] awilkins commented on #2922
bt can't pick other departments, just the one he's a member of, or leave it blank.

![one-department](https://cloud.githubusercontent.com/assets/368399/12949447/c576d834-cfff-11e5-8ddf-972960536d7c.png)

And that's the problem - this means Agents can create tickets by accident that are not in their department, and they can't access them. In 1.9 this isn't a problem because Agents can see tickets f

[2016-02-10 14:28] ntozier commented on #2922
Ah I see.  You are assuming that the agent who opens a ticket should have access to said ticket.  That is not the case.  Your sample ticket is owned by user Dave.  Dave can log in and see the ticket, the agent has no special privs to see said ticket because it's not theirs.

[2016-02-11 05:53] bush12 commented on #1887
hello member
i have installed and configure osticketing (v1.9.8.1 (4752178) the user can create the new ticket but the notification are not sent , secondly when i register a new user in the system the user status remain in active and he/she can not login to the system.

[2016-02-11 05:55] bush12 commented on #1887
PHP Settings
cgi.fix_pathinfo 	"1" is recommended if AJAX is not working
date.timezone 	Setting default timezone is highly recommended

[2016-02-11 05:55] bush12 commented on #1887
help please

[2016-02-11 06:42] akashkumardce commented on #2547
To fix the issue-

In file - include/class.tasks.php
Line -
[code]
Should be replaced by-
[code]
It creates duedate to be in insertable format for database, and hence fixes the issue.

[2016-02-11 06:46] akashkumardce commented on #2799
To fix the issue of saving duedate-

In file - include/class.tasks.php
Line -
            `$task->duedate = $vars['internal_formdata']['duedate'];`
Should be replaced by-
            `$task->duedate = date('Y-m-d G:i:s',Misc::dbtime($vars['internal_formdata']['duedate'])); `
It creates duedate to be in insertable format for database, and hence fixes the issue

[2016-02-11 07:18] akashkumardce commented on #2728
In file - include/class.task.php (v1.10-rc.2)
Line - 1199 ( referenced [File](https://github.com/osTicket/osTicket-1.8/blob/231f11e85765a888b2b8c90d16df11cb0af30e67/include/class.task.php))
Add the code-
[code]

It will save assignee information in database, and hence assigns the task to a staff.
This will Fix #2728

[2016-02-11 08:51] molul commented on #2910
With my partners we finally found a solution. The problem was apparently in php's configuration, not properly parsing emails with ISO charset.

After many tests, we tried adding the line "setlocale(LC_ALL, 'en_US.UTF-8');" at the beginning of api/pipe.php (just after the big comment header and before "ini_set('memory_limit', '256M'); //The concern here is having enough mem for emails with attachme

[2016-02-11 21:06] infectormp commented on #2921
+1

[2016-02-11 21:54] protich commented on #2921
Enhancement addressed in PR #2700. It's already merged to develop-next.

[2016-02-11 21:54] #2921 closed

[2016-02-11 22:11] protich commented on #2910
@molul - Thank you very much for the feedback, we'll look into forcing locale on init.

[2016-02-11 22:26] jdelhome3578 commented on #2921
@protich I just downloaded the latest and I don't see the option

[2016-02-12 02:59] jdelhome3578 commented on #2921
@ntozier @protich @greezybacon
The system setting should include the relative time setting and the profile should include in the options to use system default, Relative, Straight time.

[2016-02-12 03:42] bhiscox commented on #2799
What line is it supposed to go under? You left that out of the email.

[2016-02-12 05:43] bhiscox commented on #2799
@akashkumardce your two fixes worked well now it seems the only thing I see now is a problem where alerts aren't going out on tasks or due dates (I turned on all the notifications I could).

[2016-02-12 10:34] zeeshankhurshid commented on #2799
@akashkumardce :+1: Thanks for the solution, this work like a charm.

[2016-02-12 16:11] greezybacon commented on #2910
I wonder if this should be added in `class.translation.php`, line 769, where the locale is set for translations
[code]

And, in `Bootstrap::i18n_prep`, add
[code]
The `en_US` part would be overridden later in a web request when loading the strings translation

[2016-02-12 16:23] saithamsco commented on #694
:+1:

I would like to open this discussion again. I have just posted this into the osticket forum
[Link](http://www.osticket.com/forum/discussion/87341/custom-list-elements-in-export-file-build-in-forms-vs-custom-forms)

I understand that its easier to export 'default' values (those in build-in forms) compared to those in custom forms (because they are dependent on the chosen help topic).

But I w

[2016-02-12 18:37] ipso commented on #2541
We are running into this problem too.

[2016-02-12 21:08] jdelhome3578 commented on #2921
@protich please re-open

[2016-02-13 00:02] philbertphotos opened #2923 "images in "New Internal Activity Alert" are not sized properly 1.10rc2"
I noticed that when an "Internal Activity Alert" is sent to the Agent the image that is included is very small but the user sees the image correctly when it they receive their copy.

![02122016-190211](https://cloud.githubusercontent.com/assets/2892474/13023856/812ece46-d1c3-11e5-942b-2699791bc8c7.png)

[2016-02-14 16:20] jotbe commented on #2875
Same here, fresh install on a FreeBSD 10 vServer, a handful of sample tickets. Everything is fine and fast beside searching for tickets.

osTicket: 1.9.12
nginx: 1.8.1
MySQL: 5.7.10
PHP: 5.6.18

[2016-02-14 17:24] jotbe commented on #2875
I found out that the query doesn't seem to work with optimizations for derived tables introduced with MySQL v5.7. I disabled the `derived_merge` temporarily and the query execution plan for the query was obtained instantly:

[code]

To make this flag permanent I added it to `my.cnf`:

[code]

The search function is working like a charm now. I didn't find time yet to take a more thorough look at th

[2016-02-15 08:20] Hannibal226 commented on #2921
@jdelhome3578
If I read this correct what @protich wrote "It's already merged to [code]develop-next[/code]." it doesn't help to download latest version.
AFAIK the [code]develop-next[/code] hast first to be merged to [code]develop[/code].

No guarenteee on this, but  maybe anyone can confirm.

CHEERS

[2016-02-15 09:02] BassemN opened #2925 "Disable new tickets from web interface"
Hello,
Great script!!
Can I disable new tickets from web interface(open.php) and allow it only via API?

Thanks

[2016-02-15 13:17] jdelhome3578 commented on #2921
OK everyone I have downloaded the latest from the develop-next branch and have tested it. I don't see the option in the global settings for relative time. The option is only viable in the profile settings for the agent. In those setting it has an option for using system defaults. How can you use system defaults when there is no option for it in the system settings?

[2016-02-15 17:13] greezybacon commented on #2921
@jdelhome3578 I don't like the configuration, but I think it means "use the normal time format settings for the system", or "use (humanized) relative time"

[2016-02-15 17:14] greezybacon commented on #603
@swfideas we addressed this in v1.10 by adding typeahead support to the editor which gives a far more comprehensive list and definition of variables availab.e

[2016-02-15 17:17] greezybacon commented on #2925
Yes, set the user registration to required (in Settings -> Users), and set the registration mode to DISABLED. This idea is explained in the help tip for both settings.

[2016-02-15 17:19] greezybacon commented on #2875
@jotbe thanks for the info. Could you maybe do some testing with the `develop-next` branch and v1.10? We rewrote the searching system in hopes of better results from both MariaDB and MySQL, which have significantly different optimization engines and settings.

[2016-02-15 18:59] jdelhome3578 commented on #2921
@greezybacon I would recommend a global setting and then a profile setting to use system default, relative time or  regular time options.

[2016-02-15 21:41] webermax commented on #347
I suggest to use sth. like the following instead of calling "rcron.php" if it is hosted next to osticket.

`<?php shell_exec('/usr/bin/php55 -q /full/path/to/api/cron.php');`

following the osticket wiki is quite confusing and what i've read so far most people using rcron.php are doing it "from behind through the chest in to the eye".

[2016-02-15 21:48] ntozier commented on #347
@webermax you commented on a issue that was closed in Dec 2013.
I am of the understanding that many webhosts disable shell_exec.
You should really just use cron as intended,

[2016-02-15 22:01] webermax commented on #347
@ntozier Sure, this won't work in "safemode". But many webhosts do not offer crontab, either.

[2016-02-16 10:11] justpusher commented on #2414
I faced the same problem and found one of the reasons.
In my case there was a saved user with lowercase email (abc@domain.com), and the received email has some of the letters uppercase (ABc@domain.com). So ticket email was first overwritten in
[code]

then again overwritten in

[code]

, and ticket considered changed, and filter applied again, and so on without the end.
I suggest using case-insens

[2016-02-16 13:23] abhishekgouhar commented on #2149
l

[2016-02-16 17:32] simonnzg commented on #2899
It looks more like "My Tickets" is a list of tickets assigned to every team I'm part of, not just those assigned to ME. To see what tickets are MINE I have to go to the Open Ticket queue and sort by user.

[2016-02-17 14:00] johnhunt commented on #2628
This is also happening for me on CentOS 7.2 PHP 5.6.

I'm going to see if I can fix this and stick in a pull request.

[2016-02-17 14:32] UkaLee opened #2926 "Custom form with Access to Registered User or LDAP?!"
Hi,
first thanks for Osticket great tool!

I am using it for a while now and I really hoping for some kind of Custom Forms.
I need to provide a Possibility to Select the user which are Registered in Osticket.
Is for Approve Stuff and Requests.

I can import all User in a Custom Choose form, but then I have to update them every-time someone new joins the Company.

If there a way to solve that? Like

[2016-02-17 14:35] UkaLee commented on #2628
Hello,
OsTicket is using a local copy of pear and it is outdated.
Donwload
pear.php.net/package/Net_SMTP/download
pear.php.net/package/Net_Socket/download

replace SMTP.php and Socket.php from "include/pear/Net/" with the ones from the downloaded archives.

Changelog for SMTP

Add TLSv1.1 and TLSv1.2 support for STARTTLS connections. (#22)

Once you do this, osticket should work.

================

[2016-02-17 14:36] UkaLee commented on #1124
Need this also , would be great to have in V1.10

[2016-02-17 14:42] johnhunt commented on #2628
@UkaLee That didn't work for me, have a look at this diff to see what I did (in case anyone else has similar issues):

https://github.com/johnhunt/osTicket-1.8/commit/d48499b66e3ce9950bdccb7d9b8689a5acaa359f

[2016-02-17 15:08] ntozier commented on #2926
Chefkeks has written about this on the forums, and here:
https://github.com/Chefkeks/osTicket-Addons/

[2016-02-17 16:00] UkaLee commented on #2926
Thanks I will give it a Try!

[2016-02-18 08:46] TheSMa opened #2927 "Question/Feature-Request: How can i see the Ticket-Creator?"
Hey,

is it possible to get the information who has created our (phone-)tickets? At the moment i can see only the current agent or the agent who has closed a ticket.
I want to evaluate all the tickets in our database to see how many tickets any agent has been created.

Maybe this can be a Freaturerequest for the next version?!
Thanks!

We use osTicket 1.9.7

[2016-02-19 13:09] Orthodyne-mve commented on #2116
I found the issue, see pull request #2928
Actually one function would return False instead of null, so it was interpreted as the value for the checkbox...

[2016-02-19 16:08] noleafclover614 commented on #2872
We've noticed inconsistent behavior on the staff administration page (```/scp/tickets.php```) vs. the "end user" facing page (```/tickets.php```) for tickets.  The ```ajaxUpload``` function is called when uploading files from both interfaces.

The ```isValidFileType()``` function inside of ```ajaxUpload()``` is supposed to check for allowed **mimetypes** and file **extensions** before allowing a f

[2016-02-19 20:14] philbertphotos opened #2929 "error "DB Error #1054" in osticket 1.10rc2"
I cant find what is causing this ...any help would be great

[SELECT A1.`id`, A1.`pid`, A1.`thread_id`, A1.`staff_id`,
A1.`user_id`, A1.`type`, A1.`flags`, A1.`poster`, A1.`editor`,
A1.`editor_type`, A1.`source`, A1.`title`, A1.`body`, A1.`format`,
A1.`ip_address`, A1.`created`, A1.`updated`, A3.`staff_id`, A3.`dept_id`,
A3.`role_id`, A3.`username`, A3.`firstname`, A3.`lastname`, A3.`passwd`,
A3.`

[2016-02-19 20:45] Chefkeks commented on #2872
Aren't the settings regarding file mimetypes and extensions only for end-users?

Currently cannot look it up (on the move) but I'm pretty sure it is like that. Would need to verify under Admin Panel > Settings > Tickets (or System?) > Attachment Settings tomorrow/next week unless you're faster @noleafclover614 :D

[2016-02-19 21:35] protich commented on #2872
@noleafclover614 - osTicket doesn't restrict agents uploads. The rationale being, an agent should be able to send any file type to end users.

In the future, we're planning on making response and internal note forms configurable just like Ticket Details form -- allowing for ability to restrict or even disable attachments.

[2016-02-19 22:13] philbertphotos commented on #2929
I turned off the cronjoab and this problem stopped ... I have no idea why its happening and I need the cronjob running.

[2016-02-20 03:39] Exordian commented on #2664
updates on a 1.10 release date?

[2016-02-20 12:22] theorganiser opened #2930 "Custom Logo does not show up"
when i upload a custom logo in to the dashboard it wont show the logo.
i used a JPEG image at first and then changed it to PNG  even resized the image to the right pixels.
but still it wont show it.
in the dashboard it just says Custom Logo as a text  i can delete it.
in the ticket system portal it only shows a X.
anybody any idea ?

[2016-02-20 21:00] BassemN opened #2931 "Increase help topic name length"
Hi,

I'm on osTicket v1.9.12. How can I increase the help topic name length?

Thanks,

[2016-02-20 21:02] #2332 closed

[2016-02-20 21:02] #2408 closed

[2016-02-20 21:02] #2425 closed

[2016-02-20 21:02] #2481 closed

[2016-02-20 21:06] BassemN commented on #2925
@greezybacon  Thank you very much

[2016-02-20 21:06] #2925 closed

[2016-02-21 20:06] BassemN commented on #2931
Hi,
I noticed that help topic name field character length is set to be 32, Can I increase it to be 255?

[2016-02-22 11:56] dmaxted opened #2933 "Email Formatting Received"
We seem to have a formatting problem on html emails that are received by the system osTicket-v1.9.12. When a customer logged a ticket thru Microsoft Outlook as:

Hi Support,
Having a problem printing to the network.
Regards, Guest

Formatting comes through as:

Hi Support,

Having a problem printing to the network.

Regards, Guest

How can we modify the code to show on one line. 'Enable HTML Ticke

[2016-02-22 13:25] philbertphotos opened #2934 "Unable to assign Agents in 1.10 current build update"
A list of agents does not come up ... broken is there a fix?

![screenshot_1](https://cloud.githubusercontent.com/assets/2892474/13219394/244b521e-d946-11e5-8870-9b2fdb98d8e7.png)

[2016-02-22 14:00] ntozier commented on #2933
Version of Outlook?
Which of the three formats that Outlook can send are you using?

[2016-02-22 14:07] dmaxted commented on #2933
Using Microsoft Office 2010 formatted in HTML.
From my understanding, the ticketing system should be converting it to plan text upon receipt.

[2016-02-22 14:18] kitnox commented on #2920
Same probleme v1.10-rc.2 (231f11e)

2 step to transfert
1- I must assign a team before transfer for send a alert. (alert)
2- I transfert to same team for apply transfert département (no alert)

[2016-02-22 14:19] ntozier commented on #2933
Can you provide an example of what you are seeing?

[2016-02-22 14:24] Invidia1990 commented on #2933
Got the same problem.
HTML E-Mail text copied
![2016-02-22 15_22_54-unbenannt - nachricht html](https://cloud.githubusercontent.com/assets/13020958/13220785/6505b43e-d978-11e5-9ee8-a511463c948b.jpg)
and pasted
![2016-02-22 15_23_44-osticket __ agenten-bereich](https://cloud.githubusercontent.com/assets/13020958/13220790/6af9b35e-d978-11e5-9b27-2d71eeeacf19.jpg)

[2016-02-22 14:27] dmaxted commented on #2933
Exactly the same issue as post above.

[2016-02-22 15:44] ntozier commented on #2933
Copying and pasting text from an HTML email into the WYSIWYG editor does not actually demonstrate the problem...

[2016-02-22 16:41] Invidia1990 commented on #2933
Hmm, I dont know where you can't see the problem.
How about now?
![2016-02-22 17_39_58-clipboard](https://cloud.githubusercontent.com/assets/13020958/13225011/5a4c7600-d98b-11e5-8ae1-765fbe65594a.jpg)

I have the exact same issue as dmaxted. Using Office 2010 x64. It would be really nice to have a solution for this. Because if you paste a longer E-Mail it just looks broken.

[2016-02-22 16:54] noleafclover614 commented on #2872
@protich Thanks, I didn't know that this was by design.

[2016-02-22 17:01] ntozier commented on #2933
Then let me clarify... This issue report is about "html emails that are received by the system".
Not you cutting and pasting from an Outlook compse window into the WYSIWYG editor.

[2016-02-22 20:32] kest874 commented on #2933
It's putting <br><br> after each part of text.  So when outlook sends it the html layout has <br><br> at the end of each line.

[2016-02-23 06:05] cyberformed opened #2937 "Read only option to slave"
[REPLACE INTO ost_session SET session_updated=NOW() ,session_id='vaa3dne6uo5ftpdq5nqbi2p0d5',session_data='csrf|N;TZ_OFFSET|s:3:\"5.5\";TZ_DST|s:1:\"0\";',session_expire=(NOW() + INTERVAL 86400 SECOND),user_id='0',user_ip='',user_agent=''] The MariaDB server is running with the --read-only option so it cannot execute this statement http://example.com/api/cron.php

[2016-02-23 06:34] Invidia1990 commented on #2933
@ntozier should I open an extra issue for it then? For me it looks similiar because it doesn't matter if I send the outlook html e-mail or copy the text to post a internal note. The result is at both ways the same.

[2016-02-23 09:45] dmaxted commented on #2933
Have we found a solution for this problem.
Emails accepted into the ticket system look broken and unprofessional.

[2016-02-23 14:22] ntozier commented on #2937
Version of osTicket?
Description of the actual issue?
Did you shut off readonly mode as described in the error?  [The MariaDB server is running with the --read-only option so it cannot execute this statement ]

[2016-02-23 15:05] cyberformed commented on #2937
Version 1.7

When running a cron job. display error.

[2016-02-23 15:21] ntozier commented on #2937
This is the 1.8 repo.  You would want to report the issue at:
https://github.com/osTicket/osTicket-1.7/

You also didn't answer the third question.

[2016-02-23 20:30] JediKev commented on #2930
Just to be sure, you have to go to the Admin Panel and then Company > Logos and uploaded them there.  Once uploaded you have to tick one of or both of the bubbles to the left stating that you want it to show up on the client side and or agent side.  The help tip suggests that the logo should be in either .gif, .png, or .jpg format and around 817px x 170px.  If you have done those steps and it stil

[2016-02-23 20:51] JediKev commented on #2927
Unfortunately not on your version.  BUT as of 1.9.12 you can go to advanced search and click on the drop down labeled "Add Other Field" and click on "Source".  From there you can click in the empty field that pops up and choose "Phone" and click "Search".  This would give you a list of tickets that were created by 'Phone'.

[2016-02-23 21:58] kest874 commented on #2929
Any php errors in the log (error.log)?  Might be a bounced mail in the inbox? Also I've seen where someone forwards messages as attachments cause an issue.

[2016-02-24 01:05] philbertphotos commented on #2933
This happens in 1.10RC2 also... its an annoying bug since 99% of our users use outlook.

[2016-02-24 04:31] cyberformed commented on #2937
I have shut off the read-only option in database.

[2016-02-24 07:32] TheSMa commented on #2927
thanks but this ist not that what i mean.
I need the information "who" is the creator (the agent) of the phone tickets. Is this maybe possible in 1.9.12 or a higher version?

[2016-02-24 14:17] ntozier commented on #2927
Then you would need to add a custom field (internal, required) for "who created ticket" and have the opener populate the ticket.  If a user opens the ticket then it can be assumed they opened the ticket, its only on the staff side that you would need to populate this.  Then once 1.10 is released you could follow the Search procedure as relayed by @JediKev and search for your custom field.

[2016-02-24 18:50] theorganiser commented on #2930
Yes i did al those steps,  it worked in 1.9  before,  nut i now use 1.10  clean install  on a synology disk station

[2016-02-24 19:12] ntozier commented on #2930
1.10rc2 is a release candidate and really should not be run in a production environment. I would recommend that you revert to the previous version until 1.10 is actually released.

[2016-02-24 20:56] kest874 commented on #2933
Ok did some testing and came up with the following change to class.mailfetch.php

Change the function getbody to look like below:

    function getBody($mid) {
        global $cfg;

        if ($cfg->isRichTextEnabled()) {
            if ($html=$this->getPart($mid, 'text/html', $this->charset))
                $body = new HtmlThreadEntryBody($html);
            elseif ($text=$this->getPart($mid, '

[2016-02-24 21:30] philbertphotos commented on #2933
Gonna try this patch now .... Thanks for the work.

Sent from my iPhone

[2016-02-24 22:05] dmaxted commented on #2933
Thanks for this. Will apply patch and let you know.

[2016-02-25 06:23] dmaxted commented on #2933
No change on my side.

[2016-02-25 12:50] UkaLee opened #2938 "Nested forms"
Hello,
I’m preparing a ticket system for our Internal IT.
I am almost done but what I really miss is that there are no nested form.

I was able to work around in some topics but it’s getting more complex and now my boss and colleagues want it different.

Example:

Help Topic System 1
New Account Creation: (Choice YES / NO) *mandatory
    Attribute 1
    Attribute 2
    Attribute 3
    Attribute 4

[2016-02-25 14:19] kest874 commented on #2933
Working ok here this won't affect the "paste into note" as demonstrated above.

[2016-02-26 11:00] barrydegraaff commented on #1751
My users also had problems finding stuff with the current search implementation, I created a patch for this. You may want to change/adapt it to suit your needs.

Regards, Barry

https://github.com/osTicket/osTicket-1.8/wiki/Search-Patch-for-osTicket-1.8

[2016-02-26 12:36] theorganiser commented on #2930
i am running testdrives to see if os ticket is something for my company  and thought i would install 1.10
but opened this threat to let you guys know it

[2016-02-26 15:52] JediKev commented on #2931
Simply go to your osTicket database tables and look for the table labeled "**ost_help_topic**".  Once there look for the column called "**topic**" (not topic_id just topic) and there you can change varchar(32) to varchar(255).

### WARNING:
This WILL break all **CSS** related to Help Topics.
![layout](https://cloud.githubusercontent.com/assets/11823401/13357070/48077f40-dc6e-11e5-8026-03b3650a8907

[2016-02-26 17:10] BassemN commented on #2931
Thank you very much. I think it should be 255 by default

[2016-02-26 18:16] hubertbanas commented on #2628
Can we please bump up the priority on this bug? Seems like a serious issue to me especially if the support is unable to receive the email alerts. In some circumstance the tech support may not be even aware of undelivered emails.

[2016-02-26 19:32] protich commented on #1141
@greezybacon - Configuration option for TextareaField makes sense to me. I'm thinking a multiselect option when html is allowed to select trusted sites for embed & iframe from a custom list.  We can ship the "Trusted Sites" list with current sites - and user will be able to Select All (default) or whitelist specific sites for a specific field.

[2016-02-26 19:42] protich commented on #625
PR #2940 addresses the issue of iframe getting stripped regardless of the src.  Enhancement to make src whitelisting configurable is [planned] (https://github.com/osTicket/osTicket-1.8/issues/1141#issuecomment-189445542)

[2016-02-26 21:13] gcozzens commented on #1141
As long as I can embed an MP4 video hosted on Amazon S3 I will be happy.

Sent from my iPhone

[2016-02-26 21:31] JediKev commented on #2931
What version are you running?  Because, I have all the css fixed for 1.8

[2016-02-28 19:01] GoodbyeWorld commented on #2664
@greezybacon Any chance you can comment on when 1.10 will be stable?  Are we close?

[2016-02-29 06:32] Ali-Se commented on #2664
@greezybacon (Me too) still waiting for stable release, it has been a long time since the rc2 (more than six months)

[2016-02-29 08:21] joelrb commented on #2628
This worked for me as suggested by @mfelber

Change

$this->_socket_options =$socket_options;

to

$this->_socket_options = array('ssl' => array('verify_peer_name' => false));

[2016-02-29 12:36] hubertbanas commented on #2628
@joelrb sure it works but the next osTicket update may replace the file and cause no emails until you tweak it again.

[2016-03-01 07:34] Hannibal226 commented on #2664
+1

[2016-03-01 16:03] balojs commented on #2664
+1

[2016-03-01 17:51] jdelhome3578 commented on #2877
Fixed in #2914

[2016-03-01 21:32] JediKev commented on #2896
What version are you running? I have the fix for you if you want it.

[2016-03-01 22:23] kajla commented on #2896
Hello,

Oh, this is good news! Thank you! :)
osTicket version: v1.9.12 (19292ad)

[2016-03-02 12:37] PeopleInside opened #2945 "Is difficolt paste code into ticket because something is truncated."
Hi,
some times OsTicket is used from hosting company ...
The issue is... when as customer i post a code inside OsTicket not past this code as Text but delete some row.

The same issue is present in the operator side.
If I copy the email address of the person who opened the ticket this is showed by OsTicket as < email@email.ext > but all text inside <> will be truncated.

This is not good. I can un

[2016-03-02 14:51] JediKev commented on #2896
Luckily for you its super easy, go to your osTicket files and go to include > class.user.php
Here you will add two things:
1.) Go to line 610 (static $formats = array) and replace the whole array with this:
[code]
2.) Go to line 695 where you will see the getLastFirst() function and add this function after that:
[code]

Just a warning (I'm sure you've found out by now) that on some things the name

[2016-03-02 14:57] JediKev commented on #2881
What version are you running?

[2016-03-02 18:43] AVenzorSO commented on #2435
I know this is an old thread, but it seems to be the same issue. On a fresh install of RC2 when I click "Claim" it brings up the assign dialog. It's no different than me clicking "Agent" instead and I'm guessing it's not the intended function.

[2016-03-02 20:07] Aka4Code commented on #2664
Is osTicket dead?
@greezybacon @protich can you confirm or deny?

I don't know what to think - from the last about six months there was not many activity on this project.
Is it related to @greezybacon work on this 'Phlite' project or do you have some financial problems and need paid support?